# Webhooks

Webhooks can be used as notifications to keep your systems in sync with actions inside Zoom. Notifications themselves should not be used as actionable items

<aside class="warning">Zoom recommends always verifying the data included in a notification with an API query.</aside>

Zoom can send notifications to any publicly accessible server. When an event in Zoom triggers a notification (e.g. a meeting is started, or closed), Zoom will attempt to send this notification to the endpoint you specify.

Zoom sends notifications for meeting start, meeting end and recording ready events.

Zoom only considers a notification delivered if it receives a timely response with a successful status code. In other words:

* Your endpoint must be reachable at ports 80 (HTTP) or 443 (HTTPS) (Zoom does not support other ports).
* Your endpoint must respond within 30 seconds.
* Your endpoint must respond with a 2XX status code (200, 204). Zoom does not follow redirects or consider them successful responses)
* Zoom will try max to 3 times for one event. If all 3 times notification fail, this event will be discard.

## Parameters

Zoom will pass following parameters to your subscribe URL via POST HTTP request

Key | Value
--- | ---
id | Meeting id.
uuid | Meeting uuid.
status | Meeting status. <table class="enum-table"><tr><td>STARTED</td><td>The meeting has started.</td></tr><tr><td>ENDED</td><td>The meeting has ended.</td></tr><tr><td>JBH</td><td>Attendee has joined a meeting before the host.</td></tr><tr><td>JOIN</td><td>Host hasn't launched the meeting, attendee is waiting.</td></tr><tr><td>RECORDING_MEETING_COMPLETED</td><td>Cloud Recording has completed processing and is available.</td></tr></table>
host_id | Meeting host id.

## Generate authorization in header

Most programming languages encode the authorization header automatically. With HTTP Basic Authentication, the Authorization header is a string containing a Base-64 encoded username and password. Zoom Webhooks also supports HTTP Basic Authentication, you can specify the username and password when enabling push notification subscription.

`"Authorization": "Basic " + base64_encode(username + ":" + password)`

## To Enable Push Notifications

Go to [Credential](https://zoom.us/developer/api/credential) page and click Enable Push Notifications.