## List an IM Group's members

List an IM Group's members under your account

> Definition

```shell
GET https://api.zoom.us/v2/im/groups/{groupId}/members
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/im/groups/{groupId}/members
```

> Example Response

```text
200 OK
```

```json
{
    "page_count": "integer",
    "page_number": "integer",
    "page_size": "integer",
    "total_records": "integer",
    "members": [
        {
            "id": "string",
            "email": "string",
            "first_name": "string",
            "last_name": "string",
            "type": "integer"
        }
    ]
}
```

Path Arguments | &nbsp;
--- | ---
groupId **required** | The group ID

Query Arguments | &nbsp;
--- | ---
page_size *optional*<div class="default">30</div><div class="maximum">300</div> | The number of records returned within a single API call
page_number *optional*<div class="default">1</div> | Current page number of returned records

