# IM Groups

## The IM Group object
IM Group object

```json
{
    "name": "string",
    "total_members": "integer",
    "type": "string",
    "search_by_domain": "boolean",
    "search_by_account": "boolean",
    "search_by_ma_account": "boolean"
}
```

Property | Description
--- | ---
name *string* | Group name
total_members *integer* | Total number of members in this group
type *string* | IM Group type<div class="enum">`normal` Only members can see the group automatically. Other people can search members in the group.<br/>`shared` All people in the account can see the group and members automatically<br/>`restricted` Nobody can see the group or search members except the members in the group<br/></div>
search_by_domain *boolean* | Members can search others in the same email domain
search_by_account *boolean* | Members can search others under same account
search_by_ma_account *boolean* | Members can search others under same master account, including all sub accounts

