# Webhooks

## The Webhook object
Webhook base object, only available for version 2 webhook

```json
{
    "url": "string",
    "auth_user": "string",
    "auth_password": "string",
    "events": [
        "string"
    ]
}
```

Property | Description
--- | ---
url *string* | Webhook endpoint
auth_user *string* | Webhook auth user name
auth_password *string* | Webhook auth password
events *array* | List of events objects.<div class="enum">`meeting_started` The meeting has started.<br/>`meeting_ended` The meeting has ended.<br/>`meeting_jbh` Attendee has joined a meeting before the host.<br/>`meeting_join` Host hasn’t launched the meeting, attendee is waiting.<br/>`recording_completed` All the Cloud Recordings have completed processing and is available.<br/>`participant_joined` Participant has joined the meeting.<br/>`participant_left` Participant has leaved the meeting.<br/>`meeting_registered` Attendee registered for a meeting or webinar.<br/>`recording_transcript_completed` Recording audio transcript files have processed and are available.<br/></div>

