## Switch webhook version

Switch webhook version

> Definition

```shell
PATCH https://api.zoom.us/v2/webhooks/options
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/webhooks/options \
   -d '{
    "version": "string"
}'
```

> Example Response

```text
204 No Content
```

Body Arguments | &nbsp;
--- | ---
version **required** | <div class="enum">`v1` Version 1<br/>`v2` Version 2<br/></div>

