## Create a webhook

Create a webhook for a account

> Definition

```shell
POST https://api.zoom.us/v2/webhooks
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/webhooks \
   -d '{
    "url": "string",
    "auth_user": "string",
    "auth_password": "string",
    "events": [
        "string"
    ]
}'
```

> Example Response

```text
201 Created
```

```json
{
    "webhook_id": "string",
    "url": "string",
    "auth_user": "string",
    "auth_password": "string",
    "events": [
        "string"
    ],
    "created_at": "string [date-time]"
}
```

Body Arguments | &nbsp;
--- | ---
url **required**<div class="maxLength">256</div> | Webhook endpoint
auth_user **required**<div class="maxLength">128</div> | Webhook auth user name
auth_password **required**<div class="maxLength">64</div> | Webhook auth password
events **required** | List of events objects.<div class="enum">`meeting_started` The meeting has started.<br/>`meeting_ended` The meeting has ended.<br/>`meeting_jbh` Attendee has joined a meeting before the host.<br/>`meeting_join` Host hasn’t launched the meeting, attendee is waiting.<br/>`recording_completed` All the Cloud Recordings have completed processing and is available.<br/>`participant_joined` Participant has joined the meeting.<br/>`participant_left` Participant has leaved the meeting.<br/>`meeting_registered` Attendee registered for a meeting or webinar.<br/>`recording_transcript_completed` Recording audio transcript files have processed and are available.<br/></div>

