{
    "swagger": "2.0",
    "info": {
        "title": "Zoom API",
        "description": "API Description",
        "contact": {
            "name": "Zoom Developers",
            "url": "https://developer.zoom.us/",
            "email": "developer@zoom.us"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "2.0.0"
    },
    "host": "api.zoom.us",
    "basePath": "/v2",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json",
        "multipart/form-data"
    ],
    "produces": [
        "application/json",
        "application/xml"
    ],
    "paths": {
        "/accounts": {
            "get": {
                "summary" : "List accounts",
                "description" : "List the sub accounts under the master account",
                "tags": [
                    "Accounts"
                ],
                "operationId": "accounts",
                "parameters": [
                    {
                        "$ref": "#/parameters/PageSize"
                    },
                    {
                        "$ref": "#/parameters/PageNumber"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Account list returned",
                        "schema": {
                            "$ref": "#/definitions/AccountList"
                        }
                    }
                }
            },
            "post": {
                "summary": "Create an account",
                "description" : "Create a sub account under the master account <aside>Your account must be a master account and have this privilege to create sub account. Zoom only assign this privilege to trusted partner. The created user will not receive the confirmation email.</aside>",
                "tags": [
                    "Accounts"
                ],
                "operationId": "accountCreate",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "description": "Account",
                        "schema": {
                            "$ref": "#/definitions/Account"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Account Created",
                        "headers": {
                            "Content-Location": {
                                "description": "Location of created Account",
                                "type": "string"
                            }
                        },
                        "schema": {
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "description": "Account ID"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Account with that email already exists"
                    }
                }
            }
        },
        "/accounts/{accountId}": {
            "get": {
                "summary": "Retrieve an account",
                "description" : "Retrieve a sub account under the master account <aside>Your account must be a master account and have this privilege to get sub account. Zoom only assign this privilege to trusted partner</aside>",
                "tags": [
                    "Accounts"
                ],
                "operationId": "account",
                "parameters": [
                    {
                        "$ref": "#/parameters/AccountId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Account object returned",
                        "schema": {
                            "allOf": [
                                {
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "description": "Account ID"
                                        },
                                        "owner_id": {
                                            "type": "string",
                                            "description": "Account Owner ID"
                                        },
                                        "owner_email": {
                                            "type": "string",
                                            "description": "Account Owner email"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "format": "dateTime",
                                            "description": "Account creation date/time"
                                        },
                                        "options": {
                                            "$ref": "#/definitions/AccountOptions"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "404": {
                        "description": "User not found"
                    }
                }
            },
            "delete": {
                "summary": "Delete an account",
                "description" : "Delete a sub account under the master account",
                "tags": [
                    "Accounts"
                ],
                "operationId": "accountDelete",
                "parameters": [
                    {
                        "$ref": "#/parameters/AccountId"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Account deleted"
                    },
                    "404": {
                        "description": "Account not found"
                    }
                }
            }
        },
        "/accounts/{accountId}/options": {
            "patch": {
                "summary": "Update an account's options",
                "description" : "Update a sub account's options under the master account",
                "tags": [
                    "Accounts"
                ],
                "operationId": "accountOptionsUpdate",
                "parameters": [
                    {
                        "$ref": "#/parameters/AccountId"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AccountOptions"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Account options updated"
                    },
                    "404": {
                        "description": "Account not found"
                    }
                }
            }
        },
        "/accounts/{accountId}/settings": {
            "get": {
                "summary": "Retrieve an account's settings",
                "description" : "Retrieve a sub account's settings under the master account",
                "tags": [
                    "Accounts"
                ],
                "operationId": "accountSettings",
                "parameters": [
                    {
                        "$ref": "#/parameters/AccountId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Account settings returned",
                        "schema": {
                            "$ref": "#/definitions/AccountSettings"
                        }
                    },
                    "404": {
                        "description": "Account not found"
                    }
                }
            },
            "patch": {
                "summary": "Update an account's settings",
                "description" : "Update a sub account's settings under the master account",
                "tags": [
                    "Accounts"
                ],
                "operationId": "accountSettingsUpdate",
                "parameters": [
                    {
                        "$ref": "#/parameters/AccountId"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AccountSettings"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Account settings updated"
                    },
                    "404": {
                        "description": "Account not found"
                    }
                }
            }
        },
        "/accounts/{accountId}/billing": {
            "get": {
                "summary": "Retrieve an account's billing information",
                "description" : "Retrieve a sub account's billing information under the master account",
                "tags": [
                    "Accounts"
                ],
                "operationId": "accountBilling",
                "parameters": [
                    {
                        "$ref": "#/parameters/AccountId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Account billing contact information returned",
                        "schema": {
                            "$ref": "#/definitions/BillingContact"
                        }
                    },
                    "404": {
                        "description": "Account not found"
                    }
                }
            },
            "patch": {
                "summary": "Update an account's billing information",
                "description" : "Update a sub account's billing information under the master account <aside>Only for the sub account which is paid by master account</aside>",
                "tags": [
                    "Accounts"
                ],
                "operationId": "accountBillingUpdate",
                "parameters": [
                    {
                        "$ref": "#/parameters/AccountId"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BillingContact"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Account billing contact information updated"
                    },
                    "404": {
                        "description": "Account not found"
                    }
                }
            }
        },
        "/accounts/{accountId}/plans": {
            "get": {
                "summary": "Retrieve an account's plans",
                "description" : "Retrieve a sub account's plans under the master account  <aside>Only for the sub account which is paid by master account</aside>",
                "tags": [
                    "Accounts"
                ],
                "operationId": "accountPlans",
                "parameters": [
                    {
                        "$ref": "#/parameters/AccountId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Account plans returned",
                        "schema": {
                            "$ref": "#/definitions/AccountPlans"
                        }
                    },
                    "404": {
                        "description": "Account not fond"
                    }
                }
            },
            "post": {
                "summary": "Add to an account's plans",
                "description" : "Add a plan to sub account under the master account <aside>Can only subscribe plans for the sub account which is a free account and paid by master account</aside><aside>Can only add an Additional plan for the sub account which is a paid account and paid by master account</aside>",
                "tags": [
                    "Accounts"
                ],
                "operationId": "accountPlanCreate",
                "parameters": [
                    {
                        "$ref": "#/parameters/AccountId"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "allOf" : [
                                {
                                    "type": "object",
                                    "properties": {
                                        "contact": {
                                            "$ref": "#/definitions/BillingContact"
                                        }
                                    }
                                },
                                {
                                    "$ref": "#/definitions/AccountPlans"
                                }
                            ]
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Account plans updated"
                    }
                }
            }
        },
        "/accounts/{accountId}/plans/base": {
            "put": {
                "summary": "Update an account's base plan",
                "description" : "Update a base plan for a sub account <aside>Can only subscribe plans for the sub account which is a free account and paid by master account</aside><aside>Can only add an Additional plan for the sub account which is a paid account and paid by master account</aside>",
                "tags": [
                    "Accounts"
                ],
                "operationId": "accountPlanBaseUpdate",
                "parameters": [
                    {
                        "$ref": "#/parameters/AccountId"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AccountPlan"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Account plans updated"
                    }
                }
            }
        },
        "/accounts/{accountId}/plans/addons": {
            "post": {
                "summary": "Add an account add on plan",
                "description" : "Add an add on plan for a sub account <aside>Can only subscribe plans for the sub account which is a free account and paid by master account</aside><aside>Can only add an Additional plan for the sub account which is a paid account and paid by master account</aside>",
                "tags": [
                    "Accounts"
                ],
                "operationId": "accountPlanAddonCreate",
                "parameters": [
                    {
                        "$ref": "#/parameters/AccountId"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AccountPlan"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Account plans updated"
                    }
                }
            },
            "put": {
                "summary": "Update an account's add on plans",
                "description" : "Update as add on plan for a sub account <aside>Can only subscribe plans for the sub account which is a free account and paid by master account</aside><aside>Can only add an Additional plan for the sub account which is a paid account and paid by master account</aside>",
                "tags": [
                    "Accounts"
                ],
                "operationId": "accountPlanAddonUpdate",
                "parameters": [
                    {
                        "$ref": "#/parameters/AccountId"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AccountPlan"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Account plans updated"
                    }
                }
            }
        },
        "/groups": {
            "get": {
                "summary": "List groups",
                "description" : "List groups under your account",
                "tags": [
                    "Groups"
                ],
                "operationId": "groups",
                "parameters": [
                    {
                        "$ref": "#/parameters/PageSize"
                    },
                    {
                        "$ref": "#/parameters/PageNumber"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of groups returned.",
                        "schema": {
                            "$ref": "#/definitions/GroupList"
                        }
                    }
                }
            },
            "post": {
                "summary": "Create a group",
                "description" : "Create a group under your account",
                "tags": [
                    "Groups"
                ],
                "operationId": "groupCreate",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "Group name."
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Group created.",
                        "headers": {
                            "Content-Location": {
                                "description": "Location of created group",
                                "type": "string"
                            }
                        },
                        "schema": {
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "description": "User ID"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/groups/{groupId}": {
            "get": {
                "summary": "Retrieve a group",
                "description" : "Retrieve a group under your account",
                "tags": [
                    "Groups"
                ],
                "operationId": "group",
                "parameters": [
                    {
                        "$ref": "#/parameters/GroupId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Group object returned",
                        "schema": {
                            "allOf": [
                                {
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "description": "Group ID"
                                        }
                                    }
                                },
                                {
                                    "$ref": "#/definitions/Group"
                                }
                            ]
                        }
                    },
                    "404": {
                        "description": "Group not found"
                    }
                }
            },
            "patch": {
                "summary": "Update a group",
                "description" : "Update a group under your account",
                "tags": [
                    "Groups"
                ],
                "operationId": "groupUpdate",
                "parameters": [
                    {
                        "$ref": "#/parameters/GroupId"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "Group name."
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Group updated."
                    },
                    "404": {
                        "description": "Group not found"
                    }
                }
            },
            "delete": {
                "summary": "Delete a group",
                "description" : "Delete a group under your account",
                "tags": [
                    "Groups"
                ],
                "operationId": "groupDelete",
                "parameters": [
                    {
                        "$ref": "#/parameters/GroupId"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Group deleted."
                    },
                    "404": {
                        "description": "Group not found"
                    }
                }
            }
        },
        "/groups/{groupId}/members": {
            "get": {
                "summary": "List a group's members",
                "description" : "List a group's members under your account",
                "tags": [
                    "Groups"
                ],
                "operationId": "groupMembers",
                "parameters": [
                    {
                        "$ref": "#/parameters/GroupId"
                    },
                    {
                        "$ref": "#/parameters/PageSize"
                    },
                    {
                        "$ref": "#/parameters/PageNumber"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Group member list returned",
                        "schema": {
                            "$ref": "#/definitions/GroupMemberList"
                        }
                    },
                    "404": {
                        "description": "Group not found"
                    }
                }
            },
            "post": {
                "summary": "Add a group member",
                "description" : "Add a member to a group under your account",
                "tags": [
                    "Groups"
                ],
                "operationId": "groupMembersCreate",
                "parameters": [
                    {
                        "$ref": "#/parameters/GroupId"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "description": "User ID."
                                },
                                "email": {
                                    "type": "string",
                                    "description": "User email. If ID given, email is ignored."
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Member added."
                    },
                    "404": {
                        "description": "Group not found"
                    }
                }
            }
        },
        "/groups/{groupId}/members/{userId}": {
            "delete": {
                "summary": "Delete a group member",
                "description" : "Delete a member from a group under your account",
                "tags": [
                    "Groups"
                ],
                "operationId": "groupMembersDelete",
                "parameters": [
                    {
                        "$ref": "#/parameters/GroupId"
                    },
                    {
                        "$ref": "#/parameters/UserId"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Group member deleted."
                    },
                    "404": {
                        "description": "Group or Group member not found"
                    }
                }
            }
        },
        "/im_groups": {
            "get": {
                "summary": "List IM Groups",
                "description" : "List IM groups under your account",
                "tags": [
                    "IM Groups"
                ],
                "operationId": "imGroups",
                "parameters": [
                    {
                        "$ref": "#/parameters/PageSize"
                    },
                    {
                        "$ref": "#/parameters/PageNumber"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of IM Groups returned.",
                        "schema": {
                            "$ref": "#/definitions/IMGroupList"
                        }
                    }
                }
            },
            "post": {
                "summary": "Create an IM Group",
                "description" : "Create a IM Group under your account",
                "tags": [
                    "IM Groups"
                ],
                "operationId": "imGroupCreate",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "Group name, must be unique in one account",
                                    "maxLength": 128
                                },
                                "type": {
                                    "type": "string",
                                    "description": "IM Group type",
                                    "enum" : [
                                        "normal",
                                        "shared",
                                        "restricted"
                                    ],
                                    "x-enum-descriptions" : [
                                        "Only members can see the group automatically. Other people can search members in the group",
                                        "All people in the account can see the group and members automatically",
                                        "Nobody can see the group or search members except the members in the group"
                                    ]
                                },
                                "search_by_domain": {
                                    "type": "boolean",
                                    "description": "Members can search others in the same email domain"
                                },
                                "search_by_account": {
                                    "type": "boolean",
                                    "description": "Members can search others under same account"
                                },
                                "search_by_ma_account": {
                                    "type": "boolean",
                                    "description": "Members can search others under same master account, including all sub accounts"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "IM Group created.",
                        "headers": {
                            "Content-Location": {
                                "description": "Location of created IM Group",
                                "type": "string"
                            }
                        },
                        "schema": {
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "description": "User ID"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/im_groups/{groupId}": {
            "get": {
                "summary": "Retrieve an IM Group",
                "description" : "Retrieve an IM Group under your account",
                "tags": [
                    "IM Groups"
                ],
                "operationId": "imGroup",
                "parameters": [
                    {
                        "$ref": "#/parameters/GroupId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "IM Group object returned",
                        "schema": {
                            "allOf": [
                                {
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "description": "Group ID"
                                        }
                                    }
                                },
                                {
                                    "$ref": "#/definitions/IMGroup"
                                }
                            ]
                        }
                    },
                    "404": {
                        "description": "IM Group not found"
                    }
                }
            },
            "patch": {
                "summary": "Update an IM Group",
                "description" : "Update an IM Group under your account",
                "tags": [
                    "IM Groups"
                ],
                "operationId": "imGroupUpdate",
                "parameters": [
                    {
                        "$ref": "#/parameters/GroupId"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "Group name, must be unique in one account",
                                    "maxLength": 128
                                },
                                "type": {
                                    "type": "string",
                                    "description": "IM Group type",
                                    "enum" : [
                                        "normal",
                                        "shared",
                                        "restricted"
                                    ],
                                    "x-enum-descriptions" : [
                                        "Only members can see the group automatically. Other people can search members in the group",
                                        "All people in the account can see the group and members automatically",
                                        "Nobody can see the group or search members except the members in the group"
                                    ]
                                },
                                "search_by_domain": {
                                    "type": "boolean",
                                    "description": "Members can search others in the same email domain"
                                },
                                "search_by_account": {
                                    "type": "boolean",
                                    "description": "Members can search others under same account"
                                },
                                "search_by_ma_account": {
                                    "type": "boolean",
                                    "description": "Members can search others under same master account, including all sub accounts"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "IM Group updated."
                    },
                    "404": {
                        "description": "IM Group not found"
                    }
                }
            },
            "delete": {
                "summary": "Delete an IM Group",
                "description" : "Delete an IM Group under your account",
                "tags": [
                    "IM Groups"
                ],
                "operationId": "imGroupDelete",
                "parameters": [
                    {
                        "$ref": "#/parameters/GroupId"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "IM Group deleted."
                    },
                    "404": {
                        "description": "IM Group not found"
                    }
                }
            }
        },
        "/im_groups/{groupId}/members": {
            "get": {
                "summary": "List an IM Group's members",
                "description" : "List an IM Group's members under your account",
                "tags": [
                    "IM Groups"
                ],
                "operationId": "imGroupMembers",
                "parameters": [
                    {
                        "$ref": "#/parameters/GroupId"
                    },
                    {
                        "$ref": "#/parameters/PageSize"
                    },
                    {
                        "$ref": "#/parameters/PageNumber"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "IM Group member list returned",
                        "schema": {
                            "$ref": "#/definitions/GroupMemberList"
                        }
                    },
                    "404": {
                        "description": "IM Group not found"
                    }
                }
            },
            "post": {
                "summary": "Add an IM Group member",
                "description" : "Add a member to an IM Group under your account",
                "tags": [
                    "IM Groups"
                ],
                "operationId": "imGroupMembersCreate",
                "parameters": [
                    {
                        "$ref": "#/parameters/GroupId"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "description": "User ID."
                                },
                                "email": {
                                    "type": "string",
                                    "description": "User email. If ID given, email is ignored."
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Member added."
                    },
                    "404": {
                        "description": "IM Group not found"
                    }
                }
            }
        },
        "/im_groups/{groupId}/members/{userId}": {
            "delete": {
                "summary": "Delete an IM Group member",
                "description" : "Delete a member from an IM Group under your account",
                "tags": [
                    "IM Groups"
                ],
                "operationId": "imGroupMembersDelete",
                "parameters": [
                    {
                        "$ref": "#/parameters/GroupId"
                    },
                    {
                        "$ref": "#/parameters/UserId"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "IM Group member deleted."
                    },
                    "404": {
                        "description": "IM Group or IM Group member not found"
                    }
                }
            }
        },
        "/users/{userId}/meetings": {
            "get": {
                "summary": "List meetings",
                "description": "List meetings for a user",
                "tags": [
                    "Meetings"
                ],
                "operationId": "meetings",
                "parameters": [
                    {
                        "$ref": "#/parameters/UserId"
                    },
                    {
                        "$ref": "#/parameters/MeetingType"
                    },
                    {
                        "$ref": "#/parameters/PageSize"
                    },
                    {
                        "$ref": "#/parameters/PageNumber"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of Meeting objects returned",
                        "schema": {
                            "$ref": "#/definitions/MeetingList"
                        }
                    },
                    "404": {
                        "description": "User not found"
                    }
                }
            },
            "post": {
                "summary": "Create a meeting",
                "description": "Create a meeting for a user",
                "tags": [
                    "Meetings"
                ],
                "operationId": "meetingCreate",
                "parameters": [
                    {
                        "$ref": "#/parameters/UserId"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "description": "User",
                        "schema": {
                            "$ref": "#/definitions/Meeting"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Meeting Created",
                        "headers": {
                            "Content-Location": {
                                "description": "Location of created Meeting",
                                "type": "string"
                            }
                        },
                        "schema": {
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "description": "Meeting ID"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "User not found"
                    }
                }
            }
        },
        "/meetings/{meetingId}": {
            "get": {
                "summary": "Retrieve a meeting",
                "description": "Retrieve a meeting's details",
                "tags": [
                    "Meetings"
                ],
                "operationId": "meeting",
                "parameters": [
                    {
                        "$ref": "#/parameters/MeetingID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Meeting object returned",
                        "schema": {
                            "allOf": [
                                {
                                    "type": "object",
                                    "properties": {
                                        "uuid": {
                                            "type": "string",
                                            "description": "Meeting unique ID"
                                        },
                                        "id": {
                                            "type": "string",
                                            "description": "Meeting ID, also know as meeting number"
                                        },
                                        "host_id": {
                                            "type": "string",
                                            "description": "ID of the user set as host of meeting"
                                        }
                                    }
                                },
                                {
                                    "$ref": "#/definitions/Meeting"
                                }
                            ]
                        }
                    },
                    "404": {
                        "description": "Meeting not found"
                    }
                }
            },
            "patch": {
                "summary": "Update a meeting",
                "description": "Update a meeting's details",
                "tags": [
                    "Meetings"
                ],
                "operationId": "meetingUpdate",
                "parameters": [
                    {
                        "$ref": "#/parameters/MeetingID"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "description": "Meeting",
                        "schema": {
                            "$ref": "#/definitions/Meeting"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Meeting Updated"
                    },
                    "404": {
                        "description": "Meeting not found"
                    }
                }
            },
            "delete": {
                "summary": "Delete a meeting",
                "description": "Delete a meeting",
                "tags": [
                    "Meetings"
                ],
                "operationId": "meetingDelete",
                "parameters": [
                    {
                        "$ref": "#/parameters/MeetingID"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Meeting deleted"
                    },
                    "404": {
                        "description": "Meeting not found"
                    }
                }
            }
        },
        "/meetings/{meetingId}/status": {
            "put": {
                "summary": "Update a meeting's status",
                "description": "Update a meeting's status",
                "tags": [
                    "Meetings"
                ],
                "operationId": "meetingStatus",
                "parameters": [
                    {
                        "$ref": "#/parameters/MeetingID"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "string",
                                    "enum": [
                                        "end"
                                    ],
                                    "x-enum-descriptions": [
                                        "end a meeting"
                                    ]
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Meeting updated"
                    },
                    "404": {
                        "description": "Meeting not found"
                    }
                }
            }
        },
        "/meetings/{meetingId}/registrants": {
            "get": {
                "summary": "List a meeting's registrants",
                "description": "List registrants of a meeting",
                "tags": [
                    "Meetings"
                ],
                "operationId": "meetingRegistrants",
                "parameters": [
                    {
                        "$ref": "#/parameters/MeetingID"
                    },
                    {
                        "$ref": "#/parameters/OccurenceId"
                    },
                    {
                        "$ref": "#/parameters/RegistrantStatus"
                    },
                    {
                        "$ref": "#/parameters/PageSize"
                    },
                    {
                        "$ref": "#/parameters/PageNumber"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/MeetingRegistrantList"
                        }
                    },
                    "404": {
                        "description": "Meeting not found"
                    }
                }
            },
            "post": {
                "summary": "Add a meeting registrant",
                "description": "Register a participant for a meeting",
                "tags": [
                    "Meetings"
                ],
                "operationId": "meetingRegistrantCreate",
                "parameters": [
                    {
                        "$ref": "#/parameters/MeetingID"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MeetingRegistrant"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Registration created",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "description": "Registrant ID"
                                },
                                "join_url": {
                                    "type": "string",
                                    "description": "Join URL for this registrant"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Meeting not found"
                    }
                }
            }
        },
        "/meetings/{meetingId}/registrants/{registrantId}/status": {
            "put": {
                "summary": "Update a meeting registrant's status",
                "description": "Update  a registrants status for a meeting",
                "tags": [
                    "Meetings"
                ],
                "operationId": "meetingRegistrantStatus",
                "parameters": [
                    {
                        "$ref": "#/parameters/MeetingID"
                    },
                    {
                        "$ref": "#/parameters/RegistrantId"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "string",
                                    "enum": [
                                        "pending",
                                        "approved",
                                        "denied"
                                    ],
                                    "x-enum-descriptions": [
                                        "set registrant status to pending",
                                        "set registrant status to approved",
                                        "set registrant status to denied"
                                    ]
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Registrant status updated"
                    },
                    "404": {
                        "description": "Meeting or Registrant not found"
                    }
                }
            }
        },
        "/users": {
            "get": {
                "summary": "List Users",
                "description": "List users on your account",
                "tags": [
                    "Users"
                ],
                "operationId": "users",
                "parameters": [
                    {
                        "in": "query",
                        "name": "status",
                        "description": "User status",
                        "type": "string",
                        "default": "active",
                        "enum": [
                            "active",
                            "inactive",
                            "pending"
                        ],
                        "x-enum-descriptions": [
                            "users with active status",
                            "users with inactive status",
                            "users with pending status"
                        ]
                    },
                    {
                        "$ref": "#/parameters/PageSize"
                    },
                    {
                        "$ref": "#/parameters/PageNumber"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User list returned",
                        "schema": {
                            "$ref": "#/definitions/UserList"
                        }
                    }
                }
            },
            "post": {
                "summary": "Create a user",
                "description": "Create a user on your account",
                "tags": [
                    "Users"
                ],
                "operationId": "userCreate",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "description": "User",
                        "schema" : {
                            "type": "object",
                            "properties": {
                                "action": {
                                    "type": "string",
                                    "description": "Action to take for user creation",
                                    "enum": [
                                        "create",
                                        "custCreate",
                                        "autoCreate",
                                        "ssoCreate"
                                    ],
                                    "x-enum-descriptions": [
                                        "User will get an email sent from Zoom. There is a confirmation link in this email. User will then need to click this link to activate their account to the Zoom service. The user can set or change their password in Zoom. <br/>",
                                        "This action is provided for enterprise customer who has a managed domain. This feature is disabled by default because of the security risk involved in creating a user who does not belong to your domain without notifying the user. <br/>",
                                        "This action is provided for API partner only. User created in this way has no password and is not able to log into the Zoom web site or client. <br/>",
                                        "This action is provided for enabled \"Pre-provisioning SSO User\" option. User created in this way has no password. If it is not a basic user, will generate a Personal Vanity URL using user name (no domain) of the provisioning email. If user name or pmi is invalid or occupied, will use random number/random personal vanity URL. <br/>"
                                    ]
                                },
                                "user_info": {
                                    "$ref": "#/definitions/User"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "User Created",
                        "headers": {
                            "Content-Location": {
                                "description": "Location of created User",
                                "type": "string"
                            }
                        },
                        "schema": {
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "description": "User ID"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "User with that email already exists"
                    }
                }
            }
        },
        "/users/{userId}": {
            "get": {
                "summary": "Retrieve a user",
                "description": "Retrieve a user on your account",
                "tags": [
                    "Users"
                ],
                "operationId": "user",
                "parameters": [
                    {
                        "$ref": "#/parameters/UserId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User object returned",
                        "schema": {
                            "allOf": [
                                {
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "description": "User ID"
                                        }
                                    }
                                },
                                {
                                    "$ref": "#/definitions/User"
                                },
                                {
                                    "$ref": "#/definitions/UserDetails"
                                }
                            ]
                        }
                    },
                    "404": {
                        "description": "User not found"
                    }
                }
            },
            "patch": {
                "summary": "Update a user",
                "description": "Update a user on your account",
                "tags": [
                    "Users"
                ],
                "operationId": "userUpdate",
                "parameters": [
                    {
                        "$ref": "#/parameters/UserId"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "description": "User",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/User"
                                },
                                {
                                    "$ref": "#/definitions/UserUpdate"
                                }
                            ]
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "User updated"
                    },
                    "404": {
                        "description": "User not found"
                    }
                }
            },
            "delete": {
                "summary": "Delete a user",
                "description": "Delete a user on your account",
                "tags": [
                    "Users"
                ],
                "operationId": "userDelete",
                "parameters": [
                    {
                        "$ref": "#/parameters/UserId"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "User deleted"
                    },
                    "404": {
                        "description": "User not found"
                    }
                }
            }
        },
        "/users/{userId}/assistants": {
            "get": {
                "summary": "List a user's assistants",
                "description": "List a user's assistants",
                "tags": [
                    "Users"
                ],
                "operationId": "userAssistants",
                "parameters": [
                    {
                        "$ref": "#/parameters/UserId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "properties": {
                                "assistants": {
                                    "type": "array",
                                    "description": "List of User assistants.",
                                    "items": {
                                        "allOf": [
                                            {
                                                "properties": {
                                                    "email_or_id": {
                                                        "type": "string",
                                                        "description": "Assistant Email or ID"
                                                    }
                                                }
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "User not found"
                    }
                }
            },
            "post": {
                "summary": "Add a user's assistant",
                "description": "Add an assistant to a user",
                "tags": [
                    "Users"
                ],
                "operationId": "userAssistantCreate",
                "parameters": [
                    {
                        "$ref": "#/parameters/UserId"
                    },
                    {
                        "name": "body",
                        "description": "User assistant",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "email_or_id": {
                                    "type": "string",
                                    "description": "ID or Email of assistant"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Assitant Added",
                        "headers": {
                            "Content-Location": {
                                "description": "Location of created assistant",
                                "type": "string"
                            }
                        },
                        "schema": {
                            "properties": {
                                "email_or_id": {
                                    "type": "string",
                                    "description": "User ID"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "User not found"
                    }
                }
            },
            "delete": {
                "summary": "Delete a user's assistants",
                "description": "Delete all of a user'sassitants",
                "tags": [
                    "Users"
                ],
                "operationId": "userAssistantsDelete",
                "parameters": [
                    {
                        "$ref": "#/parameters/UserId"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Assitants deleted."
                    },
                    "404": {
                        "description": "User not found"
                    }
                }
            }
        },
        "/users/{userId}/assistants/{assistantId}": {
            "delete": {
                "summary": "Delete a user's assistant",
                "description": "Delete one of a user's assistants",
                "tags": [
                    "Users"
                ],
                "operationId": "userAssistantDelete",
                "parameters": [
                    {
                        "$ref": "#/parameters/UserId"
                    },
                    {
                        "name": "assistantId",
                        "description": "Assistant's ID",
                        "in": "path",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Assitant deleted."
                    },
                    "404": {
                        "description": "User or Assistant not found"
                    }
                }
            }
        },
        "/users/{userId}/picture": {
            "put": {
                "summary": "Update a user's picture",
                "description": "Update a user's profile picture",
                "tags": [
                    "Users"
                ],
                "operationId": "userPicture",
                "parameters": [
                    {
                        "$ref": "#/parameters/UserId"
                    },
                    {
                        "name": "body",
                        "description": "User picture file, must be a jpg/jpeg file",
                        "in": "formData",
                        "type": "file",
                        "required": true
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Picture Added",
                        "headers": {
                            "Content-Location": {
                                "description": "Location of user's picture",
                                "type": "string"
                            }
                        }
                    },
                    "204": {
                        "description": "Picture Updated",
                        "headers": {
                            "Content-Location": {
                                "description": "Location of user's picture",
                                "type": "string"
                            }
                        }
                    },
                    "404": {
                        "description": "User not found"
                    }
                }
            }
        },
        "/users/{userId}/settings": {
            "get": {
                "summary": "Retrieve a user's settings",
                "description": "Retrieve a user's settings",
                "tags": [
                    "Users"
                ],
                "operationId": "userSettings",
                "parameters": [
                    {
                        "$ref": "#/parameters/UserId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User settings returned",
                        "schema": {
                            "$ref": "#/definitions/UserSettings"
                        }
                    },
                    "404": {
                        "description": "User not found"
                    }
                }
            },
            "patch": {
                "summary": "Update a user's settings",
                "description": "Update a user's settings",
                "tags": [
                    "Users"
                ],
                "operationId": "userSettingsUpdate",
                "parameters": [
                    {
                        "$ref": "#/parameters/UserId"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "description": "User Settings",
                        "schema": {
                            "$ref": "#/definitions/UserSettings"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "User setting's updated"
                    },
                    "404": {
                        "description": "User not found"
                    }
                }
            }
        },
        "/users/{userId}/status": {
            "put": {
                "summary": "Update a user's status",
                "description": "Update a user's status",
                "tags": [
                    "Users"
                ],
                "operationId": "userStatus",
                "parameters": [
                    {
                        "$ref": "#/parameters/UserId"
                    },
                    {
                        "name": "body",
                        "description": "User status",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string",
                                    "enum": [
                                        "active",
                                        "deactive"
                                    ],
                                    "x-enum-descriptions": [
                                        "set users status to active",
                                        "set users status to deactive"
                                    ]
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Status updated"
                    },
                    "404": {
                        "description": "User not found"
                    }
                }
            }
        },
        "/users/{userId}/ssoToken": {
            "delete": {
                "summary": "Revoke a user's SSO token",
                "description": "Revoke a user's SSO token",
                "tags": [
                    "Users"
                ],
                "operationId": "userSSOTokenDelete",
                "parameters": [
                    {
                        "$ref": "#/parameters/UserId"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Token deleted"
                    },
                    "404": {
                        "description": "User not found"
                    }
                }
            }
        },
        "/users/{userId}/tsp": {
            "get": {
                "summary": "List user's TSP config",
                "description": "List user's TSP config",
                "tags": [
                    "TSP"
                ],
                "operationId": "userTSPs",
                "parameters": [
                    {
                        "$ref": "#/parameters/UserId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "TSP Config list returned"
                    },
                    "404": {
                        "description": "User not found"
                    }
                }
            },
            "post": {
                "summary": "Add a user's TSP config",
                "description": "Add a user's TSP config",
                "tags": [
                    "TSP"
                ],
                "operationId": "userTSPCreate",
                "parameters": [
                    {
                        "$ref": "#/parameters/UserId"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "description": "TSP Config",
                        "schema": {
                            "$ref": "#/definitions/TSPConfig"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "TSP Config added"
                    }
                }
            }
        },
        "/users/{userId}/tsp/{tspId}": {
            "get": {
                "summary": "Retrieve a user's TSP config",
                "description": "Retrieve a user's TSP config",
                "tags": [
                    "TSP"
                ],
                "operationId": "userTSP",
                "parameters": [
                    {
                        "$ref": "#/parameters/UserId"
                    },
                    {
                        "$ref": "#/parameters/TSPId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "TSP Config returned"
                    }
                }
            },
            "patch": {
                "summary": "Update a TSP config",
                "description": "Update a user's TSP config",
                "tags": [
                    "TSP"
                ],
                "operationId": "userTSPUpdate",
                "parameters": [
                    {
                        "$ref": "#/parameters/UserId"
                    },
                    {
                        "$ref": "#/parameters/TSPId"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "description": "TSP Config",
                        "schema": {
                            "$ref": "#/definitions/TSPConfig"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "TSP Config updated"
                    }
                }
            },
            "delete": {
                "summary": "Delete a TSP config",
                "description": "Delete a user's TSP config",
                "tags": [
                    "TSP"
                ],
                "operationId": "userTSPDelete",
                "parameters": [
                    {
                        "$ref": "#/parameters/UserId"
                    },
                    {
                        "$ref": "#/parameters/TSPId"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "TSP Config deleted"
                    }
                }
            }
        },
        "/users/{userId}/token": {
            "get": {
                "summary": "Retrieve a user's token",
                "description": "Retrieve a user's token",
                "tags": [
                    "Users"
                ],
                "operationId": "userToken",
                "parameters": [
                    {
                        "$ref": "#/parameters/UserId"
                    },
                    {
                        "name": "type",
                        "description": "User token",
                        "in": "query",
                        "type": "string",
                        "enum": [
                            "token",
                            "zpk"
                        ],
                        "x-enum-descriptions": [
                            "used for starting meeting with client SDK",
                            "used for generating the start meeting url"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Token returned",
                        "schema": {
                            "properties": {
                                "token": {
                                    "type": "string",
                                    "description": "User Token"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "User not found"
                    }
                }
            }
        },
        "/users/{userId}/zpk": {
            "get": {
                "summary": "Verify a user's zpk",
                "description": "Check if the zpk is expired. The zpk is used to authenticate a user.",
                "tags": [
                    "Users"
                ],
                "operationId": "userZPK",
                "parameters": [
                    {
                        "$ref": "#/parameters/UserId"
                    },
                    {
                        "name": "type",
                        "description": "User zpk",
                        "in": "query",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/users/{userId}/webinars": {
            "get": {
                "summary": "List webinars",
                "description": "List webinars for a user",
                "tags": [
                    "Webinars"
                ],
                "operationId": "webinars",
                "parameters": [
                    {
                        "$ref": "#/parameters/UserId"
                    },
                    {
                        "$ref": "#/parameters/PageSize"
                    },
                    {
                        "$ref": "#/parameters/PageNumber"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of Webinar objects returned",
                        "schema": {
                            "$ref": "#/definitions/WebinarList"
                        }
                    },
                    "404": {
                        "description": "User not found"
                    }
                }
            },
            "post": {
                "summary": "Create a webinar",
                "description": "Create a webinars for a user",
                "tags": [
                    "Webinars"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/UserId"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "description": "User",
                        "schema": {
                            "$ref": "#/definitions/Webinar"
                        }
                    }
                ],
                "operationId": "webinarCreate",
                "responses": {
                    "201": {
                        "description": "Webinar Created",
                        "headers": {
                            "Content-Location": {
                                "description": "Location of created Webinar",
                                "type": "string"
                            }
                        },
                        "schema": {
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "description": "Webinar ID"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "User not found"
                    }
                }
            }
        },
        "/webinars/{webinarId}": {
            "get": {
                "summary": "Retrieve a webinar",
                "description": "Retrieve a webinar",
                "tags": [
                    "Webinars"
                ],
                "operationId": "webinar",
                "parameters": [
                    {
                        "$ref": "#/parameters/WebinarNumber"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Webinar object returned",
                        "schema": {
                            "allOf": [
                                {
                                    "type": "object",
                                    "properties": {
                                        "uuid": {
                                            "type": "string",
                                            "description": "Webinar unique ID"
                                        },
                                        "id": {
                                            "type": "string",
                                            "description": "Webinar ID, also know as webinar number"
                                        },
                                        "host_id": {
                                            "type": "string",
                                            "description": "ID of the user set as host of webinar"
                                        }
                                    }
                                },
                                {
                                    "$ref": "#/definitions/Webinar"
                                }
                            ]
                        }
                    },
                    "404": {
                        "description": "Webinar not found"
                    }
                }
            },
            "patch": {
                "summary": "Update a webinar",
                "description": "Update a webinar",
                "tags": [
                    "Webinars"
                ],
                "operationId": "webinarUpdate",
                "parameters": [
                    {
                        "$ref": "#/parameters/WebinarNumber"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "description": "Webinar",
                        "schema": {
                            "$ref": "#/definitions/Webinar"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Webinar Updated"
                    },
                    "404": {
                        "description": "Webinar not found"
                    }
                }
            },
            "delete": {
                "summary": "Delete a webinar",
                "description": "Delete a webinar",
                "tags": [
                    "Webinars"
                ],
                "operationId": "webinarDelete",
                "parameters": [
                    {
                        "$ref": "#/parameters/WebinarNumber"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Webinar deleted"
                    },
                    "404": {
                        "description": "Webinar not found"
                    }
                }
            }
        },
        "/webinars/{webinarId}/status": {
            "put": {
                "summary": "Update a webinar's status",
                "description": "Update a webinar's status",
                "tags": [
                    "Webinars"
                ],
                "operationId": "webinarStatus",
                "parameters": [
                    {
                        "$ref": "#/parameters/WebinarNumber"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "string",
                                    "enum": [
                                        "end"
                                    ],
                                    "x-enum-descriptions": [
                                        "end a webinar"
                                    ]
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Webinar updated"
                    },
                    "404": {
                        "description": "Webinar not found"
                    }
                }
            }
        },
        "/webinars/{webinarId}/panelists": {
            "get": {
                "summary": "List a webinar's panelists",
                "description": "List panelists for a webinar",
                "tags": [
                    "Webinars"
                ],
                "operationId": "webinarPanelists",
                "parameters": [
                    {
                        "$ref": "#/parameters/WebinarNumber"
                    },
                    {
                        "$ref": "#/parameters/OccurenceId"
                    },
                    {
                        "$ref": "#/parameters/PageSize"
                    },
                    {
                        "$ref": "#/parameters/PageNumber"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/WebinarPanelistList"
                        }
                    },
                    "404": {
                        "description": "Webinar not found"
                    }
                }
            },
            "post": {
                "summary": "Add a webinar panelist",
                "description": "Add panelist to webinar",
                "tags": [
                    "Webinars"
                ],
                "operationId": "webinarPanelistCreate",
                "parameters": [
                    {
                        "$ref": "#/parameters/WebinarNumber"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/WebinarPanelist"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Panelist created",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "description": "Panelist ID"
                                },
                                "join_url": {
                                    "type": "string",
                                    "description": "Join URL for this panelist"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Webinar not found"
                    }
                }
            },
            "delete": {
                "summary": "Remove a webinar's panelists",
                "description": "Remove all panelists from a webinar",
                "tags": [
                    "Webinars"
                ],
                "operationId": "webinarPanelistsDelete",
                "parameters": [
                    {
                        "$ref": "#/parameters/WebinarNumber"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Panelists removed"
                    },
                    "404": {
                        "description": "Webinar not found"
                    }
                }
            }
        },
        "/webinars/{webinarId}/panelists/{panelistId}": {
            "delete": {
                "summary": "Remove a webinar panelist",
                "description": "Remove a panelist from a webinar",
                "tags": [
                    "Webinars"
                ],
                "operationId": "webinarPanelistDelete",
                "parameters": [
                    {
                        "$ref": "#/parameters/WebinarNumber"
                    },
                    {
                        "in": "path",
                        "name": "panelistId",
                        "description": "The panelist ID",
                        "type": "integer",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Panelists removed"
                    },
                    "404": {
                        "description": "Webinar or Panelist not found"
                    }
                }
            }
        },
        "/webinars/{webinarId}/registrants": {
            "get": {
                "summary": "List a webinar's registrants",
                "description": "List registrants for a webinar",
                "tags": [
                    "Webinars"
                ],
                "operationId": "webinarRegistrants",
                "parameters": [
                    {
                        "$ref": "#/parameters/WebinarNumber"
                    },
                    {
                        "$ref": "#/parameters/OccurenceId"
                    },
                    {
                        "$ref": "#/parameters/RegistrantStatus"
                    },
                    {
                        "$ref": "#/parameters/PageSize"
                    },
                    {
                        "$ref": "#/parameters/PageNumber"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/WebinarRegistrantList"
                        }
                    },
                    "404": {
                        "description": "Webinar not found"
                    }
                }
            },
            "post": {
                "summary": "Add a webinar registrant",
                "description": "Add a registrant for a webinar",
                "tags": [
                    "Webinars"
                ],
                "operationId": "webinarRegistrantCreate",
                "parameters": [
                    {
                        "$ref": "#/parameters/WebinarNumber"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/WebinarRegistrant"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Registration created",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "description": "Registrant ID"
                                },
                                "join_url": {
                                    "type": "string",
                                    "description": "Join URL for this registrant"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Webinar not found"
                    }
                }
            }
        },
        "/webinars/{webinarId}/registrants/{registrantId}/status": {
            "put": {
                "summary": "Update a webinar registrant's status",
                "description": "Update a webinar registrant's status",
                "tags": [
                    "Webinars"
                ],
                "operationId": "webinarRegistrantStatus",
                "parameters": [
                    {
                        "$ref": "#/parameters/WebinarNumber"
                    },
                    {
                        "$ref": "#/parameters/RegistrantId"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "string",
                                    "enum": [
                                        "pending",
                                        "approved",
                                        "denied"
                                    ],
                                    "x-enum-descriptions": [
                                        "set registrant status to pending",
                                        "set registrant status to approved",
                                        "set registrant status to denied"
                                    ]
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Registrant status updated"
                    },
                    "404": {
                        "description": "Webinar or Registrant not found"
                    }
                }
            }
        }
    },
    "parameters": {
        "AccountId": {
            "in": "path",
            "name": "accountId",
            "description" : "The account ID",
            "type": "string",
            "required": true
        },
        "GroupId": {
            "in": "path",
            "name": "groupId",
            "description" : "The group ID",
            "type": "string",
            "required": true
        },
        "MeetingID": {
            "in": "path",
            "name": "meetingId",
            "description" : "The meeting ID",
            "type": "integer",
            "required": true
        },
        "MeetingType": {
            "in": "query",
            "name": "type",
            "description" : "The meeting type",
            "type": "string",
            "enum": [
                "scheduled",
                "live"
            ],
            "x-enum-descriptions" : [
                "all the scheduled meetings",
                "all the live meetings"
            ]
        },
        "OccurenceId": {
            "in": "query",
            "name": "occurrence_id",
            "description" : "The the meeting occurence ID",
            "type": "string"
        },
        "PageNumber": {
            "in": "query",
            "name": "page_number",
            "description": "Page number of results returned",
            "type": "integer",
            "default": 1
        },
        "PageSize": {
            "in": "query",
            "name": "page_size",
            "description": "Number of items returned per page",
            "type": "integer",
            "default": 30
        },
        "RegistrantId": {
            "in": "path",
            "name": "registrantId",
            "description" : "The registrant ID",
            "type": "string",
            "required": true
        },
        "RegistrantStatus": {
            "in": "query",
            "name": "status",
            "description" : "The registrant status",
            "type": "string",
            "default": "approved",
            "enum": [
                "approved",
                "pending",
                "denied"
            ],
            "x-enum-descriptions" : [
                "registrants status is approved",
                "registrants status is pending",
                "registrants status is denied"
            ]
        },
        "TSPId" : {
            "name": "tspId",
            "description": "TSP ID",
            "in": "path",
            "type": "string",
            "required": true
        },
        "UserId": {
            "in": "path",
            "name": "userId",
            "description" : "The user ID",
            "type": "string",
            "required": true
        },
        "WebinarNumber": {
            "in": "path",
            "name": "webinarId",
            "description" : "The webinar ID",
            "type": "integer",
            "required": true
        }
    },
    "definitions": {
        "Account": {
            "type": "object",
            "description": "Account object",
            "required" : [
                "email",
                "first_name",
                "last_name",
                "password"
            ],
            "properties": {
                "email": {
                    "type": "string",
                    "description": "User's email address."
                },
                "first_name": {
                    "type": "string",
                    "description": "User's first name."
                },
                "last_name": {
                    "type": "string",
                    "description": "User's last name."
                },
                "password": {
                    "type": "string",
                    "description": "User's password."
                },
                "options": {
                    "$ref": "#/definitions/AccountOptions"
                }
            }
[...]
