{
  "openapi": "3.0.0",
  "x-explorer-enabled": false,
  "x-send-defaults": true,
  "info": {
    "title": "Zoom API",
    "description": "API Description",
    "contact": {
      "name": "Zoom Developers",
      "url": "https://developer.zoom.us/",
      "email": "developer@zoom.us"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.zoom.us/v2",
      "variables": {}
    }
  ],
  "paths": {
    "/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "List accounts",
        "description": "List all the sub accounts under the master account",
        "operationId": "Accounts",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of records returned within a single API call\n**default:** 30\n**maximum:** 300",
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 300,
              "type": "integer",
              "format": "int32",
              "default": 30,
              "example": 30
            }
          },
          {
            "name": "page_number",
            "in": "query",
            "description": "Current page number of returned records\n**default:** 1",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account list returned",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Account list returned",
                  "title": "Account List",
                  "type": "object",
                  "properties": {
                    "page_count": {
                      "type": "integer",
                      "description": "The number of items returned on this page",
                      "format": "int32"
                    },
                    "page_number": {
                      "type": "integer",
                      "description": "The page number of current results",
                      "format": "int32",
                      "example": 1
                    },
                    "page_size": {
                      "maximum": 300,
                      "type": "integer",
                      "description": "The number of records returned within a single API call\n**default:** 30\n**maximum:** 300",
                      "format": "int32",
                      "example": 30
                    },
                    "total_records": {
                      "type": "integer",
                      "description": "The number of all records available across pages",
                      "format": "int32"
                    },
                    "accounts": {
                      "type": "array",
                      "items": {
                        "title": "Account4",
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Account ID",
                            "format": "uuid"
                          },
                          "account_name": {
                            "type": "string",
                            "description": "Account name"
                          },
                          "owner_email": {
                            "type": "string",
                            "description": "Account owner email"
                          },
                          "account_type": {
                            "type": "string",
                            "description": "Account type"
                          },
                          "seats": {
                            "type": "integer",
                            "description": "Account seats",
                            "format": "int32"
                          },
                          "subscription_start_time": {
                            "type": "string",
                            "description": "Account subscription start date/time",
                            "format": "date-time"
                          },
                          "subscription_end_time": {
                            "type": "string",
                            "description": "Account subscription end date/time",
                            "format": "date-time"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "Account creation date/time",
                            "format": "date-time"
                          }
                        }
                      },
                      "description": "List of Account objects"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "header_authorization": [],
            "query_string_auth": []
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Create account",
        "description": "Create a sub account under the master account. <aside>Your account must be a master account and have this privilege to create sub account. Zoom only assigns this privilege to trusted partners. The created user will not receive a confirmation email.</aside>.",
        "operationId": "AccountCreate",
        "parameters": [],
        "requestBody": {
          "description": "Account",
          "content": {
            "application/json": {
              "schema": {
                "description": "Account",
                "title": "Account",
                "required": [
                  "first_name",
                  "last_name",
                  "email",
                  "password"
                ],
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "description": "User's first name"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "User's last name"
                  },
                  "email": {
                    "type": "string",
                    "description": "User's email address"
                  },
                  "password": {
                    "type": "string",
                    "description": "User's password"
                  },
                  "options": {
                    "description": "Account options object",
                    "title": "options",
                    "type": "object",
                    "properties": {
                      "share_rc": {
                        "type": "boolean",
                        "description": "Enable Share Virtual Room Connector",
                        "example": false
                      },
                      "room_connectors": {
                        "type": "string",
                        "description": "Virtual Room Connector, multiple value separated by comma"
                      },
                      "share_mc": {
                        "type": "boolean",
                        "description": "Enable Share Meeting Connector",
                        "example": false
                      },
                      "meeting_connectors": {
                        "type": "string",
                        "description": "Meeting Connector, multiple values separated by comma"
                      },
                      "pay_mode": {
                        "description": "Payee\n`master` Master account holder pays\n`sub` Sub account holder pays",
                        "example": "master",
                        "title": "pay_mode",
                        "enum": [
                          "master",
                          "sub"
                        ],
                        "type": "string",
                        "x-enum-elements": [
                          {
                            "name": "master",
                            "description": ""
                          },
                          {
                            "name": "sub",
                            "description": ""
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Account Created",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Account Created",
                  "title": "accountCreateResponse",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Account ID"
                    },
                    "owner_id": {
                      "type": "string",
                      "description": "Account Owner ID"
                    },
                    "owner_email": {
                      "type": "string",
                      "description": "Account owner email"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "Account created date time"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Account with that email already exists"
          }
        },
        "deprecated": false,
        "security": [
          {
            "header_authorization": [],
            "query_string_auth": []
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/accounts/{accountId}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get single account",
        "description": "Retrieve a sub account under the master account. <aside>Your account must be a master account and have this privilege to read sub accounts. Zoom only assigns this privilege to trusted partners</aside>.",
        "operationId": "Account",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The account ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account object returned",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Account object returned",
                  "title": "accountResponse",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Account ID"
                    },
                    "owner_id": {
                      "type": "string",
                      "description": "Account Owner ID"
                    },
                    "owner_email": {
                      "type": "string",
                      "description": "Account Owner email"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "Account creation date/time",
                      "format": "date-time"
                    },
                    "options": {
                      "description": "Account options object",
                      "title": "options",
                      "type": "object",
                      "properties": {
                        "share_rc": {
                          "type": "boolean",
                          "description": "Enable Share Virtual Room Connector",
                          "example": false
                        },
                        "room_connectors": {
                          "type": "string",
                          "description": "Virtual Room Connector, multiple value separated by comma"
                        },
                        "share_mc": {
                          "type": "boolean",
                          "description": "Enable Share Meeting Connector",
                          "example": false
                        },
                        "meeting_connectors": {
                          "type": "string",
                          "description": "Meeting Connector, multiple values separated by comma"
                        },
                        "pay_mode": {
                          "description": "Payee\n`master` Master account holder pays\n`sub` Sub account holder pays",
                          "example": "master",
                          "title": "pay_mode",
                          "enum": [
                            "master",
                            "sub"
                          ],
                          "type": "string",
                          "x-enum-elements": [
                            {
                              "name": "master",
                              "description": ""
                            },
                            {
                              "name": "sub",
                              "description": ""
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found"
          }
        },
        "deprecated": false,
        "security": [
          {
            "header_authorization": [],
            "query_string_auth": []
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "tags": [
          "Accounts"
        ],
        "summary": "Delete account",
        "description": "Disassociate a sub account from the master account. This will leave the account intact but the sub account will not longer be associated with the master account.",
        "operationId": "AccountDisassociate",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The account ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Account deleted"
          },
          "404": {
            "description": "Account not found"
          }
        },
        "deprecated": false,
        "security": [
          {
            "header_authorization": [],
            "query_string_auth": []
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/accounts/{accountId}/options": {
      "patch": {
        "tags": [
          "Accounts"
        ],
        "summary": "Update account options",
        "description": "Update a sub account's options under the master account",
        "operationId": "AccountOptionsUpdate",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The account ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "title": "options",
                "type": "object",
                "properties": {
                  "share_rc": {
                    "type": "boolean",
                    "description": "Enable Share Virtual Room Connector",
                    "example": false
                  },
                  "room_connectors": {
                    "type": "string",
                    "description": "Virtual Room Connector, multiple value separated by comma"
                  },
                  "share_mc": {
                    "type": "boolean",
                    "description": "Enable Share Meeting Connector",
                    "example": false
                  },
                  "meeting_connectors": {
                    "type": "string",
                    "description": "Meeting Connector, multiple values separated by comma"
                  },
                  "pay_mode": {
                    "description": "Payee\n`master` Master account holder pays\n`sub` Sub account holder pays",
                    "example": "master",
                    "title": "pay_mode",
                    "enum": [
                      "master",
                      "sub"
                    ],
                    "type": "string",
                    "x-enum-elements": [
                      {
                        "name": "master",
                        "description": ""
                      },
                      {
                        "name": "sub",
                        "description": ""
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Account options updated"
          },
          "404": {
            "description": "Account not found"
          }
        },
        "deprecated": false,
        "security": [
          {
            "header_authorization": [],
            "query_string_auth": []
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/accounts/{accountId}/settings": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get account settings",
        "description": "Retrieve a sub account's settings under the master account",
        "operationId": "AccountSettings",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The account ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account settings returned",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Account settings returned",
                  "title": "Account settings",
                  "type": "object",
                  "properties": {
                    "schedule_meting": {
                      "description": "Account Settings: Schedule Meeting",
                      "title": "schedule_meeting",
                      "type": "object",
                      "properties": {
                        "host_video": {
                          "type": "boolean",
                          "description": "Start meetings with host video on"
                        },
                        "participant_video": {
                          "type": "boolean",
                          "description": "Start meetings with participant video on. Participants can change this during the meeting\n`both` Telephony and VoIP\n`telephony` Audio PSTN telephony only\n`voip` VoIP only\n`thirdParty` 3rd party audio conference."
                        },
                        "audio_type": {
                          "description": "Determine how participants can join the audio portion of the meeting\n`both` Telephony and VoIP\n`telephony` Audio PSTN telephony only\n`voip` VoIP only\n`thirdParty` 3rd party audio conference.",
                          "example": "both",
                          "title": "audio_type",
                          "enum": [
                            "both",
                            "telephony",
                            "voip",
                            "thirdParty"
                          ],
                          "type": "string",
                          "x-enum-elements": [
                            {
                              "name": "both",
                              "description": ""
                            },
                            {
                              "name": "telephony",
                              "description": ""
                            },
                            {
                              "name": "voip",
                              "description": ""
                            },
                            {
                              "name": "thirdParty",
                              "description": ""
                            }
                          ]
                        },
                        "join_before_host": {
                          "type": "boolean",
                          "description": "Allow participants to join the meeting before the host arrives"
                        },
                        "enforce_login": {
                          "type": "boolean",
                          "description": "Only signed-in (Zoom users) users can join meetings"
                        },
                        "enforce_login_with_domains": {
                          "type": "boolean",
                          "description": "Only signed-in users with a specific domain can join meetings"
                        },
                        "enforce_login_domains": {
                          "type": "string",
                          "description": "Only signed-in users with a specified domains"
                        },
                        "not_store_meeting_topic": {
                          "type": "boolean",
                          "description": "Always display \"Zoom Meeting\" as the meeting topic"
                        },
                        "force_pmi_jbh_password": {
                          "type": "boolean",
                          "description": "Require a password for Personal Meetings if attendees can join before host"
                        }
                      }
                    },
                    "in_meeting": {
                      "description": "Account Settings: In Meeting",
                      "title": "in_meeting",
                      "type": "object",
                      "properties": {
                        "e2e_encryption": {
                          "type": "boolean",
                          "description": "Require that all meetings are encrypted using AES"
                        },
                        "chat": {
                          "type": "boolean",
                          "description": "Allow meeting participants to send a message visible to all participants"
                        },
                        "private_chat": {
                          "type": "boolean",
                          "description": "Allow meeting participants to send a private 1:1 message to another participants"
                        },
                        "auto_saving_chat": {
                          "type": "boolean",
                          "description": "Automatically save all in-meeting chats so that hosts do not need to manually save the text of the chat after the meeting starts"
                        },
                        "file_transfer": {
                          "type": "boolean",
                          "description": "Hosts and participants can send files through the in-meeting chat"
                        },
                        "feedback": {
                          "type": "boolean",
                          "description": "Add a Feedback tab to the Windows Settings or Mac Preferences dialog, and also enable users to provide feedback to Zoom at the end of the meeting"
                        },
                        "post_meeting_feedback": {
                          "type": "boolean",
                          "description": "Display a thumbs up/down survey at the end of each meeting"
                        },
                        "co_host": {
                          "type": "boolean",
                          "description": "Allow the host to add co-hosts"
                        },
                        "polling": {
                          "type": "boolean",
                          "description": "Add 'Polls' to the meeting controls."
                        },
                        "attendee_on_hold": {
                          "type": "boolean",
                          "description": "Allow hosts to temporarily remove an attendee from the meeting"
                        },
                        "show_meeting_control_toolbar": {
                          "type": "boolean",
                          "description": "Always show meeting control toolbar"
                        },
                        "allow_show_zoom_windows": {
                          "type": "boolean",
                          "description": "Show Zoom Desktop application when sharing screen"
                        },
                        "annotation": {
                          "type": "boolean",
                          "description": "Allow participants to use annotation tools to add information to shared screens"
                        },
                        "whiteboard": {
                          "type": "boolean",
                          "description": "Allow participants to share a whiteboard that includes annotation tools"
                        },
                        "webinar_question_answer": {
                          "type": "boolean",
                          "description": "Q&A in webinar"
                        },
                        "anonymous_question_answer": {
                          "type": "boolean",
                          "description": "Allow Anonymous Q&A in Webinar"
                        },
                        "breakout_room": {
                          "type": "boolean",
                          "description": "Allow host to split meeting participants into separate, smaller rooms"
                        },
                        "closed_caption": {
                          "type": "boolean",
                          "description": "Allow host to type closed captions or assign a participant/third party device to add closed captions"
                        },
                        "far_end_camera_control": {
                          "type": "boolean",
                          "description": "Allow another user to take control of your camera during a meeting"
                        },
                        "group_hd": {
                          "type": "boolean",
                          "description": "Activate higher quality video for host and participants. (This will use more bandwidth.)"
                        },
                        "virtual_background": {
                          "type": "boolean",
                          "description": "Allow users to replace their background with any selected image. Choose or upload an image in the Zoom Desktop application settings."
                        },
                        "watermark": {
                          "type": "boolean",
                          "description": "Add watermark when viewing shared screen"
                        },
                        "alert_guest_join": {
                          "type": "boolean",
                          "description": "Identify guest participants in the meeting/webinar"
                        },
                        "auto_answer": {
                          "type": "boolean",
                          "description": "Enable users to see and add contacts to 'auto-answer group' in the contact list on chat. Any call from members of this group will be automatically answered."
                        },
                        "p2p_connetion": {
                          "type": "boolean",
                          "description": "Peer to Peer connection while only 2 people are in a meeting"
                        },
                        "p2p_ports": {
                          "type": "boolean",
                          "description": "P2P listening ports range"
                        },
                        "ports_range": {
                          "type": "string",
                          "description": "Listening ports range, separated by comma (ex 55,56). The ports range must be between 1 to 65535."
                        },
                        "sending_default_email_invites": {
                          "type": "boolean",
                          "description": "Only show default email when sending email invites"
                        },
                        "use_html_format_email": {
                          "type": "boolean",
                          "description": "Use HTML format email for Outlook plugin"
                        },
                        "dscp_marking": {
                          "type": "boolean",
                          "description": "DSCP marking"
                        },
                        "dscp_audio": {
                          "maximum": 63,
                          "minimum": 1,
                          "type": "integer",
                          "description": "DSCP Audio\n**minimum:** 1\n**maximum:** 63",
                          "format": "int32"
                        },
                        "dscp_video": {
                          "maximum": 63,
                          "minimum": 1,
                          "type": "integer",
                          "description": "DSCP Video\n**minimum:** 1\n**maximum:** 63",
                          "format": "int32"
                        },
                        "stereo_audio": {
                          "type": "boolean",
                          "description": "Allow users to select stereo audio in their client settings"
                        },
                        "original_audio": {
                          "type": "boolean",
                          "description": "Allow users to select original sound in their client settings"
                        },
                        "screen_sharing": {
                          "type": "boolean",
                          "description": "Allow screen sharing"
                        },
                        "remote_control": {
                          "type": "boolean",
                          "description": "Allow users to request remote control"
                        },
                        "attention_tracking": {
                          "type": "boolean",
                          "description": "Lets the host see an indicator in the participant panel if a meeting/webinar attendee does not have Zoom in focus during screen sharing"
                        }
                      }
                    },
                    "email_notification": {
                      "description": "Account Settings: Notification",
                      "title": "email_notification",
                      "type": "object",
                      "properties": {
                        "cloud_recording_avaliable_reminder": {
                          "type": "boolean",
                          "description": "Notify host when cloud recording is available"
                        },
                        "jbh_reminder": {
                          "type": "boolean",
                          "description": "Notify host when participants join the meeting before them"
                        },
                        "cancel_meeting_reminder": {
                          "type": "boolean",
                          "description": "Notify host and participants when the meeting is cancelled"
                        },
                        "low_host_count_reminder": {
                          "type": "boolean",
                          "description": "Notify when host licenses are running low"
                        },
                        "alternative_host_reminder": {
                          "type": "boolean",
                          "description": "Notify when an alternative host is set or removed from a meeting"
                        }
                      }
                    },
                    "zoom_rooms": {
                      "description": "Account Settings: Zoom Rooms",
                      "title": "zoom_rooms",
                      "type": "object",
                      "properties": {
                        "upcoming_meeting_alert": {
                          "type": "boolean",
                          "description": "Upcoming meeting alert"
                        },
                        "start_airplay_manually": {
                          "type": "boolean",
                          "description": "Start AirPlay service manually"
                        },
                        "weekly_system_restart": {
                          "type": "boolean",
                          "description": "Weekly system restart"
                        },
                        "list_meetings_with_calendar": {
                          "type": "boolean",
                          "description": "Display meeting list with calendar integration"
                        },
                        "zr_post_meeting_feedback": {
                          "type": "boolean",
                          "description": "Zoom Room post meeting feedback"
                        },
                        "ultrasonic": {
                          "type": "boolean",
                          "description": "Automatic direct sharing using ultrasonic proximity signal"
                        },
                        "force_private_meeting": {
                          "type": "boolean",
                          "description": "Transform all meetings to private"
                        },
                        "hide_host_information": {
                          "type": "boolean",
                          "description": "Hide host and meeting ID from private meetings"
                        },
                        "cmr_for_instant_meeting": {
                          "type": "boolean",
                          "description": "Cloud recording for instant meetings"
                        },
                        "auto_start_stop_scheduled_meetings": {
                          "type": "boolean",
                          "description": "Automatic start/stop for scheduled meetings"
                        }
                      }
                    },
                    "security": {
                      "description": "Account Settings: Security",
                      "title": "security",
                      "type": "object",
                      "properties": {
                        "admin_change_name_pic": {
                          "type": "boolean",
                          "description": "Only account administrators can change user's username and picture"
                        },
                        "import_photos_from_devices": {
                          "type": "boolean",
                          "description": "Allow importing of photos from photo library on the user's device"
                        },
                        "hide_billing_info": {
                          "type": "boolean",
                          "description": "Hide billing information"
                        }
                      }
                    },
                    "recording": {
                      "description": "Account Settings: Recording",
                      "title": "recording",
                      "type": "object",
                      "properties": {
                        "local_recording": {
                          "type": "boolean",
                          "description": "Allow hosts and participants to record the meeting to a local file"
                        },
                        "cloud_recording": {
                          "type": "boolean",
                          "description": "Allow hosts to record and save the meeting in the cloud"
                        },
                        "record_speaker_view": {
                          "type": "boolean",
                          "description": "Record active speaker with shared screen"
                        },
                        "record_gallery_view": {
                          "type": "boolean",
                          "description": "Record gallery view with shared screen"
                        },
                        "record_audio_file": {
                          "type": "boolean",
                          "description": "Record an audio only file"
                        },
                        "save_chat_text": {
                          "type": "boolean",
                          "description": "Save chat text from the meeting"
                        },
                        "show_timestamp": {
                          "type": "boolean",
                          "description": "Add a timestamp to the recording"
                        },
                        "recording_audio_transcript": {
                          "type": "boolean",
                          "description": "Automatically transcribe the audio of the meeting or webinar to the cloud"
                        },
                        "auto_recording": {
                          "description": "Record meetings automatically as they start\n`local` Record on local\n`cloud` Record on cloud\n`none` Disabled",
                          "title": "auto_recording",
                          "enum": [
                            "local",
                            "cloud",
                            "none"
                          ],
                          "type": "string",
                          "example": "local",
                          "x-enum-elements": [
                            {
                              "name": "local",
                              "description": ""
                            },
                            {
                              "name": "cloud",
                              "description": ""
                            },
                            {
                              "name": "none",
                              "description": ""
                            }
                          ]
                        },
                        "cloud_recording_download": {
                          "type": "boolean",
                          "description": "Cloud Recording Downloads"
                        },
                        "cloud_recording_download_host": {
                          "type": "boolean",
                          "description": "Only the host can download cloud recordings"
                        },
                        "account_user_access_recording": {
                          "type": "boolean",
                          "description": "Cloud recordings are only accessible to account members. People outside of your organization cannot open links that provide access to cloud recordings."
                        },
                        "auto_delete_cmr": {
                          "type": "boolean",
                          "description": "Allow Zoom to automatically delete recordings permanently after a specified number of days"
                        },
                        "auto_delete_cmr_days": {
                          "type": "integer",
                          "description": "When `auto_delete_cmr` is 'true' this value will set the number of days before auto deletion of cloud recordings",
                          "format": "int32"
                        }
                      }
                    },
                    "telephony": {
                      "description": "Account Settings: Telephony",
                      "title": "telephony",
                      "type": "object",
                      "properties": {
                        "third_party_audio": {
                          "type": "boolean",
                          "description": "Users can join the meeting using the existing 3rd party audio configuration"
                        },
                        "audio_conference_info": {
                          "type": "string",
                          "description": "3rd party audio conference info"
                        }
                      }
                    },
                    "integration": {
                      "description": "Account Settings: Integration",
                      "title": "integration",
                      "type": "object",
                      "properties": {
                        "google_calendar": {
                          "type": "boolean",
                          "description": "Enables meetings to be scheduled using Google Calendars"
                        },
                        "google_drive": {
                          "type": "boolean",
                          "description": "Enables users who join a meeting from their mobile device to share content from their Google Drive"
                        },
                        "dropbox": {
                          "type": "boolean",
                          "description": "Enables users who join a meeting from their mobile device to share content from their Dropbox account"
                        },
                        "box": {
                          "type": "boolean",
                          "description": "Enables users who join a meeting from their mobile device to share content from their Box account"
                        },
                        "microsoft_one_drive": {
                          "type": "boolean",
                          "description": "Enables users who join a meeting from their mobile device to share content from their Microsoft OneDrive account"
                        },
                        "kubi": {
                          "type": "boolean",
                          "description": "Enables users to control a connected Kubi device from within a Zoom meeting"
                        }
                      }
                    },
                    "feature": {
                      "description": "Account Settings: Feature",
                      "title": "feature",
                      "type": "object",
                      "properties": {
                        "meeting_capacity": {
                          "type": "integer",
                          "description": "Set the maximum number of participants this user can have in a single meeting",
                          "format": "int32",
                          "example": 100
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Account not found"
          }
        },
        "deprecated": false,
        "security": [
          {
            "header_authorization": [],
            "query_string_auth": []
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "patch": {
        "tags": [
          "Accounts"
        ],
        "summary": "Update account settings",
        "description": "Update a sub account's settings under the master account",
        "operationId": "AccountSettingsUpdate",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The account ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "title": "Account settings",
                "type": "object",
                "properties": {
                  "schedule_meting": {
                    "description": "Account Settings: Schedule Meeting",
                    "title": "schedule_meeting",
                    "type": "object",
                    "properties": {
                      "host_video": {
                        "type": "boolean",
                        "description": "Start meetings with host video on"
                      },
                      "participant_video": {
                        "type": "boolean",
                        "description": "Start meetings with participant video on. Participants can change this during the meeting\n`both` Telephony and VoIP\n`telephony` Audio PSTN telephony only\n`voip` VoIP only\n`thirdParty` 3rd party audio conference."
                      },
                      "audio_type": {
                        "description": "Determine how participants can join the audio portion of the meeting\n`both` Telephony and VoIP\n`telephony` Audio PSTN telephony only\n`voip` VoIP only\n`thirdParty` 3rd party audio conference.",
                        "example": "both",
                        "title": "audio_type",
                        "enum": [
                          "both",
                          "telephony",
                          "voip",
                          "thirdParty"
                        ],
                        "type": "string",
                        "x-enum-elements": [
                          {
                            "name": "both",
                            "description": ""
                          },
                          {
                            "name": "telephony",
                            "description": ""
                          },
                          {
                            "name": "voip",
                            "description": ""
                          },
                          {
                            "name": "thirdParty",
                            "description": ""
                          }
                        ]
                      },
                      "join_before_host": {
                        "type": "boolean",
                        "description": "Allow participants to join the meeting before the host arrives"
                      },
                      "enforce_login": {
                        "type": "boolean",
                        "description": "Only signed-in (Zoom users) users can join meetings"
                      },
                      "enforce_login_with_domains": {
                        "type": "boolean",
                        "description": "Only signed-in users with a specific domain can join meetings"
                      },
                      "enforce_login_domains": {
                        "type": "string",
                        "description": "Only signed-in users with a specified domains"
                      },
                      "not_store_meeting_topic": {
                        "type": "boolean",
                        "description": "Always display \"Zoom Meeting\" as the meeting topic"
                      },
                      "force_pmi_jbh_password": {
                        "type": "boolean",
                        "description": "Require a password for Personal Meetings if attendees can join before host"
                      }
                    }
                  },
                  "in_meeting": {
                    "description": "Account Settings: In Meeting",
                    "title": "in_meeting",
                    "type": "object",
                    "properties": {
                      "e2e_encryption": {
                        "type": "boolean",
                        "description": "Require that all meetings are encrypted using AES"
                      },
                      "chat": {
                        "type": "boolean",
                        "description": "Allow meeting participants to send a message visible to all participants"
                      },
                      "private_chat": {
                        "type": "boolean",
                        "description": "Allow meeting participants to send a private 1:1 message to another participants"
                      },
                      "auto_saving_chat": {
                        "type": "boolean",
                        "description": "Automatically save all in-meeting chats so that hosts do not need to manually save the text of the chat after the meeting starts"
                      },
                      "file_transfer": {
                        "type": "boolean",
                        "description": "Hosts and participants can send files through the in-meeting chat"
                      },
                      "feedback": {
                        "type": "boolean",
                        "description": "Add a Feedback tab to the Windows Settings or Mac Preferences dialog, and also enable users to provide feedback to Zoom at the end of the meeting"
                      },
                      "post_meeting_feedback": {
                        "type": "boolean",
                        "description": "Display a thumbs up/down survey at the end of each meeting"
                      },
                      "co_host": {
                        "type": "boolean",
                        "description": "Allow the host to add co-hosts"
                      },
                      "polling": {
                        "type": "boolean",
                        "description": "Add 'Polls' to the meeting controls."
                      },
                      "attendee_on_hold": {
                        "type": "boolean",
                        "description": "Allow hosts to temporarily remove an attendee from the meeting"
                      },
                      "show_meeting_control_toolbar": {
                        "type": "boolean",
                        "description": "Always show meeting control toolbar"
                      },
                      "allow_show_zoom_windows": {
                        "type": "boolean",
                        "description": "Show Zoom Desktop application when sharing screen"
                      },
                      "annotation": {
                        "type": "boolean",
                        "description": "Allow participants to use annotation tools to add information to shared screens"
                      },
                      "whiteboard": {
                        "type": "boolean",
                        "description": "Allow participants to share a whiteboard that includes annotation tools"
                      },
                      "webinar_question_answer": {
                        "type": "boolean",
                        "description": "Q&A in webinar"
                      },
                      "anonymous_question_answer": {
                        "type": "boolean",
                        "description": "Allow Anonymous Q&A in Webinar"
                      },
                      "breakout_room": {
                        "type": "boolean",
                        "description": "Allow host to split meeting participants into separate, smaller rooms"
                      },
                      "closed_caption": {
                        "type": "boolean",
                        "description": "Allow host to type closed captions or assign a participant/third party device to add closed captions"
                      },
                      "far_end_camera_control": {
                        "type": "boolean",
                        "description": "Allow another user to take control of your camera during a meeting"
                      },
                      "group_hd": {
                        "type": "boolean",
                        "description": "Activate higher quality video for host and participants. (This will use more bandwidth.)"
                      },
                      "virtual_background": {
                        "type": "boolean",
                        "description": "Allow users to replace their background with any selected image. Choose or upload an image in the Zoom Desktop application settings."
                      },
                      "watermark": {
                        "type": "boolean",
                        "description": "Add watermark when viewing shared screen"
                      },
                      "alert_guest_join": {
                        "type": "boolean",
                        "description": "Identify guest participants in the meeting/webinar"
                      },
                      "auto_answer": {
                        "type": "boolean",
                        "description": "Enable users to see and add contacts to 'auto-answer group' in the contact list on chat. Any call from members of this group will be automatically answered."
                      },
                      "p2p_connetion": {
                        "type": "boolean",
                        "description": "Peer to Peer connection while only 2 people are in a meeting"
                      },
                      "p2p_ports": {
                        "type": "boolean",
                        "description": "P2P listening ports range"
                      },
                      "ports_range": {
                        "type": "string",
                        "description": "Listening ports range, separated by comma (ex 55,56). The ports range must be between 1 to 65535."
                      },
                      "sending_default_email_invites": {
                        "type": "boolean",
                        "description": "Only show default email when sending email invites"
                      },
                      "use_html_format_email": {
                        "type": "boolean",
                        "description": "Use HTML format email for Outlook plugin"
                      },
                      "dscp_marking": {
                        "type": "boolean",
                        "description": "DSCP marking"
                      },
                      "dscp_audio": {
                        "maximum": 63,
                        "minimum": 1,
                        "type": "integer",
                        "description": "DSCP Audio\n**minimum:** 1\n**maximum:** 63",
                        "format": "int32"
                      },
                      "dscp_video": {
                        "maximum": 63,
                        "minimum": 1,
                        "type": "integer",
                        "description": "DSCP Video\n**minimum:** 1\n**maximum:** 63",
                        "format": "int32"
                      },
                      "stereo_audio": {
                        "type": "boolean",
                        "description": "Allow users to select stereo audio in their client settings"
                      },
                      "original_audio": {
                        "type": "boolean",
                        "description": "Allow users to select original sound in their client settings"
                      },
                      "screen_sharing": {
                        "type": "boolean",
                        "description": "Allow screen sharing"
                      },
                      "remote_control": {
                        "type": "boolean",
                        "description": "Allow users to request remote control"
                      },
                      "attention_tracking": {
                        "type": "boolean",
                        "description": "Lets the host see an indicator in the participant panel if a meeting/webinar attendee does not have Zoom in focus during screen sharing"
                      }
                    }
                  },
                  "email_notification": {
                    "description": "Account Settings: Notification",
                    "title": "email_notification",
                    "type": "object",
                    "properties": {
                      "cloud_recording_avaliable_reminder": {
                        "type": "boolean",
                        "description": "Notify host when cloud recording is available"
                      },
                      "jbh_reminder": {
                        "type": "boolean",
                        "description": "Notify host when participants join the meeting before them"
                      },
                      "cancel_meeting_reminder": {
                        "type": "boolean",
                        "description": "Notify host and participants when the meeting is cancelled"
                      },
                      "low_host_count_reminder": {
                        "type": "boolean",
                        "description": "Notify when host licenses are running low"
                      },
                      "alternative_host_reminder": {
                        "type": "boolean",
                        "description": "Notify when an alternative host is set or removed from a meeting"
                      }
                    }
                  },
                  "zoom_rooms": {
                    "description": "Account Settings: Zoom Rooms",
                    "title": "zoom_rooms",
                    "type": "object",
                    "properties": {
                      "upcoming_meeting_alert": {
                        "type": "boolean",
                        "description": "Upcoming meeting alert"
                      },
                      "start_airplay_manually": {
                        "type": "boolean",
                        "description": "Start AirPlay service manually"
                      },
                      "weekly_system_restart": {
                        "type": "boolean",
                        "description": "Weekly system restart"
                      },
                      "list_meetings_with_calendar": {
                        "type": "boolean",
                        "description": "Display meeting list with calendar integration"
                      },
                      "zr_post_meeting_feedback": {
                        "type": "boolean",
                        "description": "Zoom Room post meeting feedback"
                      },
                      "ultrasonic": {
                        "type": "boolean",
                        "description": "Automatic direct sharing using ultrasonic proximity signal"
                      },
                      "force_private_meeting": {
                        "type": "boolean",
                        "description": "Transform all meetings to private"
                      },
                      "hide_host_information": {
                        "type": "boolean",
                        "description": "Hide host and meeting ID from private meetings"
                      },
                      "cmr_for_instant_meeting": {
                        "type": "boolean",
                        "description": "Cloud recording for instant meetings"
                      },
                      "auto_start_stop_scheduled_meetings": {
                        "type": "boolean",
                        "description": "Automatic start/stop for scheduled meetings"
                      }
                    }
                  },
                  "security": {
                    "description": "Account Settings: Security",
                    "title": "security",
                    "type": "object",
                    "properties": {
                      "admin_change_name_pic": {
                        "type": "boolean",
                        "description": "Only account administrators can change user's username and picture"
                      },
                      "import_photos_from_devices": {
                        "type": "boolean",
                        "description": "Allow importing of photos from photo library on the user's device"
                      },
                      "hide_billing_info": {
                        "type": "boolean",
                        "description": "Hide billing information"
                      }
                    }
                  },
                  "recording": {
                    "description": "Account Settings: Recording",
                    "title": "recording",
                    "type": "object",
                    "properties": {
                      "local_recording": {
                        "type": "boolean",
                        "description": "Allow hosts and participants to record the meeting to a local file"
                      },
                      "cloud_recording": {
                        "type": "boolean",
                        "description": "Allow hosts to record and save the meeting in the cloud"
                      },
                      "record_speaker_view": {
                        "type": "boolean",
                        "description": "Record active speaker with shared screen"
                      },
                      "record_gallery_view": {
                        "type": "boolean",
                        "description": "Record gallery view with shared screen"
                      },
                      "record_audio_file": {
                        "type": "boolean",
                        "description": "Record an audio only file"
                      },
                      "save_chat_text": {
                        "type": "boolean",
                        "description": "Save chat text from the meeting"
                      },
                      "show_timestamp": {
                        "type": "boolean",
                        "description": "Add a timestamp to the recording"
                      },
                      "recording_audio_transcript": {
                        "type": "boolean",
                        "description": "Automatically transcribe the audio of the meeting or webinar to the cloud"
                      },
                      "auto_recording": {
                        "description": "Record meetings automatically as they start\n`local` Record on local\n`cloud` Record on cloud\n`none` Disabled",
                        "title": "auto_recording",
                        "enum": [
                          "local",
                          "cloud",
                          "none"
                        ],
                        "type": "string",
                        "example": "local",
                        "x-enum-elements": [
                          {
                            "name": "local",
                            "description": ""
                          },
                          {
                            "name": "cloud",
                            "description": ""
                          },
                          {
                            "name": "none",
                            "description": ""
                          }
                        ]
                      },
                      "cloud_recording_download": {
                        "type": "boolean",
                        "description": "Cloud Recording Downloads"
                      },
                      "cloud_recording_download_host": {
                        "type": "boolean",
                        "description": "Only the host can download cloud recordings"
                      },
                      "account_user_access_recording": {
                        "type": "boolean",
                        "description": "Cloud recordings are only accessible to account members. People outside of your organization cannot open links that provide access to cloud recordings."
                      },
                      "auto_delete_cmr": {
                        "type": "boolean",
                        "description": "Allow Zoom to automatically delete recordings permanently after a specified number of days"
                      },
                      "auto_delete_cmr_days": {
                        "type": "integer",
                        "description": "When `auto_delete_cmr` is 'true' this value will set the number of days before auto deletion of cloud recordings",
                        "format": "int32"
                      }
                    }
                  },
                  "telephony": {
                    "description": "Account Settings: Telephony",
                    "title": "telephony",
                    "type": "object",
                    "properties": {
                      "third_party_audio": {
                        "type": "boolean",
                        "description": "Users can join the meeting using the existing 3rd party audio configuration"
                      },
                      "audio_conference_info": {
                        "type": "string",
                        "description": "3rd party audio conference info"
                      }
                    }
                  },
                  "integration": {
                    "description": "Account Settings: Integration",
                    "title": "integration",
                    "type": "object",
                    "properties": {
                      "google_calendar": {
                        "type": "boolean",
                        "description": "Enables meetings to be scheduled using Google Calendars"
                      },
                      "google_drive": {
                        "type": "boolean",
                        "description": "Enables users who join a meeting from their mobile device to share content from their Google Drive"
                      },
                      "dropbox": {
                        "type": "boolean",
                        "description": "Enables users who join a meeting from their mobile device to share content from their Dropbox account"
                      },
                      "box": {
                        "type": "boolean",
                        "description": "Enables users who join a meeting from their mobile device to share content from their Box account"
                      },
                      "microsoft_one_drive": {
                        "type": "boolean",
                        "description": "Enables users who join a meeting from their mobile device to share content from their Microsoft OneDrive account"
                      },
                      "kubi": {
                        "type": "boolean",
                        "description": "Enables users to control a connected Kubi device from within a Zoom meeting"
                      }
                    }
                  },
                  "feature": {
                    "description": "Account Settings: Feature",
                    "title": "feature",
                    "type": "object",
                    "properties": {
                      "meeting_capacity": {
                        "type": "integer",
                        "description": "Set the maximum number of participants this user can have in a single meeting",
                        "format": "int32",
                        "example": 100
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Account settings updated"
          },
          "404": {
            "description": "Account not found"
          }
        },
        "deprecated": false,
        "security": [
          {
            "header_authorization": [],
            "query_string_auth": []
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/accounts/{accountId}/billing": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get billing information",
        "description": "Retrieve billing information for a sub account under the master account",
        "operationId": "AccountBilling",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The account ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account billing contact information returned",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Account billing contact information returned",
                  "title": "contact",
                  "required": [
                    "first_name",
                    "last_name",
                    "email",
                    "phone_number",
                    "address",
                    "city",
                    "state",
                    "zip",
                    "country"
                  ],
                  "type": "object",
                  "properties": {
                    "first_name": {
                      "type": "string",
                      "description": "Billing Contact's first name"
                    },
                    "last_name": {
                      "type": "string",
                      "description": "Billing Contact's last name"
                    },
                    "email": {
                      "type": "string",
                      "description": "Billing Contact's email address"
                    },
                    "phone_number": {
                      "type": "string",
                      "description": "Billing Contact's phone number"
                    },
                    "address": {
                      "type": "string",
                      "description": "Billing Contact's address"
                    },
                    "city": {
                      "type": "string",
                      "description": "Billing Contact's city"
                    },
                    "state": {
                      "type": "string",
                      "description": "Billing Contact's state"
                    },
                    "zip": {
                      "type": "string",
                      "description": "Billing Contact's zip/postal code"
                    },
                    "country": {
                      "type": "string",
                      "description": "Billing Contact's country"
                    },
                    "apt": {
                      "type": "string",
                      "description": "Billing Contact's apartment/suite"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Account not found"
          }
        },
        "deprecated": false,
        "security": [
          {
            "header_authorization": [],
            "query_string_auth": []
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "patch": {
        "tags": [
          "Billing"
        ],
        "summary": "Update billing information",
        "description": "Update billing information for a sub account under the master account <aside>Only for the sub account which is a paid account and paid by master account</aside>",
        "operationId": "AccountBillingUpdate",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The account ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "title": "BillingContact",
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "description": "Billing Contact's first name"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Billing Contact's last name"
                  },
                  "email": {
                    "type": "string",
                    "description": "Billing Contact's email address"
                  },
                  "phone_number": {
                    "type": "string",
                    "description": "Billing Contact's phone number"
                  },
                  "address": {
                    "type": "string",
                    "description": "Billing Contact's address"
                  },
                  "apt": {
                    "type": "string",
                    "description": "Billing Contact's apartment/suite"
                  },
                  "city": {
                    "type": "string",
                    "description": "Billing Contact's city"
                  },
                  "state": {
                    "type": "string",
                    "description": "Billing Contact's state"
                  },
                  "zip": {
                    "type": "string",
                    "description": "Billing Contact's zip/postal code"
                  },
                  "country": {
                    "type": "string",
                    "description": "Billing Contact's country"
                  }
                },
                "description": "Billing Contact object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Account billing contact information updated"
          },
          "404": {
            "description": "Account not found"
          }
        },
        "deprecated": false,
        "security": [
          {
            "header_authorization": [],
            "query_string_auth": []
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/accounts/{accountId}/plans": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get account plans",
        "description": "Retrieve plan information for a sub account under the master account  <aside>Only for the sub account which is paid by master account</aside>",
        "operationId": "AccountPlans",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The account ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account plans returned",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Account plans returned",
                  "title": "AccountPlans",
                  "type": "object",
                  "properties": {
                    "plan_base": {
                      "description": "Account base plan object",
                      "title": "plan_base",
                      "required": [
                        "type",
                        "hosts"
                      ],
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "Account base <a href=\"#plans\">plan type</a>"
                        },
                        "hosts": {
                          "type": "integer",
                          "description": "Account base plan number of hosts. For a Pro Plan, please select a value between 1 and 9. For a Business Plan, please select a value between 10 and 49. For a Education Plan, please select a value between 20 and 149. For a Free Trial Plan, please select a value between 1 and 9999.",
                          "format": "int32"
                        }
                      }
                    },
                    "plan_zoom_rooms": {
                      "description": "Account plan object",
                      "title": "plan_zoom_rooms",
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "Account <a href=\"#plans\">plan type</a>"
                        },
                        "hosts": {
                          "type": "integer",
                          "description": "Account plan number of hosts",
                          "format": "int32"
                        }
                      }
                    },
                    "plan_room_connector": {
                      "description": "Account plan object",
                      "title": "plan_room_connector",
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "Account <a href=\"#plans\">plan type</a>"
                        },
                        "hosts": {
                          "type": "integer",
                          "description": "Account plan number of hosts",
                          "format": "int32"
                        }
                      }
                    },
                    "plan_large_meeting": {
                      "type": "array",
                      "items": {
                        "title": "plan_large_meeting",
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Additional Large Meeting Plans"
                          }
                        },
                        "description": "Additional Large Meeting Plans"
                      },
                      "description": "Additional Large Meeting Plans"
                    },
                    "plan_webinar": {
                      "type": "array",
                      "items": {
                        "title": "plan_webinar",
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Additional Webinar Plans"
                          }
                        },
                        "description": "Additional Webinar Plans"
                      },
                      "description": "Additional Webinar Plans"
                    },
                    "plan_recording": {
                      "type": "string",
                      "description": "Additional Cloud Recording Plan"
                    },
                    "plan_audio": {
                      "description": "Additional Audio Conferencing <a href=\"#plans\">plan type</a>",
                      "title": "plan_audio",
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "Additional Audio Conferencing <a href=\"#plans\">plan type</a>"
                        },
                        "tollfree_countries": {
                          "type": "string",
                          "description": "Toll-free countries, multiple value separated by comma"
                        },
                        "premium_countries": {
                          "type": "string",
                          "description": "Premium countries, multiple value separated by comma"
                        },
                        "callout_countries": {
                          "type": "string",
                          "description": "Call-out countries, multiple value separated by comma"
                        },
                        "ddi_numbers": {
                          "type": "integer",
                          "description": "Dedicated Dial-In Numbers",
                          "format": "int32"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Account not fond"
          }
        },
        "deprecated": false,
        "security": [
          {
            "header_authorization": [],
            "query_string_auth": []
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Add a plan(s)",
        "description": "Subscribe plans for a sub account of the master account <aside>Can only subscribe plans for the sub account which is a free account and paid by master account</aside>",
        "operationId": "AccountPlanCreate",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The account ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "title": "body",
                "type": "object",
                "properties": {
                  "contact": {
                    "description": "Billing Contact object",
                    "title": "contact",
                    "required": [
                      "first_name",
                      "last_name",
                      "email",
                      "phone_number",
                      "address",
                      "city",
                      "state",
                      "zip",
                      "country"
                    ],
                    "type": "object",
                    "properties": {
                      "first_name": {
                        "type": "string",
                        "description": "Billing Contact's first name"
                      },
                      "last_name": {
                        "type": "string",
                        "description": "Billing Contact's last name"
                      },
                      "email": {
                        "type": "string",
                        "description": "Billing Contact's email address"
                      },
                      "phone_number": {
                        "type": "string",
                        "description": "Billing Contact's phone number"
                      },
                      "address": {
                        "type": "string",
                        "description": "Billing Contact's address"
                      },
                      "city": {
                        "type": "string",
                        "description": "Billing Contact's city"
                      },
                      "state": {
                        "type": "string",
                        "description": "Billing Contact's state"
                      },
                      "zip": {
                        "type": "string",
                        "description": "Billing Contact's zip/postal code"
                      },
                      "country": {
                        "type": "string",
                        "description": "Billing Contact's country"
                      },
                      "apt": {
                        "type": "string",
                        "description": "Billing Contact's apartment/suite"
                      }
                    }
                  },
                  "plan_base": {
                    "description": "Account base plan object",
                    "title": "plan_base",
                    "required": [
                      "type",
                      "hosts"
                    ],
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "Account base <a href=\"#plans\">plan type</a>"
                      },
                      "hosts": {
                        "type": "integer",
                        "description": "Account base plan number of hosts. For a Pro Plan, please select a value between 1 and 9. For a Business Plan, please select a value between 10 and 49. For a Education Plan, please select a value between 20 and 149. For a Free Trial Plan, please select a value between 1 and 9999.",
                        "format": "int32"
                      }
                    }
                  },
                  "plan_zoom_rooms": {
                    "description": "Account plan object",
                    "title": "plan_zoom_rooms",
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "Account <a href=\"#plans\">plan type</a>"
                      },
                      "hosts": {
                        "type": "integer",
                        "description": "Account plan number of hosts",
                        "format": "int32"
                      }
                    }
                  },
                  "plan_room_connector": {
                    "description": "Account plan object",
                    "title": "plan_zoom_rooms",
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "Account <a href=\"#plans\">plan type</a>"
                      },
                      "hosts": {
                        "type": "integer",
                        "description": "Account plan number of hosts",
                        "format": "int32"
                      }
                    }
                  },
                  "plan_large_meeting": {
                    "type": "array",
                    "items": {
                      "title": "plan_zoom_rooms",
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "Account <a href=\"#plans\">plan type</a>"
                        },
                        "hosts": {
                          "type": "integer",
                          "description": "Account plan number of hosts",
                          "format": "int32"
                        }
                      },
                      "description": "Account plan object"
                    },
                    "description": "Additional Large Meeting Plans"
                  },
                  "plan_webinar": {
                    "type": "array",
                    "items": {
                      "title": "plan_zoom_rooms",
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "Account <a href=\"#plans\">plan type</a>"
                        },
                        "hosts": {
                          "type": "integer",
                          "description": "Account plan number of hosts",
                          "format": "int32"
                        }
                      },
                      "description": "Account plan object"
                    },
                    "description": "Additional Webinar Plans"
                  },
                  "plan_recording": {
                    "type": "string",
                    "description": "Additional Cloud Recording Plan"
                  },
                  "plan_audio": {
                    "description": "Additional Audio Conferencing <a href=\"#plans\">plan type</a>",
                    "title": "plan_audio",
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "Additional Audio Conferencing <a href=\"#plans\">plan type</a>"
                      },
                      "tollfree_countries": {
                        "type": "string",
                        "description": "Toll-free countries, multiple value separated by comma"
                      },
                      "premium_countries": {
                        "type": "string",
                        "description": "Premium countries, multiple value separated by comma"
                      },
                      "callout_countries": {
                        "type": "string",
                        "description": "Call-out countries, multiple value separated by comma"
                      },
                      "ddi_numbers": {
                        "type": "integer",
                        "description": "Dedicated Dial-In Numbers",
                        "format": "int32"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Account plans updated",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Account plans updated",
                  "title": "AccountPlans",
                  "type": "object",
                  "properties": {
                    "plan_base": {
                      "description": "Account base plan object",
                      "title": "plan_base",
                      "required": [
                        "type",
                        "hosts"
                      ],
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "Account base <a href=\"#plans\">plan type</a>"
                        },
                        "hosts": {
                          "type": "integer",
                          "description": "Account base plan number of hosts. For a Pro Plan, please select a value between 1 and 9. For a Business Plan, please select a value between 10 and 49. For a Education Plan, please select a value between 20 and 149. For a Free Trial Plan, please select a value between 1 and 9999.",
                          "format": "int32"
                        }
                      }
                    },
                    "plan_zoom_rooms": {
                      "description": "Account plan object",
                      "title": "plan_zoom_rooms",
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "Account <a href=\"#plans\">plan type</a>"
                        },
                        "hosts": {
                          "type": "integer",
                          "description": "Account plan number of hosts",
                          "format": "int32"
                        }
                      }
                    },
                    "plan_room_connector": {
                      "description": "Account plan object",
                      "title": "plan_room_connector",
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "Account <a href=\"#plans\">plan type</a>"
                        },
                        "hosts": {
                          "type": "integer",
                          "description": "Account plan number of hosts",
                          "format": "int32"
                        }
                      }
                    },
                    "plan_large_meeting": {
                      "type": "array",
                      "items": {
                        "title": "plan_large_meeting",
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Additional Large Meeting Plans"
                          }
                        },
                        "description": "Additional Large Meeting Plans"
                      },
                      "description": "Additional Large Meeting Plans"
                    },
                    "plan_webinar": {
                      "type": "array",
                      "items": {
                        "title": "plan_webinar",
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Additional Webinar Plans"
                          }
                        },
                        "description": "Additional Webinar Plans"
                      },
                      "description": "Additional Webinar Plans"
                    },
                    "plan_recording": {
                      "type": "string",
                      "description": "Additional Cloud Recording Plan"
                    },
                    "plan_audio": {
                      "description": "Additional Audio Conferencing <a href=\"#plans\">plan type</a>",
                      "title": "plan_audio",
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "Additional Audio Conferencing <a href=\"#plans\">plan type</a>"
                        },
                        "tollfree_countries": {
                          "type": "string",
                          "description": "Toll-free countries, multiple value separated by comma"
                        },
[...]
