{
  "swagger": "2.0",
  "x-explorer-enabled": false,
  "info": {
    "title": "Zoom API",
    "description": "API Description",
    "contact": {
      "name": "Zoom Developers",
      "url": "https://developer.zoom.us/",
      "email": "developer@zoom.us"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "2.0.0"
  },
  "host": "api.zoom.us",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "multipart/form-data"
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "paths": {
    "/accounts": {
      "get": {
        "summary": "List sub accounts",
        "description": "List all the sub accounts under the master account",
        "tags": [
          "Accounts"
        ],
        "operationId": "accounts",
        "parameters": [
          {
            "in": "query",
            "name": "page_size",
            "description": "The number of records returned within a single API call",
            "type": "integer",
            "default": 30,
            "maximum": 300
          },
          {
            "in": "query",
            "name": "page_number",
            "description": "Current page number of returned records",
            "type": "integer",
            "default": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "page_count": "integer",
                "page_number": "integer",
                "page_size": "integer",
                "total_records": "integer",
                "accounts": [
                  {
                    "id": "string [uuid]",
                    "account_name": "string",
                    "owner_email": "string",
                    "account_type": "string",
                    "seats": "integer",
                    "subscription_start_time": "string [date-time]",
                    "subscription_end_time": "string [date-time]",
                    "created_at": "string [date-time]"
                  }
                ]
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a sub account",
        "description": "Create a sub account under the master account. <aside>Your account must be a master account and have this privilege to create sub account. Zoom only assigns this privilege to trusted partners. The created user will not receive a confirmation email.</aside>.",
        "tags": [
          "Accounts"
        ],
        "operationId": "accountCreate",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Account",
            "schema": {
              "type": "object",
              "description": "The account object represents an account on zoom. The person who created the account, or who the account was created for, is referred to as the account owner. You can read more about the Zoom account structure <a href='https://developer.zoom.us/blog/a-brief-look-at-zoom-account-structures/' target='_blank'>here</a>.",
              "required": [
                "email",
                "first_name",
                "last_name",
                "password"
              ],
              "properties": {
                "first_name": {
                  "type": "string",
                  "description": "User's first name"
                },
                "last_name": {
                  "type": "string",
                  "description": "User's last name"
                },
                "email": {
                  "type": "string",
                  "description": "User's email address"
                },
                "password": {
                  "type": "string",
                  "description": "User's password"
                },
                "options": {
                  "type": "object",
                  "description": "Account options object",
                  "properties": {
                    "share_rc": {
                      "type": "boolean",
                      "description": "Enable Share Virtual Room Connector",
                      "default": false
                    },
                    "room_connectors": {
                      "type": "string",
                      "description": "Virtual Room Connector, multiple value separated by comma"
                    },
                    "share_mc": {
                      "type": "boolean",
                      "description": "Enable Share Meeting Connector",
                      "default": false
                    },
                    "meeting_connectors": {
                      "type": "string",
                      "description": "Meeting Connector, multiple values separated by comma"
                    },
                    "pay_mode": {
                      "type": "string",
                      "description": "Payee\n`master` Master account holder pays\n`sub` Sub account holder pays",
                      "enum": [
                        "master",
                        "sub"
                      ],
                      "x-enum-descriptions": [
                        "Master account holder pays",
                        "Sub account holder pays"
                      ],
                      "default": "master"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "examples": {
              "application/json": {
                "id": "string",
                "owner_id": "string",
                "owner_email": "string",
                "created_at": "string"
              }
            }
          },
          "409": {
            "description": "Account with that email already exists"
          }
        }
      }
    },
    "/accounts/{accountId}": {
      "get": {
        "summary": "Retrieve a sub account",
        "description": "Retrieve a sub account under the master account. <aside>Your account must be a master account and have this privilege to read sub accounts. Zoom only assigns this privilege to trusted partners</aside>.",
        "tags": [
          "Accounts"
        ],
        "operationId": "account",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "description": "The account ID",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "page_count": "integer",
                "page_number": "integer",
                "page_size": "integer",
                "total_records": "integer",
                "accounts": [
                  {
                    "id": "string [uuid]",
                    "account_name": "string",
                    "owner_email": "string",
                    "account_type": "string",
                    "seats": "integer",
                    "subscription_start_time": "string [date-time]",
                    "subscription_end_time": "string [date-time]",
                    "created_at": "string [date-time]"
                  }
                ]
              }
            }
          },
          "404": {
            "description": "User not found"
          }
        }
      },
      "delete": {
        "summary": "Disassociate an account",
        "description": "Disassociate a sub account from the master account. This will leave the account intact but the sub account will not longer be associated with the master account.",
        "tags": [
          "Accounts"
        ],
        "operationId": "accountDisassociate",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "description": "The account ID",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Account deleted"
          },
          "404": {
            "description": "Account not found"
          }
        }
      }
    },
    "/accounts/{accountId}/options": {
      "patch": {
        "summary": "Update a sub account's options",
        "description": "Update a sub account's options under the master account",
        "tags": [
          "Accounts"
        ],
        "operationId": "accountOptionsUpdate",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "description": "The account ID",
            "type": "string",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "Account options object",
              "properties": {
                "share_rc": {
                  "type": "boolean",
                  "description": "Enable Share Virtual Room Connector",
                  "default": false
                },
                "room_connectors": {
                  "type": "string",
                  "description": "Virtual Room Connector, multiple value separated by comma"
                },
                "share_mc": {
                  "type": "boolean",
                  "description": "Enable Share Meeting Connector",
                  "default": false
                },
                "meeting_connectors": {
                  "type": "string",
                  "description": "Meeting Connector, multiple values separated by comma"
                },
                "pay_mode": {
                  "type": "string",
                  "description": "Payee\n`master` Master account holder pays\n`sub` Sub account holder pays",
                  "enum": [
                    "master",
                    "sub"
                  ],
                  "x-enum-descriptions": [
                    "Master account holder pays",
                    "Sub account holder pays"
                  ],
                  "default": "master"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Account options updated"
          },
          "404": {
            "description": "Account not found"
          }
        }
      }
    },
    "/accounts/{accountId}/settings": {
      "get": {
        "summary": "Retrieve a sub account's settings",
        "description": "Retrieve a sub account's settings under the master account",
        "tags": [
          "Accounts"
        ],
        "operationId": "accountSettings",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "description": "The account ID",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Account settings returned",
            "examples": {
              "application/json": {
                "schedule_meting": {
                  "host_video": "boolean",
                  "participant_video": "boolean",
                  "audio_type": "string",
                  "join_before_host": "boolean",
                  "enforce_login": "boolean",
                  "enforce_login_with_domains": "boolean",
                  "enforce_login_domains": "string",
                  "not_store_meeting_topic": "boolean",
                  "force_pmi_jbh_password": "boolean"
                },
                "in_meeting": {
                  "e2e_encryption": "boolean",
                  "chat": "boolean",
                  "private_chat": "boolean",
                  "auto_saving_chat": "boolean",
                  "file_transfer": "boolean",
                  "feedback": "boolean",
                  "post_meeting_feedback": "boolean",
                  "co_host": "boolean",
                  "polling": "boolean",
                  "attendee_on_hold": "boolean",
                  "show_meeting_control_toolbar": "boolean",
                  "allow_show_zoom_windows": "boolean",
                  "annotation": "boolean",
                  "whiteboard": "boolean",
                  "webinar_question_answer": "boolean",
                  "anonymous_question_answer": "boolean",
                  "breakout_room": "boolean",
                  "closed_caption": "boolean",
                  "far_end_camera_control": "boolean",
                  "group_hd": "boolean",
                  "virtual_background": "boolean",
                  "watermark": "boolean",
                  "alert_guest_join": "boolean",
                  "auto_answer": "boolean",
                  "p2p_connetion": "boolean",
                  "p2p_ports": "boolean",
                  "ports_range": "string",
                  "sending_default_email_invites": "boolean",
                  "use_html_format_email": "boolean",
                  "dscp_marking": "boolean",
                  "dscp_audio": "integer",
                  "dscp_video": "integer",
                  "stereo_audio": "boolean",
                  "original_audio": "boolean",
                  "screen_sharing": "boolean",
                  "remote_control": "boolean",
                  "attention_tracking": "boolean"
                },
                "email_notification": {
                  "cloud_recording_avaliable_reminder": "boolean",
                  "jbh_reminder": "boolean",
                  "cancel_meeting_reminder": "boolean",
                  "low_host_count_reminder": "boolean",
                  "alternative_host_reminder": "boolean"
                },
                "zoom_rooms": {
                  "upcoming_meeting_alert": "boolean",
                  "start_airplay_manually": "boolean",
                  "weekly_system_restart": "boolean",
                  "list_meetings_with_calendar": "boolean",
                  "zr_post_meeting_feedback": "boolean",
                  "ultrasonic": "boolean",
                  "force_private_meeting": "boolean",
                  "hide_host_information": "boolean",
                  "cmr_for_instant_meeting": "boolean",
                  "auto_start_stop_scheduled_meetings": "boolean"
                },
                "security": {
                  "admin_change_name_pic": "boolean",
                  "import_photos_from_devices": "boolean",
                  "hide_billing_info": "boolean"
                },
                "recording": {
                  "local_recording": "boolean",
                  "cloud_recording": "boolean",
                  "record_speaker_view": "boolean",
                  "record_gallery_view": "boolean",
                  "record_audio_file": "boolean",
                  "save_chat_text": "boolean",
                  "show_timestamp": "boolean",
                  "recording_audio_transcript": "boolean",
                  "auto_recording": "string",
                  "cloud_recording_download": "boolean",
                  "cloud_recording_download_host": "boolean",
                  "account_user_access_recording": "boolean",
                  "auto_delete_cmr": "boolean",
                  "auto_delete_cmr_days": "integer"
                },
                "telephony": {
                  "third_party_audio": "boolean",
                  "audio_conference_info": "string"
                },
                "integration": {
                  "google_calendar": "boolean",
                  "google_drive": "boolean",
                  "dropbox": "boolean",
                  "box": "boolean",
                  "microsoft_one_drive": "boolean",
                  "kubi": "boolean"
                },
                "feature": {
                  "meeting_capacity": "integer"
                }
              }
            }
          },
          "404": {
            "description": "Account not found"
          }
        }
      },
      "patch": {
        "summary": "Update a sub account's settings",
        "description": "Update a sub account's settings under the master account",
        "tags": [
          "Accounts"
        ],
        "operationId": "accountSettingsUpdate",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "description": "The account ID",
            "type": "string",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "title": "Account settings",
              "type": "object",
              "properties": {
                "schedule_meting": {
                  "type": "object",
                  "description": "Account Settings: Schedule Meeting",
                  "properties": {
                    "host_video": {
                      "type": "boolean",
                      "description": "Start meetings with host video on"
                    },
                    "participant_video": {
                      "type": "boolean",
                      "description": "Start meetings with participant video on. Participants can change this during the meeting."
                    },
                    "audio_type": {
                      "type": "string",
                      "description": "Determine how participants can join the audio portion of the meeting \n`both` Telephony and VoIP \n`telephony` Audio PSTN telephony only \n`voip` VoIP only \n`thirdParty` 3rd party audio conference",
                      "default": "both",
                      "enum": [
                        "both",
                        "telephony",
                        "voip",
                        "thirdParty"
                      ],
                      "x-enum-descriptions": [
                        "Telephony and VoIP",
                        "Audio PSTN telephony only",
                        "VoIP only",
                        "3rd party audio conference"
                      ]
                    },
                    "join_before_host": {
                      "type": "boolean",
                      "description": "Allow participants to join the meeting before the host arrives"
                    },
                    "enforce_login": {
                      "type": "boolean",
                      "description": "Only signed-in (Zoom users) users can join meetings"
                    },
                    "enforce_login_with_domains": {
                      "type": "boolean",
                      "description": "Only signed-in users with a specific domain can join meetings"
                    },
                    "enforce_login_domains": {
                      "type": "string",
                      "description": "Only signed-in users with a specified domains"
                    },
                    "not_store_meeting_topic": {
                      "type": "boolean",
                      "description": "Always display \"Zoom Meeting\" as the meeting topic"
                    },
                    "force_pmi_jbh_password": {
                      "type": "boolean",
                      "description": "Require a password for Personal Meetings if attendees can join before host"
                    }
                  }
                },
                "in_meeting": {
                  "type": "object",
                  "description": "Account Settings: In Meeting",
                  "properties": {
                    "e2e_encryption": {
                      "type": "boolean",
                      "description": "Require that all meetings are encrypted using AES"
                    },
                    "chat": {
                      "type": "boolean",
                      "description": "Allow meeting participants to send a message visible to all participants"
                    },
                    "private_chat": {
                      "type": "boolean",
                      "description": "Allow meeting participants to send a private 1:1 message to another participants"
                    },
                    "auto_saving_chat": {
                      "type": "boolean",
                      "description": "Automatically save all in-meeting chats so that hosts do not need to manually save the text of the chat after the meeting starts"
                    },
                    "file_transfer": {
                      "type": "boolean",
                      "description": "Hosts and participants can send files through the in-meeting chat"
                    },
                    "feedback": {
                      "type": "boolean",
                      "description": "Add a Feedback tab to the Windows Settings or Mac Preferences dialog, and also enable users to provide feedback to Zoom at the end of the meeting"
                    },
                    "post_meeting_feedback": {
                      "type": "boolean",
                      "description": "Display a thumbs up/down survey at the end of each meeting"
                    },
                    "co_host": {
                      "type": "boolean",
                      "description": "Allow the host to add co-hosts"
                    },
                    "polling": {
                      "type": "boolean",
                      "description": "Add 'Polls' to the meeting controls."
                    },
                    "attendee_on_hold": {
                      "type": "boolean",
                      "description": "Allow hosts to temporarily remove an attendee from the meeting"
                    },
                    "show_meeting_control_toolbar": {
                      "type": "boolean",
                      "description": "Always show meeting control toolbar"
                    },
                    "allow_show_zoom_windows": {
                      "type": "boolean",
                      "description": "Show Zoom Desktop application when sharing screen"
                    },
                    "annotation": {
                      "type": "boolean",
                      "description": "Allow participants to use annotation tools to add information to shared screens"
                    },
                    "whiteboard": {
                      "type": "boolean",
                      "description": "Allow participants to share a whiteboard that includes annotation tools"
                    },
                    "webinar_question_answer": {
                      "type": "boolean",
                      "description": "Q&A in webinar"
                    },
                    "anonymous_question_answer": {
                      "type": "boolean",
                      "description": "Allow Anonymous Q&A in Webinar"
                    },
                    "breakout_room": {
                      "type": "boolean",
                      "description": "Allow host to split meeting participants into separate, smaller rooms"
                    },
                    "closed_caption": {
                      "type": "boolean",
                      "description": "Allow host to type closed captions or assign a participant/third party device to add closed captions"
                    },
                    "far_end_camera_control": {
                      "type": "boolean",
                      "description": "Allow another user to take control of your camera during a meeting"
                    },
                    "group_hd": {
                      "type": "boolean",
                      "description": "Activate higher quality video for host and participants. (This will use more bandwidth.)"
                    },
                    "virtual_background": {
                      "type": "boolean",
                      "description": "Allow users to replace their background with any selected image. Choose or upload an image in the Zoom Desktop application settings."
                    },
                    "watermark": {
                      "type": "boolean",
                      "description": "Add watermark when viewing shared screen"
                    },
                    "alert_guest_join": {
                      "type": "boolean",
                      "description": "Identify guest participants in the meeting/webinar"
                    },
                    "auto_answer": {
                      "type": "boolean",
                      "description": "Enable users to see and add contacts to 'auto-answer group' in the contact list on chat. Any call from members of this group will be automatically answered."
                    },
                    "p2p_connetion": {
                      "type": "boolean",
                      "description": "Peer to Peer connection while only 2 people are in a meeting"
                    },
                    "p2p_ports": {
                      "type": "boolean",
                      "description": "P2P listening ports range"
                    },
                    "ports_range": {
                      "type": "string",
                      "description": "Listening ports range, separated by comma (ex 55,56). The ports range must be between 1 to 65535.",
                      "default": ""
                    },
                    "sending_default_email_invites": {
                      "type": "boolean",
                      "description": "Only show default email when sending email invites"
                    },
                    "use_html_format_email": {
                      "type": "boolean",
                      "description": "Use HTML format email for Outlook plugin"
                    },
                    "dscp_marking": {
                      "type": "boolean",
                      "description": "DSCP marking"
                    },
                    "dscp_audio": {
                      "type": "integer",
                      "description": "DSCP Audio",
                      "minimum": 1,
                      "maximum": 63
                    },
                    "dscp_video": {
                      "type": "integer",
                      "description": "DSCP Video",
                      "minimum": 1,
                      "maximum": 63
                    },
                    "stereo_audio": {
                      "type": "boolean",
                      "description": "Allow users to select stereo audio in their client settings"
                    },
                    "original_audio": {
                      "type": "boolean",
                      "description": "Allow users to select original sound in their client settings"
                    },
                    "screen_sharing": {
                      "type": "boolean",
                      "description": "Allow screen sharing"
                    },
                    "remote_control": {
                      "type": "boolean",
                      "description": "Allow users to request remote control"
                    },
                    "attention_tracking": {
                      "type": "boolean",
                      "description": "Lets the host see an indicator in the participant panel if a meeting/webinar attendee does not have Zoom in focus during screen sharing"
                    }
                  }
                },
                "email_notification": {
                  "type": "object",
                  "description": "Account Settings: Notification",
                  "properties": {
                    "cloud_recording_avaliable_reminder": {
                      "type": "boolean",
                      "description": "Notify host when cloud recording is available"
                    },
                    "jbh_reminder": {
                      "type": "boolean",
                      "description": "Notify host when participants join the meeting before them"
                    },
                    "cancel_meeting_reminder": {
                      "type": "boolean",
                      "description": "Notify host and participants when the meeting is cancelled"
                    },
                    "low_host_count_reminder": {
                      "type": "boolean",
                      "description": "Notify when host licenses are running low"
                    },
                    "alternative_host_reminder": {
                      "type": "boolean",
                      "description": "Notify when an alternative host is set or removed from a meeting"
                    }
                  }
                },
                "zoom_rooms": {
                  "type": "object",
                  "description": "Account Settings: Zoom Rooms",
                  "properties": {
                    "upcoming_meeting_alert": {
                      "type": "boolean",
                      "description": "Upcoming meeting alert"
                    },
                    "start_airplay_manually": {
                      "type": "boolean",
                      "description": "Start AirPlay service manually"
                    },
                    "weekly_system_restart": {
                      "type": "boolean",
                      "description": "Weekly system restart"
                    },
                    "list_meetings_with_calendar": {
                      "type": "boolean",
                      "description": "Display meeting list with calendar integration"
                    },
                    "zr_post_meeting_feedback": {
                      "type": "boolean",
                      "description": "Zoom Room post meeting feedback"
                    },
                    "ultrasonic": {
                      "type": "boolean",
                      "description": "Automatic direct sharing using ultrasonic proximity signal"
                    },
                    "force_private_meeting": {
                      "type": "boolean",
                      "description": "Transform all meetings to private"
                    },
                    "hide_host_information": {
                      "type": "boolean",
                      "description": "Hide host and meeting ID from private meetings"
                    },
                    "cmr_for_instant_meeting": {
                      "type": "boolean",
                      "description": "Cloud recording for instant meetings"
                    },
                    "auto_start_stop_scheduled_meetings": {
                      "type": "boolean",
                      "description": "Automatic start/stop for scheduled meetings"
                    }
                  }
                },
                "security": {
                  "type": "object",
                  "description": "Account Settings: Security",
                  "properties": {
                    "admin_change_name_pic": {
                      "type": "boolean",
                      "description": "Only account administrators can change user's username and picture"
                    },
                    "import_photos_from_devices": {
                      "type": "boolean",
                      "description": "Allow importing of photos from photo library on the user's device"
                    },
                    "hide_billing_info": {
                      "type": "boolean",
                      "description": "Hide billing information"
                    }
                  }
                },
                "recording": {
                  "type": "object",
                  "description": "Account Settings: Recording",
                  "properties": {
                    "local_recording": {
                      "type": "boolean",
                      "description": "Allow hosts and participants to record the meeting to a local file"
                    },
                    "cloud_recording": {
                      "type": "boolean",
                      "description": "Allow hosts to record and save the meeting in the cloud"
                    },
                    "record_speaker_view": {
                      "type": "boolean",
                      "description": "Record active speaker with shared screen"
                    },
                    "record_gallery_view": {
                      "type": "boolean",
                      "description": "Record gallery view with shared screen"
                    },
                    "record_audio_file": {
                      "type": "boolean",
                      "description": "Record an audio only file"
                    },
                    "save_chat_text": {
                      "type": "boolean",
                      "description": "Save chat text from the meeting"
                    },
                    "show_timestamp": {
                      "type": "boolean",
                      "description": "Add a timestamp to the recording"
                    },
                    "recording_audio_transcript": {
                      "type": "boolean",
                      "description": "Automatically transcribe the audio of the meeting or webinar to the cloud"
                    },
                    "auto_recording": {
                      "type": "string",
                      "description": "Record meetings automatically as they start \n`local` Record on local \n`cloud` Record on cloud \n`none` Disabled.",
                      "enum": [
                        "local",
                        "cloud",
                        "none"
                      ],
                      "x-enum-descriptions": [
                        "Record on local",
                        "Record on cloud",
                        "Disabled"
                      ]
                    },
                    "cloud_recording_download": {
                      "type": "boolean",
                      "description": "Cloud Recording Downloads"
                    },
                    "cloud_recording_download_host": {
                      "type": "boolean",
                      "description": "Only the host can download cloud recordings"
                    },
                    "account_user_access_recording": {
                      "type": "boolean",
                      "description": "Cloud recordings are only accessible to account members. People outside of your organization cannot open links that provide access to cloud recordings."
                    },
                    "auto_delete_cmr": {
                      "type": "boolean",
                      "description": "Allow Zoom to automatically delete recordings permanently after a specified number of days"
                    },
                    "auto_delete_cmr_days": {
                      "type": "integer",
                      "description": "When `auto_delete_cmr` is 'true' this value will set the number of days before auto deletion of cloud recordings"
                    }
                  }
                },
                "telephony": {
                  "type": "object",
                  "description": "Account Settings: Telephony",
                  "properties": {
                    "third_party_audio": {
                      "type": "boolean",
                      "description": "Users can join the meeting using the existing 3rd party audio configuration"
                    },
                    "audio_conference_info": {
                      "type": "string",
                      "description": "3rd party audio conference info"
                    }
                  }
                },
                "integration": {
                  "type": "object",
                  "description": "Account Settings: Integration",
                  "properties": {
                    "google_calendar": {
                      "type": "boolean",
                      "description": "Enables meetings to be scheduled using Google Calendars"
                    },
                    "google_drive": {
                      "type": "boolean",
                      "description": "Enables users who join a meeting from their mobile device to share content from their Google Drive"
                    },
                    "dropbox": {
                      "type": "boolean",
                      "description": "Enables users who join a meeting from their mobile device to share content from their Dropbox account"
                    },
                    "box": {
                      "type": "boolean",
                      "description": "Enables users who join a meeting from their mobile device to share content from their Box account"
                    },
                    "microsoft_one_drive": {
                      "type": "boolean",
                      "description": "Enables users who join a meeting from their mobile device to share content from their Microsoft OneDrive account"
                    },
                    "kubi": {
                      "type": "boolean",
                      "description": "Enables users to control a connected Kubi device from within a Zoom meeting"
                    }
                  }
                },
                "feature": {
                  "type": "object",
                  "description": "Account Settings: Feature",
                  "properties": {
                    "meeting_capacity": {
                      "type": "integer",
                      "description": "Set the maximum number of participants this user can have in a single meeting",
                      "default": 100
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Account settings updated"
          },
          "404": {
            "description": "Account not found"
          }
        }
      }
    },
    "/accounts/{accountId}/billing": {
      "get": {
        "summary": "Retrieve billing information for a sub account",
        "description": "Retrieve billing information for a sub account under the master account",
        "tags": [
          "Billing"
        ],
        "operationId": "accountBilling",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "description": "The account ID",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "first_name": "string",
                "last_name": "string",
                "email": "string",
                "phone_number": "string",
                "address": "string",
                "apt": "string",
                "city": "string",
                "state": "string",
                "zip": "string",
                "country": "string"
              }
            }
          },
          "404": {
            "description": "Account not found"
          }
        }
      },
      "patch": {
        "summary": "Update billing information for a sub account",
        "description": "Update billing information for a sub account under the master account <aside>Only for the sub account which is a paid account and paid by master account</aside>",
        "tags": [
          "Billing"
        ],
        "operationId": "accountBillingUpdate",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "description": "The account ID",
            "type": "string",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "Billing Contact object",
              "properties": {
                "first_name": {
                  "type": "string",
                  "description": "Billing Contact's first name"
                },
                "last_name": {
                  "type": "string",
                  "description": "Billing Contact's last name"
                },
                "email": {
                  "type": "string",
                  "description": "Billing Contact's email address"
                },
                "phone_number": {
                  "type": "string",
                  "description": "Billing Contact's phone number"
                },
                "address": {
                  "type": "string",
                  "description": "Billing Contact's address"
                },
                "apt": {
                  "type": "string",
                  "description": "Billing Contact's apartment/suite"
                },
                "city": {
                  "type": "string",
                  "description": "Billing Contact's city"
                },
                "state": {
                  "type": "string",
                  "description": "Billing Contact's state"
                },
                "zip": {
                  "type": "string",
                  "description": "Billing Contact's zip/postal code"
                },
                "country": {
                  "type": "string",
                  "description": "Billing Contact's country"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Account billing contact information updated"
          },
          "404": {
            "description": "Account not found"
          }
        }
      }
    },
    "/accounts/{accountId}/plans": {
      "get": {
        "summary": "Retrieve plan information for a sub account",
        "description": "Retrieve plan information for a sub account under the master account  <aside>Only for the sub account which is paid by master account</aside>",
        "tags": [
          "Billing"
        ],
        "operationId": "accountPlans",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "description": "The account ID",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "plan_base": {
                  "type": "string",
                  "hosts": "integer"
                },
                "plan_zoom_rooms": {
                  "type": "string",
                  "hosts": "integer"
                },
                "plan_room_connector": {
                  "type": "string",
                  "hosts": "integer"
                },
                "plan_large_meeting": [
                  {
                    "type": "string",
                    "hosts": "integer"
                  }
                ],
                "plan_webinar": [
                  {
                    "type": "string",
                    "hosts": "integer"
                  }
                ],
                "plan_recording": "string",
                "plan_audio": {
                  "type": "string",
                  "tollfree_countries": "string",
                  "premium_countries": "string",
                  "callout_countries": "string",
                  "ddi_numbers": "integer"
                }
              }
            }
          },
          "404": {
            "description": "Account not fond"
          }
        }
      },
      "post": {
        "summary": "Subscribe plans for a sub account",
        "description": "Subscribe plans for a sub account of the master account <aside>Can only subscribe plans for the sub account which is a free account and paid by master account</aside>",
        "tags": [
          "Billing"
        ],
        "operationId": "accountPlanCreate",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "description": "The account ID",
            "type": "string",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "contact": {
                  "type": "object",
                  "description": "Billing Contact object",
                  "required": [
                    "first_name",
                    "last_name",
                    "email",
                    "phone_number",
                    "address",
                    "city",
                    "state",
                    "zip",
                    "country"
                  ],
                  "properties": {
                    "first_name": {
                      "type": "string",
                      "description": "Billing Contact's first name"
                    },
                    "last_name": {
                      "type": "string",
                      "description": "Billing Contact's last name"
                    },
                    "email": {
                      "type": "string",
                      "description": "Billing Contact's email address"
                    },
                    "phone_number": {
                      "type": "string",
                      "description": "Billing Contact's phone number"
                    },
                    "address": {
                      "type": "string",
                      "description": "Billing Contact's address"
                    },
                    "apt": {
                      "type": "string",
                      "description": "Billing Contact's apartment/suite"
                    },
                    "city": {
                      "type": "string",
                      "description": "Billing Contact's city"
                    },
                    "state": {
                      "type": "string",
                      "description": "Billing Contact's state"
                    },
                    "zip": {
                      "type": "string",
                      "description": "Billing Contact's zip/postal code"
                    },
                    "country": {
                      "type": "string",
                      "description": "Billing Contact's country"
                    }
                  }
                },
                "plan_base": {
                  "type": "object",
                  "description": "Account base plan object",
                  "required": [
                    "type",
                    "hosts"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Account base <a href=\"#plans\">plan type</a>"
                    },
                    "hosts": {
                      "type": "integer",
                      "description": "Account base plan number of hosts. For a Pro Plan, please select a value between 1 and 9. For a Business Plan, please select a value between 10 and 49. For a Education Plan, please select a value between 20 and 149. For a Free Trial Plan, please select a value between 1 and 9999."
                    }
                  }
                },
                "plan_zoom_rooms": {
                  "type": "object",
                  "description": "Account plan object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Account <a href=\"#plans\">plan type</a>"
                    },
                    "hosts": {
                      "type": "integer",
                      "description": "Account plan number of hosts"
                    }
                  }
                },
                "plan_room_connector": {
                  "type": "object",
                  "description": "Account plan object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Account <a href=\"#plans\">plan type</a>"
                    },
                    "hosts": {
                      "type": "integer",
                      "description": "Account plan number of hosts"
                    }
                  }
                },
                "plan_large_meeting": {
                  "type": "array",
                  "description": "Additional Large Meeting Plans",
                  "items": {
                    "type": "object",
                    "description": "Account plan object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "Account <a href=\"#plans\">plan type</a>"
                      },
                      "hosts": {
                        "type": "integer",
                        "description": "Account plan number of hosts"
                      }
                    }
                  }
                },
                "plan_webinar": {
                  "type": "array",
                  "description": "Additional Webinar Plans",
                  "items": {
                    "type": "object",
                    "description": "Account plan object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "Account <a href=\"#plans\">plan type</a>"
                      },
                      "hosts": {
                        "type": "integer",
                        "description": "Account plan number of hosts"
                      }
                    }
                  }
                },
                "plan_recording": {
                  "type": "string",
                  "description": "Additional Cloud Recording Plan"
                },
                "plan_audio": {
                  "type": "object",
                  "description": "Additional Audio Conferencing <a href=\"#plans\">plan type</a>",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Additional Audio Conferencing <a href=\"#plans\">plan type</a>"
                    },
                    "tollfree_countries": {
                      "type": "string",
                      "description": "Toll-free countries, multiple value separated by comma"
                    },
                    "premium_countries": {
                      "type": "string",
                      "description": "Premium countries, multiple value separated by comma"
                    },
                    "callout_countries": {
                      "type": "string",
                      "description": "Call-out countries, multiple value separated by comma"
                    },
                    "ddi_numbers": {
                      "type": "integer",
                      "description": "Dedicated Dial-In Numbers"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Plan Subscribed",
            "examples": {
              "application/json": {
                "plan_base": {
                  "type": "string",
                  "hosts": "integer"
                },
                "plan_zoom_rooms": {
                  "type": "string",
                  "hosts": "integer"
                },
                "plan_room_connector": {
                  "type": "string",
                  "hosts": "integer"
                },
                "plan_large_meeting": [
                  {
                    "type": "string",
                    "hosts": "integer"
                  }
                ],
                "plan_webinar": [
                  {
                    "type": "string",
                    "hosts": "integer"
                  }
                ],
                "plan_recording": "string",
                "plan_audio": {
                  "type": "string",
                  "tollfree_countries": "string",
                  "premium_countries": "string",
                  "callout_countries": "string",
                  "ddi_numbers": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/plans/base": {
      "put": {
        "summary": "Update a base plan for a sub account",
        "description": "Update a base plan for a sub account <aside>Can only update a base plan for the sub account which is a paid account and paid by master account</aside>",
        "tags": [
          "Billing"
        ],
        "operationId": "accountPlanBaseUpdate",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "description": "The account ID",
            "type": "string",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "Account base plan object",
              "required": [
                "type",
                "hosts"
              ],
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Account base <a href=\"#plans\">plan type</a>"
                },
                "hosts": {
                  "type": "integer",
                  "description": "Account base plan number of hosts. For a Pro Plan, please select a value between 1 and 9. For a Business Plan, please select a value between 10 and 49. For a Education Plan, please select a value between 20 and 149. For a Free Trial Plan, please select a value between 1 and 9999."
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Account plans updated"
          }
        }
      }
    },
    "/accounts/{accountId}/plans/addons": {
      "post": {
        "summary": "Add an additional plan for sub account",
        "description": "Add an additional plan for sub account <aside>Can only add an Additional plan for the sub account which is a paid account and paid by master account</aside>",
        "tags": [
          "Billing"
        ],
        "operationId": "accountPlanAddonCreate",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "description": "The account ID",
            "type": "string",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "Account plan object",
              "required": [
                "type",
                "hosts"
              ],
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Account <a href=\"#plans\">plan type</a>"
                },
                "hosts": {
                  "type": "integer",
                  "description": "Account plan number of hosts"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Account plans updated"
          }
        }
      },
      "put": {
        "summary": "Update an additional plan for sub account",
        "description": "Update an additional plan for sub account<aside>Can only update an Additional plan for the sub account which is a paid account and paid by master account</aside>",
        "tags": [
          "Billing"
        ],
        "operationId": "accountPlanAddonUpdate",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "description": "The account ID",
            "type": "string",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "Account plan object",
              "required": [
                "type",
                "hosts"
              ],
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Account <a href=\"#plans\">plan type</a>"
                },
                "hosts": {
                  "type": "integer",
                  "description": "Account plan number of hosts"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Account plans updated"
          }
        }
      }
    },
    "/groups": {
      "get": {
        "summary": "List groups",
        "description": "List groups under your account",
        "tags": [
          "Groups"
        ],
        "parameters": [],
        "operationId": "groups",
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "total_records": "integer",
                "groups": [
                  {
                    "id": "string",
                    "name": "string",
                    "total_members": "integer"
                  }
                ]
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a group",
        "description": "Create a group under your account",
        "tags": [
          "Groups"
        ],
        "operationId": "groupCreate",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Group name"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "examples": {
              "application/json": {
                "id": "string",
                "name": "string",
                "total_members": "integer"
              }
            }
          }
        }
      }
    },
    "/groups/{groupId}": {
      "get": {
        "summary": "Retrieve a group",
        "description": "Retrieve a group under your account",
        "tags": [
          "Groups"
        ],
        "operationId": "group",
        "parameters": [
          {
            "in": "path",
            "name": "groupId",
            "description": "The group ID",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "id": "string",
                "name": "string",
                "total_members": "integer"
              }
            }
          },
          "404": {
            "description": "Group not found"
          }
        }
      },
      "patch": {
        "summary": "Update a group",
        "description": "Update a group under your account",
        "tags": [
          "Groups"
        ],
        "operationId": "groupUpdate",
        "parameters": [
          {
            "in": "path",
            "name": "groupId",
            "description": "The group ID",
            "type": "string",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Group name. Must be unique in one account. Character length is less than 128."
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Group updated"
          },
          "404": {
            "description": "Group not found"
          }
        }
      },
      "delete": {
        "summary": "Delete a group",
        "description": "Delete a group under your account",
        "tags": [
          "Groups"
        ],
        "operationId": "groupDelete",
        "parameters": [
          {
            "in": "path",
            "name": "groupId",
            "description": "The group ID",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Group deleted"
          },
          "404": {
            "description": "Group not found"
          }
        }
      }
    },
    "/groups/{groupId}/members": {
      "get": {
        "summary": "List a group's members",
        "description": "List a group's members under your account",
        "tags": [
          "Groups"
        ],
        "operationId": "groupMembers",
        "parameters": [
          {
            "in": "path",
            "name": "groupId",
            "description": "The group ID",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "page_size",
            "description": "The number of records returned within a single API call",
            "type": "integer",
            "default": 30,
            "maximum": 300
          },
          {
            "in": "query",
            "name": "page_number",
            "description": "Current page number of returned records",
            "type": "integer",
            "default": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "page_count": "integer",
                "page_number": "integer",
                "page_size": "integer",
                "total_records": "integer",
                "members": [
                  {
                    "id": "string",
                    "email": "string",
                    "first_name": "string",
                    "last_name": "string",
                    "type": "integer"
                  }
                ]
              }
            }
          },
          "404": {
            "description": "Group not found"
          }
        }
      },
      "post": {
        "summary": "Add group members",
        "description": "Add members to a group under your account",
        "tags": [
          "Groups"
        ],
        "operationId": "groupMembersCreate",
        "parameters": [
          {
            "in": "path",
            "name": "groupId",
            "description": "The group ID",
            "type": "string",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "members": {
                  "type": "array",
                  "description": "List of Group members",
                  "maximum": 30,
                  "items": {
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "User ID"
                      },
                      "email": {
                        "type": "string",
                        "description": "User email. If ID given, email is ignored."
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "examples": {
              "application/json": {
                "ids": "string",
                "added_at": "string [date-time]"
              }
            }
          },
          "404": {
            "description": "Group not found"
          }
        }
      }
    },
    "/groups/{groupId}/members/{memberId}": {
      "delete": {
        "summary": "Delete a group member",
        "description": "Delete a member from a group under your account",
        "tags": [
          "Groups"
        ],
        "operationId": "groupMembersDelete",
        "parameters": [
          {
            "in": "path",
            "name": "groupId",
            "description": "The group ID",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "memberId",
            "description": "The member ID",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Group member deleted"
          },
          "404": {
            "description": "Group or Group member not found"
          }
        }
      }
    },
    "/h323/devices": {
      "get": {
        "summary": "List H.323/SIP Devices.",
        "description": "List H.323/SIP Devices on your Zoom account.",
        "tags": [
          "Devices"
        ],
        "parameters": [],
        "operationId": "deviceList",
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "page_count": "integer",
                "page_number": "integer",
                "page_size": "integer",
                "total_records": "integer",
                "devices": [
                  {
                    "id": "string",
                    "name": "string",
                    "protocol": "string",
                    "ip": "string",
                    "encryption": "string"
                  }
                ]
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a H.323/SIP Device",
        "description": "Create a H.323/SIP Device on your Zoom account",
        "tags": [
          "Devices"
        ],
        "operationId": "deviceCreate",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "H.323/SIP Device",
            "schema": {
              "type": "object",
              "title": "The H.323/SIP device object.",
              "description": "The H.323/SIP device object.",
              "required": [
                "name",
                "protocol",
                "ip",
                "encryption"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Device name",
                  "maxLength": 64
                },
                "protocol": {
                  "type": "string",
                  "enum": [
                    "H.323",
                    "SIP"
                  ],
                  "x-enum-descriptions": [
                    "H.323",
                    "SIP"
                  ],
                  "description": "Device protocol"
                },
                "ip": {
                  "type": "string",
                  "description": "Device Ip"
                },
                "encryption": {
                  "type": "string",
                  "enum": [
                    "auto",
                    "yes",
                    "no"
                  ],
                  "x-enum-descriptions": [
                    "auto",
                    "yes",
                    "no"
                  ],
                  "description": "Device encryption"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "examples": {
              "application/json": {
                "id": "string",
                "name": "string",
                "protocol": "string",
                "ip": "string",
                "encryption": "string"
              }
            }
          }
        }
      }
    },
    "/h323/devices/{deviceId}": {
      "patch": {
        "summary": "Update a H.323/SIP Device",
        "description": "Update a H.323/SIP Device on your Zoom account",
        "tags": [
          "Devices"
        ],
        "operationId": "deviceUpdate",
        "parameters": [
          {
            "in": "path",
            "name": "deviceId",
            "description": "The device ID",
            "type": "string",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "title": "The H.323/SIP device object.",
              "description": "The H.323/SIP device object.",
              "required": [
                "name",
                "protocol",
                "ip",
                "encryption"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Device name",
                  "maxLength": 64
                },
                "protocol": {
                  "type": "string",
                  "enum": [
                    "H.323",
                    "SIP"
                  ],
                  "x-enum-descriptions": [
                    "H.323",
                    "SIP"
                  ],
                  "description": "Device protocol"
                },
                "ip": {
                  "type": "string",
                  "description": "Device Ip"
                },
                "encryption": {
                  "type": "string",
                  "enum": [
                    "auto",
                    "yes",
                    "no"
                  ],
                  "x-enum-descriptions": [
                    "auto",
                    "yes",
                    "no"
                  ],
                  "description": "Device encryption"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "H.323/SIP Device updated"
          },
          "404": {
            "description": "H.323/SIP Device not found"
          }
        }
      },
      "delete": {
        "summary": "Delete a H.323/SIP Device",
        "description": "Delete a H.323/SIP Device on your Zoom account",
        "tags": [
          "Devices"
        ],
        "operationId": "deviceDelete",
        "parameters": [
          {
            "in": "path",
            "name": "deviceId",
            "description": "The device ID",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "H.323/SIP Device deleted"
          },
          "404": {
            "description": "H.323/SIP Device not found"
          }
        }
      }
    },
    "/im/groups": {
      "get": {
        "summary": "List IM Groups",
        "description": "List IM groups under your account",
        "tags": [
          "IM Groups"
        ],
        "operationId": "imGroups",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "page_count": "integer",
                "page_number": "integer",
                "page_size": "integer",
                "total_records": "integer",
                "groups": [
                  {
                    "id": "string",
                    "name": "string",
                    "total_members": "integer",
                    "type": "string",
                    "search_by_domain": "boolean",
                    "search_by_account": "boolean",
                    "search_by_ma_account": "boolean"
                  }
                ]
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create an IM Group",
        "description": "Create a IM Group under your account",
        "tags": [
          "IM Groups"
        ],
        "operationId": "imGroupCreate",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Group name, must be unique in one account",
                  "maxLength": 128
                },
                "type": {
                  "type": "string",
                  "description": "IM Group type",
                  "default": "normal",
                  "enum": [
                    "normal",
                    "shared",
                    "restricted"
                  ],
                  "x-enum-descriptions": [
                    "Only members can see the group automatically. Other people can search members in the group.",
                    "All people in the account can see the group and members automatically",
                    "Nobody can see the group or search members except the members in the group"
                  ]
                },
                "search_by_domain": {
                  "type": "boolean",
                  "description": "Members can search others in the same email domain"
                },
                "search_by_account": {
                  "type": "boolean",
                  "description": "Members can search others under same account"
                },
                "search_by_ma_account": {
                  "type": "boolean",
                  "description": "Members can search others under same master account, including all sub accounts"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "examples": {
              "application/json": {
                "id": "string",
                "name": "string",
                "total_members": "integer",
                "search_by_domain": "boolean",
                "search_by_account": "boolean",
                "search_by_ma_account": "boolean"
              }
            }
          }
        }
      }
    },
    "/im/groups/{groupId}": {
      "get": {
        "summary": "Retrieve an IM Group",
        "description": "Retrieve an IM Group under your account",
        "tags": [
          "IM Groups"
        ],
        "operationId": "imGroup",
        "parameters": [
          {
            "in": "path",
            "name": "groupId",
            "description": "The group ID",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "id": "string",
                "name": "string",
                "total_members": "integer",
                "type": "string",
                "search_by_domain": "boolean",
                "search_by_account": "boolean",
                "search_by_ma_account": "boolean"
              }
            }
          },
          "404": {
            "description": "IM Group not found"
          }
        }
      },
      "patch": {
        "summary": "Update an IM Group",
        "description": "Update an IM Group under your account",
        "tags": [
          "IM Groups"
        ],
        "operationId": "imGroupUpdate",
        "parameters": [
          {
            "in": "path",
            "name": "groupId",
            "description": "The group ID",
            "type": "string",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Group name, must be unique in one account",
                  "maxLength": 128
                },
                "type": {
                  "type": "string",
                  "description": "IM Group type",
                  "enum": [
                    "normal",
                    "shared",
                    "restricted"
                  ],
                  "x-enum-descriptions": [
                    "Only members can see the group automatically. Other people can search members in the group.",
                    "All people in the account can see the group and members automatically",
                    "Nobody can see the group or search members except the members in the group"
                  ]
                },
                "search_by_domain": {
                  "type": "boolean",
                  "description": "Members can search others in the same email domain"
                },
                "search_by_account": {
                  "type": "boolean",
                  "description": "Members can search others under same account"
                },
                "search_by_ma_account": {
                  "type": "boolean",
                  "description": "Members can search others under same master account, including all sub accounts"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "IM Group updated"
          },
          "404": {
            "description": "IM Group not found"
          }
        }
      },
      "delete": {
        "summary": "Delete an IM Group",
        "description": "Delete an IM Group under your account",
        "tags": [
          "IM Groups"
        ],
        "operationId": "imGroupDelete",
        "parameters": [
          {
            "in": "path",
            "name": "groupId",
            "description": "The group ID",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "IM Group deleted"
          },
          "404": {
            "description": "IM Group not found"
          }
        }
      }
    },
    "/im/groups/{groupId}/members": {
      "get": {
        "summary": "List an IM Group's members",
        "description": "List an IM Group's members under your account",
        "tags": [
          "IM Groups"
        ],
        "operationId": "imGroupMembers",
        "parameters": [
          {
            "in": "path",
            "name": "groupId",
            "description": "The group ID",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "page_size",
            "description": "The number of records returned within a single API call",
            "type": "integer",
            "default": 30,
            "maximum": 300
          },
          {
            "in": "query",
            "name": "page_number",
            "description": "Current page number of returned records",
            "type": "integer",
            "default": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "page_count": "integer",
                "page_number": "integer",
                "page_size": "integer",
                "total_records": "integer",
                "members": [
                  {
                    "id": "string",
                    "email": "string",
                    "first_name": "string",
                    "last_name": "string",
                    "type": "integer"
                  }
                ]
              }
            }
          },
          "404": {
            "description": "IM Group not found"
          }
        }
      },
      "post": {
        "summary": "Add IM Group members",
        "description": "Add members to an IM Group under your account",
        "tags": [
          "IM Groups"
        ],
        "operationId": "imGroupMembersCreate",
        "parameters": [
          {
            "in": "path",
            "name": "groupId",
            "description": "The group ID",
            "type": "string",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "members": {
                  "type": "array",
                  "description": "List of IM Group members",
                  "maximum": 10,
                  "items": {
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "User ID"
                      },
                      "email": {
                        "type": "string",
                        "description": "User email. If ID given, email is ignored."
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Member added",
            "examples": {
              "application/json": {
                "ids": "string",
                "added_at": "string [date-time]"
              }
            }
          },
          "404": {
            "description": "IM Group not found"
          }
        }
      }
    },
    "/im/groups/{groupId}/members/{memberId}": {
      "delete": {
        "summary": "Delete an IM Group member",
        "description": "Delete a member from an IM Group under your account",
        "tags": [
          "IM Groups"
        ],
        "operationId": "imGroupMembersDelete",
        "parameters": [
          {
            "in": "path",
            "name": "groupId",
            "description": "The group ID",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "memberId",
            "description": "The member ID",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "IM Group member deleted"
          },
          "404": {
            "description": "IM Group or IM Group member not found"
          }
        }
      }
    },
    "/im/chat/sessions": {
      "get": {
        "summary": "Retrieve IM Chat sessions",
        "description": "Retrieve IM Chat sessions for a specified period <aside>This API only supports oauth2.</aside>",
        "tags": [
          "IM Chat"
        ],
        "operationId": "imChatSessions",
        "parameters": [
          {
            "in": "query",
            "name": "from",
            "description": "Start Date",
            "type": "string",
            "format": "date",
            "required": true
          },
          {
            "in": "query",
            "name": "to",
            "description": "End Date",
            "type": "string",
            "format": "date",
            "required": true
          },
          {
            "in": "query",
            "name": "page_size",
            "description": "The number of records returned within a single API call",
            "type": "integer",
            "default": 30,
            "maximum": 300
          },
          {
            "in": "query",
            "name": "next_page_token",
            "description": "Next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceed the current page size. The expiration period for this token is 15 minutes.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Archived IM Chat sessions Returned",
            "examples": {
              "application/json": {
                "from": "string [date]",
                "to": "string [date]",
                "page_size": "integer",
                "next_page_token": "string",
                "sessions": [
                  {
                    "session_id": "string",
                    "type": "string",
                    "name": "string",
                    "last_message_sent_time": "string [date-time]"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/im/chat/sessions/{sessionId}": {
      "get": {
        "summary": "Retrieve IM Chat messages",
        "description": "Retrieve IM Chat messages for a specified period <aside>This API only supports oauth2.</aside>",
        "tags": [
          "IM Chat"
        ],
        "operationId": "imChatMessages",
        "parameters": [
          {
            "in": "path",
            "name": "sessionId",
            "description": "IM Chat Session ID",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "from",
            "description": "Start Date",
            "type": "string",
            "format": "date",
            "required": true
          },
          {
            "in": "query",
            "name": "to",
            "description": "End Date",
            "type": "string",
            "format": "date",
            "required": true
          },
          {
            "in": "query",
            "name": "page_size",
            "description": "The number of records returned within a single API call",
            "type": "integer",
            "default": 30,
            "maximum": 300
          },
          {
            "in": "query",
            "name": "next_page_token",
            "description": "Next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceed the current page size. The expiration period for this token is 15 minutes.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Archived IM Chat messages Returned",
            "examples": {
              "application/json": {
                "session_id": "string",
                "from": "string [date]",
                "to": "string [date]",
                "page_size": "integer",
                "next_page_token": "string",
                "messages": [
                  {
                    "message": "string",
                    "sender": "string",
                    "date_time": "string [date-time]",
                    "action": "string",
                    "action_time": "string [date-time]"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/users/{userId}/meetings": {
      "get": {
        "summary": "List meetings",
        "description": "List meetings for a user",
        "tags": [
          "Meetings"
        ],
        "operationId": "meetings",
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "description": "The user ID or email address",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "type",
            "description": "The meeting type",
            "type": "string",
            "default": "live",
            "enum": [
              "scheduled",
              "live",
              "upcoming"
            ],
            "x-enum-descriptions": [
              "all the scheduled meetings",
              "all the live meetings",
              "all the upcoming meetings"
            ]
          },
          {
            "in": "query",
            "name": "page_size",
            "description": "The number of records returned within a single API call",
            "type": "integer",
            "default": 30,
            "maximum": 300
          },
          {
            "in": "query",
            "name": "page_number",
            "description": "Current page number of returned records",
            "type": "integer",
            "default": 1
          }
        ],
        "responses": {
          "200": {
            "description": "List of Meeting objects returned",
            "examples": {
              "application/json": {
                "page_count": "integer",
                "page_number": "integer",
                "page_size": "integer",
                "total_records": "integer",
                "meetings": [
                  {
                    "uuid": "string",
                    "id": "string",
                    "host_id": "string",
                    "topic": "string",
                    "type": "integer",
                    "start_time": "string [date-time]",
                    "duration": "integer",
                    "timezone": "string",
                    "created_at": "string [date-time]",
                    "join_url": "string"
                  }
                ]
              }
            }
          },
          "404": {
            "description": "User not found"
          }
        }
      },
      "post": {
        "summary": "Create a meeting",
        "description": "Create a meeting for a user <aside>The expiration time of start_url is two hours. But for API users, the expiration time is 90 days.</aside>",
        "tags": [
          "Meetings"
        ],
        "operationId": "meetingCreate",
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "description": "The user ID or email address",
            "type": "string",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Meeting object",
            "schema": {
              "type": "object",
              "description": "Meeting object",
              "properties": {
                "topic": {
                  "type": "string",
                  "description": "Meeting topic"
                },
                "type": {
                  "type": "integer",
                  "description": "Meeting Type",
                  "default": 2,
                  "enum": [
                    1,
                    2,
                    3,
                    8
                  ],
                  "x-enum-descriptions": [
                    "Instant Meeting",
                    "Scheduled Meeting",
                    "Recurring Meeting with no fixed time",
                    "Recurring Meeting with fixed time"
                  ]
                },
                "start_time": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Meeting start time. When using a format like \"yyyy-MM-dd'T'HH:mm:ss'Z'\", always use GMT time. When using a format like \"yyyy-MM-dd'T'HH:mm:ss\", you should use local time and you will need to specify the time zone. Only used for scheduled meetings and recurring meetings with fixed time."
                },
                "duration": {
                  "type": "integer",
                  "description": "Meeting duration (minutes). Used for scheduled meetings only"
                },
                "timezone": {
                  "type": "string",
                  "description": "Timezone to format start_time. For example, \"America/Los_Angeles\". For scheduled meetings only. Please reference our [timezone](#timezones) list for supported timezones and their formats."
                },
                "password": {
                  "type": "string",
                  "description": "Password to join the meeting. Password may only contain the following characters: [a-z A-Z 0-9 @ - _ *]. Max of 10 characters."
                },
                "agenda": {
                  "type": "string",
                  "description": "Meeting description"
                },
                "recurrence": {
                  "type": "object",
                  "description": "Recurrence object",
                  "properties": {
                    "type": {
                      "type": "integer",
                      "description": "Recurrence meeting type",
                      "enum": [
                        1,
                        2,
                        3
                      ],
                      "x-enum-descriptions": [
                        "Daily",
                        "Weekly",
                        "Monthly"
                      ]
                    },
                    "repeat_interval": {
                      "type": "integer",
                      "description": "At which interval should the meeting repeat? For a daily meeting, max of 90 days. For a weekly meeting, max of 12 weeks. For a monthly meeting, max of 3 months."
                    },
                    "weekly_days": {
                      "type": "integer",
                      "description": "Days of the week the meeting should repeat, multiple values separated by comma \n`1` Sunday \n`2` Monday \n`3` Tuesday \n`4` Wednesday \n`5` Thursday \n`6` Friday \n`7` Saturday",
                      "enum": [
                        1,
                        2,
                        3,
                        4,
                        5,
                        6,
                        7
                      ],
                      "x-enum-descriptions": [
                        "Sunday",
                        "Monday",
                        "Tuesday",
                        "Wednesday",
                        "Thursday",
                        "Friday",
                        "Saturday"
                      ]
                    },
                    "monthly_day": {
                      "type": "integer",
                      "description": "Day of the month for the meeting to be scheduled. The value range is from 1 to 31."
                    },
                    "monthly_week": {
                      "type": "integer",
                      "description": "Week for which the meeting should recur each month, \n`-1` Last week \n`1` First week \n`2` Second week \n`3` Third week \n`4` Fourth week.",
                      "enum": [
                        -1,
                        1,
                        2,
                        3,
                        4
                      ],
                      "x-enum-descriptions": [
                        "Last week",
                        "First week",
                        "Second week",
                        "Third week",
                        "Fourth week"
                      ]
                    },
                    "monthly_week_day": {
                      "type": "integer",
                      "description": "Day for which the meeting should recur each month \n`1` Sunday \n`2` Monday \n`3` Tuesday \n`4` Wednesday \n`5` Thursday \n`6` Friday \n`7` Saturday.",
                      "enum": [
                        1,
                        2,
                        3,
                        4,
                        5,
                        6,
                        7
                      ],
                      "x-enum-descriptions": [
                        "Sunday",
                        "Monday",
                        "Tuesday",
                        "Wednesday",
                        "Thursday",
                        "Friday",
                        "Saturday"
                      ]
                    },
                    "end_times": {
                      "type": "integer",
                      "description": "Select how many times the meeting will occur before it is canceled. (Cannot be used with \"end_date_time\".)",
                      "default": 1,
                      "maximum": 50
                    },
                    "end_date_time": {
                      "type": "string",
                      "description": "Select a date the meeting will occur before it is canceled.. Should be UTC time, such as 2017-11-25T12:00:00Z. (Cannot be used with \"end_times\".)",
                      "format": "date-time"
                    }
                  }
                },
                "settings": {
                  "type": "object",
                  "description": "Meeting Settings",
                  "properties": {
                    "host_video": {
                      "type": "boolean",
                      "description": "Start video when host joins meeting"
                    },
                    "participant_video": {
                      "type": "boolean",
                      "description": "Start video when participants join meeting"
                    },
                    "cn_meeting": {
                      "type": "boolean",
                      "description": "Host meeting in China",
                      "default": false
                    },
                    "in_meeting": {
                      "type": "boolean",
                      "description": "Host meeting in India",
                      "default": false
                    },
                    "join_before_host": {
                      "type": "boolean",
                      "description": "Allow participants to join the meeting before the host starts the meeting. Only used for scheduled or recurring meetings.",
                      "default": false
                    },
                    "mute_upon_entry": {
                      "type": "boolean",
                      "description": "Mute participants upon entry",
                      "default": false
                    },
                    "watermark": {
                      "type": "boolean",
                      "description": "Add watermark when viewing shared screen",
                      "default": false
                    },
                    "use_pmi": {
                      "type": "boolean",
                      "description": "Use Personal Meeting ID. Only used for scheduled meetings and recurring meetings with no fixed time.",
                      "default": false
                    },
                    "approval_type": {
                      "type": "integer",
                      "description": "\n`0` Automatically Approve \n`1` Manually Approve \n`2` No Registration Required",
                      "default": 2,
                      "enum": [
                        0,
                        1,
                        2
                      ],
                      "x-enum-descriptions": [
                        "Automatically Approve",
                        "Manually Approve",
                        "No Registration Required"
                      ]
                    },
                    "registration_type": {
                      "type": "integer",
                      "description": "Registration type. Used for recurring meeting with fixed time only. \n`1` Attendees register once and can attend any of the occurrences \n`2` Attendees need to register for each occurrence to attend\n `3` Attendees register once and can choose one or more occurrences to attend",
                      "default": 1,
[...]
