{
  "swagger": "2.0",
  "x-explorer-enabled": false,
  "info": {
    "title": "Zoom API",
    "description": "API Description",
    "contact": {
      "name": "Zoom Developers",
      "url": "https://developer.zoom.us/",
      "email": "developer@zoom.us"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "2.0.0"
  },
  "host": "api.zoom.us",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "multipart/form-data"
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "paths": {
    "/accounts": {
      "get": {
        "summary": "List sub accounts",
        "description": "List all the sub accounts under the master account",
        "tags": [
          "Accounts"
        ],
        "operationId": "accounts",
        "parameters": [
          {
            "$ref": "#/parameters/PageSize"
          },
          {
            "$ref": "#/parameters/PageNumber"
          }
        ],
        "responses": {
          "200": {
            "description": "Account list returned",
            "schema": {
              "$ref": "#/definitions/AccountList"
            },
            "examples": {
              "application/json": {
                "page_count": -93046708,
                "page_number": 94460466,
                "page_size": -2501617,
                "total_records": -16713896,
                "accounts": [
                  {
                    "id": "elit anim ad incididunt",
                    "account_name": "dolore proident commodo",
                    "owner_email": "culpa",
                    "account_type": "enim aliquip in culpa ut",
                    "seats": -97639348,
                    "subscription_start_time": "1955-10-06T14:08:41.687Z",
                    "subscription_end_time": "1982-10-24T20:18:10.716Z",
                    "created_at": "1989-11-14T16:25:36.877Z"
                  },
                  {
                    "id": "proident eiusmod",
                    "account_name": "Excepteur voluptate id do",
                    "owner_email": "sint deserunt",
                    "account_type": "aute mollit",
                    "seats": -30524846,
                    "subscription_start_time": "2002-05-10T21:20:34.856Z",
                    "subscription_end_time": "1983-05-09T16:57:26.935Z",
                    "created_at": "1993-02-24T00:47:47.164Z"
                  },
                  {
                    "id": "et nostrud Excepteur adipisicing occaecat",
                    "account_name": "cupidatat consectetur",
                    "owner_email": "ipsum in dolor consectetur consequat",
                    "account_type": "do aute",
                    "seats": -95724256,
                    "subscription_start_time": "1988-07-10T02:27:17.277Z",
                    "subscription_end_time": "1994-08-24T22:40:31.279Z",
                    "created_at": "1945-08-08T22:14:19.667Z"
                  }
                ]
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a sub account",
        "description": "Create a sub account under the master account. <aside>Your account must be a master account and have this privilege to create sub account. Zoom only assigns this privilege to trusted partners. The created user will not receive a confirmation email.</aside>.",
        "tags": [
          "Accounts"
        ],
        "operationId": "accountCreate",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Account",
            "schema": {
              "$ref": "#/definitions/Account"
            },
            "x-examples": {
              "application/json": {
                "email": "elit in pariatur culpa ea",
                "first_name": "sint et d",
                "last_name": "ex dolore deserunt nulla",
                "password": "qui Lorem in est",
                "options": {
                  "share_rc": true,
                  "room_connectors": "Duis ex l",
                  "share_mc": true,
                  "meeting_connectors": "aliqua amet in mollit",
                  "pay_mode": "sub"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Account Created",
            "headers": {
              "Content-Location": {
                "description": "Location of created Account",
                "type": "string"
              }
            },
            "schema": {
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Account ID"
                },
                "owner_id": {
                  "type": "string",
                  "description": "Account Owner ID"
                },
                "owner_email": {
                  "type": "string",
                  "description": "Account owner email"
                },
                "created_at": {
                  "type": "string",
                  "description": "Account created date time"
                }
              }
            },
            "examples": {
              "application/json": {
                "id": "Duis",
                "owner_id": "culpa cillum dolore",
                "owner_email": "fugiat dolor elit dolore",
                "created_at": "fugiat commodo incididunt irure ipsum"
              }
            }
          },
          "409": {
            "description": "Account with that email already exists"
          }
        }
      }
    },
    "/accounts/{accountId}": {
      "get": {
        "summary": "Retrieve a sub account",
        "description": "Retrieve a sub account under the master account. <aside>Your account must be a master account and have this privilege to read sub accounts. Zoom only assigns this privilege to trusted partners</aside>.",
        "tags": [
          "Accounts"
        ],
        "operationId": "account",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          }
        ],
        "responses": {
          "200": {
            "description": "Account object returned",
            "schema": {
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Account ID"
                },
                "owner_id": {
                  "type": "string",
                  "description": "Account Owner ID"
                },
                "owner_email": {
                  "type": "string",
                  "description": "Account Owner email"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Account creation date/time"
                },
                "options": {
                  "$ref": "#/definitions/AccountOptions"
                }
              }
            },
            "examples": {
              "application/json": {
                "id": "exercitation",
                "owner_id": "dolor volupt",
                "owner_email": "veniam",
                "created_at": "2008-03-25T16:24:02.297Z",
                "options": {
                  "share_rc": true,
                  "room_connectors": "incididunt adipisicing",
                  "share_mc": false,
                  "meeting_connectors": "exercitation Lorem sed cupidatat",
                  "pay_mode": "sub"
                }
              }
            }
          },
          "404": {
            "description": "User not found"
          }
        }
      },
      "delete": {
        "summary": "Disassociate an account",
        "description": "Disassociate a sub account from the master account. This will leave the account intact but the sub account will not longer be associated with the master account.",
        "tags": [
          "Accounts"
        ],
        "operationId": "accountDisassociate",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          }
        ],
        "responses": {
          "204": {
            "description": "Account deleted",
            "examples": {}
          },
          "404": {
            "description": "Account not found"
          }
        }
      }
    },
    "/accounts/{accountId}/options": {
      "patch": {
        "summary": "Update a sub account's options",
        "description": "Update a sub account's options under the master account",
        "tags": [
          "Accounts"
        ],
        "operationId": "accountOptionsUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountOptions"
            },
            "x-examples": {
              "application/json": {
                "share_rc": false,
                "room_connectors": "proident consequat",
                "share_mc": false,
                "meeting_connectors": "sunt qui officia aliquip",
                "pay_mode": "master"
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Account options updated"
          },
          "404": {
            "description": "Account not found"
          }
        }
      }
    },
    "/accounts/{accountId}/settings": {
      "get": {
        "summary": "Retrieve a sub account's settings",
        "description": "Retrieve a sub account's settings under the master account",
        "tags": [
          "Accounts"
        ],
        "operationId": "accountSettings",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          }
        ],
        "responses": {
          "200": {
            "description": "Account settings returned",
            "schema": {
              "$ref": "#/definitions/AccountSettings"
            },
            "examples": {
              "application/json": {
                "schedule_meting": {
                  "host_video": false,
                  "participant_video": true,
                  "audio_type": "both",
                  "join_before_host": false,
                  "enforce_login": false,
                  "enforce_login_with_domains": false,
                  "enforce_login_domains": "consectetur sed",
                  "not_store_meeting_topic": true,
                  "force_pmi_jbh_password": false
                },
                "in_meeting": {
                  "e2e_encryption": true,
                  "chat": false,
                  "private_chat": false,
                  "auto_saving_chat": true,
                  "file_transfer": true,
                  "feedback": false,
                  "post_meeting_feedback": false,
                  "co_host": true,
                  "polling": false,
                  "attendee_on_hold": false,
                  "show_meeting_control_toolbar": true,
                  "allow_show_zoom_windows": true,
                  "annotation": false,
                  "whiteboard": true,
                  "webinar_question_answer": false,
                  "anonymous_question_answer": false,
                  "breakout_room": true,
                  "closed_caption": false,
                  "far_end_camera_control": true,
                  "group_hd": false,
                  "virtual_background": false,
                  "watermark": false,
                  "alert_guest_join": false,
                  "auto_answer": true,
                  "p2p_connetion": true,
                  "p2p_ports": true,
                  "ports_range": "ad",
                  "sending_default_email_invites": true,
                  "use_html_format_email": false,
                  "dscp_marking": false,
                  "dscp_audio": 37,
                  "dscp_video": 55,
                  "stereo_audio": false,
                  "original_audio": true,
                  "screen_sharing": true,
                  "remote_control": true,
                  "attention_tracking": true
                },
                "email_notification": {
                  "cloud_recording_avaliable_reminder": false,
                  "jbh_reminder": false,
                  "cancel_meeting_reminder": true,
                  "low_host_count_reminder": false,
                  "alternative_host_reminder": true
                },
                "zoom_rooms": {
                  "upcoming_meeting_alert": true,
                  "start_airplay_manually": false,
                  "weekly_system_restart": false,
                  "list_meetings_with_calendar": true,
                  "zr_post_meeting_feedback": true,
                  "ultrasonic": true,
                  "force_private_meeting": true,
                  "hide_host_information": true,
                  "cmr_for_instant_meeting": true,
                  "auto_start_stop_scheduled_meetings": false
                },
                "security": {
                  "admin_change_name_pic": true,
                  "import_photos_from_devices": false,
                  "hide_billing_info": true
                },
                "recording": {
                  "local_recording": false,
                  "cloud_recording": true,
                  "record_speaker_view": false,
                  "record_gallery_view": false,
                  "record_audio_file": true,
                  "save_chat_text": false,
                  "show_timestamp": false,
                  "recording_audio_transcript": true,
                  "auto_recording": "cloud",
                  "cloud_recording_download": false,
                  "cloud_recording_download_host": false,
                  "account_user_access_recording": true,
                  "auto_delete_cmr": true,
                  "auto_delete_cmr_days": -54702733
                },
                "telephony": {
                  "third_party_audio": false,
                  "audio_conference_info": "ame"
                },
                "integration": {
                  "google_calendar": true,
                  "google_drive": false,
                  "dropbox": true,
                  "box": false,
                  "microsoft_one_drive": true,
                  "kubi": false
                },
                "feature": {
                  "meeting_capacity": 42137664
                }
              }
            }
          },
          "404": {
            "description": "Account not found"
          }
        }
      },
      "patch": {
        "summary": "Update a sub account's settings",
        "description": "Update a sub account's settings under the master account",
        "tags": [
          "Accounts"
        ],
        "operationId": "accountSettingsUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountSettings"
            },
            "x-examples": {
              "application/json": {
                "schedule_meting": {
                  "host_video": true,
                  "participant_video": true,
                  "audio_type": "thirdParty",
                  "join_before_host": true,
                  "enforce_login": false,
                  "enforce_login_with_domains": false,
                  "enforce_login_domains": "dolor consectetur aute",
                  "not_store_meeting_topic": true,
                  "force_pmi_jbh_password": true
                },
                "in_meeting": {
                  "e2e_encryption": false,
                  "chat": true,
                  "private_chat": false,
                  "auto_saving_chat": false,
                  "file_transfer": true,
                  "feedback": false,
                  "post_meeting_feedback": false,
                  "co_host": false,
                  "polling": true,
                  "attendee_on_hold": false,
                  "show_meeting_control_toolbar": false,
                  "allow_show_zoom_windows": false,
                  "annotation": false,
                  "whiteboard": false,
                  "webinar_question_answer": true,
                  "anonymous_question_answer": false,
                  "breakout_room": false,
                  "closed_caption": true,
                  "far_end_camera_control": false,
                  "group_hd": true,
                  "virtual_background": true,
                  "watermark": true,
                  "alert_guest_join": true,
                  "auto_answer": true,
                  "p2p_connetion": false,
                  "p2p_ports": true,
                  "ports_range": "exercitation",
                  "sending_default_email_invites": false,
                  "use_html_format_email": true,
                  "dscp_marking": true,
                  "dscp_audio": 12,
                  "dscp_video": 1,
                  "stereo_audio": false,
                  "original_audio": false,
                  "screen_sharing": false,
                  "remote_control": true,
                  "attention_tracking": true
                },
                "email_notification": {
                  "cloud_recording_avaliable_reminder": false,
                  "jbh_reminder": false,
                  "cancel_meeting_reminder": false,
                  "low_host_count_reminder": false,
                  "alternative_host_reminder": false
                },
                "zoom_rooms": {
                  "upcoming_meeting_alert": false,
                  "start_airplay_manually": false,
                  "weekly_system_restart": true,
                  "list_meetings_with_calendar": true,
                  "zr_post_meeting_feedback": true,
                  "ultrasonic": true,
                  "force_private_meeting": true,
                  "hide_host_information": true,
                  "cmr_for_instant_meeting": false,
                  "auto_start_stop_scheduled_meetings": true
                },
                "security": {
                  "admin_change_name_pic": false,
                  "import_photos_from_devices": true,
                  "hide_billing_info": true
                },
                "recording": {
                  "local_recording": false,
                  "cloud_recording": false,
                  "record_speaker_view": true,
                  "record_gallery_view": true,
                  "record_audio_file": true,
                  "save_chat_text": true,
                  "show_timestamp": true,
                  "recording_audio_transcript": true,
                  "auto_recording": "cloud",
                  "cloud_recording_download": false,
                  "cloud_recording_download_host": true,
                  "account_user_access_recording": true,
                  "auto_delete_cmr": true,
                  "auto_delete_cmr_days": -54181489
                },
                "telephony": {
                  "third_party_audio": true,
                  "audio_conference_info": "labore"
                },
                "integration": {
                  "google_calendar": false,
                  "google_drive": false,
                  "dropbox": true,
                  "box": true,
                  "microsoft_one_drive": false,
                  "kubi": false
                },
                "feature": {
                  "meeting_capacity": 41472357
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Account settings updated",
            "examples": {}
          },
          "404": {
            "description": "Account not found"
          }
        }
      }
    },
    "/accounts/{accountId}/billing": {
      "get": {
        "summary": "Retrieve billing information for a sub account",
        "description": "Retrieve billing information for a sub account under the master account",
        "tags": [
          "Billing"
        ],
        "operationId": "accountBilling",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          }
        ],
        "responses": {
          "200": {
            "description": "Account billing contact information returned",
            "schema": {
              "$ref": "#/definitions/BillingContactRequired"
            },
            "examples": {
              "application/json": {
                "first_name": "ipsum enim est incididunt",
                "last_name": "ad ut ex magna labore",
                "email": "elit anim",
                "phone_number": "sunt culpa consectetur laboris",
                "address": "mollit",
                "city": "veniam in aliqua occaecat mollit",
                "state": "in m",
                "zip": "do in",
                "country": "Duis id eu aliqua",
                "apt": "culpa in eu aliquip"
              }
            }
          },
          "404": {
            "description": "Account not found"
          }
        }
      },
      "patch": {
        "summary": "Update billing information for a sub account",
        "description": "Update billing information for a sub account under the master account <aside>Only for the sub account which is a paid account and paid by master account</aside>",
        "tags": [
          "Billing"
        ],
        "operationId": "accountBillingUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingContact"
            },
            "x-examples": {
              "application/json": {
                "first_name": "est Excepteur sed dolor",
                "last_name": "amet ad elit proident",
                "email": "tempor ut",
                "phone_number": "ut cillum",
                "address": "dolore",
                "apt": "mollit dolor",
                "city": "in Ut exercitation",
                "state": "et voluptate ex dolor",
                "zip": "labore pariatur dolore adipisicing Excepteur",
                "country": "eiusmod Lorem do"
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Account billing contact information updated"
          },
          "404": {
            "description": "Account not found"
          }
        }
      }
    },
    "/accounts/{accountId}/plans": {
      "get": {
        "summary": "Retrieve plan information for a sub account",
        "description": "Retrieve plan information for a sub account under the master account  <aside>Only for the sub account which is paid by master account</aside>",
        "tags": [
          "Billing"
        ],
        "operationId": "accountPlans",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          }
        ],
        "responses": {
          "200": {
            "description": "Account plans returned",
            "schema": {
              "$ref": "#/definitions/AccountPlans"
            },
            "examples": {
              "application/json": {
                "plan_base": {
                  "type": "Ut eu in",
                  "hosts": 20763963
                },
                "plan_zoom_rooms": {
                  "type": "aliquip ",
                  "hosts": -83471480
                },
                "plan_room_connector": {
                  "type": "voluptate non",
                  "hosts": -2807577
                },
                "plan_large_meeting": [
                  {
                    "type": "tempor amet velit cupidatat elit",
                    "hosts": 33985339
                  },
                  {
                    "type": "occaecat non",
                    "hosts": -20544412
                  }
                ],
                "plan_webinar": [
                  {
                    "type": "incididunt eu officia culpa",
                    "hosts": 13854896
                  }
                ],
                "plan_recording": "consequat exercitation consectetur eu",
                "plan_audio": {
                  "type": "officia sint non qui voluptate",
                  "tollfree_countries": "ex consectetur",
                  "premium_countries": "esse do",
                  "callout_countries": "deserunt Ut ex dolor",
                  "ddi_numbers": -50545266
                }
              }
            }
          },
          "404": {
            "description": "Account not fond"
          }
        }
      },
      "post": {
        "summary": "Subscribe plans for a sub account",
        "description": "Subscribe plans for a sub account of the master account <aside>Can only subscribe plans for the sub account which is a free account and paid by master account</aside>",
        "tags": [
          "Billing"
        ],
        "operationId": "accountPlanCreate",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "contact": {
                      "$ref": "#/definitions/BillingContactRequired"
                    }
                  }
                },
                {
                  "$ref": "#/definitions/AccountPlans"
                }
              ]
            },
            "x-examples": {
              "application/json": {
                "contact": {
                  "first_name": "qui ullamco elit",
                  "last_name": "irure dolore sint",
                  "email": "id eu",
                  "phone_number": "est ipsum commodo",
                  "address": "in nostrud",
                  "city": "elit anim eiusmod incididunt aliquip",
                  "state": "exercitation nostrud ipsum irure",
                  "zip": "in adipisicing nulla Duis",
                  "country": "aliqua qui et quis",
                  "apt": "dolo"
                },
                "plan_base": {
                  "type": "dolor ut sed",
                  "hosts": -5507573
                },
                "plan_zoom_rooms": {
                  "type": "dolore",
                  "hosts": -37006553
                },
                "plan_room_connector": {
                  "type": "ex do nisi",
                  "hosts": 14340181
                },
                "plan_large_meeting": [
                  {
                    "type": "dolore irure ipsum",
                    "hosts": -81823525
                  },
                  {
                    "type": "dolore",
                    "hosts": 87724237
                  },
                  {
                    "type": "est in Excepteur enim esse",
                    "hosts": -23535424
                  },
                  {
                    "type": "enim id",
                    "hosts": 69186472
                  }
                ],
                "plan_webinar": [
                  {
                    "type": "ad",
                    "hosts": 9585275
                  },
                  {
                    "type": "dolore deserunt e",
                    "hosts": 79444902
                  },
                  {
                    "type": "vel",
                    "hosts": 83124431
                  },
                  {
                    "type": "cupidatat non sed ad",
                    "hosts": -93744577
                  }
                ],
                "plan_recording": "ex Excepteur esse adipisicing",
                "plan_audio": {
                  "type": "veniam aute",
                  "tollfree_countries": "Ut magna proident cillum",
                  "premium_countries": "qui eiusmod in consequat dolor",
                  "callout_countries": "eiusmod sed",
                  "ddi_numbers": -80206946
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Account plans updated",
            "schema": {
              "$ref": "#/definitions/AccountPlans"
            },
            "examples": {
              "application/json": {
                "plan_base": {
                  "type": "commodo esse in",
                  "hosts": 94174687
                },
                "plan_zoom_rooms": {
                  "type": "exercitation ullamco Lorem ea magna",
                  "hosts": 66124465
                },
                "plan_room_connector": {
                  "type": "minim laboris qui",
                  "hosts": 96267499
                },
                "plan_large_meeting": [
                  {
                    "type": "dolor",
                    "hosts": -21921144
                  },
                  {
                    "type": "culpa sint ut",
                    "hosts": 47164081
                  },
                  {
                    "type": "voluptate",
                    "hosts": 3734179
                  }
                ],
                "plan_webinar": [
                  {
                    "type": "irure et ipsum",
                    "hosts": -56852933
                  }
                ],
                "plan_recording": "magna sed",
                "plan_audio": {
                  "type": "laborum esse quis",
                  "tollfree_countries": "reprehenderit",
                  "premium_countries": "cillum officia dolor",
                  "callout_countries": "enim aliqua culpa cillum",
                  "ddi_numbers": 17219247
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/plans/base": {
      "put": {
        "summary": "Update a base plan for a sub account",
        "description": "Update a base plan for a sub account <aside>Can only update a base plan for the sub account which is a paid account and paid by master account</aside>",
        "tags": [
          "Billing"
        ],
        "operationId": "accountPlanBaseUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountPlanBaseRequired"
            },
            "x-examples": {
              "application/json": {
                "type": "qui culpa ut",
                "hosts": -96755088
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Account plans updated",
            "examples": {}
          }
        }
      }
    },
    "/accounts/{accountId}/plans/addons": {
      "post": {
        "summary": "Add an additional plan for sub account",
        "description": "Add an additional plan for sub account <aside>Can only add an Additional plan for the sub account which is a paid account and paid by master account</aside>",
        "tags": [
          "Billing"
        ],
        "operationId": "accountPlanAddonCreate",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountPlanRequired"
            },
            "x-examples": {
              "application/json": {
                "type": "velit proident amet consequat eiusmod",
                "hosts": 32097830
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Account plans updated"
          }
        }
      },
      "put": {
        "summary": "Update an additional plan for sub account",
        "description": "Update an additional plan for sub account<aside>Can only update an Additional plan for the sub account which is a paid account and paid by master account</aside>",
        "tags": [
          "Billing"
        ],
        "operationId": "accountPlanAddonUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountPlanRequired"
            },
            "x-examples": {
              "application/json": {
                "type": "in voluptate sint Lorem",
                "hosts": -26739786
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Account plans updated"
          }
        }
      }
    },
    "/groups": {
      "get": {
        "summary": "List groups",
        "description": "List groups under your account",
        "tags": [
          "Groups"
        ],
        "parameters": [],
        "operationId": "groups",
        "responses": {
          "200": {
            "description": "List of groups returned",
            "schema": {
              "$ref": "#/definitions/GroupList"
            },
            "examples": {
              "application/json": {
                "total_records": -21752738,
                "groups": [
                  {
                    "id": "dolor laboris",
                    "name": "proident in reprehenderit dolore",
                    "total_members": 43130642
                  },
                  {
                    "id": "enim",
                    "name": "nostrud cillum dolor",
                    "total_members": -42410938
                  },
                  {
                    "id": "eiusmod ",
                    "name": "dolore id ipsum",
                    "total_members": -42149709
                  }
                ]
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a group",
        "description": "Create a group under your account",
        "tags": [
          "Groups"
        ],
        "operationId": "groupCreate",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Group name"
                }
              }
            },
            "x-examples": {
              "application/json": {
                "name": "est culpa"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Group created",
            "headers": {
              "Content-Location": {
                "description": "Location of created group",
                "type": "string"
              }
            },
            "schema": {
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Group ID"
                },
                "name": {
                  "type": "string",
                  "description": "Group name"
                },
                "total_members": {
                  "type": "integer",
                  "description": "Group member count"
                }
              }
            },
            "examples": {
              "application/json": {
                "id": "ea nisi quis",
                "name": "dolore dolor",
                "total_members": -95096463
              }
            }
          }
        }
      }
    },
    "/groups/{groupId}": {
      "get": {
        "summary": "Retrieve a group",
        "description": "Retrieve a group under your account",
        "tags": [
          "Groups"
        ],
        "operationId": "group",
        "parameters": [
          {
            "$ref": "#/parameters/GroupId"
          }
        ],
        "responses": {
          "200": {
            "description": "Group object returned",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Group ID"
                    }
                  }
                },
                {
                  "$ref": "#/definitions/Group"
                }
              ]
            },
            "examples": {
              "application/json": {
                "id": "dolor veniam",
                "name": "voluptate consectetur nulla est",
                "total_members": 14786006
              }
            }
          },
          "404": {
            "description": "Group not found"
          }
        }
      },
      "patch": {
        "summary": "Update a group",
        "description": "Update a group under your account",
        "tags": [
          "Groups"
        ],
        "operationId": "groupUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/GroupId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Group name. Must be unique in one account. Character length is less than 128."
                }
              }
            },
            "x-examples": {
              "application/json": {
                "name": "adipisicing proident ex"
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Group updated"
          },
          "404": {
            "description": "Group not found"
          }
        }
      },
      "delete": {
        "summary": "Delete a group",
        "description": "Delete a group under your account",
        "tags": [
          "Groups"
        ],
        "operationId": "groupDelete",
        "parameters": [
          {
            "$ref": "#/parameters/GroupId"
          }
        ],
        "responses": {
          "204": {
            "description": "Group deleted"
          },
          "404": {
            "description": "Group not found"
          }
        }
      }
    },
    "/groups/{groupId}/members": {
      "get": {
        "summary": "List a group's members",
        "description": "List a group's members under your account",
        "tags": [
          "Groups"
        ],
        "operationId": "groupMembers",
        "parameters": [
          {
            "$ref": "#/parameters/GroupId"
          },
          {
            "$ref": "#/parameters/PageSize"
          },
          {
            "$ref": "#/parameters/PageNumber"
          }
        ],
        "responses": {
          "200": {
            "description": "Group member list returned",
            "schema": {
              "$ref": "#/definitions/GroupMemberList"
            },
            "examples": {
              "application/json": {
                "page_count": 99294686,
                "page_number": -18275866,
                "page_size": -31425900,
                "total_records": 5090316,
                "members": [
                  {
                    "id": "occaecat proident",
                    "email": "aute quis ullamco in ipsum",
                    "first_name": "qui non",
                    "last_name": "enim esse",
                    "type": 85330872
                  }
                ]
              }
            }
          },
          "404": {
            "description": "Group not found"
          }
        }
      },
      "post": {
        "summary": "Add group members",
        "description": "Add members to a group under your account",
        "tags": [
          "Groups"
        ],
        "operationId": "groupMembersCreate",
        "parameters": [
          {
            "$ref": "#/parameters/GroupId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "members": {
                  "type": "array",
                  "description": "List of Group members",
                  "maximum": 30,
                  "items": {
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "User ID"
                      },
                      "email": {
                        "type": "string",
                        "description": "User email. If ID given, email is ignored."
                      }
                    }
                  }
                }
              }
            },
            "x-examples": {
              "application/json": {
                "members": [
                  {
                    "id": "laboris dolor pariatur",
                    "email": "adipisicing"
                  },
                  {
                    "id": "exercitation id sit",
                    "email": "aliqua qui amet"
                  },
                  {
                    "id": "ipsum enim Duis tempor",
                    "email": "mo"
                  }
                ]
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Member added",
            "schema": {
              "properties": {
                "ids": {
                  "type": "string"
                },
                "added_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "examples": {
              "application/json": {
                "ids": "magna id Excepteur Lorem reprehenderit",
                "added_at": "1943-07-13T05:26:09.929Z"
              }
            }
          },
          "404": {
            "description": "Group not found"
          }
        }
      }
    },
    "/groups/{groupId}/members/{memberId}": {
      "delete": {
        "summary": "Delete a group member",
        "description": "Delete a member from a group under your account",
        "tags": [
          "Groups"
        ],
        "operationId": "groupMembersDelete",
        "parameters": [
          {
            "$ref": "#/parameters/GroupId"
          },
          {
            "$ref": "#/parameters/MemberId"
          }
        ],
        "responses": {
          "204": {
            "description": "Group member deleted"
          },
          "404": {
            "description": "Group or Group member not found"
          }
        }
      }
    },
    "/h323/devices": {
      "get": {
        "summary": "List H.323/SIP Devices.",
        "description": "List H.323/SIP Devices on your Zoom account.",
        "tags": [
          "Devices"
        ],
        "parameters": [],
        "operationId": "deviceList",
        "responses": {
          "200": {
            "description": "List of H.323/SIP Devices returned.",
            "schema": {
              "$ref": "#/definitions/DeviceList"
            },
            "examples": {
              "application/json": {
                "page_count": 42177902,
                "page_number": -77819774,
                "page_size": -68828285,
                "total_records": -76682326,
                "devices": [
                  {
                    "name": "consectet",
                    "protocol": "SIP",
                    "ip": "mollit",
                    "encryption": "auto",
                    "id": "sint tempor Lorem"
                  },
                  {
                    "name": "magna",
                    "protocol": "SIP",
                    "ip": "aliquip cupidatat ea",
                    "encryption": "auto",
                    "id": "commodo qui"
                  },
                  {
                    "name": "non moll",
                    "protocol": "SIP",
                    "ip": "eu in in",
                    "encryption": "no",
                    "id": "nisi quis cillum adipisicing"
                  }
                ]
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a H.323/SIP Device",
        "description": "Create a H.323/SIP Device on your Zoom account",
        "tags": [
          "Devices"
        ],
        "operationId": "deviceCreate",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "H.323/SIP Device",
            "schema": {
              "$ref": "#/definitions/Device"
            },
            "x-examples": {
              "application/json": {
                "name": "cupidata",
                "protocol": "H.323",
                "ip": "minim",
                "encryption": "no"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "H.323/SIP Device created",
            "headers": {
              "Content-Location": {
                "description": "Location of created device",
                "type": "string"
              }
            },
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Device ID"
                    }
                  }
                },
                {
                  "$ref": "#/definitions/Device"
                }
              ]
            },
            "examples": {
              "application/json": {
                "name": "pari",
                "protocol": "H.323",
                "ip": "est",
                "encryption": "auto",
                "id": "cillum ad"
              }
            }
          }
        }
      }
    },
    "/h323/devices/{deviceId}": {
      "patch": {
        "summary": "Update a H.323/SIP Device",
        "description": "Update a H.323/SIP Device on your Zoom account",
        "tags": [
          "Devices"
        ],
        "operationId": "deviceUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Device"
            },
            "x-examples": {
              "application/json": {
                "name": "in sed ",
                "protocol": "SIP",
                "ip": "quis laboris elit occaecat",
                "encryption": "yes"
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "H.323/SIP Device updated"
          },
          "404": {
            "description": "H.323/SIP Device not found"
          }
        }
      },
      "delete": {
        "summary": "Delete a H.323/SIP Device",
        "description": "Delete a H.323/SIP Device on your Zoom account",
        "tags": [
          "Devices"
        ],
        "operationId": "deviceDelete",
        "parameters": [
          {
            "$ref": "#/parameters/DeviceId"
          }
        ],
        "responses": {
          "204": {
            "description": "H.323/SIP Device deleted"
          },
          "404": {
            "description": "H.323/SIP Device not found"
          }
        }
      }
    },
    "/im/groups": {
      "get": {
        "summary": "List IM Groups",
        "description": "List IM groups under your account",
        "tags": [
          "IM Groups"
        ],
        "operationId": "imGroups",
        "parameters": [],
        "responses": {
          "200": {
            "description": "List of IM Groups returned",
            "schema": {
              "$ref": "#/definitions/IMGroupList"
            }
          }
        }
      },
      "post": {
        "summary": "Create an IM Group",
        "description": "Create a IM Group under your account",
        "tags": [
          "IM Groups"
        ],
        "operationId": "imGroupCreate",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Group name, must be unique in one account",
                  "maxLength": 128
                },
                "type": {
                  "type": "string",
                  "description": "IM Group type",
                  "default": "normal",
                  "enum": [
                    "normal",
                    "shared",
                    "restricted"
                  ],
                  "x-enum-descriptions": [
                    "Only members can see the group automatically. Other people can search members in the group.",
                    "All people in the account can see the group and members automatically",
                    "Nobody can see the group or search members except the members in the group"
                  ]
                },
                "search_by_domain": {
                  "type": "boolean",
                  "description": "Members can search others in the same email domain"
                },
                "search_by_account": {
                  "type": "boolean",
                  "description": "Members can search others under same account"
                },
                "search_by_ma_account": {
                  "type": "boolean",
                  "description": "Members can search others under same master account, including all sub accounts"
                }
              }
            },
            "x-examples": {
              "application/json": {
                "name": "dolor",
                "type": "normal",
                "search_by_domain": true,
                "search_by_account": true,
                "search_by_ma_account": true
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "IM Group created",
            "headers": {
              "Content-Location": {
                "description": "Location of created IM Group",
                "type": "string"
              }
            },
            "schema": {
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Group ID"
                },
                "name": {
                  "type": "string",
                  "description": "Group name"
                },
                "total_members": {
                  "type": "integer",
                  "description": "Group member count"
                },
                "search_by_domain": {
                  "type": "boolean",
                  "description": "Members can search others in the same email domain"
                },
                "search_by_account": {
                  "type": "boolean",
                  "description": "Members can search others under same account"
                },
                "search_by_ma_account": {
                  "type": "boolean",
                  "description": "Members can search others under same master account, including all sub accounts"
                }
              }
            },
            "examples": {
              "application/json": {
                "id": "dolore id nulla",
                "name": "exercitation culpa",
                "total_members": 91318391,
                "search_by_domain": false,
                "search_by_account": true,
                "search_by_ma_account": true
              }
            }
          }
        }
      }
    },
    "/im/groups/{groupId}": {
      "get": {
        "summary": "Retrieve an IM Group",
        "description": "Retrieve an IM Group under your account",
        "tags": [
          "IM Groups"
        ],
        "operationId": "imGroup",
        "parameters": [
          {
            "$ref": "#/parameters/GroupId"
          }
        ],
        "responses": {
          "200": {
            "description": "IM Group object returned",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Group ID"
                    }
                  }
                },
                {
                  "$ref": "#/definitions/IMGroup"
                }
              ]
            },
            "examples": {
              "application/json": {
                "id": "non eiusmod",
                "name": "Lorem qui co",
                "total_members": -20728271,
                "type": "shared",
                "search_by_domain": true,
                "search_by_account": false,
                "search_by_ma_account": false
              }
            }
          },
          "404": {
            "description": "IM Group not found"
          }
        }
      },
      "patch": {
        "summary": "Update an IM Group",
        "description": "Update an IM Group under your account",
        "tags": [
          "IM Groups"
        ],
        "operationId": "imGroupUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/GroupId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Group name, must be unique in one account",
                  "maxLength": 128
                },
                "type": {
                  "type": "string",
                  "description": "IM Group type",
                  "enum": [
                    "normal",
                    "shared",
                    "restricted"
                  ],
                  "x-enum-descriptions": [
                    "Only members can see the group automatically. Other people can search members in the group.",
                    "All people in the account can see the group and members automatically",
                    "Nobody can see the group or search members except the members in the group"
                  ]
                },
                "search_by_domain": {
                  "type": "boolean",
                  "description": "Members can search others in the same email domain"
                },
                "search_by_account": {
                  "type": "boolean",
                  "description": "Members can search others under same account"
                },
                "search_by_ma_account": {
                  "type": "boolean",
                  "description": "Members can search others under same master account, including all sub accounts"
                }
              }
            },
            "x-examples": {
              "application/json": {
                "name": "nu",
                "type": "normal",
                "search_by_domain": false,
                "search_by_account": true,
                "search_by_ma_account": true
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "IM Group updated",
            "examples": {}
          },
          "404": {
            "description": "IM Group not found"
          }
        }
      },
      "delete": {
        "summary": "Delete an IM Group",
        "description": "Delete an IM Group under your account",
        "tags": [
          "IM Groups"
        ],
        "operationId": "imGroupDelete",
        "parameters": [
          {
            "$ref": "#/parameters/GroupId"
          }
        ],
        "responses": {
          "204": {
            "description": "IM Group deleted",
            "examples": {}
          },
          "404": {
            "description": "IM Group not found"
          }
        }
      }
    },
    "/im/groups/{groupId}/members": {
      "get": {
        "summary": "List an IM Group's members",
        "description": "List an IM Group's members under your account",
        "tags": [
          "IM Groups"
        ],
        "operationId": "imGroupMembers",
        "parameters": [
          {
            "$ref": "#/parameters/GroupId"
          },
          {
            "$ref": "#/parameters/PageSize"
          },
          {
            "$ref": "#/parameters/PageNumber"
          }
        ],
        "responses": {
          "200": {
            "description": "IM Group member list returned",
            "schema": {
              "$ref": "#/definitions/GroupMemberList"
            },
            "examples": {
              "application/json": {
                "page_count": -18482039,
                "page_number": -61003872,
                "page_size": -56972584,
                "total_records": -77846001,
                "members": [
                  {
                    "id": "aliquip esse",
                    "email": "Ut dolor cupidatat culpa ",
                    "first_name": "exercitation la",
                    "last_name": "Duis",
                    "type": -57640300
                  },
                  {
                    "id": "nisi aliqua",
                    "email": "eu irure sint ut",
                    "first_name": "ut nostrud",
                    "last_name": "mollit cillum",
                    "type": 28435740
                  },
                  {
                    "id": "adipisicing consequat e",
                    "email": "Lorem esse",
                    "first_name": "et e",
                    "last_name": "no",
                    "type": -71850203
                  }
                ]
              }
            }
          },
          "404": {
            "description": "IM Group not found"
          }
        }
      },
      "post": {
        "summary": "Add IM Group members",
        "description": "Add members to an IM Group under your account",
        "tags": [
          "IM Groups"
        ],
        "operationId": "imGroupMembersCreate",
        "parameters": [
          {
            "$ref": "#/parameters/GroupId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "members": {
                  "type": "array",
                  "description": "List of IM Group members",
                  "maximum": 10,
                  "items": {
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "User ID"
                      },
                      "email": {
                        "type": "string",
                        "description": "User email. If ID given, email is ignored."
                      }
                    }
                  }
                }
              }
            },
            "x-examples": {
              "application/json": {
                "members": [
                  {
                    "id": "dolor magna ad id",
                    "email": "reprehenderit sit consequat sint"
                  },
                  {
                    "id": "esse non adipisicing",
                    "email": "aliquip culpa irure"
                  },
                  {
                    "id": "nostrud et ipsum",
                    "email": "do ut proident"
                  },
                  {
                    "id": "qui",
                    "email": "ad ea reprehenderit eiusmod"
                  }
                ]
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Member added",
            "schema": {
              "properties": {
                "ids": {
                  "type": "string"
                },
                "added_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "examples": {
              "application/json": {
                "ids": "commodo id sint",
                "added_at": "2003-02-01T02:22:06.910Z"
              }
            }
          },
          "404": {
            "description": "IM Group not found"
          }
        }
      }
    },
    "/im/groups/{groupId}/members/{memberId}": {
      "delete": {
        "summary": "Delete an IM Group member",
        "description": "Delete a member from an IM Group under your account",
        "tags": [
          "IM Groups"
        ],
        "operationId": "imGroupMembersDelete",
        "parameters": [
          {
            "$ref": "#/parameters/GroupId"
          },
          {
            "$ref": "#/parameters/MemberId"
          }
        ],
        "responses": {
          "204": {
            "description": "IM Group member deleted"
          },
          "404": {
            "description": "IM Group or IM Group member not found"
          }
        }
      }
    },
    "/im/chat/sessions": {
      "get": {
        "summary": "Retrieve IM Chat sessions",
        "description": "Retrieve IM Chat sessions for a specified period <aside>This API only supports oauth2.</aside>",
        "tags": [
          "IM Chat"
        ],
        "operationId": "imChatSessions",
        "parameters": [
          {
            "$ref": "#/parameters/FromDate"
          },
          {
            "$ref": "#/parameters/ToDate"
          },
          {
            "$ref": "#/parameters/PageSize"
          },
          {
            "$ref": "#/parameters/NextPageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Archived IM Chat sessions Returned",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "from": {
                      "type": "string",
                      "format": "date",
                      "description": "Start date"
                    },
                    "to": {
                      "type": "string",
                      "format": "date",
                      "description": "End date"
                    }
                  }
                },
                {
                  "$ref": "#/definitions/PaginationToken4IMChat"
                },
                {
                  "properties": {
                    "sessions": {
                      "type": "array",
                      "description": "Array of session objects",
                      "items": {
                        "properties": {
                          "session_id": {
                            "type": "string",
                            "description": "IM Chat session ID"
                          },
                          "type": {
                            "type": "string",
                            "description": "IM Chat session type"
                          },
                          "name": {
                            "type": "string",
                            "description": "Meeting topic"
                          },
                          "last_message_sent_time": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last message sent time"
                          }
                        }
                      }
                    }
                  }
                }
              ]
            },
            "examples": {
              "application/json": {
                "from": "2002-07-24",
                "to": "2003-09-03",
                "page_size": -32569498,
                "next_page_token": "officia est",
                "sessions": [
                  {
                    "session_id": "sit enim ut ipsum velit",
                    "type": "dolor sunt",
                    "name": "dolor dolore",
                    "last_message_sent_time": "1973-05-21T08:02:12.855Z"
                  },
                  {
                    "session_id": "nisi culpa Lorem",
                    "type": "minim voluptate",
                    "name": "aute",
                    "last_message_sent_time": "1942-09-13T03:24:31.637Z"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/im/chat/sessions/{sessionId}": {
      "get": {
        "summary": "Retrieve IM Chat messages",
        "description": "Retrieve IM Chat messages for a specified period <aside>This API only supports oauth2.</aside>",
        "tags": [
          "IM Chat"
        ],
        "operationId": "imChatMessages",
        "parameters": [
          {
            "$ref": "#/parameters/SessionId"
          },
          {
            "$ref": "#/parameters/FromDate"
          },
          {
            "$ref": "#/parameters/ToDate"
          },
          {
            "$ref": "#/parameters/PageSize"
          },
          {
            "$ref": "#/parameters/NextPageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Archived IM Chat messages Returned",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "session_id": {
                      "type": "string",
                      "description": "IM Chat session ID"
                    },
                    "from": {
                      "type": "string",
                      "format": "date",
                      "description": "Start date"
                    },
                    "to": {
                      "type": "string",
                      "format": "date",
                      "description": "End date"
                    }
                  }
                },
                {
                  "$ref": "#/definitions/PaginationToken4IMChat"
                },
                {
                  "properties": {
                    "messages": {
                      "type": "array",
                      "description": "Array of session objects",
                      "items": {
                        "properties": {
                          "message": {
                            "type": "string",
                            "description": "IM Chat message content"
                          },
                          "sender": {
                            "type": "string",
                            "description": "IM Chat message sender"
                          },
                          "date_time": {
                            "type": "string",
                            "format": "date-time",
                            "description": "IM Chat message sent time"
                          },
                          "action": {
                            "type": "string",
                            "description": "IM Chat message action"
                          },
                          "action_time": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Action time"
                          }
                        }
                      }
                    }
                  }
                }
              ]
            },
            "examples": {
              "application/json": {
                "session_id": "qui dolor officia",
                "from": "2000-04-18",
                "to": "1944-09-03",
                "page_size": -35216805,
                "next_page_token": "tempor Duis",
                "messages": [
                  {
                    "message": "esse enim in culpa",
                    "sender": "qui consequat vel",
                    "date_time": "1982-11-12T09:04:27.908Z",
                    "action": "nisi deserunt",
                    "action_time": "1940-05-15T06:30:07.511Z"
                  },
                  {
                    "message": "eiusmod",
                    "sender": "ex et consectetur",
                    "date_time": "2013-01-15T04:06:13.376Z",
                    "action": "laborum magna",
                    "action_time": "1966-02-18T03:09:31.056Z"
                  },
                  {
                    "message": "aute do non",
                    "sender": "qui tempor id",
                    "date_time": "2011-11-20T23:27:35.079Z",
                    "action": "reprehenderit adipisicing laboris fugiat",
                    "action_time": "1977-08-05T06:01:47.940Z"
                  },
                  {
                    "message": "incididunt tempor",
                    "sender": "incididunt non",
                    "date_time": "1974-08-13T02:45:05.584Z",
                    "action": "Excepteur ad dolore amet",
                    "action_time": "1963-10-06T08:41:44.010Z"
                  },
                  {
                    "message": "laboris commod",
                    "sender": "dolor voluptate amet laborum",
                    "date_time": "1970-04-04T04:28:13.992Z",
                    "action": "fugiat enim",
                    "action_time": "1994-01-03T09:21:54.755Z"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/users/{userId}/meetings": {
      "get": {
        "summary": "List meetings",
        "description": "List meetings for a user",
        "tags": [
          "Meetings"
        ],
        "operationId": "meetings",
        "parameters": [
          {
            "$ref": "#/parameters/UserId"
          },
          {
            "$ref": "#/parameters/MeetingType"
          },
          {
            "$ref": "#/parameters/PageSize"
          },
          {
            "$ref": "#/parameters/PageNumber"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Meeting objects returned",
            "schema": {
              "$ref": "#/definitions/MeetingList"
            },
            "examples": {
              "application/json": {
                "page_count": -31141430,
                "page_number": -94423665,
                "page_size": -10616618,
                "total_records": 94143551,
                "meetings": [
                  {
                    "uuid": "cupidatat",
                    "id": "nulla do ut laboris Excepteur",
                    "host_id": "cillum aliqua",
                    "topic": "ea incididunt dolor irure",
                    "type": 8,
                    "start_time": "1983-10-21T14:27:57.950Z",
                    "duration": 66420134,
                    "timezone": "voluptate dolor",
                    "created_at": "1990-05-27T18:43:55.169Z",
                    "join_url": "irure deserunt culpa ea"
                  },
                  {
                    "uuid": "tempor s",
                    "id": "eu sint",
                    "host_id": "amet dolor ad nisi",
                    "topic": "enim sed ea commodo fugiat",
                    "type": 8,
                    "start_time": "1973-02-16T12:44:54.308Z",
                    "duration": -45948299,
                    "timezone": "sed commodo in",
                    "created_at": "2007-06-29T10:08:14.983Z",
                    "join_url": "ut eu reprehenderit ani"
                  },
                  {
                    "uuid": "incididunt",
                    "id": "do adipisicing ex",
                    "host_id": "non Lorem",
                    "topic": "dolore ex est",
                    "type": 1,
                    "start_time": "1959-06-02T19:36:35.962Z",
                    "duration": -29813398,
                    "timezone": "Ut",
                    "created_at": "1991-09-18T02:29:32.088Z",
                    "join_url": "Duis adipisicing"
                  },
                  {
                    "uuid": "ve",
                    "id": "culpa do in adipis",
                    "host_id": "reprehenderit in pariatur ex fugiat",
                    "topic": "velit mollit ut",
                    "type": 8,
                    "start_time": "1982-04-20T07:37:21.711Z",
                    "duration": -45028465,
                    "timezone": "aliqua consectetur commodo",
                    "created_at": "1995-10-16T02:24:29.726Z",
                    "join_url": "veniam"
                  }
                ]
              }
            }
          },
          "404": {
            "description": "User not found"
          }
        }
      },
      "post": {
        "summary": "Create a meeting",
        "description": "Create a meeting for a user <aside>The expiration time of start_url is two hours. But for API users, the expiration time is 90 days.</aside>",
        "tags": [
          "Meetings"
        ],
        "operationId": "meetingCreate",
        "parameters": [
          {
            "$ref": "#/parameters/UserId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Meeting object",
            "schema": {
              "$ref": "#/definitions/Meeting"
            },
            "x-examples": {
              "application/json": {
                "topic": "ea exercitation sunt non",
                "type": 8,
                "start_time": "1997-12-09T17:40:15.552Z",
                "duration": 70543262,
                "timezone": "anim ipsum",
                "password": "aute sed fugiat",
                "agenda": "ut",
                "recurrence": {
                  "type": 3,
                  "repeat_interval": 30390622,
                  "weekly_days": 6,
                  "monthly_day": 50792742,
                  "monthly_week": 3,
                  "monthly_week_day": 7,
                  "end_times": -48105477,
                  "end_date_time": "1963-03-17T05:07:00.905Z"
                },
                "settings": {
                  "host_video": false,
                  "participant_video": true,
                  "cn_meeting": false,
                  "in_meeting": false,
                  "join_before_host": false,
                  "mute_upon_entry": false,
                  "watermark": false,
                  "use_pmi": false,
                  "approval_type": 0,
                  "registration_type": 2,
                  "audio": "voip",
                  "auto_recording": "none",
                  "enforce_login": false,
                  "enforce_login_domains": "officia reprehenderit occaecat",
                  "alternative_hosts": "ea in"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Meeting Created",
            "headers": {
              "Content-Location": {
                "description": "Location of created Meeting",
                "type": "string"
              }
            },
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "description": "Meeting unique ID"
                    },
                    "id": {
                      "type": "string",
                      "description": "Meeting ID, also known as meeting number"
                    },
                    "host_id": {
                      "type": "string",
                      "description": "ID of the user set as host of meeting"
                    }
                  }
                },
                {
                  "$ref": "#/definitions/MeetingInfo"
                }
              ]
            },
            "examples": {
              "application/json": {
                "uuid": "eiusmod ex",
                "id": "adipisicing in enim proident est",
                "host_id": "exercitation tempor irure culpa",
                "topic": "laboris",
                "type": 1,
                "start_time": "1975-11-14T22:58:03.672Z",
                "duration": -34937925,
                "timezone": "dolor nisi",
                "created_at": "1981-05-24T11:15:47.161Z",
                "agenda": "consectetur ut sunt",
                "start_url": "magna eu pariatur",
                "join_url": "enim incididunt Duis",
                "password": "Excepteur sint sunt",
                "h323_password": "ut pariatur labore",
                "occurrences": [
                  {
                    "occurrence_id": -26337736,
                    "start_time": "1940-08-08T10:58:18.689Z",
                    "duration": 66221627,
                    "status": "in nisi est"
                  },
                  {
                    "occurrence_id": -41142006,
                    "start_time": "1976-07-25T06:48:11.268Z",
                    "duration": 32892661,
                    "status": "dolore exercitation elit deserunt"
                  },
                  {
                    "occurrence_id": -18140404,
                    "start_time": "1957-05-04T00:31:47.280Z",
                    "duration": -4606436,
                    "status": "veniam consequat consectetur"
                  },
                  {
                    "occurrence_id": 89554950,
                    "start_time": "1993-09-11T09:19:09.920Z",
                    "duration": 82182759,
                    "status": "eiusmod aute ipsum cupidatat velit"
                  },
                  {
                    "occurrence_id": -75221507,
                    "start_time": "1942-07-19T06:43:43.667Z",
                    "duration": 77661563,
                    "status": "Duis ullamco dolor irure"
                  }
                ],
                "settings": {
                  "host_video": true,
                  "participant_video": false,
                  "cn_meeting": true,
                  "in_meeting": false,
                  "join_before_host": true,
                  "mute_upon_entry": false,
                  "watermark": true,
                  "use_pmi": false,
                  "approval_type": 2,
                  "registration_type": 1,
                  "audio": "both",
                  "auto_recording": "cloud",
                  "enforce_login": true,
                  "enforce_login_domains": "non consectetur magna minim",
                  "alternative_hosts": "reprehenderit magna enim"
                }
              }
            }
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    },
    "/meetings/{meetingId}": {
      "get": {
        "summary": "Retrieve a meeting",
        "description": "Retrieve a meeting's details",
        "tags": [
          "Meetings"
        ],
        "operationId": "meeting",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId"
          }
        ],
        "responses": {
          "200": {
            "description": "Meeting object returned",
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "description": "Meeting unique ID"
                    },
                    "id": {
                      "type": "string",
                      "description": "Meeting ID, also know as meeting number"
                    },
                    "host_id": {
                      "type": "string",
                      "description": "ID of the user set as host of meeting"
                    }
                  }
                },
                {
                  "$ref": "#/definitions/MeetingInfo"
                }
              ]
            },
            "examples": {
              "application/json": {
                "uuid": "eu elit",
                "id": "in pariatur",
                "host_id": "eiusmod est consectetur",
                "topic": "nisi",
                "type": 2,
                "start_time": "1940-11-22T23:39:43.664Z",
                "duration": -59464063,
                "timezone": "dolor in sit esse do",
                "created_at": "1955-07-29T07:01:25.335Z",
                "agenda": "eiusmod veniam pariatur",
                "start_url": "aliqua occaecat cupidatat sint ullamco",
                "join_url": "in sit",
                "password": "dolor dolore sit commodo",
                "h323_password": "id adipisic",
                "occurrences": [
                  {
                    "occurrence_id": 97835394,
                    "start_time": "1956-11-14T05:43:56.392Z",
                    "duration": 67085601,
                    "status": "labore dolor Duis "
                  },
                  {
                    "occurrence_id": -33556873,
                    "start_time": "1999-03-30T05:00:24.016Z",
                    "duration": -32133732,
                    "status": "quis irure Ut do"
                  }
                ],
                "settings": {
                  "host_video": true,
                  "participant_video": false,
                  "cn_meeting": true,
                  "in_meeting": false,
                  "join_before_host": true,
                  "mute_upon_entry": true,
                  "watermark": true,
                  "use_pmi": true,
                  "approval_type": 2,
                  "registration_type": 2,
                  "audio": "both",
                  "auto_recording": "local",
                  "enforce_login": true,
                  "enforce_login_domains": "elit incididunt cupidatat id magna",
                  "alternative_hosts": "voluptate adipisicing"
                }
              }
            }
          },
          "404": {
            "description": "Meeting not found"
          }
        }
      },
      "patch": {
        "summary": "Update a meeting",
        "description": "Update a meeting's details",
        "tags": [
          "Meetings"
        ],
        "operationId": "meetingUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Meeting",
            "schema": {
              "$ref": "#/definitions/MeetingUpdate"
            },
            "x-examples": {
              "application/json": {
                "topic": "proident ut",
                "type": 2,
                "start_time": "1950-12-20T15:59:13.523Z",
                "duration": 98873635,
                "timezone": "et irure",
                "password": "exercitation ",
                "agenda": "deserunt anim dolore",
                "recurrence": {
                  "type": 2,
                  "repeat_interval": 2757627,
                  "weekly_days": 2,
                  "monthly_day": -50987495,
                  "monthly_week": 1,
                  "monthly_week_day": 3,
                  "end_times": -21115567,
                  "end_date_time": "2003-11-11T02:19:15.389Z"
                },
                "settings": {
                  "host_video": true,
                  "participant_video": true,
                  "cn_meeting": false,
                  "in_meeting": false,
                  "join_before_host": true,
                  "mute_upon_entry": false,
                  "watermark": false,
                  "use_pmi": true,
                  "approval_type": 1,
                  "registration_type": 3,
                  "audio": "voip",
                  "auto_recording": "none",
                  "enforce_login": true,
                  "enforce_login_domains": "aliqua id pariatur do",
                  "alternative_hosts": "dolor adipisicing minim Lorem",
                  "registrants_confirmation_email": false
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Meeting Updated"
          },
          "404": {
            "description": "Meeting not found"
          }
        }
      },
      "delete": {
        "summary": "Delete a meeting",
        "description": "Delete a meeting",
        "tags": [
          "Meetings"
        ],
        "operationId": "meetingDelete",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId"
          },
          {
            "$ref": "#/parameters/OccurrenceId"
          }
        ],
        "responses": {
          "204": {
            "description": "Meeting deleted"
          },
          "404": {
            "description": "Meeting not found"
          }
        }
      }
    },
    "/meetings/{meetingId}/status": {
      "put": {
        "summary": "Update a meeting's status",
        "description": "Update a meeting's status",
        "tags": [
          "Meetings"
        ],
        "operationId": "meetingStatus",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "action": {
                  "type": "string",
                  "enum": [
                    "end"
                  ],
                  "x-enum-descriptions": [
                    "end a meeting"
                  ]
                }
              }
            },
            "x-examples": {
              "application/json": {
                "action": "end"
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Meeting updated"
          },
          "404": {
            "description": "Meeting not found"
          }
        }
      }
    },
    "/meetings/{meetingId}/registrants": {
      "get": {
        "summary": "List a meeting's registrants",
        "description": "List registrants of a meeting",
        "tags": [
          "Meetings"
        ],
        "operationId": "meetingRegistrants",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId"
          },
          {
            "$ref": "#/parameters/OccurrenceId"
          },
          {
            "$ref": "#/parameters/RegistrantStatus"
          },
          {
            "$ref": "#/parameters/PageSize"
          },
          {
            "$ref": "#/parameters/PageNumber"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MeetingRegistrantList"
            },
            "examples": {
              "application/json": {
                "page_count": -93267536,
                "page_size": -1526752,
                "total_records": -92551308,
                "next_page_token": "",
                "registrants": [
                  {
                    "email": "elit do",
                    "first_name": "est incididunt proident",
                    "last_name": "fugiat aliqua dolore eiusmod",
                    "id": "non irure qui ut",
                    "address": "ea ipsum deserunt proident sed",
                    "city": "commodo sed",
                    "country": "in ullamco nisi",
                    "zip": "ea dolor",
                    "state": "ut Duis",
                    "phone": "nostrud",
                    "industry": "nisi magna in qui",
                    "org": "proident adipisicing esse",
                    "job_title": "Ut",
                    "purchasing_time_frame": "More than 6 months",
                    "role_in_purchase_process": "Influencer",
                    "no_of_employees": "1-20",
                    "comments": "officia amet",
                    "custom_questions": [
                      {
                        "title": "amet deserunt ut",
                        "value": "nisi aliquip"
                      },
                      {
                        "title": "nisi ipsum",
                        "value": "commodo eiusmod minim non"
                      },
                      {
                        "title": "dolore",
                        "value": "sunt veniam"
                      },
                      {
                        "title": "eu ven",
                        "value": "Duis"
                      }
                    ],
                    "status": "cupidatat",
                    "create_time": "1940-05-12T23:27:16.214Z",
                    "join_url": "deserunt elit"
                  },
                  {
                    "email": "reprehenderit magna",
                    "first_name": "ipsum sunt tempor",
                    "last_name": "cillum culpa",
                    "id": "occaecat sunt aliqua",
                    "address": "quis anim",
                    "city": "sit dolor qui",
                    "country": "mollit",
                    "zip": "nulla Duis exercitation",
                    "state": "reprehenderit",
                    "phone": "id incididunt",
                    "industry": "laboris",
                    "org": "laborum consequat veniam officia incididunt",
                    "job_title": "cillum aliquip dolor",
                    "purchasing_time_frame": "4-6 months",
                    "role_in_purchase_process": "Not involved",
                    "no_of_employees": "21-50",
                    "comments": "si",
                    "custom_questions": [
                      {
                        "title": "dolor Lorem",
                        "value": "reprehenderit eiusmod ullamco sunt"
                      },
                      {
                        "title": "in qui consequat culpa eu",
                        "value": "adipisicing nulla"
                      }
                    ],
                    "status": "occaecat ipsum Duis quis",
                    "create_time": "2011-01-01T08:51:55.196Z",
                    "join_url": "sunt nisi"
                  },
                  {
                    "email": "tempor Lorem nulla occaecat",
                    "first_name": "consequat i",
                    "last_name": "in mollit eu",
                    "id": "officia ea eiusmod",
                    "address": "id aute ut",
                    "city": "amet deserunt dolor proident",
                    "country": "ea dolor",
                    "zip": "ex sunt enim",
                    "state": "labore sunt",
                    "phone": "ut deserunt reprehenderit",
                    "industry": "amet elit esse dolore",
                    "org": "anim culpa laborum",
                    "job_title": "cillum occaecat",
                    "purchasing_time_frame": "1-3 months",
                    "role_in_purchase_process": "Influencer",
                    "no_of_employees": "500-1,000",
                    "comments": "nulla in",
                    "custom_questions": [
                      {
                        "title": "no",
                        "value": "in nulla do pariatur aliqua"
                      },
                      {
                        "title": "ex Lorem sed nostrud aliquip",
                        "value": "aliqua non do in"
                      },
                      {
                        "title": "eu voluptate ex",
                        "value": "sit velit"
                      },
                      {
                        "title": "occaecat cillum proident",
                        "value": "esse Duis velit aliquip"
                      }
                    ],
                    "status": "officia mollit dolore non ipsum",
                    "create_time": "1998-07-17T02:50:52.209Z",
                    "join_url": "culpa labore consequat"
                  },
                  {
                    "email": "dolor dolore",
                    "first_name": "est ad officia",
                    "last_name": "et sed tempor",
                    "id": "ut pariatur labore",
                    "address": "laboris consequat veniam commodo",
                    "city": "in est irure",
                    "country": "laboris dolor reprehenderit dolore sunt",
                    "zip": "tempor voluptate",
                    "state": "dolor eu ex Excepteur",
                    "phone": "ullamco magna anim fugiat dolore",
                    "industry": "nulla deserunt",
                    "org": "laborum sed",
                    "job_title": "irure in esse",
                    "purchasing_time_frame": "More than 6 months",
                    "role_in_purchase_process": "Not involved",
                    "no_of_employees": "21-50",
                    "comments": "elit ullamco non",
                    "custom_questions": [
                      {
                        "title": "veniam magna cillum occaecat ipsum",
                        "value": "mollit"
                      },
                      {
                        "title": "consectetur incididunt sint ut mollit",
                        "value": "sed dolore"
                      }
                    ],
                    "status": "proident anim",
                    "create_time": "2010-03-11T00:09:22.605Z",
                    "join_url": "proi"
                  }
                ]
              }
            }
          },
          "404": {
            "description": "Meeting not found"
          }
        }
      },
      "post": {
        "summary": "Add a meeting registrant",
        "description": "Register a participant for a meeting",
        "tags": [
          "Meetings"
        ],
        "operationId": "meetingRegistrantCreate",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId"
          },
          {
            "in": "query",
            "name": "occurrence_ids",
            "type": "string",
            "description": "Occurrence IDs. You can find these with the meeting get API. Multiple values separated by comma."
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MeetingRegistrant"
            },
            "x-examples": {
              "application/json": {
                "email": "dolor",
                "first_name": "fugiat Ut minim",
                "last_name": "sed et ut",
                "address": "sit voluptate laborum",
                "city": "Lorem tempor laborum pariatur irure",
                "country": "non elit minim",
                "zip": "qui anim reprehenderit",
                "state": "Lorem quis",
                "phone": "velit voluptate esse",
                "industry": "adipisicing officia aliqua",
                "org": "enim et",
                "job_title": "reprehenderit do sed labore",
                "purchasing_time_frame": "4-6 months",
                "role_in_purchase_process": "Influencer",
                "no_of_employees": "51-100",
                "comments": "Duis aute anim ipsum Ut",
                "custom_questions": [
                  {
                    "title": "in consectetur Lorem consequat",
                    "value": "culpa"
                  },
                  {
                    "title": "mollit",
                    "value": "Ut"
                  },
                  {
                    "title": "est aliqua",
                    "value": "ullamco qui"
                  },
                  {
                    "title": "ut",
                    "value": "anim nisi ullamco id"
                  }
                ]
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Registration created",
            "schema": {
              "type": "object",
              "properties": {
                "registrant_id": {
                  "type": "string",
                  "description": "Registrant ID"
                },
                "id": {
                  "type": "string",
                  "description": "Registrant ID"
                },
                "topic": {
                  "type": "string",
                  "description": "Topic"
                },
                "start_time": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Start time"
                },
                "join_url": {
                  "type": "string",
                  "description": "Join URL for this registrant"
                }
              }
            },
            "examples": {
              "application/json": {
                "registrant_id": "sit aliquip",
                "id": "dolor",
                "topic": "est aliquip si",
                "start_time": "1985-07-03T18:39:25.573Z",
                "join_url": "amet labore occaecat cupidatat"
              }
            }
          },
          "404": {
            "description": "Meeting not found"
          }
        }
      }
    },
    "/meetings/{meetingId}/registrants/status": {
      "put": {
        "summary": "Update a meeting registrant's status",
        "description": "Update a meeting registrant's status",
        "tags": [
          "Meetings"
        ],
        "operationId": "meetingRegistrantStatus",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId"
          },
          {
            "$ref": "#/parameters/OccurrenceId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegistrantStatus"
            },
            "x-examples": {
              "application/json": {
                "action": "approve",
                "registrants": [
                  {
                    "id": "anim laborum qui mollit",
                    "email": "dolor velit"
                  },
                  {
                    "id": "esse aliqua commodo",
                    "email": "Excepteur fugiat proident qui laboris"
                  },
                  {
                    "id": "enim anim consequat deserunt",
                    "email": "ea Excepteur adipisicing"
                  },
                  {
                    "id": "dolore adipisicing",
                    "email": "proident sed fugia"
                  }
                ]
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Registrant status updated"
          },
          "404": {
            "description": "Meeting or Registrant not found"
          }
        }
      }
    },
    "/past_meetings/{meetingUUID}": {
      "get": {
[...]
