{
  "swagger": "2.0",
  "info": {
    "title": "Zoom API",
    "description": "The Zoom API allows developers to safely and securely access information from Zoom. You can use this API to build private services or public applications on our [marketplace](http://marketplace.zoom.us). If you want to make a private service/app please visit our [developer site](http://developer.zoom.us/me/) to get your key. If you plan on making a public application, please visit our [marketplace](http://marketplace.zoom.us) to register your app. \n\nAll endpoints are available via `https` and are located at `api.zoom.us/v2/`.\n\nFor instance you can list all users on an account via `https://api.zoom.us/v2/users/`.",
    "contact": {
      "name": "Zoom Developers",
      "url": "https://developer.zoom.us/",
      "email": "developersupport@zoom.us"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "2.0.0",
    "termsOfService": "https://zoom.us/terms"
  },
  "host": "api.zoom.us",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "multipart/form-data"
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "paths": {
    "/accounts": {
      "get": {
        "summary": "List sub accounts",
        "description": "List all the sub accounts under the master account",
        "tags": [
          "Accounts"
        ],
        "operationId": "accounts",
        "parameters": [
          {
            "$ref": "#/parameters/PageSize"
          },
          {
            "$ref": "#/parameters/PageNumber"
          }
        ],
        "responses": {
          "200": {
            "description": "Account list returned",
            "schema": {
              "$ref": "#/definitions/AccountList"
            },
            "examples": {
              "application/json": {
                "page_count": "integer",
                "page_number": "integer",
                "page_size": "integer",
                "total_records": "integer",
                "accounts": [
                  {
                    "id": "string [uuid]",
                    "account_name": "string",
                    "owner_email": "string",
                    "account_type": "string",
                    "seats": "integer",
                    "subscription_start_time": "string [date-time]",
                    "subscription_end_time": "string [date-time]",
                    "created_at": "string [date-time]"
                  }
                ]
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a sub account",
        "description": "Create a sub account under the master account. <aside>Your account must be a master account and have this privilege to create sub account. Zoom only assigns this privilege to trusted partners. The created user will not receive a confirmation email.</aside>.",
        "tags": [
          "Accounts"
        ],
        "operationId": "accountCreate",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Account",
            "schema": {
              "$ref": "#/definitions/Account"
            },
            "x-examples": {
              "application/json": {
                "first_name": "string",
                "last_name": "string",
                "email": "string",
                "password": "string",
                "options": {
                  "share_rc": "boolean",
                  "room_connectors": "string",
                  "share_mc": "boolean",
                  "meeting_connectors": "string",
                  "pay_mode": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Account Created",
            "headers": {
              "Content-Location": {
                "description": "Location of created Account",
                "type": "string"
              }
            },
            "schema": {
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Account ID"
                },
                "owner_id": {
                  "type": "string",
                  "description": "Account Owner ID"
                },
                "owner_email": {
                  "type": "string",
                  "description": "Account owner email"
                },
                "created_at": {
                  "type": "string",
                  "description": "Account created date time"
                }
              }
            },
            "examples": {
              "application/json": {
                "id": "string",
                "owner_id": "string",
                "owner_email": "string",
                "created_at": "string"
              }
            }
          },
          "409": {
            "description": "Account with that email already exists"
          }
        }
      }
    },
    "/accounts/{accountId}": {
      "get": {
        "summary": "Retrieve a sub account",
        "description": "Retrieve a sub account under the master account. <aside>Your account must be a master account and have this privilege to read sub accounts. Zoom only assigns this privilege to trusted partners</aside>.",
        "tags": [
          "Accounts"
        ],
        "operationId": "account",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          }
        ],
        "responses": {
          "200": {
            "description": "Account object returned",
            "schema": {
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Account ID"
                },
                "owner_id": {
                  "type": "string",
                  "description": "Account Owner ID"
                },
                "owner_email": {
                  "type": "string",
                  "description": "Account Owner email"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Account creation date/time"
                },
                "options": {
                  "$ref": "#/definitions/AccountOptions"
                }
              }
            },
            "examples": {
              "application/json": {
                "id": "string",
                "owner_id": "string",
                "owner_email": "string",
                "created_at": "string [date-time]",
                "options": {
                  "share_rc": "boolean",
                  "room_connectors": "string",
                  "share_mc": "boolean",
                  "meeting_connectors": "string",
                  "pay_mode": "string"
                }
              }
            }
          },
          "404": {
            "description": "User not found"
          }
        }
      },
      "delete": {
        "summary": "Disassociate an account",
        "description": "Disassociate a sub account from the master account. This will leave the account intact but the sub account will not longer be associated with the master account.",
        "tags": [
          "Accounts"
        ],
        "operationId": "accountDisassociate",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          }
        ],
        "responses": {
          "204": {
            "description": "Account deleted",
            "examples": {}
          },
          "404": {
            "description": "Account not found"
          }
        }
      }
    },
    "/accounts/{accountId}/options": {
      "patch": {
        "summary": "Update a sub account's options",
        "description": "Update a sub account's options under the master account",
        "tags": [
          "Accounts"
        ],
        "operationId": "accountOptionsUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountOptions"
            },
            "x-examples": {}
          }
        ],
        "responses": {
          "204": {
            "description": "Account options updated",
            "examples": {
              "application/json": {
                "share_rc": "boolean",
                "room_connectors": "string",
                "share_mc": "boolean",
                "meeting_connectors": "string",
                "pay_mode": "string"
              }
            }
          },
          "404": {
            "description": "Account not found"
          }
        }
      }
    },
    "/accounts/{accountId}/settings": {
      "get": {
        "summary": "Retrieve a sub account's settings",
        "description": "Retrieve a sub account's settings under the master account",
        "tags": [
          "Accounts"
        ],
        "operationId": "accountSettings",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          }
        ],
        "responses": {
          "200": {
            "description": "Account settings returned",
            "schema": {
              "$ref": "#/definitions/AccountSettings"
            },
            "examples": {
              "application/json": {
                "schedule_meting": {
                  "host_video": "boolean",
                  "participant_video": "boolean",
                  "audio_type": "string",
                  "join_before_host": "boolean",
                  "enforce_login": "boolean",
                  "enforce_login_with_domains": "boolean",
                  "enforce_login_domains": "string",
                  "not_store_meeting_topic": "boolean",
                  "force_pmi_jbh_password": "boolean"
                },
                "in_meeting": {
                  "e2e_encryption": "boolean",
                  "chat": "boolean",
                  "private_chat": "boolean",
                  "auto_saving_chat": "boolean",
                  "file_transfer": "boolean",
                  "feedback": "boolean",
                  "post_meeting_feedback": "boolean",
                  "co_host": "boolean",
                  "polling": "boolean",
                  "attendee_on_hold": "boolean",
                  "show_meeting_control_toolbar": "boolean",
                  "allow_show_zoom_windows": "boolean",
                  "annotation": "boolean",
                  "whiteboard": "boolean",
                  "webinar_question_answer": "boolean",
                  "anonymous_question_answer": "boolean",
                  "breakout_room": "boolean",
                  "closed_caption": "boolean",
                  "far_end_camera_control": "boolean",
                  "group_hd": "boolean",
                  "virtual_background": "boolean",
                  "watermark": "boolean",
                  "alert_guest_join": "boolean",
                  "auto_answer": "boolean",
                  "p2p_connetion": "boolean",
                  "p2p_ports": "boolean",
                  "ports_range": "string",
                  "sending_default_email_invites": "boolean",
                  "use_html_format_email": "boolean",
                  "dscp_marking": "boolean",
                  "dscp_audio": "integer",
                  "dscp_video": "integer",
                  "stereo_audio": "boolean",
                  "original_audio": "boolean",
                  "screen_sharing": "boolean",
                  "remote_control": "boolean",
                  "attention_tracking": "boolean"
                },
                "email_notification": {
                  "cloud_recording_avaliable_reminder": "boolean",
                  "jbh_reminder": "boolean",
                  "cancel_meeting_reminder": "boolean",
                  "low_host_count_reminder": "boolean",
                  "alternative_host_reminder": "boolean"
                },
                "zoom_rooms": {
                  "upcoming_meeting_alert": "boolean",
                  "start_airplay_manually": "boolean",
                  "weekly_system_restart": "boolean",
                  "list_meetings_with_calendar": "boolean",
                  "zr_post_meeting_feedback": "boolean",
                  "ultrasonic": "boolean",
                  "force_private_meeting": "boolean",
                  "hide_host_information": "boolean",
                  "cmr_for_instant_meeting": "boolean",
                  "auto_start_stop_scheduled_meetings": "boolean"
                },
                "security": {
                  "admin_change_name_pic": "boolean",
                  "import_photos_from_devices": "boolean",
                  "hide_billing_info": "boolean"
                },
                "recording": {
                  "local_recording": "boolean",
                  "cloud_recording": "boolean",
                  "record_speaker_view": "boolean",
                  "record_gallery_view": "boolean",
                  "record_audio_file": "boolean",
                  "save_chat_text": "boolean",
                  "show_timestamp": "boolean",
                  "recording_audio_transcript": "boolean",
                  "auto_recording": "string",
                  "cloud_recording_download": "boolean",
                  "cloud_recording_download_host": "boolean",
                  "account_user_access_recording": "boolean",
                  "auto_delete_cmr": "boolean",
                  "auto_delete_cmr_days": "integer"
                },
                "telephony": {
                  "third_party_audio": "boolean",
                  "audio_conference_info": "string"
                },
                "integration": {
                  "google_calendar": "boolean",
                  "google_drive": "boolean",
                  "dropbox": "boolean",
                  "box": "boolean",
                  "microsoft_one_drive": "boolean",
                  "kubi": "boolean"
                },
                "feature": {
                  "meeting_capacity": "integer"
                }
              }
            }
          },
          "404": {
            "description": "Account not found"
          }
        }
      },
      "patch": {
        "summary": "Update a sub account's settings",
        "description": "Update a sub account's settings under the master account",
        "tags": [
          "Accounts"
        ],
        "operationId": "accountSettingsUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountSettings"
            },
            "x-examples": {
              "application/json": {
                "schedule_meting": {
                  "host_video": "boolean",
                  "participant_video": "boolean",
                  "audio_type": "string",
                  "join_before_host": "boolean",
                  "enforce_login": "boolean",
                  "enforce_login_with_domains": "boolean",
                  "enforce_login_domains": "string",
                  "not_store_meeting_topic": "boolean",
                  "force_pmi_jbh_password": "boolean"
                },
                "in_meeting": {
                  "e2e_encryption": "boolean",
                  "chat": "boolean",
                  "private_chat": "boolean",
                  "auto_saving_chat": "boolean",
                  "file_transfer": "boolean",
                  "feedback": "boolean",
                  "post_meeting_feedback": "boolean",
                  "co_host": "boolean",
                  "polling": "boolean",
                  "attendee_on_hold": "boolean",
                  "show_meeting_control_toolbar": "boolean",
                  "allow_show_zoom_windows": "boolean",
                  "annotation": "boolean",
                  "whiteboard": "boolean",
                  "webinar_question_answer": "boolean",
                  "anonymous_question_answer": "boolean",
                  "breakout_room": "boolean",
                  "closed_caption": "boolean",
                  "far_end_camera_control": "boolean",
                  "group_hd": "boolean",
                  "virtual_background": "boolean",
                  "watermark": "boolean",
                  "alert_guest_join": "boolean",
                  "auto_answer": "boolean",
                  "p2p_connetion": "boolean",
                  "p2p_ports": "boolean",
                  "ports_range": "string",
                  "sending_default_email_invites": "boolean",
                  "use_html_format_email": "boolean",
                  "dscp_marking": "boolean",
                  "dscp_audio": "integer",
                  "dscp_video": "integer",
                  "stereo_audio": "boolean",
                  "original_audio": "boolean",
                  "screen_sharing": "boolean",
                  "remote_control": "boolean",
                  "attention_tracking": "boolean"
                },
                "email_notification": {
                  "cloud_recording_avaliable_reminder": "boolean",
                  "jbh_reminder": "boolean",
                  "cancel_meeting_reminder": "boolean",
                  "low_host_count_reminder": "boolean",
                  "alternative_host_reminder": "boolean"
                },
                "zoom_rooms": {
                  "upcoming_meeting_alert": "boolean",
                  "start_airplay_manually": "boolean",
                  "weekly_system_restart": "boolean",
                  "list_meetings_with_calendar": "boolean",
                  "zr_post_meeting_feedback": "boolean",
                  "ultrasonic": "boolean",
                  "force_private_meeting": "boolean",
                  "hide_host_information": "boolean",
                  "cmr_for_instant_meeting": "boolean",
                  "auto_start_stop_scheduled_meetings": "boolean"
                },
                "security": {
                  "admin_change_name_pic": "boolean",
                  "import_photos_from_devices": "boolean",
                  "hide_billing_info": "boolean"
                },
                "recording": {
                  "local_recording": "boolean",
                  "cloud_recording": "boolean",
                  "record_speaker_view": "boolean",
                  "record_gallery_view": "boolean",
                  "record_audio_file": "boolean",
                  "save_chat_text": "boolean",
                  "show_timestamp": "boolean",
                  "recording_audio_transcript": "boolean",
                  "auto_recording": "string",
                  "cloud_recording_download": "boolean",
                  "cloud_recording_download_host": "boolean",
                  "account_user_access_recording": "boolean",
                  "auto_delete_cmr": "boolean",
                  "auto_delete_cmr_days": "integer"
                },
                "telephony": {
                  "third_party_audio": "boolean",
                  "audio_conference_info": "string"
                },
                "integration": {
                  "google_calendar": "boolean",
                  "google_drive": "boolean",
                  "dropbox": "boolean",
                  "box": "boolean",
                  "microsoft_one_drive": "boolean",
                  "kubi": "boolean"
                },
                "feature": {
                  "meeting_capacity": "integer"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Account settings updated",
            "examples": {}
          },
          "404": {
            "description": "Account not found"
          }
        }
      }
    },
    "/accounts/{accountId}/managed_domains": {
      "get": {
        "summary": "Retrieve a sub account's managed domains",
        "description": "Retrieve a sub account's managed domains under the master account",
        "tags": [
          "Accounts"
        ],
        "operationId": "accountManagedDomain",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          }
        ],
        "responses": {
          "200": {
            "description": "Account managed domains returned",
            "schema": {
              "$ref": "#/definitions/DomainsList"
            }
          },
          "404": {
            "description": "Account not found"
          }
        }
      }
    },
    "/accounts/{accountId}/billing": {
      "get": {
        "summary": "Retrieve billing information for a sub account",
        "description": "Retrieve billing information for a sub account under the master account",
        "tags": [
          "Billing"
        ],
        "operationId": "accountBilling",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          }
        ],
        "responses": {
          "200": {
            "description": "Account billing contact information returned",
            "schema": {
              "$ref": "#/definitions/BillingContactRequired"
            },
            "examples": {
              "application/json": {
                "first_name": "string",
                "last_name": "string",
                "email": "string",
                "phone_number": "string",
                "address": "string",
                "apt": "string",
                "city": "string",
                "state": "string",
                "zip": "string",
                "country": "string"
              }
            }
          },
          "404": {
            "description": "Account not found"
          }
        }
      },
      "patch": {
        "summary": "Update billing information for a sub account",
        "description": "Update billing information for a sub account under the master account <aside>Only for the sub account which is a paid account and paid by master account</aside>",
        "tags": [
          "Billing"
        ],
        "operationId": "accountBillingUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingContact"
            },
            "x-examples": {
              "application/json": {
                "first_name": "string",
                "last_name": "string",
                "email": "string",
                "phone_number": "string",
                "address": "string",
                "apt": "string",
                "city": "string",
                "state": "string",
                "zip": "string",
                "country": "string"
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Account billing contact information updated"
          },
          "404": {
            "description": "Account not found"
          }
        }
      }
    },
    "/accounts/{accountId}/plans": {
      "get": {
        "summary": "Retrieve plan information for a sub account",
        "description": "Retrieve plan information for a sub account under the master account  <aside>Only for the sub account which is paid by master account</aside>",
        "tags": [
          "Billing"
        ],
        "operationId": "accountPlans",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          }
        ],
        "responses": {
          "200": {
            "description": "Account plans returned",
            "schema": {
              "$ref": "#/definitions/AccountPlans"
            },
            "examples": {
              "application/json": {
                "plan_base": {
                  "type": "string",
                  "hosts": "integer"
                },
                "plan_zoom_rooms": {
                  "type": "string",
                  "hosts": "integer"
                },
                "plan_room_connector": {
                  "type": "string",
                  "hosts": "integer"
                },
                "plan_large_meeting": [
                  {
                    "type": "string",
                    "hosts": "integer"
                  }
                ],
                "plan_webinar": [
                  {
                    "type": "string",
                    "hosts": "integer"
                  }
                ],
                "plan_recording": "string",
                "plan_audio": {
                  "type": "string",
                  "tollfree_countries": "string",
                  "premium_countries": "string",
                  "callout_countries": "string",
                  "ddi_numbers": "integer"
                }
              }
            }
          },
          "404": {
            "description": "Account not fond"
          }
        }
      },
      "post": {
        "summary": "Subscribe plans for a sub account",
        "description": "Subscribe plans for a sub account of the master account <aside>Can only subscribe plans for the sub account which is a free account and paid by master account</aside>",
        "tags": [
          "Billing"
        ],
        "operationId": "accountPlanCreate",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "contact": {
                      "$ref": "#/definitions/BillingContactRequired"
                    }
                  }
                },
                {
                  "$ref": "#/definitions/AccountPlans"
                }
              ]
            },
            "x-examples": {
              "application/json": {
                "contact": {
                  "first_name": "string",
                  "last_name": "string",
                  "email": "string",
                  "phone_number": "string",
                  "address": "string",
                  "apt": "string",
                  "city": "string",
                  "state": "string",
                  "zip": "string",
                  "country": "string"
                },
                "plan_base": {
                  "type": "string",
                  "hosts": "integer"
                },
                "plan_zoom_rooms": {
                  "type": "string",
                  "hosts": "integer"
                },
                "plan_room_connector": {
                  "type": "string",
                  "hosts": "integer"
                },
                "plan_large_meeting": [
                  {
                    "type": "string",
                    "hosts": "integer"
                  }
                ],
                "plan_webinar": [
                  {
                    "type": "string",
                    "hosts": "integer"
                  }
                ],
                "plan_recording": "string",
                "plan_audio": {
                  "type": "string",
                  "tollfree_countries": "string",
                  "premium_countries": "string",
                  "callout_countries": "string",
                  "ddi_numbers": "integer"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Account plans updated",
            "schema": {
              "$ref": "#/definitions/AccountPlans"
            },
            "examples": {
              "application/json": {
                "plan_base": {
                  "type": "string",
                  "hosts": "integer"
                },
                "plan_zoom_rooms": {
                  "type": "string",
                  "hosts": "integer"
                },
                "plan_room_connector": {
                  "type": "string",
                  "hosts": "integer"
                },
                "plan_large_meeting": [
                  {
                    "type": "string",
                    "hosts": "integer"
                  }
                ],
                "plan_webinar": [
                  {
                    "type": "string",
                    "hosts": "integer"
                  }
                ],
                "plan_recording": "string",
                "plan_audio": {
                  "type": "string",
                  "tollfree_countries": "string",
                  "premium_countries": "string",
                  "callout_countries": "string",
                  "ddi_numbers": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/plans/base": {
      "put": {
        "summary": "Update a base plan for a sub account",
        "description": "Update a base plan for a sub account <aside>Can only update a base plan for the sub account which is a paid account and paid by master account</aside>",
        "tags": [
          "Billing"
        ],
        "operationId": "accountPlanBaseUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountPlanBaseRequired"
            },
            "x-examples": {
              "application/json": {
                "type": "string",
                "hosts": "integer"
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Account plans updated",
            "examples": {}
          }
        }
      }
    },
    "/accounts/{accountId}/plans/addons": {
      "post": {
        "summary": "Add an additional plan for sub account",
        "description": "Add an additional plan for sub account <aside>Can only add an Additional plan for the sub account which is a paid account and paid by master account</aside>",
        "tags": [
          "Billing"
        ],
        "operationId": "accountPlanAddonCreate",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountPlanRequired"
            },
            "x-examples": {
              "application/json": {
                "type": "string",
                "hosts": "integer"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Account plans updated"
          }
        }
      },
      "put": {
        "summary": "Update an additional plan for sub account",
        "description": "Update an additional plan for sub account<aside>Can only update an Additional plan for the sub account which is a paid account and paid by master account</aside>",
        "tags": [
          "Billing"
        ],
        "operationId": "accountPlanAddonUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/AccountId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountPlanRequired"
            },
            "x-examples": {
              "application/json": {
                "type": "string",
                "hosts": "integer"
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Account plans updated"
          }
        }
      }
    },
    "/groups": {
      "get": {
        "summary": "List groups",
        "description": "List groups under your account",
        "tags": [
          "Groups"
        ],
        "parameters": [],
        "operationId": "groups",
        "responses": {
          "200": {
            "description": "List of groups returned",
            "schema": {
              "$ref": "#/definitions/GroupList"
            },
            "examples": {
              "application/json": {
                "total_records": "integer",
                "groups": [
                  {
                    "id": "string",
                    "name": "string",
                    "total_members": "integer"
                  }
                ]
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a group",
        "description": "Create a group under your account",
        "tags": [
          "Groups"
        ],
        "operationId": "groupCreate",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Group name"
                }
              }
            },
            "x-examples": {
              "application/json": {
                "name": "string"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Group created",
            "headers": {
              "Content-Location": {
                "description": "Location of created group",
                "type": "string"
              }
            },
            "schema": {
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Group ID"
                },
                "name": {
                  "type": "string",
                  "description": "Group name"
                },
                "total_members": {
                  "type": "integer",
                  "description": "Group member count"
                }
              }
            },
            "examples": {
              "application/json": {
                "id": "string",
                "name": "string",
                "total_members": "integer"
              }
            }
          }
        }
      }
    },
    "/groups/{groupId}": {
      "get": {
        "summary": "Retrieve a group",
        "description": "Retrieve a group under your account",
        "tags": [
          "Groups"
        ],
        "operationId": "group",
        "parameters": [
          {
            "$ref": "#/parameters/GroupId"
          }
        ],
        "responses": {
          "200": {
            "description": "Group object returned",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Group ID"
                    }
                  }
                },
                {
                  "$ref": "#/definitions/Group"
                }
              ]
            },
            "examples": {
              "application/json": {
                "id": "string",
                "name": "string",
                "total_members": "integer"
              }
            }
          },
          "404": {
            "description": "Group not found"
          }
        }
      },
      "patch": {
        "summary": "Update a group",
        "description": "Update a group under your account",
        "tags": [
          "Groups"
        ],
        "operationId": "groupUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/GroupId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Group name. Must be unique in one account. Character length is less than 128."
                }
              }
            },
            "x-examples": {
              "application/json": {
                "name": "string"
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Group updated"
          },
          "404": {
            "description": "Group not found"
          }
        }
      },
      "delete": {
        "summary": "Delete a group",
        "description": "Delete a group under your account",
        "tags": [
          "Groups"
        ],
        "operationId": "groupDelete",
        "parameters": [
          {
            "$ref": "#/parameters/GroupId"
          }
        ],
        "responses": {
          "204": {
            "description": "Group deleted"
          },
          "404": {
            "description": "Group not found"
          }
        }
      }
    },
    "/groups/{groupId}/members": {
      "get": {
        "summary": "List a group's members",
        "description": "List a group's members under your account",
        "tags": [
          "Groups"
        ],
        "operationId": "groupMembers",
        "parameters": [
          {
            "$ref": "#/parameters/GroupId"
          },
          {
            "$ref": "#/parameters/PageSize"
          },
          {
            "$ref": "#/parameters/PageNumber"
          }
        ],
        "responses": {
          "200": {
            "description": "Group member list returned",
            "schema": {
              "$ref": "#/definitions/GroupMemberList"
            },
            "examples": {
              "application/json": {
                "page_count": "integer",
                "page_number": "integer",
                "page_size": "integer",
                "total_records": "integer",
                "members": [
                  {
                    "id": "string",
                    "email": "string",
                    "first_name": "string",
                    "last_name": "string",
                    "type": "integer"
                  }
                ]
              }
            }
          },
          "404": {
            "description": "Group not found"
          }
        }
      },
      "post": {
        "summary": "Add group members",
        "description": "Add members to a group under your account",
        "tags": [
          "Groups"
        ],
        "operationId": "groupMembersCreate",
        "parameters": [
          {
            "$ref": "#/parameters/GroupId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "members": {
                  "type": "array",
                  "description": "List of Group members",
                  "maximum": 30,
                  "items": {
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "User ID"
                      },
                      "email": {
                        "type": "string",
                        "description": "User email. If ID given, email is ignored."
                      }
                    }
                  }
                }
              }
            },
            "x-examples": {
              "application/json": {
                "members": [
                  {
                    "id": "string",
                    "email": "string"
                  }
                ]
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Member added",
            "schema": {
              "properties": {
                "ids": {
                  "type": "string"
                },
                "added_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "examples": {
              "application/json": {
                "ids": "string",
                "added_at": "string [date-time]"
              }
            }
          },
          "404": {
            "description": "Group not found"
          }
        }
      }
    },
    "/groups/{groupId}/members/{memberId}": {
      "delete": {
        "summary": "Delete a group member",
        "description": "Delete a member from a group under your account",
        "tags": [
          "Groups"
        ],
        "operationId": "groupMembersDelete",
        "parameters": [
          {
            "$ref": "#/parameters/GroupId"
          },
          {
            "$ref": "#/parameters/MemberId"
          }
        ],
        "responses": {
          "204": {
            "description": "Group member deleted"
          },
          "404": {
            "description": "Group or Group member not found"
          }
        }
      }
    },
    "/h323/devices": {
      "get": {
        "summary": "List H.323/SIP Devices.",
        "description": "List H.323/SIP Devices on your Zoom account.",
        "tags": [
          "Devices"
        ],
        "parameters": [],
        "operationId": "deviceList",
        "responses": {
          "200": {
            "description": "List of H.323/SIP Devices returned.",
            "schema": {
              "$ref": "#/definitions/DeviceList"
            },
            "examples": {
              "application/json": {
                "page_count": "integer",
                "page_number": "integer",
                "page_size": "integer",
                "total_records": "integer",
                "devices": [
                  {
                    "id": "string",
                    "name": "string",
                    "protocol": "string",
                    "ip": "string",
                    "encryption": "string"
                  }
                ]
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a H.323/SIP Device",
        "description": "Create a H.323/SIP Device on your Zoom account",
        "tags": [
          "Devices"
        ],
        "operationId": "deviceCreate",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "H.323/SIP Device",
            "schema": {
              "$ref": "#/definitions/Device"
            },
            "x-examples": {
              "application/json": {
                "name": "string",
                "protocol": "string",
                "ip": "string",
                "encryption": "string"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "H.323/SIP Device created",
            "headers": {
              "Content-Location": {
                "description": "Location of created device",
                "type": "string"
              }
            },
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Device ID"
                    }
                  }
                },
                {
                  "$ref": "#/definitions/Device"
                }
              ]
            },
            "examples": {
              "application/json": {
                "id": "string",
                "name": "string",
                "protocol": "string",
                "ip": "string",
                "encryption": "string"
              }
            }
          }
        }
      }
    },
    "/h323/devices/{deviceId}": {
      "patch": {
        "summary": "Update a H.323/SIP Device",
        "description": "Update a H.323/SIP Device on your Zoom account",
        "tags": [
          "Devices"
        ],
        "operationId": "deviceUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Device"
            },
            "x-examples": {
              "application/json": {
                "name": "string",
                "protocol": "string",
                "ip": "string",
                "encryption": "string"
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "H.323/SIP Device updated",
            "examples": {}
          },
          "404": {
            "description": "H.323/SIP Device not found"
          }
        }
      },
      "delete": {
        "summary": "Delete a H.323/SIP Device",
        "description": "Delete a H.323/SIP Device on your Zoom account",
        "tags": [
          "Devices"
        ],
        "operationId": "deviceDelete",
        "parameters": [
          {
            "$ref": "#/parameters/DeviceId"
          }
        ],
        "responses": {
          "204": {
            "description": "H.323/SIP Device deleted"
          },
          "404": {
            "description": "H.323/SIP Device not found"
          }
        }
      }
    },
    "/im/groups": {
      "get": {
        "summary": "List IM Groups",
        "description": "List IM groups under your account",
        "tags": [
          "IM Groups"
        ],
        "operationId": "imGroups",
        "parameters": [],
        "responses": {
          "200": {
            "description": "List of IM Groups returned",
            "schema": {
              "$ref": "#/definitions/IMGroupList"
            },
            "examples": {
              "application/json": {
                "page_count": "integer",
                "page_number": "integer",
                "page_size": "integer",
                "total_records": "integer",
                "groups": [
                  {
                    "id": "string",
                    "name": "string",
                    "total_members": "integer",
                    "type": "string",
                    "search_by_domain": "boolean",
                    "search_by_account": "boolean",
                    "search_by_ma_account": "boolean"
                  }
                ]
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create an IM Group",
        "description": "Create a IM Group under your account",
        "tags": [
          "IM Groups"
        ],
        "operationId": "imGroupCreate",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Group name, must be unique in one account",
                  "maxLength": 128
                },
                "type": {
                  "type": "string",
                  "description": "IM Group type<br>`normal` Only members can see the group automatically. Other people can search members in the group.<br>`shared` All people in the account can see the group and members automatically<br>`restricted` Nobody can see the group or search members except the members in the group",
                  "default": "normal",
                  "enum": [
                    "normal",
                    "shared",
                    "restricted"
                  ],
                  "x-enum-descriptions": [
                    "Only members can see the group automatically. Other people can search members in the group.",
                    "All people in the account can see the group and members automatically",
                    "Nobody can see the group or search members except the members in the group"
                  ]
                },
                "search_by_domain": {
                  "type": "boolean",
                  "description": "Members can search others in the same email domain"
                },
                "search_by_account": {
                  "type": "boolean",
                  "description": "Members can search others under same account"
                },
                "search_by_ma_account": {
                  "type": "boolean",
                  "description": "Members can search others under same master account, including all sub accounts"
                }
              }
            },
            "x-examples": {
              "application/json": {
                "name": "string",
                "type": "string",
                "search_by_domain": "boolean",
                "search_by_account": "boolean",
                "search_by_ma_account": "boolean"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "IM Group created",
            "headers": {
              "Content-Location": {
                "description": "Location of created IM Group",
                "type": "string"
              }
            },
            "schema": {
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Group ID"
                },
                "name": {
                  "type": "string",
                  "description": "Group name"
                },
                "total_members": {
                  "type": "integer",
                  "description": "Group member count"
                },
                "search_by_domain": {
                  "type": "boolean",
                  "description": "Members can search others in the same email domain"
                },
                "search_by_account": {
                  "type": "boolean",
                  "description": "Members can search others under same account"
                },
                "search_by_ma_account": {
                  "type": "boolean",
                  "description": "Members can search others under same master account, including all sub accounts"
                }
              }
            },
            "examples": {
              "application/json": {},
              "new": {
                "id": "string",
                "name": "string",
                "total_members": "integer",
                "search_by_domain": "boolean",
                "search_by_account": "boolean",
                "search_by_ma_account": "boolean"
              }
            }
          }
        }
      }
    },
    "/im/groups/{groupId}": {
      "get": {
        "summary": "Retrieve an IM Group",
        "description": "Retrieve an IM Group under your account",
        "tags": [
          "IM Groups"
        ],
        "operationId": "imGroup",
        "parameters": [
          {
            "$ref": "#/parameters/GroupId"
          }
        ],
        "responses": {
          "200": {
            "description": "IM Group object returned",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Group ID"
                    }
                  }
                },
                {
                  "$ref": "#/definitions/IMGroup"
                }
              ]
            },
            "examples": {
              "application/json": {
                "id": "string",
                "name": "string",
                "total_members": "integer",
                "type": "string",
                "search_by_domain": "boolean",
                "search_by_account": "boolean",
                "search_by_ma_account": "boolean"
              }
            }
          },
          "404": {
            "description": "IM Group not found"
          }
        }
      },
      "patch": {
        "summary": "Update an IM Group",
        "description": "Update an IM Group under your account",
        "tags": [
          "IM Groups"
        ],
        "operationId": "imGroupUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/GroupId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Group name, must be unique in one account",
                  "maxLength": 128
                },
                "type": {
                  "type": "string",
                  "description": "IM Group type<br>`normal` Only members can see the group automatically. Other people can search members in the group.<br>`shared` All people in the account can see the group and members automatically<br>`restricted` Nobody can see the group or search members except the members in the group",
                  "enum": [
                    "normal",
                    "shared",
                    "restricted"
                  ],
                  "x-enum-descriptions": [
                    "Only members can see the group automatically. Other people can search members in the group.",
                    "All people in the account can see the group and members automatically",
                    "Nobody can see the group or search members except the members in the group"
                  ]
                },
                "search_by_domain": {
                  "type": "boolean",
                  "description": "Members can search others in the same email domain"
                },
                "search_by_account": {
                  "type": "boolean",
                  "description": "Members can search others under same account"
                },
                "search_by_ma_account": {
                  "type": "boolean",
                  "description": "Members can search others under same master account, including all sub accounts"
                }
              }
            },
            "x-examples": {
              "application/json": {
                "name": "string",
                "type": "string",
                "search_by_domain": "boolean",
                "search_by_account": "boolean",
                "search_by_ma_account": "boolean"
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "IM Group updated",
            "examples": {}
          },
          "404": {
            "description": "IM Group not found"
          }
        }
      },
      "delete": {
        "summary": "Delete an IM Group",
        "description": "Delete an IM Group under your account",
        "tags": [
          "IM Groups"
        ],
        "operationId": "imGroupDelete",
        "parameters": [
          {
            "$ref": "#/parameters/GroupId"
          }
        ],
        "responses": {
          "204": {
            "description": "IM Group deleted",
            "examples": {}
          },
          "404": {
            "description": "IM Group not found"
          }
        }
      }
    },
    "/im/groups/{groupId}/members": {
      "get": {
        "summary": "List an IM Group's members",
        "description": "List an IM Group's members under your account",
        "tags": [
          "IM Groups"
        ],
        "operationId": "imGroupMembers",
        "parameters": [
          {
            "$ref": "#/parameters/GroupId"
          },
          {
            "$ref": "#/parameters/PageSize"
          },
          {
            "$ref": "#/parameters/PageNumber"
          }
        ],
        "responses": {
          "200": {
            "description": "IM Group member list returned",
            "schema": {
              "$ref": "#/definitions/GroupMemberList"
            },
            "examples": {
              "application/json": {
                "page_count": "integer",
                "page_number": "integer",
                "page_size": "integer",
                "total_records": "integer",
                "members": [
                  {
                    "id": "string",
                    "email": "string",
                    "first_name": "string",
                    "last_name": "string",
                    "type": "integer"
                  }
                ]
              }
            }
          },
          "404": {
            "description": "IM Group not found"
          }
        }
      },
      "post": {
        "summary": "Add IM Group members",
        "description": "Add members to an IM Group under your account",
        "tags": [
          "IM Groups"
        ],
        "operationId": "imGroupMembersCreate",
        "parameters": [
          {
            "$ref": "#/parameters/GroupId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "members": {
                  "type": "array",
                  "description": "List of IM Group members",
                  "maximum": 10,
                  "items": {
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "User ID"
                      },
                      "email": {
                        "type": "string",
                        "description": "User email. If ID given, email is ignored."
                      }
                    }
                  }
                }
              }
            },
            "x-examples": {
              "application/json": {
                "members": [
                  {
                    "id": "string",
                    "email": "string"
                  }
                ]
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Member added",
            "schema": {
              "properties": {
                "ids": {
                  "type": "string"
                },
                "added_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "examples": {
              "application/json": {
                "ids": "string",
                "added_at": "string [date-time]"
              }
            }
          },
          "404": {
            "description": "IM Group not found"
          }
        }
      }
    },
    "/im/groups/{groupId}/members/{memberId}": {
      "delete": {
        "summary": "Delete an IM Group member",
        "description": "Delete a member from an IM Group under your account",
        "tags": [
          "IM Groups"
        ],
        "operationId": "imGroupMembersDelete",
        "parameters": [
          {
            "$ref": "#/parameters/GroupId"
          },
          {
            "$ref": "#/parameters/MemberId"
          }
        ],
        "responses": {
          "204": {
            "description": "IM Group member deleted"
          },
          "404": {
            "description": "IM Group or IM Group member not found"
          }
        }
      }
    },
    "/im/chat/sessions": {
      "get": {
        "summary": "Retrieve IM Chat sessions",
        "description": "Retrieve IM Chat sessions for a specified period <aside>This API only supports oauth2.</aside>",
        "tags": [
          "IM Chat"
        ],
        "operationId": "imChatSessions",
        "parameters": [
          {
            "$ref": "#/parameters/FromDate"
          },
          {
            "$ref": "#/parameters/ToDate"
          },
          {
            "$ref": "#/parameters/PageSize"
          },
          {
            "$ref": "#/parameters/NextPageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Archived IM Chat sessions Returned",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "from": {
                      "type": "string",
                      "format": "date",
                      "description": "Start date"
                    },
                    "to": {
                      "type": "string",
                      "format": "date",
                      "description": "End date"
                    }
                  }
                },
                {
                  "$ref": "#/definitions/PaginationToken4IMChat"
                },
                {
                  "properties": {
                    "sessions": {
                      "type": "array",
                      "description": "Array of session objects",
                      "items": {
                        "properties": {
                          "session_id": {
                            "type": "string",
                            "description": "IM Chat session ID"
                          },
                          "type": {
                            "type": "string",
                            "description": "IM Chat session type"
                          },
                          "name": {
                            "type": "string",
                            "description": "Meeting topic"
                          },
                          "last_message_sent_time": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last message sent time"
                          }
                        }
                      }
                    }
                  }
                }
              ]
            },
            "examples": {
              "application/json": {
                "from": "string [date]",
                "to": "string [date]",
                "page_size": "integer",
                "next_page_token": "string",
                "sessions": [
                  {
                    "session_id": "string",
                    "type": "string",
                    "name": "string",
                    "last_message_sent_time": "string [date-time]"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/im/chat/sessions/{sessionId}": {
      "get": {
        "summary": "Retrieve IM Chat messages",
        "description": "Retrieve IM Chat messages for a specified period <aside>This API only supports oauth2.</aside>",
        "tags": [
          "IM Chat"
        ],
        "operationId": "imChatMessages",
        "parameters": [
          {
            "$ref": "#/parameters/SessionId"
          },
          {
            "$ref": "#/parameters/FromDate"
          },
          {
            "$ref": "#/parameters/ToDate"
          },
          {
            "$ref": "#/parameters/PageSize"
          },
          {
            "$ref": "#/parameters/NextPageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Archived IM Chat messages Returned",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "session_id": {
                      "type": "string",
                      "description": "IM Chat session ID"
                    },
                    "from": {
                      "type": "string",
                      "format": "date",
                      "description": "Start date"
                    },
                    "to": {
                      "type": "string",
                      "format": "date",
                      "description": "End date"
                    }
                  }
                },
                {
                  "$ref": "#/definitions/PaginationToken4IMChat"
                },
                {
                  "properties": {
                    "messages": {
                      "type": "array",
                      "description": "Array of session objects",
                      "items": {
                        "properties": {
                          "message": {
                            "type": "string",
                            "description": "IM Chat message content"
                          },
                          "sender": {
                            "type": "string",
                            "description": "IM Chat message sender"
                          },
                          "date_time": {
                            "type": "string",
                            "format": "date-time",
                            "description": "IM Chat message sent time"
                          },
                          "action": {
                            "type": "string",
                            "description": "IM Chat message action"
                          },
                          "action_time": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Action time"
                          }
                        }
                      }
                    }
                  }
                }
              ]
            },
            "examples": {
              "application/json": {
                "session_id": "string",
                "from": "string [date]",
                "to": "string [date]",
                "page_size": "integer",
                "next_page_token": "string",
                "messages": [
                  {
                    "message": "string",
                    "sender": "string",
                    "date_time": "string [date-time]",
                    "action": "string",
                    "action_time": "string [date-time]"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/users/{userId}/meetings": {
      "get": {
        "summary": "List meetings",
        "description": "List meetings for a user",
        "tags": [
          "Meetings"
        ],
        "operationId": "meetings",
        "parameters": [
          {
            "$ref": "#/parameters/UserId"
          },
          {
            "$ref": "#/parameters/MeetingType"
          },
          {
            "$ref": "#/parameters/PageSize"
          },
          {
            "$ref": "#/parameters/PageNumber"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Meeting objects returned",
            "schema": {
              "$ref": "#/definitions/MeetingList"
            },
            "examples": {
              "application/json": {
                "page_count": "integer",
                "page_number": "integer",
                "page_size": "integer",
                "total_records": "integer",
                "meetings": [
                  {
                    "uuid": "string",
                    "id": "string",
                    "host_id": "string",
                    "topic": "string",
                    "type": "integer",
                    "start_time": "string [date-time]",
                    "duration": "integer",
                    "timezone": "string",
                    "created_at": "string [date-time]",
                    "join_url": "string"
                  }
                ]
              }
            }
          },
          "404": {
            "description": "User not found"
          }
        }
      },
      "post": {
        "summary": "Create a meeting",
        "description": "Create a meeting for a user <aside>The expiration time of start_url is two hours. But for API users, the expiration time is 90 days.</aside>",
        "tags": [
          "Meetings"
        ],
        "operationId": "meetingCreate",
        "parameters": [
          {
            "$ref": "#/parameters/UserId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Meeting object",
            "schema": {
              "$ref": "#/definitions/Meeting"
            },
            "x-examples": {
              "application/json": {
                "topic": "string",
                "type": "integer",
                "start_time": "string [date-time]",
                "duration": "integer",
                "timezone": "string",
                "password": "string",
                "agenda": "string",
                "recurrence": {
                  "type": "integer",
                  "repeat_interval": "integer",
                  "weekly_days": "integer",
                  "monthly_day": "integer",
                  "monthly_week": "integer",
                  "monthly_week_day": "integer",
                  "end_times": "integer",
                  "end_date_time": "string [date-time]"
                },
                "settings": {
                  "host_video": "boolean",
                  "participant_video": "boolean",
                  "cn_meeting": "boolean",
                  "in_meeting": "boolean",
                  "join_before_host": "boolean",
                  "mute_upon_entry": "boolean",
                  "watermark": "boolean",
                  "use_pmi": "boolean",
                  "approval_type": "integer",
                  "registration_type": "integer",
                  "audio": "string",
                  "auto_recording": "string",
                  "enforce_login": "boolean",
                  "enforce_login_domains": "string",
                  "alternative_hosts": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Meeting Created",
            "headers": {
              "Content-Location": {
                "description": "Location of created Meeting",
                "type": "string"
              }
            },
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "description": "Meeting unique ID"
                    },
                    "id": {
                      "type": "string",
                      "description": "Meeting ID, also known as meeting number"
                    },
                    "host_id": {
                      "type": "string",
                      "description": "ID of the user set as host of meeting"
                    }
                  }
                },
                {
                  "$ref": "#/definitions/MeetingInfo"
                }
              ]
            },
            "examples": {
              "application/json": {
                "uuid": "string",
                "id": "string",
                "host_id": "string",
                "topic": "string",
                "type": "integer",
                "start_time": "string [date-time]",
                "duration": "integer",
                "timezone": "string",
                "created_at": "string [date-time]",
                "agenda": "string",
                "start_url": "string",
                "join_url": "string",
                "password": "string",
                "h323_password": "string",
                "occurrences": [
                  {
                    "occurrence_id": "integer",
                    "start_time": "string [date-time]",
                    "duration": "integer",
                    "status": "string"
                  }
                ],
                "settings": {
                  "host_video": "boolean",
                  "participant_video": "boolean",
                  "cn_meeting": "boolean",
                  "in_meeting": "boolean",
                  "join_before_host": "boolean",
                  "mute_upon_entry": "boolean",
                  "watermark": "boolean",
                  "use_pmi": "boolean",
                  "approval_type": "integer",
                  "registration_type": "integer",
                  "audio": "string",
                  "auto_recording": "string",
                  "enforce_login": "boolean",
                  "enforce_login_domains": "string",
                  "alternative_hosts": "string"
                }
              }
            }
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    },
    "/meetings/{meetingId}": {
      "get": {
        "summary": "Retrieve a meeting",
        "description": "Retrieve a meeting's details",
        "tags": [
          "Meetings"
        ],
        "operationId": "meeting",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId"
          }
        ],
        "responses": {
          "200": {
            "description": "Meeting object returned",
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "description": "Meeting unique ID"
                    },
                    "id": {
                      "type": "string",
                      "description": "Meeting ID, also know as meeting number"
                    },
                    "host_id": {
                      "type": "string",
                      "description": "ID of the user set as host of meeting"
                    }
                  }
                },
                {
                  "$ref": "#/definitions/MeetingInfo"
                }
              ]
            },
            "examples": {
              "application/json": {
                "uuid": "string",
                "id": "string",
                "host_id": "string",
                "topic": "string",
                "type": "integer",
                "start_time": "string [date-time]",
                "duration": "integer",
                "timezone": "string",
                "created_at": "string [date-time]",
                "agenda": "string",
                "start_url": "string",
                "join_url": "string",
                "password": "string",
                "h323_password": "string",
                "occurrences": [
                  {
                    "occurrence_id": "integer",
                    "start_time": "string [date-time]",
                    "duration": "integer",
                    "status": "string"
                  }
                ],
                "settings": {
                  "host_video": "boolean",
                  "participant_video": "boolean",
                  "cn_meeting": "boolean",
                  "in_meeting": "boolean",
                  "join_before_host": "boolean",
                  "mute_upon_entry": "boolean",
                  "watermark": "boolean",
                  "use_pmi": "boolean",
                  "approval_type": "integer",
                  "registration_type": "integer",
                  "audio": "string",
                  "auto_recording": "string",
                  "enforce_login": "boolean",
                  "enforce_login_domains": "string",
                  "alternative_hosts": "string"
                }
              }
            }
          },
          "404": {
            "description": "Meeting not found"
          }
        }
      },
      "patch": {
        "summary": "Update a meeting",
        "description": "Update a meeting's details",
        "tags": [
          "Meetings"
        ],
        "operationId": "meetingUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Meeting",
            "schema": {
              "$ref": "#/definitions/MeetingUpdate"
            },
            "x-examples": {
              "application/json": {
                "topic": "string",
                "type": "integer",
                "start_time": "string [date-time]",
                "duration": "integer",
                "timezone": "string",
                "password": "string",
                "agenda": "string",
                "recurrence": {
                  "type": "integer",
                  "repeat_interval": "integer",
                  "weekly_days": "integer",
                  "monthly_day": "integer",
                  "monthly_week": "integer",
                  "monthly_week_day": "integer",
                  "end_times": "integer",
                  "end_date_time": "string [date-time]"
                },
                "settings": {
                  "host_video": "boolean",
                  "participant_video": "boolean",
                  "cn_meeting": "boolean",
                  "in_meeting": "boolean",
                  "join_before_host": "boolean",
                  "mute_upon_entry": "boolean",
                  "watermark": "boolean",
                  "use_pmi": "boolean",
                  "approval_type": "integer",
                  "registration_type": "integer",
                  "audio": "string",
                  "auto_recording": "string",
                  "enforce_login": "boolean",
                  "enforce_login_domains": "string",
                  "alternative_hosts": "string",
                  "registrants_confirmation_email": "boolean"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Meeting Updated",
            "examples": {}
          },
          "404": {
            "description": "Meeting not found"
          }
        }
      },
      "delete": {
        "summary": "Delete a meeting",
        "description": "Delete a meeting",
        "tags": [
          "Meetings"
        ],
        "operationId": "meetingDelete",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId"
          },
          {
            "$ref": "#/parameters/OccurrenceId"
          }
        ],
        "responses": {
          "204": {
            "description": "Meeting deleted"
          },
          "404": {
            "description": "Meeting not found"
          }
        }
      }
    },
    "/meetings/{meetingId}/status": {
      "put": {
        "summary": "Update a meeting's status",
        "description": "Update a meeting's status",
        "tags": [
          "Meetings"
        ],
        "operationId": "meetingStatus",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "action": {
                  "type": "string",
                  "enum": [
                    "end"
                  ],
                  "x-enum-descriptions": [
                    "end a meeting"
                  ],
                  "description": "`end` end a meeting"
                }
              }
            },
            "x-examples": {
              "application/json": {
                "action": "string"
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Meeting updated",
            "examples": {}
          },
          "404": {
            "description": "Meeting not found"
          }
        }
      }
    },
    "/meetings/{meetingId}/registrants": {
      "get": {
        "summary": "List a meeting's registrants",
        "description": "List registrants of a meeting",
        "tags": [
          "Meetings"
        ],
        "operationId": "meetingRegistrants",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId"
          },
          {
            "$ref": "#/parameters/OccurrenceId"
          },
          {
            "$ref": "#/parameters/RegistrantStatus"
          },
          {
            "$ref": "#/parameters/PageSize"
          },
          {
            "$ref": "#/parameters/PageNumber"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MeetingRegistrantList"
            },
            "examples": {
              "application/json": {
                "page_count": "integer",
                "page_size": "integer",
                "total_records": "integer",
                "next_page_token": "string",
                "registrants": [
                  {
                    "id": "string",
                    "email": "string",
                    "first_name": "string",
                    "last_name": "string",
                    "address": "string",
                    "city": "string",
                    "country": "string",
                    "zip": "string",
                    "state": "string",
                    "phone": "string",
                    "industry": "string",
                    "org": "string",
                    "job_title": "string",
                    "purchasing_time_frame": "string",
                    "role_in_purchase_process": "string",
                    "no_of_employees": "string",
                    "comments": "string",
                    "custom_questions": [
                      {
                        "title": "string",
                        "value": "string"
                      }
                    ],
                    "status": "string",
                    "create_time": "string [date-time]",
                    "join_url": "string [string]"
                  }
                ]
              }
            }
          },
          "404": {
            "description": "Meeting not found"
          }
        }
      },
      "post": {
        "summary": "Add a meeting registrant",
        "description": "Register a participant for a meeting",
        "tags": [
          "Meetings"
        ],
        "operationId": "meetingRegistrantCreate",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId"
          },
          {
            "in": "query",
            "name": "occurrence_ids",
            "type": "string",
            "description": "Occurrence IDs. You can find these with the meeting get API. Multiple values separated by comma."
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MeetingRegistrant"
            },
            "x-examples": {
              "application/json": {
                "email": "string",
                "first_name": "string",
                "last_name": "string",
                "address": "string",
                "city": "string",
                "country": "string",
                "zip": "string",
                "state": "string",
                "phone": "string",
                "industry": "string",
                "org": "string",
                "job_title": "string",
                "purchasing_time_frame": "string",
                "role_in_purchase_process": "string",
                "no_of_employees": "string",
                "comments": "string",
                "custom_questions": [
                  {
                    "title": "string",
                    "value": "string"
                  }
                ]
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Registration created",
            "schema": {
              "type": "object",
              "properties": {
                "registrant_id": {
                  "type": "string",
                  "description": "Registrant ID"
                },
                "id": {
                  "type": "string",
                  "description": "Registrant ID"
                },
                "topic": {
                  "type": "string",
                  "description": "Topic"
                },
                "start_time": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Start time"
                },
                "join_url": {
                  "type": "string",
                  "description": "Join URL for this registrant"
                }
              }
            },
            "examples": {
              "application/json": {
                "registrant_id": "string",
                "id": "string",
                "topic": "string",
                "start_time": "string [date-time]",
                "join_url": "string"
              }
            }
          },
          "404": {
            "description": "Meeting not found"
          }
        }
      }
    },
    "/meetings/{meetingId}/registrants/status": {
      "put": {
        "summary": "Update a meeting registrant's status",
        "description": "Update a meeting registrant's status",
        "tags": [
          "Meetings"
        ],
        "operationId": "meetingRegistrantStatus",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId"
          },
          {
            "$ref": "#/parameters/OccurrenceId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegistrantStatus"
            },
            "x-examples": {
              "application/json": {
                "action": "string",
                "registrants": [
                  {
                    "id": "string",
                    "email": "string"
                  }
                ]
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Registrant status updated"
          },
          "404": {
            "description": "Meeting or Registrant not found"
          }
        }
      }
    },
    "/past_meetings/{meetingUUID}": {
      "get": {
        "summary": "Retrieve past meeting details",
        "description": "Retrieve ended meeting details",
        "tags": [
          "Meetings"
        ],
        "operationId": "pastMeetingDetails",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingUUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Meeting detail Returned",
            "schema": {
              "properties": {
                "uuid": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Meeting UUID"
                },
                "id": {
                  "type": "integer",
                  "description": "Meeting ID"
                },
                "host_id": {
                  "type": "integer",
                  "description": "Host ID"
                },
                "type": {
                  "type": "integer",
                  "description": "Meeting type"
                },
                "topic": {
                  "type": "string",
                  "description": "Meeting topic"
                },
                "user_name": {
                  "type": "string",
                  "description": "User display name"
                },
                "user_email": {
                  "type": "string",
                  "description": "User email"
                },
                "start_time": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Meeting start time"
                },
                "end_time": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Meeting end time"
                },
                "duration": {
                  "type": "integer",
                  "description": "Meeting duration"
                },
                "total_minutes": {
                  "type": "integer",
                  "description": "Number of meeting minutes"
                },
                "participants_count": {
                  "type": "integer",
                  "description": "Number of meeting participants"
                }
              }
            },
            "examples": {
              "application/json": {
                "uuid": "string [uuid]",
                "id": "integer",
                "host_id": "integer",
                "type": "integer",
                "topic": "string",
                "user_name": "string",
                "user_email": "string",
                "start_time": "string [date-time]",
                "end_time": "string [date-time]",
                "duration": "integer",
                "total_minutes": "integer",
                "participants_count": "integer"
              }
            }
          },
          "404": {
            "description": "Meeting not found"
          }
        }
      }
    },
    "/past_meetings/{meetingUUID}/participants": {
      "get": {
        "summary": "Retrieve past meeting participants",
        "description": "Retrieve ended meeting participants",
        "tags": [
          "Meetings"
        ],
        "operationId": "pastMeetingParticipants",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingUUID"
          },
          {
            "$ref": "#/parameters/PageSize"
          },
          {
            "$ref": "#/parameters/NextPageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Meeting Participants Report Returned",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/PaginationToken"
                },
                {
                  "properties": {
                    "participants": {
                      "type": "array",
                      "description": "Array of meeting participant objects",
                      "items": {
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Participant UUID"
                          },
                          "name": {
                            "type": "string",
                            "description": "Participant display name"
                          }
                        }
                      }
                    }
                  }
                }
              ]
            },
            "examples": {
              "application/json": {
                "page_count": "integer",
                "page_size": "integer",
                "total_records": "integer",
                "next_page_token": "string",
                "participants": [
                  {
                    "id": "string [uuid]",
                    "name": "string"
                  }
                ]
              }
            }
          },
          "404": {
            "description": "Meeting not found"
          }
        }
      }
    },
    "/users/{userId}/recordings": {
      "get": {
        "summary": "List all the recordings",
        "description": "List all the recordings",
        "tags": [
          "Cloud Recording"
        ],
        "operationId": "recordingsList",
        "parameters": [
          {
            "$ref": "#/parameters/UserId"
          },
          {
            "$ref": "#/parameters/FromDate"
          },
          {
            "$ref": "#/parameters/ToDate"
          },
          {
            "$ref": "#/parameters/PageSize"
          },
          {
            "$ref": "#/parameters/NextPageToken"
          },
          {
            "$ref": "#/parameters/Mc"
          },
          {
            "$ref": "#/parameters/Trash"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Recording objects returned",
            "schema": {
              "$ref": "#/definitions/RecordingMeetingList"
            },
            "examples": {
              "application/json": {
                "from": "string [date]",
                "to": "string [date]",
                "page_count": "integer",
                "page_size": "integer",
                "total_records": "integer",
                "next_page_token": "string",
                "meetings": [
                  {
                    "uuid": "string",
                    "id": "string",
                    "account_id": "string",
                    "host_id": "string",
                    "topic": "string",
                    "start_time": "string [date-time]",
                    "duration": "integer",
                    "total_size": "string",
                    "recording_count": "string",
                    "recording_files": [
                      {
                        "id": "string",
                        "meeting_id": "string",
                        "recording_start": "string",
                        "recording_end": "string",
                        "file_type": "string",
                        "file_size": "number",
                        "play_url": "string",
                        "download_url": "string",
                        "status": "string",
                        "deleted_time": "string",
                        "recording_type": "string"
                      }
                    ]
                  }
                ]
              }
            }
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    },
    "/meetings/{meetingId}/recordings": {
      "get": {
        "summary": "Retrieve a meeting’s all recordings",
        "description": "Retrieve a meeting’s all recordings",
        "tags": [
          "Cloud Recording"
        ],
        "operationId": "recordingGet",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId4Recording"
          }
        ],
        "responses": {
          "200": {
            "description": "Recording object returned",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/RecordingMeeting"
                }
              ]
            },
            "examples": {
              "application/json": {
                "uuid": "string",
                "id": "string",
                "account_id": "string",
                "host_id": "string",
                "topic": "string",
                "start_time": "string [date-time]",
                "duration": "integer",
                "total_size": "string",
                "recording_count": "string",
                "recording_files": [
                  {
                    "id": "string",
                    "meeting_id": "string",
                    "recording_start": "string",
                    "recording_end": "string",
                    "file_type": "string",
                    "file_size": "number",
                    "play_url": "string",
                    "download_url": "string",
                    "status": "string",
                    "deleted_time": "string",
                    "recording_type": "string"
                  }
                ]
              }
            }
          },
          "404": {
            "description": "Meeting recording not found"
          }
        }
      },
      "delete": {
        "summary": "Delete a meeting's recordings",
        "description": "Delete a meeting's recordings",
        "tags": [
          "Cloud Recording"
        ],
        "operationId": "recordingDelete",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId4Recording"
          },
          {
            "$ref": "#/parameters/RecordingDeleteAction"
          }
        ],
        "responses": {
          "204": {
            "description": "Meeting recording deleted"
          },
          "404": {
            "description": "Meeting recording not found"
          }
        }
      }
    },
    "/meetings/{meetingId}/recordings/{recordingId}": {
      "delete": {
        "summary": "Delete one meeting recording file",
        "description": "Delete one meeting recording file",
        "tags": [
          "Cloud Recording"
        ],
        "operationId": "recordingDeleteOne",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId4Recording"
          },
          {
            "$ref": "#/parameters/RecordingId"
          },
          {
            "$ref": "#/parameters/RecordingDeleteAction"
          }
        ],
        "responses": {
          "204": {
            "description": "Meeting recording file deleted"
          },
          "404": {
            "description": "Meeting recording file not found"
          }
        }
      }
    },
    "/meetings/{meetingId}/recordings/status": {
      "put": {
        "summary": "Recover a meeting's recordings",
        "description": "Recover a meeting's recordings",
        "tags": [
          "Cloud Recording"
        ],
        "operationId": "recordingStatusUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId4Recording"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "action": {
                  "type": "string",
                  "enum": [
                    "recover"
                  ],
                  "x-enum-descriptions": [
                    "recover meeting recording"
                  ]
                }
              }
            },
            "x-examples": {
              "application/json": {
                "action": "string"
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Meeting recording recover",
            "examples": {}
          },
          "404": {
            "description": "Meeting recording not found"
          }
        }
      }
    },
    "/meetings/{meetingId}/recordings/{recordingId}/status": {
      "put": {
        "summary": "Recover a single recording",
        "description": "Recover a single recording",
        "tags": [
          "Cloud Recording"
        ],
        "operationId": "recordingStatusUpdateOne",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingId4Recording"
          },
          {
            "$ref": "#/parameters/RecordingId"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "action": {
                  "type": "string",
                  "enum": [
                    "recover"
                  ],
                  "x-enum-descriptions": [
                    "recover meeting recording"
                  ]
                }
              }
            },
            "x-examples": {
[...]
