{
	"swagger": "2.0",
	"x-explorer-enabled": false,
	"info": {
		"version": "1.0",
		"title": "Zoom API",
		"description": "API Description"
	},
	"host": "api.zoom.us",
	"basePath": "/v2",
	"securityDefinitions": {
		"ApiKeyAuth": {
			"type": "apiKey",
			"in": "header",
			"name": "Authorization"
		}
	},
	"security": [{
		"ApiKeyAuth": []
	}],
	"schemes": [
		"https"
	],
	"paths": {
		"/accounts": {
			"get": {
				"description": "List all the sub accounts under the master account",
				"summary": "List sub accounts",
				"tags": [
					"Accounts"
				],
				"operationId": "AccountsGet",
				"parameters": [{
						"name": "page_size",
						"in": "query",
						"required": false,
						"type": "integer",
						"format": "int32",
						"description": "The number of records returned within a single API call"
					},
					{
						"name": "page_number",
						"in": "query",
						"required": false,
						"type": "integer",
						"format": "int32",
						"description": "Current page number of returned records"
					},
					{
						"name": "Accept",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Content-Type",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Authorization",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "Bearer {{Your Token}}",
						"description": "Uses JWT generated using client ID and Secret."
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [{
					"auth": []
				}],
				"x-unitTests": [{
					"request": {
						"method": "GET",
						"uri": "/accounts?page_size=30&page_number=1",
						"headers": {
							"Accept": "application/json",
							"Content-Type": "application/json"
						}
					},
					"expectedResponse": {
						"x-allowExtraHeaders": true,
						"x-bodyMatchMode": "NONE",
						"x-arrayOrderedMatching": false,
						"x-arrayCheckCount": false,
						"x-matchResponseSchema": true,
						"headers": {}
					},
					"x-testShouldPass": true,
					"x-testEnabled": true,
					"x-testName": "List sub accounts",
					"x-testDescription": "List all the sub accounts under the master account"
				}],
				"x-operation-settings": {
					"CollectParameters": false,
					"AllowDynamicQueryParameters": false,
					"AllowDynamicFormParameters": false,
					"IsMultiContentStreaming": false
				}
			},
			"post": {
				"description": "Create a sub account under the master account. <aside>Your account must be a master account and have this privilege to create sub account. Zoom only assigns this privilege to trusted partners. The created user will not receive a confirmation email.</aside>.",
				"summary": "Create a sub account",
				"tags": [
					"Accounts"
				],
				"operationId": "AccountsPost",
				"parameters": [{
						"name": "Body",
						"in": "body",
						"required": false,
						"description": "",
						"schema": {
							"title": "Create a sub accountRequest",
							"example": {
								"first_name": "string",
								"last_name": "string",
								"email": "string",
								"password": "string",
								"options": {
									"share_rc": "boolean",
									"room_connectors": "string",
									"share_mc": "boolean",
									"meeting_connectors": "string",
									"pay_mode": "string"
								}
							},
							"type": "object",
							"properties": {
								"first_name": {
									"description": "User’s first name",
									"example": "string",
									"type": "string"
								},
								"last_name": {
									"description": "User’s last name",
									"example": "string",
									"type": "string"
								},
								"email": {
									"description": "User’s email address",
									"example": "string",
									"type": "string"
								},
								"password": {
									"description": "User’s password",
									"example": "string",
									"type": "string"
								},
								"options": {
									"title": "Options",
									"example": {
										"share_rc": "boolean",
										"room_connectors": "string",
										"share_mc": "boolean",
										"meeting_connectors": "string",
										"pay_mode": "string"
									},
									"type": "object",
									"properties": {
										"share_rc": {
											"description": "Enable Share Virtual Room Connector",
											"example": "boolean",
											"type": "string"
										},
										"room_connectors": {
											"description": "Virtual Room Connector, multiple value separated by comma",
											"example": "string",
											"type": "string"
										},
										"share_mc": {
											"description": "Enable Share Meeting Connector",
											"example": "boolean",
											"type": "string"
										},
										"meeting_connectors": {
											"description": "Meeting Connector, multiple values separated by comma",
											"example": "string",
											"type": "string"
										},
										"pay_mode": {
											"description": "Payee",
											"example": "string",
											"type": "string"
										}
									}
								}
							},
							"required": [
								"first_name",
								"last_name",
								"email",
								"password"
							]
						}
					},
					{
						"name": "Accept",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Content-Type",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Authorization",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "Bearer {{Your Token}}",
						"description": "Uses JWT generated using client ID and Secret."
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [{
					"auth": []
				}],
				"x-unitTests": [{
					"request": {
						"method": "POST",
						"uri": "/accounts",
						"headers": {
							"Content-Type": "application/json",
							"Accept": "application/json"
						},
						"body": "{\"first_name\":\"string\",\"last_name\":\"string\",\"email\":\"string\",\"password\":\"string\",\"options\":{\"share_rc\":\"boolean\",\"room_connectors\":\"string\",\"share_mc\":\"boolean\",\"meeting_connectors\":\"string\",\"pay_mode\":\"string\"}}"
					},
					"expectedResponse": {
						"x-allowExtraHeaders": true,
						"x-bodyMatchMode": "NONE",
						"x-arrayOrderedMatching": false,
						"x-arrayCheckCount": false,
						"x-matchResponseSchema": true,
						"headers": {}
					},
					"x-testShouldPass": true,
					"x-testEnabled": true,
					"x-testName": "Create a sub account",
					"x-testDescription": "Create a sub account under the master account. <aside>Your account must be a master account and have this privilege to create sub account. Zoom only assigns this privilege to trusted partners. The created user will not receive a confirmation email.</aside>."
				}],
				"x-operation-settings": {
					"CollectParameters": false,
					"AllowDynamicQueryParameters": false,
					"AllowDynamicFormParameters": false,
					"IsMultiContentStreaming": false
				}
			}
		},
		"/accounts/{accountId}": {
			"get": {
				"description": "Retrieve a sub account under the master account. <aside>Your account must be a master account and have this privilege to read sub accounts. Zoom only assigns this privilege to trusted partners</aside>.",
				"summary": "Retrieve a sub account",
				"tags": [
					"Accounts"
				],
				"operationId": "AccountsByAccountIdGet",
				"parameters": [{
						"name": "accountId",
						"in": "path",
						"required": true,
						"type": "string",
						"description": "The account ID"
					},
					{
						"name": "Accept",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Content-Type",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Authorization",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "Bearer {{Your Token}}",
						"description": "Uses JWT generated using client ID and Secret."
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [{
					"auth": []
				}],
				"x-unitTests": [{
					"request": {
						"method": "GET",
						"uri": "/accounts/%7B%7BaccountId%7D%7D",
						"headers": {
							"Accept": "application/json",
							"Content-Type": "application/json"
						}
					},
					"expectedResponse": {
						"x-allowExtraHeaders": true,
						"x-bodyMatchMode": "NONE",
						"x-arrayOrderedMatching": false,
						"x-arrayCheckCount": false,
						"x-matchResponseSchema": true,
						"headers": {}
					},
					"x-testShouldPass": true,
					"x-testEnabled": true,
					"x-testName": "Retrieve a sub account",
					"x-testDescription": "Retrieve a sub account under the master account. <aside>Your account must be a master account and have this privilege to read sub accounts. Zoom only assigns this privilege to trusted partners</aside>."
				}],
				"x-operation-settings": {
					"CollectParameters": false,
					"AllowDynamicQueryParameters": false,
					"AllowDynamicFormParameters": false,
					"IsMultiContentStreaming": false
				}
			},
			"delete": {
				"description": "Disassociate a sub account from the master account. This will leave the account intact but the sub account will not longer be associated with the master account.",
				"summary": "Disassociate an account",
				"tags": [
					"Accounts"
				],
				"operationId": "AccountsByAccountIdDelete",
				"parameters": [{
						"name": "accountId",
						"in": "path",
						"required": true,
						"type": "string",
						"description": "The account ID"
					},
					{
						"name": "Accept",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Content-Type",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Authorization",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "Bearer {{Your Token}}",
						"description": "Uses JWT generated using client ID and Secret."
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [{
					"auth": []
				}],
				"x-unitTests": [{
					"request": {
						"method": "DELETE",
						"uri": "/accounts/%7B%7BaccountId%7D%7D",
						"headers": {
							"Accept": "application/json",
							"Content-Type": "application/json"
						}
					},
					"expectedResponse": {
						"x-allowExtraHeaders": true,
						"x-bodyMatchMode": "NONE",
						"x-arrayOrderedMatching": false,
						"x-arrayCheckCount": false,
						"x-matchResponseSchema": true,
						"headers": {}
					},
					"x-testShouldPass": true,
					"x-testEnabled": true,
					"x-testName": "Disassociate an account",
					"x-testDescription": "Disassociate a sub account from the master account. This will leave the account intact but the sub account will not longer be associated with the master account."
				}],
				"x-operation-settings": {
					"CollectParameters": false,
					"AllowDynamicQueryParameters": false,
					"AllowDynamicFormParameters": false,
					"IsMultiContentStreaming": false
				}
			}
		},
		"/accounts/{accountId}/options": {
			"patch": {
				"description": "Update a sub account's options under the master account",
				"summary": "Update a sub account's options",
				"tags": [
					"Accounts"
				],
				"operationId": "AccountsOptionsByAccountIdPatch",
				"parameters": [{
						"name": "accountId",
						"in": "path",
						"required": true,
						"type": "string",
						"description": "The account ID"
					},
					{
						"name": "Body",
						"in": "body",
						"required": false,
						"description": "",
						"schema": {
							"title": "Update a sub account's optionsRequest",
							"example": {
								"share_rc": "boolean",
								"room_connectors": "string",
								"share_mc": "boolean",
								"meeting_connectors": "string",
								"pay_mode": "string"
							},
							"type": "object",
							"properties": {
								"share_rc": {
									"description": "Enable Share Virtual Room Connector",
									"example": "boolean",
									"type": "string"
								},
								"room_connectors": {
									"description": "Virtual Room Connector, multiple value separated by comma",
									"example": "string",
									"type": "string"
								},
								"share_mc": {
									"description": "Enable Share Meeting Connector",
									"example": "boolean",
									"type": "string"
								},
								"meeting_connectors": {
									"description": "Meeting Connector, multiple values separated by comma",
									"example": "string",
									"type": "string"
								},
								"pay_mode": {
									"description": "Payee",
									"example": "string",
									"type": "string"
								}
							}
						}
					},
					{
						"name": "Accept",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Content-Type",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Authorization",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "Bearer {{Your Token}}",
						"description": "Uses JWT generated using client ID and Secret."
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [{
					"auth": []
				}],
				"x-unitTests": [{
					"request": {
						"method": "PATCH",
						"uri": "/accounts/%7B%7BaccountId%7D%7D/options",
						"headers": {
							"Content-Type": "application/json",
							"Accept": "application/json"
						},
						"body": "{\"share_rc\":\"boolean\",\"room_connectors\":\"string\",\"share_mc\":\"boolean\",\"meeting_connectors\":\"string\",\"pay_mode\":\"string\"}"
					},
					"expectedResponse": {
						"x-allowExtraHeaders": true,
						"x-bodyMatchMode": "NONE",
						"x-arrayOrderedMatching": false,
						"x-arrayCheckCount": false,
						"x-matchResponseSchema": true,
						"headers": {}
					},
					"x-testShouldPass": true,
					"x-testEnabled": true,
					"x-testName": "Update a sub account's options",
					"x-testDescription": "Update a sub account's options under the master account"
				}],
				"x-operation-settings": {
					"CollectParameters": false,
					"AllowDynamicQueryParameters": false,
					"AllowDynamicFormParameters": false,
					"IsMultiContentStreaming": false
				}
			}
		},
		"/accounts/{accountId}/settings": {
			"get": {
				"description": "Retrieve a sub account's settings under the master account",
				"summary": "Retrieve a sub account's settings",
				"tags": [
					"Accounts"
				],
				"operationId": "AccountsSettingsByAccountIdGet",
				"parameters": [{
						"name": "accountId",
						"in": "path",
						"required": true,
						"type": "string",
						"description": "The account ID"
					},
					{
						"name": "Accept",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Content-Type",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Authorization",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "Bearer {{Your Token}}",
						"description": "Uses JWT generated using client ID and Secret."
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [{
					"auth": []
				}],
				"x-unitTests": [{
					"request": {
						"method": "GET",
						"uri": "/accounts/%7B%7BaccountId%7D%7D/settings",
						"headers": {
							"Accept": "application/json",
							"Content-Type": "application/json"
						}
					},
					"expectedResponse": {
						"x-allowExtraHeaders": true,
						"x-bodyMatchMode": "NONE",
						"x-arrayOrderedMatching": false,
						"x-arrayCheckCount": false,
						"x-matchResponseSchema": true,
						"headers": {}
					},
					"x-testShouldPass": true,
					"x-testEnabled": true,
					"x-testName": "Retrieve a sub account's settings",
					"x-testDescription": "Retrieve a sub account's settings under the master account"
				}],
				"x-operation-settings": {
					"CollectParameters": false,
					"AllowDynamicQueryParameters": false,
					"AllowDynamicFormParameters": false,
					"IsMultiContentStreaming": false
				}
			},
			"patch": {
				"description": "Update a sub account's settings under the master account",
				"summary": "Update a sub account's settings",
				"tags": [
					"Accounts"
				],
				"operationId": "AccountsSettingsByAccountIdPatch",
				"parameters": [{
						"name": "accountId",
						"in": "path",
						"required": true,
						"type": "string",
						"description": "The account ID"
					},
					{
						"name": "Body",
						"in": "body",
						"required": false,
						"description": "",
						"schema": {
							"title": "Update a sub account's settingsRequest",
							"example": {
								"schedule_meting": {
									"host_video": "boolean",
									"participant_video": "boolean",
									"audio_type": "string",
									"join_before_host": "boolean",
									"enforce_login": "boolean",
									"enforce_login_with_domains": "boolean",
									"enforce_login_domains": "string",
									"not_store_meeting_topic": "boolean",
									"force_pmi_jbh_password": "boolean"
								},
								"in_meeting": {
									"e2e_encryption": "boolean",
									"chat": "boolean",
									"private_chat": "boolean",
									"auto_saving_chat": "boolean",
									"file_transfer": "boolean",
									"feedback": "boolean",
									"post_meeting_feedback": "boolean",
									"co_host": "boolean",
									"polling": "boolean",
									"attendee_on_hold": "boolean",
									"show_meeting_control_toolbar": "boolean",
									"allow_show_zoom_windows": "boolean",
									"annotation": "boolean",
									"whiteboard": "boolean",
									"webinar_question_answer": "boolean",
									"anonymous_question_answer": "boolean",
									"breakout_room": "boolean",
									"closed_caption": "boolean",
									"far_end_camera_control": "boolean",
									"group_hd": "boolean",
									"virtual_background": "boolean",
									"watermark": "boolean",
									"alert_guest_join": "boolean",
									"auto_answer": "boolean",
									"p2p_connetion": "boolean",
									"p2p_ports": "boolean",
									"ports_range": "string",
									"sending_default_email_invites": "boolean",
									"use_html_format_email": "boolean",
									"dscp_marking": "boolean",
									"dscp_audio": "integer",
									"dscp_video": "integer",
									"stereo_audio": "boolean",
									"original_audio": "boolean",
									"screen_sharing": "boolean",
									"remote_control": "boolean",
									"attention_tracking": "boolean"
								},
								"email_notification": {
									"cloud_recording_avaliable_reminder": "boolean",
									"jbh_reminder": "boolean",
									"cancel_meeting_reminder": "boolean",
									"low_host_count_reminder": "boolean",
									"alternative_host_reminder": "boolean"
								},
								"zoom_rooms": {
									"upcoming_meeting_alert": "boolean",
									"start_airplay_manually": "boolean",
									"weekly_system_restart": "boolean",
									"list_meetings_with_calendar": "boolean",
									"zr_post_meeting_feedback": "boolean",
									"ultrasonic": "boolean",
									"force_private_meeting": "boolean",
									"hide_host_information": "boolean",
									"cmr_for_instant_meeting": "boolean",
									"auto_start_stop_scheduled_meetings": "boolean"
								},
								"security": {
									"admin_change_name_pic": "boolean",
									"import_photos_from_devices": "boolean",
									"hide_billing_info": "boolean"
								},
								"recording": {
									"local_recording": "boolean",
									"cloud_recording": "boolean",
									"record_speaker_view": "boolean",
									"record_gallery_view": "boolean",
									"record_audio_file": "boolean",
									"save_chat_text": "boolean",
									"show_timestamp": "boolean",
									"recording_audio_transcript": "boolean",
									"auto_recording": "string",
									"cloud_recording_download": "boolean",
									"cloud_recording_download_host": "boolean",
									"account_user_access_recording": "boolean",
									"auto_delete_cmr": "boolean",
									"auto_delete_cmr_days": "integer"
								},
								"telephony": {
									"third_party_audio": "boolean",
									"audio_conference_info": "string"
								},
								"integration": {
									"google_calendar": "boolean",
									"google_drive": "boolean",
									"dropbox": "boolean",
									"box": "boolean",
									"microsoft_one_drive": "boolean",
									"kubi": "boolean"
								},
								"feature": {
									"meeting_capacity": "integer"
								}
							},
							"type": "object",
							"properties": {
								"schedule_meting": {
									"title": "ScheduleMeting",
									"example": {
										"host_video": "boolean",
										"participant_video": "boolean",
										"audio_type": "string",
										"join_before_host": "boolean",
										"enforce_login": "boolean",
										"enforce_login_with_domains": "boolean",
										"enforce_login_domains": "string",
										"not_store_meeting_topic": "boolean",
										"force_pmi_jbh_password": "boolean"
									},
									"type": "object",
									"properties": {
										"enforce_login_domains": {
											"description": "Start meetings with host video on.",
											"example": "boolean",
											"type": "string"
										},
										"participant_video": {
											"description": "Start meetings with participant video on. Participants can change this during the meeting.",
											"example": "boolean",
											"type": "string"
										},
										"audio_type": {
											"description": "Determine how participants can join the audio portion of the meeting 'both' Telephony and VoIP 'telephony' Audio PSTN telephony only 'voip' VoIP only 'thirdParty' 3rd party audio conference",
											"example": "string",
											"type": "string"
										},
										"join_before_host": {
											"description": "Allow participants to join the meeting before the host starts the meeting. Only used for scheduled or recurring meetings.",
											"example": "boolean",
											"type": "string"
										},
										"enforce_login": {
											"description": "Only signed-in users can join this meeting.",
											"example": "boolean",
											"type": "string"
										},
										"enforce_login_with_domains": {
											"description": "",
											"example": "boolean",
											"type": "string"
										},
										"not_store_meeting_topic": {
											"description": "Always display “Zoom Meeting” as the meeting topic.",
											"example": "boolean",
											"type": "string"
										},
										"force_pmi_jbh_password": {
											"description": "Require a password for Personal Meetings if attendees can join before host.",
											"example": "boolean",
											"type": "string"
										}
									}
								},
								"in_meeting": {
									"title": "InMeeting",
									"example": {
										"e2e_encryption": "boolean",
										"chat": "boolean",
										"private_chat": "boolean",
										"auto_saving_chat": "boolean",
										"file_transfer": "boolean",
										"feedback": "boolean",
										"post_meeting_feedback": "boolean",
										"co_host": "boolean",
										"polling": "boolean",
										"attendee_on_hold": "boolean",
										"show_meeting_control_toolbar": "boolean",
										"allow_show_zoom_windows": "boolean",
										"annotation": "boolean",
										"whiteboard": "boolean",
										"webinar_question_answer": "boolean",
										"anonymous_question_answer": "boolean",
										"breakout_room": "boolean",
										"closed_caption": "boolean",
										"far_end_camera_control": "boolean",
										"group_hd": "boolean",
										"virtual_background": "boolean",
										"watermark": "boolean",
										"alert_guest_join": "boolean",
										"auto_answer": "boolean",
										"p2p_connetion": "boolean",
										"p2p_ports": "boolean",
										"ports_range": "string",
										"sending_default_email_invites": "boolean",
										"use_html_format_email": "boolean",
										"dscp_marking": "boolean",
										"dscp_audio": "integer",
										"dscp_video": "integer",
										"stereo_audio": "boolean",
										"original_audio": "boolean",
										"screen_sharing": "boolean",
										"remote_control": "boolean",
										"attention_tracking": "boolean"
									},
									"type": "object",
									"properties": {
										"e2e_encryption": {
											"description": "Require that all meetings are encrypted using AES.",
											"example": "boolean",
											"type": "string"
										},
										"chat": {
											"description": "Allow meeting participants to send a message visible to all participants.",
											"example": "boolean",
											"type": "string"
										},
										"private_chat": {
											"description": "Allow meeting participants to send a private 1:1 message to another participants.",
											"example": "boolean",
											"type": "string"
										},
										"auto_saving_chat": {
											"description": "Automatically save all in-meeting chats so that hosts do not need to manually save the text of the chat after the meeting starts.",
											"example": "boolean",
											"type": "string"
										},
										"file_transfer": {
											"description": "Hosts and participants can send files through the in-meeting chat.",
											"example": "boolean",
											"type": "string"
										},
										"feedback": {
											"description": "Add a Feedback tab to the Windows Settings or Mac Preferences dialog, and also enable users to provide feedback to Zoom at the end of the meeting.",
											"example": "boolean",
											"type": "string"
										},
										"post_meeting_feedback": {
											"description": "Display a thumbs up/down survey at the end of each meeting.",
											"example": "boolean",
											"type": "string"
										},
										"co_host": {
											"description": "Allow the host to add co-hosts.",
											"example": "boolean",
											"type": "string"
										},
										"polling": {
											"description": "Add ‘Polls’ to the meeting controls.",
											"example": "boolean",
											"type": "string"
										},
										"attendee_on_hold": {
											"description": "Allow hosts to temporarily remove an attendee from the meeting.",
											"example": "boolean",
											"type": "string"
										},
										"show_meeting_control_toolbar": {
											"description": "Always show meeting control toolbar.",
											"example": "boolean",
											"type": "string"
										},
										"allow_show_zoom_windows": {
											"description": "Show Zoom Desktop application when sharing screen.",
											"example": "boolean",
											"type": "string"
										},
										"annotation": {
											"description": "Allow participants to use annotation tools to add information to shared screens.",
											"example": "boolean",
											"type": "string"
										},
										"whiteboard": {
											"description": "Allow participants to share a whiteboard that includes annotation tools.",
											"example": "boolean",
											"type": "string"
										},
										"webinar_question_answer": {
											"description": "Q&A in webinar.",
											"example": "boolean",
											"type": "string"
										},
										"anonymous_question_answer": {
											"description": "Allow Anonymous Q&A in Webinar.",
											"example": "boolean",
											"type": "string"
										},
										"breakout_room": {
											"description": "Allow host to split meeting participants into separate, smaller rooms.",
											"example": "boolean",
											"type": "string"
										},
										"closed_caption": {
											"description": "Allow host to type closed captions or assign a participant/third party device to add closed captions.",
											"example": "boolean",
											"type": "string"
										},
										"far_end_camera_control": {
											"description": "Allow another user to take control of your camera during a meeting.",
											"example": "boolean",
											"type": "string"
										},
										"group_hd": {
											"description": "Activate higher quality video for host and participants. (This will use more bandwidth.)",
											"example": "boolean",
											"type": "string"
										},
										"virtual_background": {
											"description": "Allow users to replace their background with any selected image. Choose or upload an image in the Zoom Desktop application settings.",
											"example": "boolean",
											"type": "string"
										},
										"watermark": {
											"description": "Add watermark when viewing shared screen.",
											"example": "boolean",
											"type": "string"
										},
										"alert_guest_join": {
											"description": "Identify guest participants in the meeting/webinar.",
											"example": "boolean",
											"type": "string"
										},
										"auto_answer": {
											"description": "Enable users to see and add contacts to ‘auto-answer group’ in the contact list on chat. Any call from members of this group will be automatically answered.",
											"example": "boolean",
											"type": "string"
										},
										"p2p_connetion": {
											"description": "Peer to Peer connection while only 2 people are in a meeting.",
											"example": "boolean",
											"type": "string"
										},
										"p2p_ports": {
											"description": "P2P listening ports range.",
											"example": "boolean",
											"type": "string"
										},
										"ports_range": {
											"description": "Listening ports range, separated by comma (ex 55,56). The ports range must be between 1 to 65535.",
											"example": "string",
											"type": "string"
										},
										"sending_default_email_invites": {
											"description": "Only show default email when sending email invites.",
											"example": "boolean",
											"type": "string"
										},
										"use_html_format_email": {
											"description": "Use HTML format email for Outlook plugin.",
											"example": "boolean",
											"type": "string"
										},
										"dscp_marking": {
											"description": "DSCP marking.",
											"example": "boolean",
											"type": "string"
										},
										"dscp_audio": {
											"description": "",
											"example": "integer",
											"type": "string"
										},
										"dscp_video": {
											"description": "",
											"example": "integer",
											"type": "string"
										},
										"stereo_audio": {
											"description": "Allow users to select stereo audio in their client settings.",
											"example": "boolean",
											"type": "string"
										},
										"original_audio": {
											"description": "Allow users to select original sound in their client settings.",
											"example": "boolean",
											"type": "string"
										},
										"screen_sharing": {
											"description": "Allow screen sharing.",
											"example": "boolean",
											"type": "string"
										},
										"remote_control": {
											"description": "Allow users to request remote control.",
											"example": "boolean",
											"type": "string"
										},
										"attention_tracking": {
											"description": "Lets the host see an indicator in the participant panel if a meeting/webinar attendee does not have Zoom in focus during screen sharing.",
											"example": "boolean",
											"type": "string"
										}
									}
								},
								"email_notification": {
									"title": "EmailNotification",
									"example": {
										"cloud_recording_avaliable_reminder": "boolean",
										"jbh_reminder": "boolean",
										"cancel_meeting_reminder": "boolean",
										"low_host_count_reminder": "boolean",
										"alternative_host_reminder": "boolean"
									},
									"type": "object",
									"properties": {
										"cloud_recording_avaliable_reminder": {
											"description": "Notify host when cloud recording is available.",
											"example": "boolean",
											"type": "string"
										},
										"jbh_reminder": {
											"description": "Notify host when participants join the meeting before them.",
											"example": "boolean",
											"type": "string"
										},
										"cancel_meeting_reminder": {
											"description": "Notify host and participants when the meeting is cancelled.",
											"example": "boolean",
											"type": "string"
										},
										"low_host_count_reminder": {
											"description": "Notify when host licenses are running low.",
											"example": "boolean",
											"type": "string"
										},
										"alternative_host_reminder": {
											"description": "Notify when an alternative host is set or removed from a meeting.",
											"example": "boolean",
											"type": "string"
										}
									}
								},
								"zoom_rooms": {
									"title": "ZoomRooms",
									"example": {
										"upcoming_meeting_alert": "boolean",
										"start_airplay_manually": "boolean",
										"weekly_system_restart": "boolean",
										"list_meetings_with_calendar": "boolean",
										"zr_post_meeting_feedback": "boolean",
										"ultrasonic": "boolean",
										"force_private_meeting": "boolean",
										"hide_host_information": "boolean",
										"cmr_for_instant_meeting": "boolean",
										"auto_start_stop_scheduled_meetings": "boolean"
									},
									"type": "object",
									"properties": {
										"upcoming_meeting_alert": {
											"description": "Upcoming meeting alert.",
											"example": "boolean",
											"type": "string"
										},
										"start_airplay_manually": {
											"description": "Start AirPlay service manually.",
											"example": "boolean",
											"type": "string"
										},
										"weekly_system_restart": {
											"description": "Weekly system restart.",
											"example": "boolean",
											"type": "string"
										},
										"list_meetings_with_calendar": {
											"description": "Display meeting list with calendar integration.",
											"example": "boolean",
											"type": "string"
										},
										"zr_post_meeting_feedback": {
											"description": "Zoom Room post meeting feedback.",
											"example": "boolean",
											"type": "string"
										},
										"ultrasonic": {
											"description": "Automatic direct sharing using ultrasonic proximity signal.",
											"example": "boolean",
											"type": "string"
										},
										"force_private_meeting": {
											"description": "Transform all meetings to private.",
											"example": "boolean",
											"type": "string"
										},
										"hide_host_information": {
											"description": "Hide host and meeting ID from private meetings.",
											"example": "boolean",
											"type": "string"
										},
										"cmr_for_instant_meeting": {
											"description": "Cloud recording for instant meetings.",
											"example": "boolean",
											"type": "string"
										},
										"auto_start_stop_scheduled_meetings": {
											"description": "Automatic start/stop for scheduled meetings.",
											"example": "boolean",
											"type": "string"
										}
									}
								},
								"security": {
									"title": "Security",
									"example": {
										"admin_change_name_pic": "boolean",
										"import_photos_from_devices": "boolean",
										"hide_billing_info": "boolean"
									},
									"type": "object",
									"properties": {
										"admin_change_name_pic": {
											"description": "Only account administrators can change user’s username and picture.",
											"example": "boolean",
											"type": "string"
										},
										"import_photos_from_devices": {
											"description": "Allow importing of photos from photo library on the user’s device.",
											"example": "boolean",
											"type": "string"
										},
										"hide_billing_info": {
											"description": "Hide billing information.",
											"example": "boolean",
											"type": "string"
										}
									},
									"required": [
										"admin_change_name_pic",
										"import_photos_from_devices",
										"hide_billing_info"
									]
								},
								"recording": {
									"title": "Recording",
									"example": {
										"local_recording": "boolean",
										"cloud_recording": "boolean",
										"record_speaker_view": "boolean",
										"record_gallery_view": "boolean",
										"record_audio_file": "boolean",
										"save_chat_text": "boolean",
										"show_timestamp": "boolean",
										"recording_audio_transcript": "boolean",
										"auto_recording": "string",
										"cloud_recording_download": "boolean",
										"cloud_recording_download_host": "boolean",
										"account_user_access_recording": "boolean",
										"auto_delete_cmr": "boolean",
										"auto_delete_cmr_days": "integer"
									},
									"type": "object",
									"properties": {
										"local_recording": {
											"description": "Allow hosts and participants to record the meeting to a local file.",
											"example": "boolean",
											"type": "string"
										},
										"cloud_recording": {
											"description": "Allow hosts to record and save the meeting in the cloud.",
											"example": "boolean",
											"type": "string"
										},
										"record_speaker_view": {
											"description": "Record active speaker with shared screen.",
											"example": "boolean",
											"type": "string"
										},
										"record_gallery_view": {
											"description": "Record gallery view with shared screen.",
											"example": "boolean",
											"type": "string"
										},
										"record_audio_file": {
											"description": "Record an audio only file.",
											"example": "boolean",
											"type": "string"
										},
										"save_chat_text": {
											"description": "Save chat text from the meeting.",
											"example": "boolean",
											"type": "string"
										},
										"show_timestamp": {
											"description": "Add a timestamp to the recording.",
											"example": "boolean",
											"type": "string"
										},
										"recording_audio_transcript": {
											"description": "Automatically transcribe the audio of the meeting or webinar to the cloud.",
											"example": "boolean",
											"type": "string"
										},
										"auto_recording": {
											"description": "Record meetings automatically as they start 'local' Record on local 'cloud' Record on cloud 'none' Disabled.",
											"example": "string",
											"type": "string"
										},
										"cloud_recording_download": {
											"description": "Cloud Recording Downloads",
											"example": "boolean",
											"type": "string"
										},
										"cloud_recording_download_host": {
											"description": "Only the host can download cloud recordings.",
											"example": "boolean",
											"type": "string"
										},
										"account_user_access_recording": {
											"description": "Cloud recordings are only accessible to account members. People outside of your organization cannot open links that provide access to cloud recordings.",
											"example": "boolean",
											"type": "string"
										},
										"auto_delete_cmr": {
											"description": "Allow Zoom to automatically delete recordings permanently after a specified number of days.",
											"example": "boolean",
											"type": "string"
										},
										"auto_delete_cmr_days": {
											"description": "When `auto_delete_cmr is` ‘true’ this value will set the number of days before auto deletion of cloud recordings.",
											"example": "integer",
											"type": "string"
										}
									}
								},
								"telephony": {
									"title": "Telephony",
									"example": {
										"third_party_audio": "boolean",
										"audio_conference_info": "string"
									},
									"type": "object",
									"properties": {
										"third_party_audio": {
											"description": "Users can join the meeting using the existing 3rd party audio configuration.",
											"example": "boolean",
											"type": "string"
										},
										"audio_conference_info": {
											"description": "3rd party audio conference info.",
											"example": "string",
											"type": "string"
										}
									}
								},
								"integration": {
									"title": "Integration",
									"example": {
										"google_calendar": "boolean",
										"google_drive": "boolean",
										"dropbox": "boolean",
										"box": "boolean",
										"microsoft_one_drive": "boolean",
										"kubi": "boolean"
									},
									"type": "object",
									"properties": {
										"google_calendar": {
											"description": "Enables meetings to be scheduled using Google Calendars.",
											"example": "boolean",
											"type": "string"
										},
										"google_drive": {
											"description": "Enables users who join a meeting from their mobile device to share content from their Google Drive.",
											"example": "boolean",
											"type": "string"
										},
										"dropbox": {
											"description": "Enables users who join a meeting from their mobile device to share content from their Dropbox account.",
											"example": "boolean",
											"type": "string"
										},
										"box": {
											"description": "",
											"example": "boolean",
											"type": "string"
										},
										"microsoft_one_drive": {
											"description": "Enables users who join a meeting from their mobile device to share content from their Microsoft OneDrive account.",
											"example": "boolean",
											"type": "string"
										},
										"kubi": {
											"description": "Enables users to control a connected Kubi device from within a Zoom meeting.",
											"example": "boolean",
											"type": "string"
										}
									}
								},
								"feature": {
									"title": "Feature",
									"example": {
										"meeting_capacity": "integer"
									},
									"type": "object",
									"properties": {
										"meeting_capacity": {
											"description": "Set the maximum number of participants this user can have in a single meeting.",
											"example": "integer",
											"type": "string"
										}
									}
								}
							}
						}
					},
					{
						"name": "Accept",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Content-Type",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Authorization",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "Bearer {{Your Token}}",
						"description": "Uses JWT generated using client ID and Secret."
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [{
					"auth": []
				}],
				"x-unitTests": [{
					"request": {
						"method": "PATCH",
						"uri": "/accounts/%7B%7BaccountId%7D%7D/settings",
						"headers": {
							"Content-Type": "application/json",
							"Accept": "application/json"
						},
						"body": "{\"schedule_meting\":{\"host_video\":\"boolean\",\"participant_video\":\"boolean\",\"audio_type\":\"string\",\"join_before_host\":\"boolean\",\"enforce_login\":\"boolean\",\"enforce_login_with_domains\":\"boolean\",\"enforce_login_domains\":\"string\",\"not_store_meeting_topic\":\"boolean\",\"force_pmi_jbh_password\":\"boolean\"},\"in_meeting\":{\"e2e_encryption\":\"boolean\",\"chat\":\"boolean\",\"private_chat\":\"boolean\",\"auto_saving_chat\":\"boolean\",\"file_transfer\":\"boolean\",\"feedback\":\"boolean\",\"post_meeting_feedback\":\"boolean\",\"co_host\":\"boolean\",\"polling\":\"boolean\",\"attendee_on_hold\":\"boolean\",\"show_meeting_control_toolbar\":\"boolean\",\"allow_show_zoom_windows\":\"boolean\",\"annotation\":\"boolean\",\"whiteboard\":\"boolean\",\"webinar_question_answer\":\"boolean\",\"anonymous_question_answer\":\"boolean\",\"breakout_room\":\"boolean\",\"closed_caption\":\"boolean\",\"far_end_camera_control\":\"boolean\",\"group_hd\":\"boolean\",\"virtual_background\":\"boolean\",\"watermark\":\"boolean\",\"alert_guest_join\":\"boolean\",\"auto_answer\":\"boolean\",\"p2p_connetion\":\"boolean\",\"p2p_ports\":\"boolean\",\"ports_range\":\"string\",\"sending_default_email_invites\":\"boolean\",\"use_html_format_email\":\"boolean\",\"dscp_marking\":\"boolean\",\"dscp_audio\":\"integer\",\"dscp_video\":\"integer\",\"stereo_audio\":\"boolean\",\"original_audio\":\"boolean\",\"screen_sharing\":\"boolean\",\"remote_control\":\"boolean\",\"attention_tracking\":\"boolean\"},\"email_notification\":{\"cloud_recording_avaliable_reminder\":\"boolean\",\"jbh_reminder\":\"boolean\",\"cancel_meeting_reminder\":\"boolean\",\"low_host_count_reminder\":\"boolean\",\"alternative_host_reminder\":\"boolean\"},\"zoom_rooms\":{\"upcoming_meeting_alert\":\"boolean\",\"start_airplay_manually\":\"boolean\",\"weekly_system_restart\":\"boolean\",\"list_meetings_with_calendar\":\"boolean\",\"zr_post_meeting_feedback\":\"boolean\",\"ultrasonic\":\"boolean\",\"force_private_meeting\":\"boolean\",\"hide_host_information\":\"boolean\",\"cmr_for_instant_meeting\":\"boolean\",\"auto_start_stop_scheduled_meetings\":\"boolean\"},\"security\":{\"admin_change_name_pic\":\"boolean\",\"import_photos_from_devices\":\"boolean\",\"hide_billing_info\":\"boolean\"},\"recording\":{\"local_recording\":\"boolean\",\"cloud_recording\":\"boolean\",\"record_speaker_view\":\"boolean\",\"record_gallery_view\":\"boolean\",\"record_audio_file\":\"boolean\",\"save_chat_text\":\"boolean\",\"show_timestamp\":\"boolean\",\"recording_audio_transcript\":\"boolean\",\"auto_recording\":\"string\",\"cloud_recording_download\":\"boolean\",\"cloud_recording_download_host\":\"boolean\",\"account_user_access_recording\":\"boolean\",\"auto_delete_cmr\":\"boolean\",\"auto_delete_cmr_days\":\"integer\"},\"telephony\":{\"third_party_audio\":\"boolean\",\"audio_conference_info\":\"string\"},\"integration\":{\"google_calendar\":\"boolean\",\"google_drive\":\"boolean\",\"dropbox\":\"boolean\",\"box\":\"boolean\",\"microsoft_one_drive\":\"boolean\",\"kubi\":\"boolean\"},\"feature\":{\"meeting_capacity\":\"integer\"}}"
					},
					"expectedResponse": {
						"x-allowExtraHeaders": true,
						"x-bodyMatchMode": "NONE",
						"x-arrayOrderedMatching": false,
						"x-arrayCheckCount": false,
						"x-matchResponseSchema": true,
						"headers": {}
					},
					"x-testShouldPass": true,
					"x-testEnabled": true,
					"x-testName": "Update a sub account's settings",
					"x-testDescription": "Update a sub account's settings under the master account"
				}],
				"x-operation-settings": {
					"CollectParameters": false,
					"AllowDynamicQueryParameters": false,
					"AllowDynamicFormParameters": false,
					"IsMultiContentStreaming": false
				}
			}
		},
		"/accounts/{accountId}/billing": {
			"get": {
				"description": "Retrieve billing information for a sub account under the master account",
				"summary": "Retrieve billing information for a sub account",
				"tags": [
					"Billing"
				],
				"operationId": "AccountsBillingByAccountIdGet",
				"parameters": [{
						"name": "accountId",
						"in": "path",
						"required": true,
						"type": "string",
						"description": "The account ID"
					},
					{
						"name": "Accept",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Content-Type",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Authorization",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "Bearer {{Your Token}}",
						"description": "Uses JWT generated using client ID and Secret."
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [{
					"auth": []
				}],
				"x-unitTests": [{
					"request": {
						"method": "GET",
						"uri": "/accounts/%7B%7BaccountId%7D%7D/billing",
						"headers": {
							"Accept": "application/json",
							"Content-Type": "application/json"
						}
					},
					"expectedResponse": {
						"x-allowExtraHeaders": true,
						"x-bodyMatchMode": "NONE",
						"x-arrayOrderedMatching": false,
						"x-arrayCheckCount": false,
						"x-matchResponseSchema": true,
						"headers": {}
					},
					"x-testShouldPass": true,
					"x-testEnabled": true,
					"x-testName": "Retrieve billing information for a sub account",
					"x-testDescription": "Retrieve billing information for a sub account under the master account"
				}],
				"x-operation-settings": {
					"CollectParameters": false,
					"AllowDynamicQueryParameters": false,
					"AllowDynamicFormParameters": false,
					"IsMultiContentStreaming": false
				}
			},
			"patch": {
				"description": "Update billing information for a sub account under the master account <aside>Only for the sub account which is a paid account and paid by master account</aside>",
				"summary": "Update billing information for a sub account",
				"tags": [
					"Billing"
				],
				"operationId": "AccountsBillingByAccountIdPatch",
				"parameters": [{
						"name": "accountId",
						"in": "path",
						"required": true,
						"type": "string",
						"description": "The account ID"
					},
					{
						"name": "Body",
						"in": "body",
						"required": false,
						"description": "",
						"schema": {
							"title": "Update billing information for a sub accountRequest",
							"example": {
								"first_name": "string",
								"last_name": "string",
								"email": "string",
								"phone_number": "string",
								"address": "string",
								"apt": "string",
								"city": "string",
								"state": "string",
								"zip": "string",
								"country": "string"
							},
							"type": "object",
							"properties": {
								"first_name": {
									"description": "User's first name.",
									"example": "string",
									"type": "string"
								},
								"last_name": {
									"description": "User's last name.",
									"example": "string",
									"type": "string"
								},
								"email": {
									"description": "User's email address.",
									"example": "string",
									"type": "string"
								},
								"phone_number": {
									"description": "User's phone number. ",
									"example": "string",
									"type": "string"
								},
								"address": {
									"description": "User's address. ",
									"example": "string",
									"type": "string"
								},
								"apt": {
									"description": "User's apartment/suite. ",
									"example": "string",
									"type": "string"
								},
								"city": {
									"description": "User's city. ",
									"example": "string",
									"type": "string"
								},
								"state": {
									"description": "User's state. ",
									"example": "string",
									"type": "string"
								},
								"zip": {
									"description": "User's zip code. ",
									"example": "string",
									"type": "string"
								},
								"country": {
									"description": "User's country. ",
									"example": "string",
									"type": "string"
								}
							}
						}
					},
					{
						"name": "Accept",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Content-Type",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Authorization",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "Bearer {{Your Token}}",
						"description": "Uses JWT generated using client ID and Secret."
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [{
					"auth": []
				}],
				"x-unitTests": [{
					"request": {
						"method": "PATCH",
						"uri": "/accounts/%7B%7BaccountId%7D%7D/billing",
						"headers": {
							"Content-Type": "application/json",
							"Accept": "application/json"
						},
						"body": "{\"first_name\":\"string\",\"last_name\":\"string\",\"email\":\"string\",\"phone_number\":\"string\",\"address\":\"string\",\"apt\":\"string\",\"city\":\"string\",\"state\":\"string\",\"zip\":\"string\",\"country\":\"string\"}"
					},
					"expectedResponse": {
						"x-allowExtraHeaders": true,
						"x-bodyMatchMode": "NONE",
						"x-arrayOrderedMatching": false,
						"x-arrayCheckCount": false,
						"x-matchResponseSchema": true,
						"headers": {}
					},
					"x-testShouldPass": true,
					"x-testEnabled": true,
					"x-testName": "Update billing information for a sub account",
					"x-testDescription": "Update billing information for a sub account under the master account <aside>Only for the sub account which is a paid account and paid by master account</aside>"
				}],
				"x-operation-settings": {
					"CollectParameters": false,
					"AllowDynamicQueryParameters": false,
					"AllowDynamicFormParameters": false,
					"IsMultiContentStreaming": false
				}
			}
		},
		"/accounts/{accountId}/plans": {
			"get": {
				"description": "Retrieve plan information for a sub account under the master account  <aside>Only for the sub account which is paid by master account</aside>",
				"summary": "Retrieve plan information for a sub account",
				"tags": [
					"Billing"
				],
				"operationId": "AccountsPlansByAccountIdGet",
				"parameters": [{
						"name": "accountId",
						"in": "path",
						"required": true,
						"type": "string",
						"description": "The account ID"
					},
					{
						"name": "Accept",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Content-Type",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Authorization",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "Bearer {{Your Token}}",
						"description": "Uses JWT generated using client ID and Secret."
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [{
					"auth": []
				}],
				"x-unitTests": [{
					"request": {
						"method": "GET",
						"uri": "/accounts/%7B%7BaccountId%7D%7D/plans",
						"headers": {
							"Accept": "application/json",
							"Content-Type": "application/json"
						}
					},
					"expectedResponse": {
						"x-allowExtraHeaders": true,
						"x-bodyMatchMode": "NONE",
						"x-arrayOrderedMatching": false,
						"x-arrayCheckCount": false,
						"x-matchResponseSchema": true,
						"headers": {}
					},
					"x-testShouldPass": true,
					"x-testEnabled": true,
					"x-testName": "Retrieve plan information for a sub account",
					"x-testDescription": "Retrieve plan information for a sub account under the master account  <aside>Only for the sub account which is paid by master account</aside>"
				}],
				"x-operation-settings": {
					"CollectParameters": false,
					"AllowDynamicQueryParameters": false,
					"AllowDynamicFormParameters": false,
					"IsMultiContentStreaming": false
				}
			},
			"post": {
				"description": "Subscribe plans for a sub account of the master account <aside>Can only subscribe plans for the sub account which is a free account and paid by master account</aside>",
				"summary": "Subscribe plans for a sub account",
				"tags": [
					"Billing"
				],
				"operationId": "AccountsPlansByAccountIdPost",
				"parameters": [{
						"name": "accountId",
						"in": "path",
						"required": true,
						"type": "string",
						"description": "The account ID"
					},
					{
						"name": "Accept",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Content-Type",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Authorization",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "Bearer {{Your Token}}",
						"description": "Uses JWT generated using client ID and Secret."
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [{
					"auth": []
				}],
				"x-unitTests": [{
					"request": {
						"method": "POST",
						"uri": "/accounts/%7B%7BaccountId%7D%7D/plans",
						"headers": {
							"Accept": "application/json",
							"Content-Type": "application/json"
						}
					},
					"expectedResponse": {
						"x-allowExtraHeaders": true,
						"x-bodyMatchMode": "NONE",
						"x-arrayOrderedMatching": false,
						"x-arrayCheckCount": false,
						"x-matchResponseSchema": true,
						"headers": {}
					},
					"x-testShouldPass": true,
					"x-testEnabled": true,
					"x-testName": "Subscribe plans for a sub account",
					"x-testDescription": "Subscribe plans for a sub account of the master account <aside>Can only subscribe plans for the sub account which is a free account and paid by master account</aside>"
				}],
				"x-operation-settings": {
					"CollectParameters": false,
					"AllowDynamicQueryParameters": false,
					"AllowDynamicFormParameters": false,
					"IsMultiContentStreaming": false
				}
			}
		},
		"/accounts/{accountId}/plans/base": {
			"put": {
				"description": "Update a base plan for a sub account <aside>Can only update a base plan for the sub account which is a paid account and paid by master account</aside>",
				"summary": "Update a base plan for a sub account",
				"tags": [
					"Billing"
				],
				"operationId": "AccountsPlansBaseByAccountIdPut",
				"parameters": [{
						"name": "accountId",
						"in": "path",
						"required": true,
						"type": "string",
						"description": "The account ID"
					},
					{
						"name": "Body",
						"in": "body",
						"required": false,
						"description": "",
						"schema": {
							"title": "Update a base plan for a sub accountRequest",
							"example": {
								"type": "string",
								"hosts": "integer"
							},
							"type": "object",
							"properties": {
								"type": {
									"description": "",
									"example": "string",
									"type": "string"
								},
								"hosts": {
									"description": "",
									"example": "integer",
									"type": "string"
								}
							},
							"required": [
								"type",
								"hosts"
							]
						}
					},
					{
						"name": "Accept",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Content-Type",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Authorization",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "Bearer {{Your Token}}",
						"description": "Uses JWT generated using client ID and Secret."
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [{
					"auth": []
				}],
				"x-unitTests": [{
					"request": {
						"method": "PUT",
						"uri": "/accounts/%7B%7BaccountId%7D%7D/plans/base",
						"headers": {
							"Content-Type": "application/json",
							"Accept": "application/json"
						},
						"body": "{\"type\":\"string\",\"hosts\":\"integer\"}"
					},
					"expectedResponse": {
						"x-allowExtraHeaders": true,
						"x-bodyMatchMode": "NONE",
						"x-arrayOrderedMatching": false,
						"x-arrayCheckCount": false,
						"x-matchResponseSchema": true,
						"headers": {}
					},
					"x-testShouldPass": true,
					"x-testEnabled": true,
					"x-testName": "Update a base plan for a sub account",
					"x-testDescription": "Update a base plan for a sub account <aside>Can only update a base plan for the sub account which is a paid account and paid by master account</aside>"
				}],
				"x-operation-settings": {
					"CollectParameters": false,
					"AllowDynamicQueryParameters": false,
					"AllowDynamicFormParameters": false,
					"IsMultiContentStreaming": false
				}
			}
		},
		"/accounts/{accountId}/plans/addons": {
			"put": {
				"description": "Update an additional plan for sub account<aside>Can only update an Additional plan for the sub account which is a paid account and paid by master account</aside>",
				"summary": "Update an additional plan for sub account",
				"tags": [
					"Billing"
				],
				"operationId": "AccountsPlansAddonsByAccountIdPut",
				"parameters": [{
						"name": "accountId",
						"in": "path",
						"required": true,
						"type": "string",
						"description": "The account ID"
					},
					{
						"name": "Body",
						"in": "body",
						"required": false,
						"description": "",
						"schema": {
							"title": "Update an additional plan for sub accountRequest",
							"example": {
								"type": "string",
								"hosts": "integer"
							},
							"type": "object",
							"properties": {
								"type": {
									"description": "",
									"example": "string",
									"type": "string"
								},
								"hosts": {
									"description": "",
									"example": "integer",
									"type": "string"
								}
							},
							"required": [
								"type",
								"hosts"
							]
						}
					},
					{
						"name": "Accept",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Content-Type",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Authorization",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "Bearer {{Your Token}}",
						"description": "Uses JWT generated using client ID and Secret."
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [{
					"auth": []
				}],
				"x-unitTests": [{
					"request": {
						"method": "PUT",
						"uri": "/accounts/%7B%7BaccountId%7D%7D/plans/addons",
						"headers": {
							"Content-Type": "application/json",
							"Accept": "application/json"
						},
						"body": "{\"type\":\"string\",\"hosts\":\"integer\"}"
					},
					"expectedResponse": {
						"x-allowExtraHeaders": true,
						"x-bodyMatchMode": "NONE",
						"x-arrayOrderedMatching": false,
						"x-arrayCheckCount": false,
						"x-matchResponseSchema": true,
						"headers": {}
					},
					"x-testShouldPass": true,
					"x-testEnabled": true,
					"x-testName": "Update an additional plan for sub account",
					"x-testDescription": "Update an additional plan for sub account<aside>Can only update an Additional plan for the sub account which is a paid account and paid by master account</aside>"
				}],
				"x-operation-settings": {
					"CollectParameters": false,
					"AllowDynamicQueryParameters": false,
					"AllowDynamicFormParameters": false,
					"IsMultiContentStreaming": false
				}
			},
			"post": {
				"description": "Add an additional plan for sub account <aside>Can only add an Additional plan for the sub account which is a paid account and paid by master account</aside>",
				"summary": "Add an additional plan for sub account",
				"tags": [
					"Billing"
				],
				"operationId": "AccountsPlansAddonsByAccountIdPost",
				"parameters": [{
						"name": "accountId",
						"in": "path",
						"required": true,
						"type": "string",
						"description": "The account ID"
					},
					{
						"name": "Body",
						"in": "body",
						"required": false,
						"description": "",
						"schema": {
							"title": "Add an additional plan for sub accountRequest",
							"example": {
								"type": "string",
								"hosts": "integer"
							},
							"type": "object",
							"properties": {
								"type": {
									"description": "",
									"example": "string",
									"type": "string"
								},
								"hosts": {
									"description": "",
									"example": "integer",
									"type": "string"
								}
							},
							"required": [
								"type",
								"hosts"
							]
						}
					},
					{
						"name": "Accept",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Content-Type",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Authorization",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "Bearer {{Your Token}}",
						"description": "Uses JWT generated using client ID and Secret."
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [{
					"auth": []
				}],
				"x-unitTests": [{
					"request": {
						"method": "POST",
						"uri": "/accounts/%7B%7BaccountId%7D%7D/plans/addons",
						"headers": {
							"Content-Type": "application/json",
							"Accept": "application/json"
						},
						"body": "{\"type\":\"string\",\"hosts\":\"integer\"}"
					},
					"expectedResponse": {
						"x-allowExtraHeaders": true,
						"x-bodyMatchMode": "NONE",
						"x-arrayOrderedMatching": false,
						"x-arrayCheckCount": false,
						"x-matchResponseSchema": true,
						"headers": {}
					},
					"x-testShouldPass": true,
					"x-testEnabled": true,
					"x-testName": "Add an additional plan for sub account",
					"x-testDescription": "Add an additional plan for sub account <aside>Can only add an Additional plan for the sub account which is a paid account and paid by master account</aside>"
				}],
				"x-operation-settings": {
					"CollectParameters": false,
					"AllowDynamicQueryParameters": false,
					"AllowDynamicFormParameters": false,
					"IsMultiContentStreaming": false
				}
			}
		},
		"/users": {
			"get": {
				"description": "List users on your account",
				"summary": "List Users",
				"tags": [
					"Users"
				],
				"operationId": "UsersGet",
				"parameters": [{
						"name": "status",
						"in": "query",
						"required": false,
						"type": "string",
						"description": ""
					},
					{
						"name": "page_size",
						"in": "query",
						"required": false,
						"type": "integer",
						"format": "int32",
						"description": ""
					},
					{
						"name": "page_number",
						"in": "query",
						"required": false,
						"type": "integer",
						"format": "int32",
						"description": ""
					},
					{
						"name": "Accept",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Content-Type",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Authorization",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "Bearer {{Your Token}}",
						"description": "Uses JWT generated using client ID and Secret."
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [{
					"auth": []
				}],
				"x-unitTests": [{
					"request": {
						"method": "GET",
						"uri": "/users?status=active&page_size=30&page_number=1",
						"headers": {
							"Accept": "application/json",
							"Content-Type": "application/json"
						}
					},
					"expectedResponse": {
						"x-allowExtraHeaders": true,
						"x-bodyMatchMode": "NONE",
						"x-arrayOrderedMatching": false,
						"x-arrayCheckCount": false,
						"x-matchResponseSchema": true,
						"headers": {}
					},
					"x-testShouldPass": true,
					"x-testEnabled": true,
					"x-testName": "List Users",
					"x-testDescription": "List users on your account"
				}],
				"x-operation-settings": {
					"CollectParameters": false,
					"AllowDynamicQueryParameters": false,
					"AllowDynamicFormParameters": false,
					"IsMultiContentStreaming": false
				}
			},
			"post": {
				"description": "Create a user on your account",
				"summary": "Create a user",
				"tags": [
					"Users"
				],
				"operationId": "UsersPost",
				"parameters": [{
						"name": "Body",
						"in": "body",
						"required": false,
						"description": "",
						"schema": {
							"title": "Create a userRequest",
							"example": {
								"action": "string",
								"user_info": {
									"email": "string",
									"type": "integer",
									"first_name": "string",
									"last_name": "string",
									"password": "string"
								}
							},
							"type": "object",
							"properties": {
								"action": {
									"description": "",
									"example": "string",
									"type": "string"
								},
								"user_info": {
									"title": "UserInfo",
									"example": {
										"email": "string",
										"type": "integer",
										"first_name": "string",
										"last_name": "string",
										"password": "string"
									},
									"type": "object",
									"properties": {
										"email": {
											"description": "User's email address.",
											"example": "string",
											"type": "string"
										},
										"type": {
											"description": "",
											"example": "integer",
											"type": "string"
										},
										"first_name": {
											"description": "User's first name.",
											"example": "string",
											"type": "string"
										},
										"last_name": {
											"description": "User's last name.",
											"example": "string",
											"type": "string"
										},
										"password": {
											"description": "Sets password.",
											"example": "string",
											"type": "string"
										}
									},
									"required": [
										"email",
										"type"
									]
								}
							},
							"required": [
								"action",
								"user_info"
							]
						}
					},
					{
						"name": "Accept",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Content-Type",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Authorization",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "Bearer {{Your Token}}",
						"description": "Uses JWT generated using client ID and Secret."
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [{
					"auth": []
				}],
				"x-unitTests": [{
					"request": {
						"method": "POST",
						"uri": "/users",
						"headers": {
							"Content-Type": "application/json",
							"Accept": "application/json"
						},
						"body": "{\"action\":\"string\",\"user_info\":{\"email\":\"string\",\"type\":\"integer\",\"first_name\":\"string\",\"last_name\":\"string\",\"password\":\"string\"}}"
					},
					"expectedResponse": {
						"x-allowExtraHeaders": true,
						"x-bodyMatchMode": "NONE",
						"x-arrayOrderedMatching": false,
						"x-arrayCheckCount": false,
						"x-matchResponseSchema": true,
						"headers": {}
					},
					"x-testShouldPass": true,
					"x-testEnabled": true,
					"x-testName": "Create a user",
					"x-testDescription": "Create a user on your account"
				}],
				"x-operation-settings": {
					"CollectParameters": false,
					"AllowDynamicQueryParameters": false,
					"AllowDynamicFormParameters": false,
					"IsMultiContentStreaming": false
				}
			}
		},
		"/users/{userId}": {
			"get": {
				"description": "Retrieve a user on your account",
				"summary": "Retrieve a user",
				"tags": [
					"Users"
				],
				"operationId": "UsersByUserIdGet",
				"parameters": [{
						"name": "login_type",
						"in": "query",
						"required": false,
						"type": "string",
						"description": ""
					},
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"type": "string",
						"description": "Unique user ID."
					},
					{
						"name": "Accept",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Content-Type",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Authorization",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "Bearer {{Your Token}}",
						"description": "Uses JWT generated using client ID and Secret."
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [{
					"auth": []
				}],
				"x-unitTests": [{
					"request": {
						"method": "GET",
						"uri": "/users/{{userId}}?login_type={{login_type}}",
						"headers": {
							"Accept": "application/json",
							"Content-Type": "application/json"
						}
					},
					"expectedResponse": {
						"x-allowExtraHeaders": true,
						"x-bodyMatchMode": "NONE",
						"x-arrayOrderedMatching": false,
						"x-arrayCheckCount": false,
						"x-matchResponseSchema": true,
						"headers": {}
					},
					"x-testShouldPass": true,
					"x-testEnabled": true,
					"x-testName": "Retrieve a user",
					"x-testDescription": "Retrieve a user on your account"
				}],
				"x-operation-settings": {
					"CollectParameters": false,
					"AllowDynamicQueryParameters": false,
					"AllowDynamicFormParameters": false,
					"IsMultiContentStreaming": false
				}
			},
			"delete": {
				"description": "Delete a user on your account",
				"summary": "Delete a user",
				"tags": [
					"Users"
				],
				"operationId": "UsersByUserIdDelete",
				"parameters": [{
						"name": "action",
						"in": "query",
						"required": false,
						"type": "string",
						"description": ""
					},
					{
						"name": "transfer_email",
						"in": "query",
						"required": false,
						"type": "string",
						"description": ""
					},
					{
						"name": "transfer_meeting",
						"in": "query",
						"required": false,
						"type": "string",
						"description": ""
					},
					{
						"name": "transfer_webinar",
						"in": "query",
						"required": false,
						"type": "string",
						"description": ""
					},
					{
						"name": "transfer_recording",
						"in": "query",
						"required": false,
						"type": "string",
						"description": ""
					},
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"type": "string",
						"description": "Unique user ID."
					},
					{
						"name": "Accept",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Content-Type",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Authorization",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "Bearer {{Your Token}}",
						"description": "Uses JWT generated using client ID and Secret."
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [{
					"auth": []
				}],
				"x-unitTests": [{
					"request": {
						"method": "DELETE",
						"uri": "/users/{{userId}}?action=disassociate&transfer_email={{transfer_email}}&transfer_meeting={{transfer_meeting}}&transfer_webinar={{transfer_webinar}}&transfer_recording={{transfer_recording}}",
						"headers": {
							"Accept": "application/json",
							"Content-Type": "application/json"
						}
					},
					"expectedResponse": {
						"x-allowExtraHeaders": true,
						"x-bodyMatchMode": "NONE",
						"x-arrayOrderedMatching": false,
						"x-arrayCheckCount": false,
						"x-matchResponseSchema": true,
						"headers": {}
					},
					"x-testShouldPass": true,
					"x-testEnabled": true,
					"x-testName": "Delete a user",
					"x-testDescription": "Delete a user on your account"
				}],
				"x-operation-settings": {
					"CollectParameters": false,
					"AllowDynamicQueryParameters": false,
					"AllowDynamicFormParameters": false,
					"IsMultiContentStreaming": false
				}
			},
			"patch": {
				"description": "Update a user on your account",
				"summary": "Update a user",
				"tags": [
					"Users"
				],
				"operationId": "UsersByUserIdPatch",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"type": "string",
						"description": "Unique user ID."
					},
					{
						"name": "Body",
						"in": "body",
						"required": false,
						"description": "",
						"schema": {
							"title": "Update a userRequest",
							"example": {
								"first_name": "string",
								"last_name": "string",
								"type": "integer",
								"pmi": "string",
								"timezone": "string [date-time]",
								"dept": "string",
								"vanity_name": "string",
								"host_key": "string",
								"cms_user_id": "string"
							},
							"type": "object",
							"properties": {
								"first_name": {
									"description": "User's first name.",
									"example": "string",
									"type": "string"
								},
								"last_name": {
									"description": "User's last name.",
									"example": "string",
									"type": "string"
								},
								"type": {
									"description": "",
									"example": "integer",
									"type": "string"
								},
								"pmi": {
									"description": "",
									"example": "string",
									"type": "string"
								},
								"timezone": {
									"description": "Timezone to format start_time. For example, “America/Los_Angeles”. For scheduled meetings only. Please reference our timezone list for supported timezones and their formats.",
									"example": "string [date-time]",
									"type": "string"
								},
								"dept": {
									"description": "",
									"example": "string",
									"type": "string"
								},
								"vanity_name": {
									"description": "",
									"example": "string",
									"type": "string"
								},
								"host_key": {
									"description": "",
									"example": "string",
									"type": "string"
								},
								"cms_user_id": {
									"description": "",
									"example": "string",
									"type": "string"
								}
							}
						}
					},
					{
						"name": "Accept",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Content-Type",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Authorization",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "Bearer {{Your Token}}",
						"description": "Uses JWT generated using client ID and Secret."
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [{
					"auth": []
				}],
				"x-unitTests": [{
					"request": {
						"method": "PATCH",
						"uri": "/users/%7B%7BuserId%7D%7D",
						"headers": {
							"Content-Type": "application/json",
							"Accept": "application/json"
						},
						"body": "{\"first_name\":\"string\",\"last_name\":\"string\",\"type\":\"integer\",\"pmi\":\"string\",\"timezone\":\"string [date-time]\",\"dept\":\"string\",\"vanity_name\":\"string\",\"host_key\":\"string\",\"cms_user_id\":\"string\"}"
					},
					"expectedResponse": {
						"x-allowExtraHeaders": true,
						"x-bodyMatchMode": "NONE",
						"x-arrayOrderedMatching": false,
						"x-arrayCheckCount": false,
						"x-matchResponseSchema": true,
						"headers": {}
					},
					"x-testShouldPass": true,
					"x-testEnabled": true,
					"x-testName": "Update a user",
					"x-testDescription": "Update a user on your account"
				}],
				"x-operation-settings": {
					"CollectParameters": false,
					"AllowDynamicQueryParameters": false,
					"AllowDynamicFormParameters": false,
					"IsMultiContentStreaming": false
				}
			}
		},
		"/users/{userId}/assistants": {
			"get": {
				"description": "List a user's assistants",
				"summary": "List a user's assistants",
				"tags": [
					"Users"
				],
				"operationId": "UsersAssistantsByUserIdGet",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"type": "string",
						"description": "Unique user ID."
					},
					{
						"name": "Accept",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Content-Type",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Authorization",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "Bearer {{Your Token}}",
						"description": "Uses JWT generated using client ID and Secret."
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [{
					"auth": []
				}],
				"x-unitTests": [{
					"request": {
						"method": "GET",
						"uri": "/users/%7B%7BuserId%7D%7D/assistants",
						"headers": {
							"Accept": "application/json",
							"Content-Type": "application/json"
						}
					},
					"expectedResponse": {
						"x-allowExtraHeaders": true,
						"x-bodyMatchMode": "NONE",
						"x-arrayOrderedMatching": false,
						"x-arrayCheckCount": false,
						"x-matchResponseSchema": true,
						"headers": {}
					},
					"x-testShouldPass": true,
					"x-testEnabled": true,
					"x-testName": "List a user's assistants",
					"x-testDescription": "List a user's assistants"
				}],
				"x-operation-settings": {
					"CollectParameters": false,
					"AllowDynamicQueryParameters": false,
					"AllowDynamicFormParameters": false,
					"IsMultiContentStreaming": false
				}
			},
			"post": {
				"description": "Add assistants to a user",
				"summary": "Add assistants",
				"tags": [
					"Users"
				],
				"operationId": "UsersAssistantsByUserIdPost",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"type": "string",
						"description": "Unique user ID."
					},
					{
						"name": "Body",
						"in": "body",
						"required": false,
						"description": "",
						"schema": {
							"title": "Add assistantsRequest",
							"example": {
								"assistants": [{
									"id": "string",
									"email": "string"
								}]
							},
							"type": "object",
							"properties": {
								"assistants": {
									"description": "List of User’s assistants. ",
									"example": [{
										"id": "string",
										"email": "string"
									}],
									"type": "array",
									"items": {
										"title": "Assistant",
										"example": {
											"id": "string",
											"email": "string"
										},
										"type": "object",
										"properties": {
											"id": {
												"description": "",
												"example": "string",
												"type": "string"
											},
											"email": {
												"description": "User's email address.",
												"example": "string",
												"type": "string"
											}
										},
										"required": [
											"id",
											"email"
										]
									}
								}
							}
						}
					},
					{
						"name": "Accept",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Content-Type",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Authorization",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "Bearer {{Your Token}}",
						"description": "Uses JWT generated using client ID and Secret."
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [{
					"auth": []
				}],
				"x-unitTests": [{
					"request": {
						"method": "POST",
						"uri": "/users/%7B%7BuserId%7D%7D/assistants",
						"headers": {
							"Content-Type": "application/json",
							"Accept": "application/json"
						},
						"body": "{\"assistants\":[{\"id\":\"string\",\"email\":\"string\"}]}"
					},
					"expectedResponse": {
						"x-allowExtraHeaders": true,
						"x-bodyMatchMode": "NONE",
						"x-arrayOrderedMatching": false,
						"x-arrayCheckCount": false,
						"x-matchResponseSchema": true,
						"headers": {}
					},
					"x-testShouldPass": true,
					"x-testEnabled": true,
					"x-testName": "Add assistants",
					"x-testDescription": "Add assistants to a user"
				}],
				"x-operation-settings": {
					"CollectParameters": false,
					"AllowDynamicQueryParameters": false,
					"AllowDynamicFormParameters": false,
					"IsMultiContentStreaming": false
				}
			},
			"delete": {
				"description": "Delete all of a user'sassitants",
				"summary": "Delete a user's assistants",
				"tags": [
					"Users"
				],
				"operationId": "UsersAssistantsByUserIdDelete",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"type": "string",
						"description": "Unique user ID."
					},
					{
						"name": "Accept",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Content-Type",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Authorization",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "Bearer {{Your Token}}",
						"description": "Uses JWT generated using client ID and Secret."
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [{
					"auth": []
				}],
				"x-unitTests": [{
					"request": {
						"method": "DELETE",
						"uri": "/users/%7B%7BuserId%7D%7D/assistants",
						"headers": {
							"Accept": "application/json",
							"Content-Type": "application/json"
						}
					},
					"expectedResponse": {
						"x-allowExtraHeaders": true,
						"x-bodyMatchMode": "NONE",
						"x-arrayOrderedMatching": false,
						"x-arrayCheckCount": false,
						"x-matchResponseSchema": true,
						"headers": {}
					},
					"x-testShouldPass": true,
					"x-testEnabled": true,
					"x-testName": "Delete a user's assistants",
					"x-testDescription": "Delete all of a user'sassitants"
				}],
				"x-operation-settings": {
					"CollectParameters": false,
					"AllowDynamicQueryParameters": false,
					"AllowDynamicFormParameters": false,
					"IsMultiContentStreaming": false
				}
			}
		},
		"/users/{userId}/assistants/{assistantId}": {
			"delete": {
				"description": "Delete one of a user's assistants",
				"summary": "Delete a user's assistant",
				"tags": [
					"Users"
				],
				"operationId": "UsersAssistantsByUserIdAndAssistantIdDelete",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"type": "string",
						"description": "Unique user ID."
					},
					{
						"name": "assistantId",
						"in": "path",
						"required": true,
						"type": "string",
						"description": ""
					},
					{
						"name": "Accept",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Content-Type",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Authorization",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "Bearer {{Your Token}}",
						"description": "Uses JWT generated using client ID and Secret."
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [{
					"auth": []
				}],
				"x-unitTests": [{
					"request": {
						"method": "DELETE",
						"uri": "/users/%7B%7BuserId%7D%7D/assistants/%7B%7BassistantId%7D%7D",
						"headers": {
							"Accept": "application/json",
							"Content-Type": "application/json"
						}
					},
					"expectedResponse": {
						"x-allowExtraHeaders": true,
						"x-bodyMatchMode": "NONE",
						"x-arrayOrderedMatching": false,
						"x-arrayCheckCount": false,
						"x-matchResponseSchema": true,
						"headers": {}
					},
					"x-testShouldPass": true,
					"x-testEnabled": true,
					"x-testName": "Delete a user's assistant",
					"x-testDescription": "Delete one of a user's assistants"
				}],
				"x-operation-settings": {
					"CollectParameters": false,
					"AllowDynamicQueryParameters": false,
					"AllowDynamicFormParameters": false,
					"IsMultiContentStreaming": false
				}
			}
		},
		"/users/{userId}/schedulers": {
			"get": {
				"description": "List a user's schedulers",
				"summary": "List a user's schedulers",
				"tags": [
					"Users"
				],
				"operationId": "UsersSchedulersByUserIdGet",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"type": "string",
						"description": "Unique user ID."
					},
					{
						"name": "Accept",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Content-Type",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Authorization",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "Bearer {{Your Token}}",
						"description": "Uses JWT generated using client ID and Secret."
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [{
					"auth": []
				}],
				"x-unitTests": [{
					"request": {
						"method": "GET",
						"uri": "/users/%7B%7BuserId%7D%7D/schedulers",
						"headers": {
							"Accept": "application/json",
							"Content-Type": "application/json"
						}
					},
					"expectedResponse": {
						"x-allowExtraHeaders": true,
						"x-bodyMatchMode": "NONE",
						"x-arrayOrderedMatching": false,
						"x-arrayCheckCount": false,
						"x-matchResponseSchema": true,
						"headers": {}
					},
					"x-testShouldPass": true,
					"x-testEnabled": true,
					"x-testName": "List a user's schedulers",
					"x-testDescription": "List a user's schedulers"
				}],
				"x-operation-settings": {
					"CollectParameters": false,
					"AllowDynamicQueryParameters": false,
					"AllowDynamicFormParameters": false,
					"IsMultiContentStreaming": false
				}
			},
			"delete": {
				"description": "Delete all of a user'schedulers",
				"summary": "Delete a user's schedulers",
				"tags": [
					"Users"
				],
				"operationId": "UsersSchedulersByUserIdDelete",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"type": "string",
						"description": "Unique user ID."
					},
					{
						"name": "Accept",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Content-Type",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Authorization",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "Bearer {{Your Token}}",
						"description": "Uses JWT generated using client ID and Secret."
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [{
					"auth": []
				}],
				"x-unitTests": [{
					"request": {
						"method": "DELETE",
						"uri": "/users/%7B%7BuserId%7D%7D/schedulers",
						"headers": {
							"Accept": "application/json",
							"Content-Type": "application/json"
						}
					},
					"expectedResponse": {
						"x-allowExtraHeaders": true,
						"x-bodyMatchMode": "NONE",
						"x-arrayOrderedMatching": false,
						"x-arrayCheckCount": false,
						"x-matchResponseSchema": true,
						"headers": {}
					},
					"x-testShouldPass": true,
					"x-testEnabled": true,
					"x-testName": "Delete a user's schedulers",
					"x-testDescription": "Delete all of a user'schedulers"
				}],
				"x-operation-settings": {
					"CollectParameters": false,
					"AllowDynamicQueryParameters": false,
					"AllowDynamicFormParameters": false,
					"IsMultiContentStreaming": false
				}
			}
		},
		"/users/{userId}/schedulers/{schedulerId}": {
			"delete": {
				"description": "Delete one of a user's schedulers",
				"summary": "Delete a user's scheduler",
				"tags": [
					"Users"
				],
				"operationId": "UsersSchedulersByUserIdAndSchedulerIdDelete",
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"type": "string",
						"description": "Unique user ID."
					},
					{
						"name": "schedulerId",
						"in": "path",
						"required": true,
						"type": "string",
						"description": ""
					},
					{
						"name": "Accept",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Content-Type",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
						"description": "Type is always 'application/json'."
					},
					{
						"name": "Authorization",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "Bearer {{Your Token}}",
						"description": "Uses JWT generated using client ID and Secret."
					}
				],
				"responses": {
					"200": {
						"description": ""
					}
				},
				"security": [{
					"auth": []
				}],
				"x-unitTests": [{
					"request": {
						"method": "DELETE",
						"uri": "/users/%7B%7BuserId%7D%7D/schedulers/%7B%7BschedulerId%7D%7D",
						"headers": {
							"Accept": "application/json",
							"Content-Type": "application/json"
						}
					},
					"expectedResponse": {
						"x-allowExtraHeaders": true,
						"x-bodyMatchMode": "NONE",
						"x-arrayOrderedMatching": false,
						"x-arrayCheckCount": false,
						"x-matchResponseSchema": true,
						"headers": {}
					},
					"x-testShouldPass": true,
					"x-testEnabled": true,
					"x-testName": "Delete a user's scheduler",
					"x-testDescription": "Delete one of a user's schedulers"
				}],
				"x-operation-settings": {
					"CollectParameters": false,
					"AllowDynamicQueryParameters": false,
					"AllowDynamicFormParameters": false,
					"IsMultiContentStreaming": false
				}
			}
		},
		"/users/{userId}/picture": {
			"post": {
				"description": "Upload a user's profile picture",
				"summary": "Upload a user's picture",
				"tags": [
					"Users"
				],
				"operationId": "UsersPictureByUserIdPost",
				"consumes": [
					"application/x-www-form-urlencoded"
				],
				"parameters": [{
						"name": "userId",
						"in": "path",
						"required": true,
						"type": "string",
						"description": "Unique user ID."
					},
					{
						"name": "pic_file",
						"in": "formData",
						"required": false,
						"type": "string",
						"description": ""
					},
					{
						"name": "Accept",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "application/json",
[...]
