{
  "swagger": "2.0",
  "x-explorer-enabled": false,
  "info": {
    "version": "2.0.0",
    "title": "Zoom API",
    "description": "API Description"
  },
  "host": "api.zoom.us",
  "basePath": "/v2",
  "securityDefinitions": {},
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/accounts": {
      "get": {
        "description": "List all the sub accounts under the master account",
        "summary": "List accounts",
        "tags": [
          "Accounts"
        ],
        "operationId": "AccountsGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "default": 30,
            "type": "integer",
            "format": "int32",
            "maximum": 300,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The number of records returned within a single API call\n**default:** 30\n**maximum:** 300"
          },
          {
            "name": "page_number",
            "in": "query",
            "required": false,
            "default": 1,
            "type": "integer",
            "format": "int32",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Current page number of returned records\n**default:** 1"
          }
        ],
        "responses": {
          "200": {
            "description": "Account list returned",
            "schema": {
              "title": "Account List",
              "description": "Account list returned",
              "type": "object",
              "properties": {
                "page_count": {
                  "description": "The number of items returned on this page",
                  "type": "integer",
                  "format": "int32"
                },
                "page_number": {
                  "description": "The page number of current results",
                  "example": 1,
                  "type": "integer",
                  "format": "int32"
                },
                "page_size": {
                  "description": "The number of records returned within a single API call\n**default:** 30\n**maximum:** 300",
                  "example": 30,
                  "type": "integer",
                  "maximum": 300,
                  "format": "int32"
                },
                "total_records": {
                  "description": "The number of all records available across pages",
                  "type": "integer",
                  "format": "int32"
                },
                "accounts": {
                  "description": "List of Account objects",
                  "type": "array",
                  "items": {
                    "title": "Account4",
                    "type": "object",
                    "properties": {
                      "id": {
                        "description": "Account ID",
                        "type": "string",
                        "format": "uuid"
                      },
                      "account_name": {
                        "description": "Account name",
                        "type": "string"
                      },
                      "owner_email": {
                        "description": "Account owner email",
                        "type": "string"
                      },
                      "account_type": {
                        "description": "Account type",
                        "type": "string"
                      },
                      "seats": {
                        "description": "Account seats",
                        "type": "integer",
                        "format": "int32"
                      },
                      "subscription_start_time": {
                        "description": "Account subscription start date/time",
                        "type": "string",
                        "format": "date-time"
                      },
                      "subscription_end_time": {
                        "description": "Account subscription end date/time",
                        "type": "string",
                        "format": "date-time"
                      },
                      "created_at": {
                        "description": "Account creation date/time",
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-unitTests": [
          {
            "request": {
              "method": "GET",
              "uri": "/accounts?page_size=30&page_number=1"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {}
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Test List accounts",
            "x-testDescription": "List all the sub accounts under the master account"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "Create a sub account under the master account. <aside>Your account must be a master account and have this privilege to create sub account. Zoom only assigns this privilege to trusted partners. The created user will not receive a confirmation email.</aside>.",
        "summary": "Create account",
        "tags": [
          "Accounts"
        ],
        "operationId": "AccountsPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Account",
            "schema": {
              "title": "Account",
              "description": "Account",
              "type": "object",
              "properties": {
                "first_name": {
                  "description": "User's first name",
                  "type": "string"
                },
                "last_name": {
                  "description": "User's last name",
                  "type": "string"
                },
                "email": {
                  "description": "User's email address",
                  "type": "string"
                },
                "password": {
                  "description": "User's password",
                  "type": "string"
                },
                "options": {
                  "title": "options",
                  "type": "object",
                  "properties": {
                    "share_rc": {
                      "description": "Enable Share Virtual Room Connector",
                      "example": false,
                      "type": "boolean"
                    },
                    "room_connectors": {
                      "description": "Virtual Room Connector, multiple value separated by comma",
                      "type": "string"
                    },
                    "share_mc": {
                      "description": "Enable Share Meeting Connector",
                      "example": false,
                      "type": "boolean"
                    },
                    "meeting_connectors": {
                      "description": "Meeting Connector, multiple values separated by comma",
                      "type": "string"
                    },
                    "pay_mode": {
                      "title": "pay_mode",
                      "example": "master",
                      "x-enum-elements": [
                        {
                          "name": "master",
                          "description": ""
                        },
                        {
                          "name": "sub",
                          "description": ""
                        }
                      ],
                      "type": "string",
                      "enum": [
                        "master",
                        "sub"
                      ]
                    }
                  }
                }
              },
              "required": [
                "first_name",
                "last_name",
                "email",
                "password"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Account Created",
            "schema": {
              "title": "accountCreateResponse",
              "description": "Account Created",
              "type": "object",
              "properties": {
                "id": {
                  "description": "Account ID",
                  "type": "string"
                },
                "owner_id": {
                  "description": "Account Owner ID",
                  "type": "string"
                },
                "owner_email": {
                  "description": "Account owner email",
                  "type": "string"
                },
                "created_at": {
                  "description": "Account created date time",
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "Account with that email already exists",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/accounts/{accountId}": {
      "get": {
        "description": "Retrieve a sub account under the master account. <aside>Your account must be a master account and have this privilege to read sub accounts. Zoom only assigns this privilege to trusted partners</aside>.",
        "summary": "Get single account",
        "tags": [
          "Accounts"
        ],
        "operationId": "AccountsByAccountIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The account ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Account object returned",
            "schema": {
              "title": "accountResponse",
              "description": "Account object returned",
              "type": "object",
              "properties": {
                "id": {
                  "description": "Account ID",
                  "type": "string"
                },
                "owner_id": {
                  "description": "Account Owner ID",
                  "type": "string"
                },
                "owner_email": {
                  "description": "Account Owner email",
                  "type": "string"
                },
                "created_at": {
                  "description": "Account creation date/time",
                  "type": "string",
                  "format": "date-time"
                },
                "options": {
                  "title": "options",
                  "type": "object",
                  "properties": {
                    "share_rc": {
                      "description": "Enable Share Virtual Room Connector",
                      "example": false,
                      "type": "boolean"
                    },
                    "room_connectors": {
                      "description": "Virtual Room Connector, multiple value separated by comma",
                      "type": "string"
                    },
                    "share_mc": {
                      "description": "Enable Share Meeting Connector",
                      "example": false,
                      "type": "boolean"
                    },
                    "meeting_connectors": {
                      "description": "Meeting Connector, multiple values separated by comma",
                      "type": "string"
                    },
                    "pay_mode": {
                      "title": "pay_mode",
                      "example": "master",
                      "x-enum-elements": [
                        {
                          "name": "master",
                          "description": ""
                        },
                        {
                          "name": "sub",
                          "description": ""
                        }
                      ],
                      "type": "string",
                      "enum": [
                        "master",
                        "sub"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "description": "Disassociate a sub account from the master account. This will leave the account intact but the sub account will not longer be associated with the master account.",
        "summary": "Delete account",
        "tags": [
          "Accounts"
        ],
        "operationId": "AccountsByAccountIdDelete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The account ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Account deleted"
          },
          "404": {
            "description": "Account not found",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/accounts/{accountId}/options": {
      "patch": {
        "description": "Update a sub account's options under the master account",
        "summary": "Update account options",
        "tags": [
          "Accounts"
        ],
        "operationId": "AccountsOptionsByAccountIdPatch",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The account ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "title": "options",
              "type": "object",
              "properties": {
                "share_rc": {
                  "description": "Enable Share Virtual Room Connector",
                  "example": false,
                  "type": "boolean"
                },
                "room_connectors": {
                  "description": "Virtual Room Connector, multiple value separated by comma",
                  "type": "string"
                },
                "share_mc": {
                  "description": "Enable Share Meeting Connector",
                  "example": false,
                  "type": "boolean"
                },
                "meeting_connectors": {
                  "description": "Meeting Connector, multiple values separated by comma",
                  "type": "string"
                },
                "pay_mode": {
                  "title": "pay_mode",
                  "example": "master",
                  "x-enum-elements": [
                    {
                      "name": "master",
                      "description": ""
                    },
                    {
                      "name": "sub",
                      "description": ""
                    }
                  ],
                  "type": "string",
                  "enum": [
                    "master",
                    "sub"
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Account options updated"
          },
          "404": {
            "description": "Account not found",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/accounts/{accountId}/settings": {
      "get": {
        "description": "Retrieve a sub account's settings under the master account",
        "summary": "Get account settings",
        "tags": [
          "Accounts"
        ],
        "operationId": "AccountsSettingsByAccountIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The account ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Account settings returned",
            "schema": {
              "title": "Account settings",
              "description": "Account settings returned",
              "type": "object",
              "properties": {
                "schedule_meting": {
                  "title": "schedule_meeting",
                  "type": "object",
                  "properties": {
                    "host_video": {
                      "description": "Start meetings with host video on",
                      "type": "boolean"
                    },
                    "participant_video": {
                      "description": "Start meetings with participant video on. Participants can change this during the meeting\n`both` Telephony and VoIP\n`telephony` Audio PSTN telephony only\n`voip` VoIP only\n`thirdParty` 3rd party audio conference.",
                      "type": "boolean"
                    },
                    "audio_type": {
                      "title": "audio_type",
                      "example": "both",
                      "x-enum-elements": [
                        {
                          "name": "both",
                          "description": ""
                        },
                        {
                          "name": "telephony",
                          "description": ""
                        },
                        {
                          "name": "voip",
                          "description": ""
                        },
                        {
                          "name": "thirdParty",
                          "description": ""
                        }
                      ],
                      "type": "string",
                      "enum": [
                        "both",
                        "telephony",
                        "voip",
                        "thirdParty"
                      ]
                    },
                    "join_before_host": {
                      "description": "Allow participants to join the meeting before the host arrives",
                      "type": "boolean"
                    },
                    "enforce_login": {
                      "description": "Only signed-in (Zoom users) users can join meetings",
                      "type": "boolean"
                    },
                    "enforce_login_with_domains": {
                      "description": "Only signed-in users with a specific domain can join meetings",
                      "type": "boolean"
                    },
                    "enforce_login_domains": {
                      "description": "Only signed-in users with a specified domains",
                      "type": "string"
                    },
                    "not_store_meeting_topic": {
                      "description": "Always display \"Zoom Meeting\" as the meeting topic",
                      "type": "boolean"
                    },
                    "force_pmi_jbh_password": {
                      "description": "Require a password for Personal Meetings if attendees can join before host",
                      "type": "boolean"
                    }
                  }
                },
                "in_meeting": {
                  "title": "in_meeting",
                  "type": "object",
                  "properties": {
                    "e2e_encryption": {
                      "description": "Require that all meetings are encrypted using AES",
                      "type": "boolean"
                    },
                    "chat": {
                      "description": "Allow meeting participants to send a message visible to all participants",
                      "type": "boolean"
                    },
                    "private_chat": {
                      "description": "Allow meeting participants to send a private 1:1 message to another participants",
                      "type": "boolean"
                    },
                    "auto_saving_chat": {
                      "description": "Automatically save all in-meeting chats so that hosts do not need to manually save the text of the chat after the meeting starts",
                      "type": "boolean"
                    },
                    "file_transfer": {
                      "description": "Hosts and participants can send files through the in-meeting chat",
                      "type": "boolean"
                    },
                    "feedback": {
                      "description": "Add a Feedback tab to the Windows Settings or Mac Preferences dialog, and also enable users to provide feedback to Zoom at the end of the meeting",
                      "type": "boolean"
                    },
                    "post_meeting_feedback": {
                      "description": "Display a thumbs up/down survey at the end of each meeting",
                      "type": "boolean"
                    },
                    "co_host": {
                      "description": "Allow the host to add co-hosts",
                      "type": "boolean"
                    },
                    "polling": {
                      "description": "Add 'Polls' to the meeting controls.",
                      "type": "boolean"
                    },
                    "attendee_on_hold": {
                      "description": "Allow hosts to temporarily remove an attendee from the meeting",
                      "type": "boolean"
                    },
                    "show_meeting_control_toolbar": {
                      "description": "Always show meeting control toolbar",
                      "type": "boolean"
                    },
                    "allow_show_zoom_windows": {
                      "description": "Show Zoom Desktop application when sharing screen",
                      "type": "boolean"
                    },
                    "annotation": {
                      "description": "Allow participants to use annotation tools to add information to shared screens",
                      "type": "boolean"
                    },
                    "whiteboard": {
                      "description": "Allow participants to share a whiteboard that includes annotation tools",
                      "type": "boolean"
                    },
                    "webinar_question_answer": {
                      "description": "Q&A in webinar",
                      "type": "boolean"
                    },
                    "anonymous_question_answer": {
                      "description": "Allow Anonymous Q&A in Webinar",
                      "type": "boolean"
                    },
                    "breakout_room": {
                      "description": "Allow host to split meeting participants into separate, smaller rooms",
                      "type": "boolean"
                    },
                    "closed_caption": {
                      "description": "Allow host to type closed captions or assign a participant/third party device to add closed captions",
                      "type": "boolean"
                    },
                    "far_end_camera_control": {
                      "description": "Allow another user to take control of your camera during a meeting",
                      "type": "boolean"
                    },
                    "group_hd": {
                      "description": "Activate higher quality video for host and participants. (This will use more bandwidth.)",
                      "type": "boolean"
                    },
                    "virtual_background": {
                      "description": "Allow users to replace their background with any selected image. Choose or upload an image in the Zoom Desktop application settings.",
                      "type": "boolean"
                    },
                    "watermark": {
                      "description": "Add watermark when viewing shared screen",
                      "type": "boolean"
                    },
                    "alert_guest_join": {
                      "description": "Identify guest participants in the meeting/webinar",
                      "type": "boolean"
                    },
                    "auto_answer": {
                      "description": "Enable users to see and add contacts to 'auto-answer group' in the contact list on chat. Any call from members of this group will be automatically answered.",
                      "type": "boolean"
                    },
                    "p2p_connetion": {
                      "description": "Peer to Peer connection while only 2 people are in a meeting",
                      "type": "boolean"
                    },
                    "p2p_ports": {
                      "description": "P2P listening ports range",
                      "type": "boolean"
                    },
                    "ports_range": {
                      "description": "Listening ports range, separated by comma (ex 55,56). The ports range must be between 1 to 65535.",
                      "type": "string"
                    },
                    "sending_default_email_invites": {
                      "description": "Only show default email when sending email invites",
                      "type": "boolean"
                    },
                    "use_html_format_email": {
                      "description": "Use HTML format email for Outlook plugin",
                      "type": "boolean"
                    },
                    "dscp_marking": {
                      "description": "DSCP marking",
                      "type": "boolean"
                    },
                    "dscp_audio": {
                      "description": "DSCP Audio\n**minimum:** 1\n**maximum:** 63",
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 63,
                      "format": "int32"
                    },
                    "dscp_video": {
                      "description": "DSCP Video\n**minimum:** 1\n**maximum:** 63",
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 63,
                      "format": "int32"
                    },
                    "stereo_audio": {
                      "description": "Allow users to select stereo audio in their client settings",
                      "type": "boolean"
                    },
                    "original_audio": {
                      "description": "Allow users to select original sound in their client settings",
                      "type": "boolean"
                    },
                    "screen_sharing": {
                      "description": "Allow screen sharing",
                      "type": "boolean"
                    },
                    "remote_control": {
                      "description": "Allow users to request remote control",
                      "type": "boolean"
                    },
                    "attention_tracking": {
                      "description": "Lets the host see an indicator in the participant panel if a meeting/webinar attendee does not have Zoom in focus during screen sharing",
                      "type": "boolean"
                    }
                  }
                },
                "email_notification": {
                  "title": "email_notification",
                  "type": "object",
                  "properties": {
                    "cloud_recording_avaliable_reminder": {
                      "description": "Notify host when cloud recording is available",
                      "type": "boolean"
                    },
                    "jbh_reminder": {
                      "description": "Notify host when participants join the meeting before them",
                      "type": "boolean"
                    },
                    "cancel_meeting_reminder": {
                      "description": "Notify host and participants when the meeting is cancelled",
                      "type": "boolean"
                    },
                    "low_host_count_reminder": {
                      "description": "Notify when host licenses are running low",
                      "type": "boolean"
                    },
                    "alternative_host_reminder": {
                      "description": "Notify when an alternative host is set or removed from a meeting",
                      "type": "boolean"
                    }
                  }
                },
                "zoom_rooms": {
                  "title": "zoom_rooms",
                  "type": "object",
                  "properties": {
                    "upcoming_meeting_alert": {
                      "description": "Upcoming meeting alert",
                      "type": "boolean"
                    },
                    "start_airplay_manually": {
                      "description": "Start AirPlay service manually",
                      "type": "boolean"
                    },
                    "weekly_system_restart": {
                      "description": "Weekly system restart",
                      "type": "boolean"
                    },
                    "list_meetings_with_calendar": {
                      "description": "Display meeting list with calendar integration",
                      "type": "boolean"
                    },
                    "zr_post_meeting_feedback": {
                      "description": "Zoom Room post meeting feedback",
                      "type": "boolean"
                    },
                    "ultrasonic": {
                      "description": "Automatic direct sharing using ultrasonic proximity signal",
                      "type": "boolean"
                    },
                    "force_private_meeting": {
                      "description": "Transform all meetings to private",
                      "type": "boolean"
                    },
                    "hide_host_information": {
                      "description": "Hide host and meeting ID from private meetings",
                      "type": "boolean"
                    },
                    "cmr_for_instant_meeting": {
                      "description": "Cloud recording for instant meetings",
                      "type": "boolean"
                    },
                    "auto_start_stop_scheduled_meetings": {
                      "description": "Automatic start/stop for scheduled meetings",
                      "type": "boolean"
                    }
                  }
                },
                "security": {
                  "title": "security",
                  "type": "object",
                  "properties": {
                    "admin_change_name_pic": {
                      "description": "Only account administrators can change user's username and picture",
                      "type": "boolean"
                    },
                    "import_photos_from_devices": {
                      "description": "Allow importing of photos from photo library on the user's device",
                      "type": "boolean"
                    },
                    "hide_billing_info": {
                      "description": "Hide billing information",
                      "type": "boolean"
                    }
                  }
                },
                "recording": {
                  "title": "recording",
                  "type": "object",
                  "properties": {
                    "local_recording": {
                      "description": "Allow hosts and participants to record the meeting to a local file",
                      "type": "boolean"
                    },
                    "cloud_recording": {
                      "description": "Allow hosts to record and save the meeting in the cloud",
                      "type": "boolean"
                    },
                    "record_speaker_view": {
                      "description": "Record active speaker with shared screen",
                      "type": "boolean"
                    },
                    "record_gallery_view": {
                      "description": "Record gallery view with shared screen",
                      "type": "boolean"
                    },
                    "record_audio_file": {
                      "description": "Record an audio only file",
                      "type": "boolean"
                    },
                    "save_chat_text": {
                      "description": "Save chat text from the meeting",
                      "type": "boolean"
                    },
                    "show_timestamp": {
                      "description": "Add a timestamp to the recording",
                      "type": "boolean"
                    },
                    "recording_audio_transcript": {
                      "description": "Automatically transcribe the audio of the meeting or webinar to the cloud",
                      "type": "boolean"
                    },
                    "auto_recording": {
                      "title": "auto_recording",
                      "example": "local",
                      "x-enum-elements": [
                        {
                          "name": "local",
                          "description": ""
                        },
                        {
                          "name": "cloud",
                          "description": ""
                        },
                        {
                          "name": "none",
                          "description": ""
                        }
                      ],
                      "type": "string",
                      "enum": [
                        "local",
                        "cloud",
                        "none"
                      ]
                    },
                    "cloud_recording_download": {
                      "description": "Cloud Recording Downloads",
                      "type": "boolean"
                    },
                    "cloud_recording_download_host": {
                      "description": "Only the host can download cloud recordings",
                      "type": "boolean"
                    },
                    "account_user_access_recording": {
                      "description": "Cloud recordings are only accessible to account members. People outside of your organization cannot open links that provide access to cloud recordings.",
                      "type": "boolean"
                    },
                    "auto_delete_cmr": {
                      "description": "Allow Zoom to automatically delete recordings permanently after a specified number of days",
                      "type": "boolean"
                    },
                    "auto_delete_cmr_days": {
                      "description": "When `auto_delete_cmr` is 'true' this value will set the number of days before auto deletion of cloud recordings",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                },
                "telephony": {
                  "title": "telephony",
                  "type": "object",
                  "properties": {
                    "third_party_audio": {
                      "description": "Users can join the meeting using the existing 3rd party audio configuration",
                      "type": "boolean"
                    },
                    "audio_conference_info": {
                      "description": "3rd party audio conference info",
                      "type": "string"
                    }
                  }
                },
                "integration": {
                  "title": "integration",
                  "type": "object",
                  "properties": {
                    "google_calendar": {
                      "description": "Enables meetings to be scheduled using Google Calendars",
                      "type": "boolean"
                    },
                    "google_drive": {
                      "description": "Enables users who join a meeting from their mobile device to share content from their Google Drive",
                      "type": "boolean"
                    },
                    "dropbox": {
                      "description": "Enables users who join a meeting from their mobile device to share content from their Dropbox account",
                      "type": "boolean"
                    },
                    "box": {
                      "description": "Enables users who join a meeting from their mobile device to share content from their Box account",
                      "type": "boolean"
                    },
                    "microsoft_one_drive": {
                      "description": "Enables users who join a meeting from their mobile device to share content from their Microsoft OneDrive account",
                      "type": "boolean"
                    },
                    "kubi": {
                      "description": "Enables users to control a connected Kubi device from within a Zoom meeting",
                      "type": "boolean"
                    }
                  }
                },
                "feature": {
                  "title": "feature",
                  "type": "object",
                  "properties": {
                    "meeting_capacity": {
                      "description": "Set the maximum number of participants this user can have in a single meeting",
                      "example": 100,
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Account not found",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "patch": {
        "description": "Update a sub account's settings under the master account",
        "summary": "Update account settings",
        "tags": [
          "Accounts"
        ],
        "operationId": "AccountsSettingsByAccountIdPatch",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The account ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "title": "Account settings",
              "description": "Account settings returned",
              "type": "object",
              "properties": {
                "schedule_meting": {
                  "title": "schedule_meeting",
                  "type": "object",
                  "properties": {
                    "host_video": {
                      "description": "Start meetings with host video on",
                      "type": "boolean"
                    },
                    "participant_video": {
                      "description": "Start meetings with participant video on. Participants can change this during the meeting\n`both` Telephony and VoIP\n`telephony` Audio PSTN telephony only\n`voip` VoIP only\n`thirdParty` 3rd party audio conference.",
                      "type": "boolean"
                    },
                    "audio_type": {
                      "title": "audio_type",
                      "example": "both",
                      "x-enum-elements": [
                        {
                          "name": "both",
                          "description": ""
                        },
                        {
                          "name": "telephony",
                          "description": ""
                        },
                        {
                          "name": "voip",
                          "description": ""
                        },
                        {
                          "name": "thirdParty",
                          "description": ""
                        }
                      ],
                      "type": "string",
                      "enum": [
                        "both",
                        "telephony",
                        "voip",
                        "thirdParty"
                      ]
                    },
                    "join_before_host": {
                      "description": "Allow participants to join the meeting before the host arrives",
                      "type": "boolean"
                    },
                    "enforce_login": {
                      "description": "Only signed-in (Zoom users) users can join meetings",
                      "type": "boolean"
                    },
                    "enforce_login_with_domains": {
                      "description": "Only signed-in users with a specific domain can join meetings",
                      "type": "boolean"
                    },
                    "enforce_login_domains": {
                      "description": "Only signed-in users with a specified domains",
                      "type": "string"
                    },
                    "not_store_meeting_topic": {
                      "description": "Always display \"Zoom Meeting\" as the meeting topic",
                      "type": "boolean"
                    },
                    "force_pmi_jbh_password": {
                      "description": "Require a password for Personal Meetings if attendees can join before host",
                      "type": "boolean"
                    }
                  }
                },
                "in_meeting": {
                  "title": "in_meeting",
                  "type": "object",
                  "properties": {
                    "e2e_encryption": {
                      "description": "Require that all meetings are encrypted using AES",
                      "type": "boolean"
                    },
                    "chat": {
                      "description": "Allow meeting participants to send a message visible to all participants",
                      "type": "boolean"
                    },
                    "private_chat": {
                      "description": "Allow meeting participants to send a private 1:1 message to another participants",
                      "type": "boolean"
                    },
                    "auto_saving_chat": {
                      "description": "Automatically save all in-meeting chats so that hosts do not need to manually save the text of the chat after the meeting starts",
                      "type": "boolean"
                    },
                    "file_transfer": {
                      "description": "Hosts and participants can send files through the in-meeting chat",
                      "type": "boolean"
                    },
                    "feedback": {
                      "description": "Add a Feedback tab to the Windows Settings or Mac Preferences dialog, and also enable users to provide feedback to Zoom at the end of the meeting",
                      "type": "boolean"
                    },
                    "post_meeting_feedback": {
                      "description": "Display a thumbs up/down survey at the end of each meeting",
                      "type": "boolean"
                    },
                    "co_host": {
                      "description": "Allow the host to add co-hosts",
                      "type": "boolean"
                    },
                    "polling": {
                      "description": "Add 'Polls' to the meeting controls.",
                      "type": "boolean"
                    },
                    "attendee_on_hold": {
                      "description": "Allow hosts to temporarily remove an attendee from the meeting",
                      "type": "boolean"
                    },
                    "show_meeting_control_toolbar": {
                      "description": "Always show meeting control toolbar",
                      "type": "boolean"
                    },
                    "allow_show_zoom_windows": {
                      "description": "Show Zoom Desktop application when sharing screen",
                      "type": "boolean"
                    },
                    "annotation": {
                      "description": "Allow participants to use annotation tools to add information to shared screens",
                      "type": "boolean"
                    },
                    "whiteboard": {
                      "description": "Allow participants to share a whiteboard that includes annotation tools",
                      "type": "boolean"
                    },
                    "webinar_question_answer": {
                      "description": "Q&A in webinar",
                      "type": "boolean"
                    },
                    "anonymous_question_answer": {
                      "description": "Allow Anonymous Q&A in Webinar",
                      "type": "boolean"
                    },
                    "breakout_room": {
                      "description": "Allow host to split meeting participants into separate, smaller rooms",
                      "type": "boolean"
                    },
                    "closed_caption": {
                      "description": "Allow host to type closed captions or assign a participant/third party device to add closed captions",
                      "type": "boolean"
                    },
                    "far_end_camera_control": {
                      "description": "Allow another user to take control of your camera during a meeting",
                      "type": "boolean"
                    },
                    "group_hd": {
                      "description": "Activate higher quality video for host and participants. (This will use more bandwidth.)",
                      "type": "boolean"
                    },
                    "virtual_background": {
                      "description": "Allow users to replace their background with any selected image. Choose or upload an image in the Zoom Desktop application settings.",
                      "type": "boolean"
                    },
                    "watermark": {
                      "description": "Add watermark when viewing shared screen",
                      "type": "boolean"
                    },
                    "alert_guest_join": {
                      "description": "Identify guest participants in the meeting/webinar",
                      "type": "boolean"
                    },
                    "auto_answer": {
                      "description": "Enable users to see and add contacts to 'auto-answer group' in the contact list on chat. Any call from members of this group will be automatically answered.",
                      "type": "boolean"
                    },
                    "p2p_connetion": {
                      "description": "Peer to Peer connection while only 2 people are in a meeting",
                      "type": "boolean"
                    },
                    "p2p_ports": {
                      "description": "P2P listening ports range",
                      "type": "boolean"
                    },
                    "ports_range": {
                      "description": "Listening ports range, separated by comma (ex 55,56). The ports range must be between 1 to 65535.",
                      "type": "string"
                    },
                    "sending_default_email_invites": {
                      "description": "Only show default email when sending email invites",
                      "type": "boolean"
                    },
                    "use_html_format_email": {
                      "description": "Use HTML format email for Outlook plugin",
                      "type": "boolean"
                    },
                    "dscp_marking": {
                      "description": "DSCP marking",
                      "type": "boolean"
                    },
                    "dscp_audio": {
                      "description": "DSCP Audio\n**minimum:** 1\n**maximum:** 63",
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 63,
                      "format": "int32"
                    },
                    "dscp_video": {
                      "description": "DSCP Video\n**minimum:** 1\n**maximum:** 63",
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 63,
                      "format": "int32"
                    },
                    "stereo_audio": {
                      "description": "Allow users to select stereo audio in their client settings",
                      "type": "boolean"
                    },
                    "original_audio": {
                      "description": "Allow users to select original sound in their client settings",
                      "type": "boolean"
                    },
                    "screen_sharing": {
                      "description": "Allow screen sharing",
                      "type": "boolean"
                    },
                    "remote_control": {
                      "description": "Allow users to request remote control",
                      "type": "boolean"
                    },
                    "attention_tracking": {
                      "description": "Lets the host see an indicator in the participant panel if a meeting/webinar attendee does not have Zoom in focus during screen sharing",
                      "type": "boolean"
                    }
                  }
                },
                "email_notification": {
                  "title": "email_notification",
                  "type": "object",
                  "properties": {
                    "cloud_recording_avaliable_reminder": {
                      "description": "Notify host when cloud recording is available",
                      "type": "boolean"
                    },
                    "jbh_reminder": {
                      "description": "Notify host when participants join the meeting before them",
                      "type": "boolean"
                    },
                    "cancel_meeting_reminder": {
                      "description": "Notify host and participants when the meeting is cancelled",
                      "type": "boolean"
                    },
                    "low_host_count_reminder": {
                      "description": "Notify when host licenses are running low",
                      "type": "boolean"
                    },
                    "alternative_host_reminder": {
                      "description": "Notify when an alternative host is set or removed from a meeting",
                      "type": "boolean"
                    }
                  }
                },
                "zoom_rooms": {
                  "title": "zoom_rooms",
                  "type": "object",
                  "properties": {
                    "upcoming_meeting_alert": {
                      "description": "Upcoming meeting alert",
                      "type": "boolean"
                    },
                    "start_airplay_manually": {
                      "description": "Start AirPlay service manually",
                      "type": "boolean"
                    },
                    "weekly_system_restart": {
                      "description": "Weekly system restart",
                      "type": "boolean"
                    },
                    "list_meetings_with_calendar": {
                      "description": "Display meeting list with calendar integration",
                      "type": "boolean"
                    },
                    "zr_post_meeting_feedback": {
                      "description": "Zoom Room post meeting feedback",
                      "type": "boolean"
                    },
                    "ultrasonic": {
                      "description": "Automatic direct sharing using ultrasonic proximity signal",
                      "type": "boolean"
                    },
                    "force_private_meeting": {
                      "description": "Transform all meetings to private",
                      "type": "boolean"
                    },
                    "hide_host_information": {
                      "description": "Hide host and meeting ID from private meetings",
                      "type": "boolean"
                    },
                    "cmr_for_instant_meeting": {
                      "description": "Cloud recording for instant meetings",
                      "type": "boolean"
                    },
                    "auto_start_stop_scheduled_meetings": {
                      "description": "Automatic start/stop for scheduled meetings",
                      "type": "boolean"
                    }
                  }
                },
                "security": {
                  "title": "security",
                  "type": "object",
                  "properties": {
                    "admin_change_name_pic": {
                      "description": "Only account administrators can change user's username and picture",
                      "type": "boolean"
                    },
                    "import_photos_from_devices": {
                      "description": "Allow importing of photos from photo library on the user's device",
                      "type": "boolean"
                    },
                    "hide_billing_info": {
                      "description": "Hide billing information",
                      "type": "boolean"
                    }
                  }
                },
                "recording": {
                  "title": "recording",
                  "type": "object",
                  "properties": {
                    "local_recording": {
                      "description": "Allow hosts and participants to record the meeting to a local file",
                      "type": "boolean"
                    },
                    "cloud_recording": {
                      "description": "Allow hosts to record and save the meeting in the cloud",
                      "type": "boolean"
                    },
                    "record_speaker_view": {
                      "description": "Record active speaker with shared screen",
                      "type": "boolean"
                    },
                    "record_gallery_view": {
                      "description": "Record gallery view with shared screen",
                      "type": "boolean"
                    },
                    "record_audio_file": {
                      "description": "Record an audio only file",
                      "type": "boolean"
                    },
                    "save_chat_text": {
                      "description": "Save chat text from the meeting",
                      "type": "boolean"
                    },
                    "show_timestamp": {
                      "description": "Add a timestamp to the recording",
                      "type": "boolean"
                    },
                    "recording_audio_transcript": {
                      "description": "Automatically transcribe the audio of the meeting or webinar to the cloud",
                      "type": "boolean"
                    },
                    "auto_recording": {
                      "title": "auto_recording",
                      "example": "local",
                      "x-enum-elements": [
                        {
                          "name": "local",
                          "description": ""
                        },
                        {
                          "name": "cloud",
                          "description": ""
                        },
                        {
                          "name": "none",
                          "description": ""
                        }
                      ],
                      "type": "string",
                      "enum": [
                        "local",
                        "cloud",
                        "none"
                      ]
                    },
                    "cloud_recording_download": {
                      "description": "Cloud Recording Downloads",
                      "type": "boolean"
                    },
                    "cloud_recording_download_host": {
                      "description": "Only the host can download cloud recordings",
                      "type": "boolean"
                    },
                    "account_user_access_recording": {
                      "description": "Cloud recordings are only accessible to account members. People outside of your organization cannot open links that provide access to cloud recordings.",
                      "type": "boolean"
                    },
                    "auto_delete_cmr": {
                      "description": "Allow Zoom to automatically delete recordings permanently after a specified number of days",
                      "type": "boolean"
                    },
                    "auto_delete_cmr_days": {
                      "description": "When `auto_delete_cmr` is 'true' this value will set the number of days before auto deletion of cloud recordings",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                },
                "telephony": {
                  "title": "telephony",
                  "type": "object",
                  "properties": {
                    "third_party_audio": {
                      "description": "Users can join the meeting using the existing 3rd party audio configuration",
                      "type": "boolean"
                    },
                    "audio_conference_info": {
                      "description": "3rd party audio conference info",
                      "type": "string"
                    }
                  }
                },
                "integration": {
                  "title": "integration",
                  "type": "object",
                  "properties": {
                    "google_calendar": {
                      "description": "Enables meetings to be scheduled using Google Calendars",
                      "type": "boolean"
                    },
                    "google_drive": {
                      "description": "Enables users who join a meeting from their mobile device to share content from their Google Drive",
                      "type": "boolean"
                    },
                    "dropbox": {
                      "description": "Enables users who join a meeting from their mobile device to share content from their Dropbox account",
                      "type": "boolean"
                    },
                    "box": {
                      "description": "Enables users who join a meeting from their mobile device to share content from their Box account",
                      "type": "boolean"
                    },
                    "microsoft_one_drive": {
                      "description": "Enables users who join a meeting from their mobile device to share content from their Microsoft OneDrive account",
                      "type": "boolean"
                    },
                    "kubi": {
                      "description": "Enables users to control a connected Kubi device from within a Zoom meeting",
                      "type": "boolean"
                    }
                  }
                },
                "feature": {
                  "title": "feature",
                  "type": "object",
                  "properties": {
                    "meeting_capacity": {
                      "description": "Set the maximum number of participants this user can have in a single meeting",
                      "example": 100,
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Account settings updated"
          },
          "404": {
            "description": "Account not found",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/accounts/{accountId}/billing": {
      "get": {
        "description": "Retrieve billing information for a sub account under the master account",
        "summary": "Get billing information",
        "tags": [
          "Billing"
        ],
        "operationId": "AccountsBillingByAccountIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The account ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Account billing contact information returned",
            "schema": {
              "title": "contact",
              "description": "Account billing contact information returned",
              "type": "object",
              "properties": {
                "first_name": {
                  "description": "Billing Contact's first name",
                  "type": "string"
                },
                "last_name": {
                  "description": "Billing Contact's last name",
                  "type": "string"
                },
                "email": {
                  "description": "Billing Contact's email address",
                  "type": "string"
                },
                "phone_number": {
                  "description": "Billing Contact's phone number",
                  "type": "string"
                },
                "address": {
                  "description": "Billing Contact's address",
                  "type": "string"
                },
                "city": {
                  "description": "Billing Contact's city",
                  "type": "string"
                },
                "state": {
                  "description": "Billing Contact's state",
                  "type": "string"
                },
                "zip": {
                  "description": "Billing Contact's zip/postal code",
                  "type": "string"
                },
                "country": {
                  "description": "Billing Contact's country",
                  "type": "string"
                },
                "apt": {
                  "description": "Billing Contact's apartment/suite",
                  "type": "string"
                }
              },
              "required": [
                "first_name",
                "last_name",
                "email",
                "phone_number",
                "address",
                "city",
                "state",
                "zip",
                "country"
              ]
            }
          },
          "404": {
            "description": "Account not found",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "patch": {
        "description": "Update billing information for a sub account under the master account <aside>Only for the sub account which is a paid account and paid by master account</aside>",
        "summary": "Update billing information",
        "tags": [
          "Billing"
        ],
        "operationId": "AccountsBillingByAccountIdPatch",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The account ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "title": "BillingContact",
              "description": "Billing Contact object",
              "type": "object",
              "properties": {
                "first_name": {
                  "description": "Billing Contact's first name",
                  "type": "string"
                },
                "last_name": {
                  "description": "Billing Contact's last name",
                  "type": "string"
                },
                "email": {
                  "description": "Billing Contact's email address",
                  "type": "string"
                },
                "phone_number": {
                  "description": "Billing Contact's phone number",
                  "type": "string"
                },
                "address": {
                  "description": "Billing Contact's address",
                  "type": "string"
                },
                "apt": {
                  "description": "Billing Contact's apartment/suite",
                  "type": "string"
                },
                "city": {
                  "description": "Billing Contact's city",
                  "type": "string"
                },
                "state": {
                  "description": "Billing Contact's state",
                  "type": "string"
                },
                "zip": {
                  "description": "Billing Contact's zip/postal code",
                  "type": "string"
                },
                "country": {
                  "description": "Billing Contact's country",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Account billing contact information updated"
          },
          "404": {
            "description": "Account not found",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/accounts/{accountId}/plans": {
      "get": {
        "description": "Retrieve plan information for a sub account under the master account  <aside>Only for the sub account which is paid by master account</aside>",
        "summary": "Get account plans",
        "tags": [
          "Billing"
        ],
        "operationId": "AccountsPlansByAccountIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The account ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Account plans returned",
            "schema": {
              "title": "AccountPlans",
              "description": "Account plans returned",
              "type": "object",
              "properties": {
                "plan_base": {
                  "title": "plan_base",
                  "type": "object",
                  "properties": {
                    "type": {
                      "description": "Account base <a href=\"#plans\">plan type</a>",
                      "type": "string"
                    },
                    "hosts": {
                      "description": "Account base plan number of hosts. For a Pro Plan, please select a value between 1 and 9. For a Business Plan, please select a value between 10 and 49. For a Education Plan, please select a value between 20 and 149. For a Free Trial Plan, please select a value between 1 and 9999.",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "required": [
                    "type",
                    "hosts"
                  ]
                },
                "plan_zoom_rooms": {
                  "title": "plan_zoom_rooms",
                  "type": "object",
                  "properties": {
                    "type": {
                      "description": "Account <a href=\"#plans\">plan type</a>",
                      "type": "string"
                    },
                    "hosts": {
                      "description": "Account plan number of hosts",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                },
                "plan_room_connector": {
                  "title": "plan_room_connector",
                  "type": "object",
                  "properties": {
                    "type": {
                      "description": "Account <a href=\"#plans\">plan type</a>",
                      "type": "string"
                    },
                    "hosts": {
                      "description": "Account plan number of hosts",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                },
                "plan_large_meeting": {
                  "description": "Additional Large Meeting Plans",
                  "type": "array",
                  "items": {
                    "title": "plan_large_meeting",
                    "description": "Additional Large Meeting Plans",
                    "type": "object",
                    "properties": {
                      "type": {
                        "description": "Additional Large Meeting Plans",
                        "type": "string"
                      }
                    }
                  }
                },
                "plan_webinar": {
                  "description": "Additional Webinar Plans",
                  "type": "array",
                  "items": {
                    "title": "plan_webinar",
                    "description": "Additional Webinar Plans",
                    "type": "object",
                    "properties": {
                      "type": {
                        "description": "Additional Webinar Plans",
                        "type": "string"
                      }
                    }
                  }
                },
                "plan_recording": {
                  "description": "Additional Cloud Recording Plan",
                  "type": "string"
                },
                "plan_audio": {
                  "title": "plan_audio",
                  "type": "object",
                  "properties": {
                    "type": {
                      "description": "Additional Audio Conferencing <a href=\"#plans\">plan type</a>",
                      "type": "string"
                    },
                    "tollfree_countries": {
                      "description": "Toll-free countries, multiple value separated by comma",
                      "type": "string"
                    },
                    "premium_countries": {
                      "description": "Premium countries, multiple value separated by comma",
                      "type": "string"
                    },
                    "callout_countries": {
                      "description": "Call-out countries, multiple value separated by comma",
                      "type": "string"
                    },
                    "ddi_numbers": {
                      "description": "Dedicated Dial-In Numbers",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Account not fond",
            "schema": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "Subscribe plans for a sub account of the master account <aside>Can only subscribe plans for the sub account which is a free account and paid by master account</aside>",
        "summary": "Add a plan(s)",
        "tags": [
          "Billing"
        ],
        "operationId": "AccountsPlansByAccountIdPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The account ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "title": "body",
              "type": "object",
              "properties": {
                "contact": {
                  "title": "contact",
                  "description": "Account billing contact information returned",
                  "type": "object",
                  "properties": {
                    "first_name": {
                      "description": "Billing Contact's first name",
                      "type": "string"
                    },
                    "last_name": {
                      "description": "Billing Contact's last name",
                      "type": "string"
                    },
                    "email": {
                      "description": "Billing Contact's email address",
                      "type": "string"
                    },
                    "phone_number": {
                      "description": "Billing Contact's phone number",
                      "type": "string"
                    },
                    "address": {
                      "description": "Billing Contact's address",
                      "type": "string"
                    },
                    "city": {
                      "description": "Billing Contact's city",
                      "type": "string"
                    },
                    "state": {
                      "description": "Billing Contact's state",
                      "type": "string"
                    },
                    "zip": {
                      "description": "Billing Contact's zip/postal code",
                      "type": "string"
                    },
                    "country": {
                      "description": "Billing Contact's country",
                      "type": "string"
                    },
                    "apt": {
                      "description": "Billing Contact's apartment/suite",
                      "type": "string"
                    }
                  },
                  "required": [
                    "first_name",
                    "last_name",
                    "email",
                    "phone_number",
                    "address",
                    "city",
                    "state",
                    "zip",
                    "country"
                  ]
                },
                "plan_base": {
                  "title": "plan_base",
                  "type": "object",
                  "properties": {
                    "type": {
                      "description": "Account base <a href=\"#plans\">plan type</a>",
                      "type": "string"
                    },
                    "hosts": {
                      "description": "Account base plan number of hosts. For a Pro Plan, please select a value between 1 and 9. For a Business Plan, please select a value between 10 and 49. For a Education Plan, please select a value between 20 and 149. For a Free Trial Plan, please select a value between 1 and 9999.",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "required": [
                    "type",
                    "hosts"
                  ]
                },
                "plan_zoom_rooms": {
                  "title": "plan_zoom_rooms",
                  "type": "object",
                  "properties": {
                    "type": {
                      "description": "Account <a href=\"#plans\">plan type</a>",
                      "type": "string"
                    },
                    "hosts": {
                      "description": "Account plan number of hosts",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                },
                "plan_room_connector": {
                  "title": "plan_zoom_rooms",
                  "type": "object",
                  "properties": {
                    "type": {
                      "description": "Account <a href=\"#plans\">plan type</a>",
                      "type": "string"
                    },
                    "hosts": {
                      "description": "Account plan number of hosts",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                },
                "plan_large_meeting": {
                  "description": "Additional Large Meeting Plans",
                  "type": "array",
                  "items": {
                    "title": "plan_zoom_rooms",
                    "type": "object",
                    "properties": {
                      "type": {
                        "description": "Account <a href=\"#plans\">plan type</a>",
                        "type": "string"
                      },
                      "hosts": {
                        "description": "Account plan number of hosts",
                        "type": "integer",
                        "format": "int32"
                      }
                    }
                  }
                },
                "plan_webinar": {
                  "description": "Additional Webinar Plans",
                  "type": "array",
                  "items": {
                    "title": "plan_zoom_rooms",
                    "type": "object",
                    "properties": {
                      "type": {
                        "description": "Account <a href=\"#plans\">plan type</a>",
                        "type": "string"
                      },
                      "hosts": {
                        "description": "Account plan number of hosts",
                        "type": "integer",
                        "format": "int32"
                      }
                    }
                  }
                },
                "plan_recording": {
                  "description": "Additional Cloud Recording Plan",
                  "type": "string"
                },
                "plan_audio": {
                  "title": "plan_audio",
                  "type": "object",
                  "properties": {
                    "type": {
                      "description": "Additional Audio Conferencing <a href=\"#plans\">plan type</a>",
                      "type": "string"
                    },
                    "tollfree_countries": {
                      "description": "Toll-free countries, multiple value separated by comma",
                      "type": "string"
                    },
                    "premium_countries": {
                      "description": "Premium countries, multiple value separated by comma",
                      "type": "string"
                    },
                    "callout_countries": {
                      "description": "Call-out countries, multiple value separated by comma",
                      "type": "string"
                    },
                    "ddi_numbers": {
                      "description": "Dedicated Dial-In Numbers",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Account plans updated",
            "schema": {
              "title": "AccountPlans",
              "description": "Account plans returned",
              "type": "object",
              "properties": {
                "plan_base": {
                  "title": "plan_base",
                  "type": "object",
                  "properties": {
                    "type": {
                      "description": "Account base <a href=\"#plans\">plan type</a>",
                      "type": "string"
                    },
                    "hosts": {
                      "description": "Account base plan number of hosts. For a Pro Plan, please select a value between 1 and 9. For a Business Plan, please select a value between 10 and 49. For a Education Plan, please select a value between 20 and 149. For a Free Trial Plan, please select a value between 1 and 9999.",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "required": [
                    "type",
                    "hosts"
                  ]
                },
                "plan_zoom_rooms": {
                  "title": "plan_zoom_rooms",
                  "type": "object",
                  "properties": {
                    "type": {
                      "description": "Account <a href=\"#plans\">plan type</a>",
                      "type": "string"
                    },
                    "hosts": {
                      "description": "Account plan number of hosts",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                },
                "plan_room_connector": {
                  "title": "plan_room_connector",
                  "type": "object",
                  "properties": {
                    "type": {
                      "description": "Account <a href=\"#plans\">plan type</a>",
                      "type": "string"
                    },
                    "hosts": {
                      "description": "Account plan number of hosts",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                },
                "plan_large_meeting": {
                  "description": "Additional Large Meeting Plans",
                  "type": "array",
                  "items": {
                    "title": "plan_large_meeting",
                    "description": "Additional Large Meeting Plans",
                    "type": "object",
                    "properties": {
                      "type": {
                        "description": "Additional Large Meeting Plans",
                        "type": "string"
                      }
                    }
                  }
                },
                "plan_webinar": {
                  "description": "Additional Webinar Plans",
                  "type": "array",
                  "items": {
                    "title": "plan_webinar",
                    "description": "Additional Webinar Plans",
                    "type": "object",
                    "properties": {
                      "type": {
                        "description": "Additional Webinar Plans",
                        "type": "string"
                      }
                    }
                  }
                },
                "plan_recording": {
                  "description": "Additional Cloud Recording Plan",
                  "type": "string"
                },
                "plan_audio": {
                  "title": "plan_audio",
                  "type": "object",
                  "properties": {
                    "type": {
                      "description": "Additional Audio Conferencing <a href=\"#plans\">plan type</a>",
                      "type": "string"
                    },
                    "tollfree_countries": {
                      "description": "Toll-free countries, multiple value separated by comma",
                      "type": "string"
                    },
                    "premium_countries": {
                      "description": "Premium countries, multiple value separated by comma",
                      "type": "string"
                    },
                    "callout_countries": {
                      "description": "Call-out countries, multiple value separated by comma",
                      "type": "string"
                    },
                    "ddi_numbers": {
                      "description": "Dedicated Dial-In Numbers",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                }
              }
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/accounts/{accountId}/plans/base": {
      "put": {
        "description": "Update a base plan for a sub account <aside>Can only update a base plan for the sub account which is a paid account and paid by master account</aside>",
        "summary": "Update plan base",
        "tags": [
          "Billing"
        ],
        "operationId": "AccountsPlansBaseByAccountIdPut",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The account ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "title": "plan_base",
              "type": "object",
              "properties": {
                "type": {
                  "description": "Account base <a href=\"#plans\">plan type</a>",
                  "type": "string"
                },
                "hosts": {
                  "description": "Account base plan number of hosts. For a Pro Plan, please select a value between 1 and 9. For a Business Plan, please select a value between 10 and 49. For a Education Plan, please select a value between 20 and 149. For a Free Trial Plan, please select a value between 1 and 9999.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "required": [
                "type",
                "hosts"
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Account plans updated"
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/accounts/{accountId}/plans/addons": {
      "put": {
        "description": "Update an additional plan for sub account<aside>Can only update an Additional plan for the sub account which is a paid account and paid by master account</aside>",
        "summary": "Update addons",
        "tags": [
          "Billing"
        ],
        "operationId": "AccountsPlansAddonsByAccountIdPut",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The account ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "title": "AccountPlanRequired",
              "description": "Account plan object",
              "type": "object",
              "properties": {
                "type": {
                  "description": "Account <a href=\"#plans\">plan type</a>",
                  "type": "string"
                },
                "hosts": {
                  "description": "Account plan number of hosts",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "required": [
                "type",
                "hosts"
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Account plans updated"
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "Add an additional plan for sub account <aside>Can only add an Additional plan for the sub account which is a paid account and paid by master account</aside>",
        "summary": "Add addition addons",
        "tags": [
          "Billing"
        ],
        "operationId": "AccountsPlansAddonsByAccountIdPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The account ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "title": "AccountPlanRequired",
              "description": "Account plan object",
              "type": "object",
              "properties": {
                "type": {
                  "description": "Account <a href=\"#plans\">plan type</a>",
                  "type": "string"
                },
                "hosts": {
                  "description": "Account plan number of hosts",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "required": [
                "type",
                "hosts"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Account plans updated"
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/users": {
      "get": {
        "description": "List users on your account",
        "summary": "Get users",
        "tags": [
          "Users"
        ],
        "operationId": "UsersGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "enum": [
              "active",
              "inactive",
              "pending"
            ],
            "x-enum-elements": [
              {
                "name": "active",
                "description": ""
              },
              {
                "name": "inactive",
                "description": ""
              },
              {
                "name": "pending",
                "description": ""
              }
            ],
            "type": "string",
            "description": "User status\n**default:** Active\n`active` users with active status\n`inactive` users with inactive status\n`pending` users with pending status"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "default": 30,
            "type": "integer",
            "format": "int32",
            "maximum": 300,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The number of records returned within a single API call\n**default:** 30\n**maximum:** 300"
          },
          {
            "name": "page_number",
            "in": "query",
            "required": false,
            "default": 1,
            "type": "integer",
            "format": "int32",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Current page number of returned records\n**default:** 1"
          }
        ],
        "responses": {
          "200": {
            "description": "User list returned",
            "schema": {
              "title": "User List",
              "description": "User list returned",
              "type": "object",
              "properties": {
                "page_count": {
                  "description": "The number of items returned on this page",
                  "type": "integer",
                  "format": "int32"
                },
                "page_number": {
                  "description": "The page number of current results",
                  "example": 1,
                  "type": "integer",
                  "format": "int32"
                },
                "page_size": {
                  "description": "The number of records returned within a single API call\n**default:** 30\n**maximum:** 300",
                  "example": 30,
                  "type": "integer",
                  "maximum": 300,
                  "format": "int32"
                },
                "total_records": {
                  "description": "The number of all records available across pages",
                  "type": "integer",
                  "format": "int32"
                },
                "users": {
                  "description": "List of User objects",
                  "type": "array",
                  "items": {
                    "title": "User121",
                    "type": "object",
                    "properties": {
[...]
