## List webinars

List webinars for a user

> Definition

```shell
GET https://api.zoom.us/v2/users/{userId}/webinars
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/users/{userId}/webinars
```

> Example Response

```text
200 OK
```

```json
{
    "page_count": "integer",
    "page_number": "integer",
    "page_size": "integer",
    "total_records": "integer",
    "webinars": [
        {
            "uuid": "string",
            "id": "string",
            "host_id": "string",
            "topic": "string",
            "type": "integer",
            "duration": "integer",
            "timezone": "string",
            "created_at": "string [date-time]",
            "join_url": "string"
        }
    ]
}
```

Path Arguments | &nbsp;
--- | ---
userId **required** | The user ID or email address

Query Arguments | &nbsp;
--- | ---
page_size *optional*<div class="default">30</div><div class="maximum">300</div> | The number of records returned within a single API call
page_number *optional*<div class="default">1</div> | Current page number of returned records

