## List a webinar's registrants

List registrants for a webinar

> Definition

```shell
GET https://api.zoom.us/v2/webinars/{webinarId}/registrants
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/webinars/{webinarId}/registrants
```

> Example Response

```text
200 OK
```

```json
{
    "page_count": "integer",
    "page_size": "integer",
    "total_records": "integer",
    "next_page_token": "string",
    "registrants": [
        {
            "id": "string",
            "email": "string",
            "first_name": "string",
            "last_name": "string",
            "address": "string",
            "city": "string",
            "country": "string",
            "zip": "string",
            "state": "string",
            "phone": "string",
            "industry": "string",
            "org": "string",
            "job_title": "string",
            "purchasing_time_frame": "string",
            "role_in_purchase_process": "string",
            "no_of_employees": "string",
            "comments": "string",
            "custom_questions": [
                {
                    "title": "string",
                    "value": "string"
                }
            ],
            "status": "string",
            "create_time": "string [date-time]",
            "join_url": "string [string]"
        }
    ]
}
```

Path Arguments | &nbsp;
--- | ---
webinarId **required** | The webinar ID

Query Arguments | &nbsp;
--- | ---
occurrence_id *optional* | The meeting occurrence ID
status *optional*<div class="default">approved</div> | The registrant status<div class="enum">`pending` registrants status is pending<br/>`approved` registrants status is approved<br/>`denied` registrants status is denied<br/></div>
page_size *optional*<div class="default">30</div><div class="maximum">300</div> | The number of records returned within a single API call
page_number *optional*<div class="default">1</div> | Current page number of returned records

