# Webinars

## The Webinar object
Webinar object

```json
{
    "topic": "string",
    "type": "integer",
    "start_time": "string [date-time]",
    "duration": "integer",
    "timezone": "string",
    "password": "string",
    "agenda": "string",
    "recurrence": {
        "type": "integer",
        "repeat_interval": "integer",
        "weekly_days": "integer",
        "monthly_day": "integer",
        "monthly_week": "integer",
        "monthly_week_day": "integer",
        "end_times": "integer",
        "end_date_time": "string [date-time]"
    },
    "settings": {
        "host_video": "boolean",
        "panelists_video": "boolean",
        "practice_session": "boolean",
        "hd_video": "boolean",
        "approval_type": "integer",
        "registration_type": "integer",
        "audio": "string",
        "auto_recording": "string",
        "enforce_login": "boolean",
        "enforce_login_domains": "string",
        "alternative_hosts": "string",
        "close_registration": "boolean",
        "show_share_button": "boolean",
        "allow_multiple_devices": "boolean"
    }
}
```

Property | Description
--- | ---
topic *string* | Webinar topic
type *integer* | Webinar Type<div class="enum">`5` Webinar<br/>`6` Recurring Webinar with no fixed time<br/>`9` Recurring Webinar with fixed time<br/></div>
start_time *string* | Webinar start time, in the format "yyyy-MM-dd'T'HH:mm:ss'Z'", should be GMT time. In the format "yyyy-MM-dd'T'HH:mm:ss", should be local time, need to specify the time zone. Only used for scheduled webinar and recurring webinar with fixed time.
duration *integer* | Webinar duration (minutes). Used for scheduled webinar only
timezone *string* | Timezone to format start_time. For example, "America/Los_Angeles". For scheduled meetings only. Please reference our [timezone](#timezones) list for supported timezones and their formats.
password *string* | Webinar password. Password may only contain the following characters: [a-z A-Z 0-9 @ - _ *]. Max of 10 characters.
agenda *string* | Webinar description
recurrence.type *integer* | Recurrence meeting type<div class="enum">`1` Daily<br/>`2` Weekly<br/>`3` Monthly<br/></div>
recurrence.repeat_interval *integer* | At which interval should the meeting repeat? For a daily meeting, max of 90 days. For a weekly meeting, max of 12 weeks. For a monthly meeting, max of 3 months.
recurrence.weekly_days *integer* | Days of the week the meeting should repeat, multiple values separated by comma<div class="enum">`1` Sunday<br/>`2` Monday<br/>`3` Tuesday<br/>`4` Wednesday<br/>`5` Thursday<br/>`6` Friday<br/>`7` Saturday<br/></div>
recurrence.monthly_day *integer* | Day of the month for the meeting to be scheduled. The value range is from 1 to 31.
recurrence.monthly_week *integer* | Week for which the meeting should recur each month,<div class="enum">`-1` Last week<br/>`1` First week<br/>`2` Second week<br/>`3` Third week<br/>`4` Fourth week<br/></div>
recurrence.monthly_week_day *integer* | Day for which the meeting should recur each month<div class="enum">`1` Sunday<br/>`2` Monday<br/>`3` Tuesday<br/>`4` Wednesday<br/>`5` Thursday<br/>`6` Friday<br/>`7` Saturday<br/></div>
recurrence.end_times *integer* | Select how many times the meeting will occur before it is canceled. (Cannot be used with "end_date_time".)
recurrence.end_date_time *string* | Select a date the meeting will occur before it is canceled.. Should be UTC time, such as 2017-11-25T12:00:00Z. (Cannot be used with "end_times".)
settings.host_video *boolean* | Start video when host joins webinar
settings.panelists_video *boolean* | Start video when panelists join webinar
settings.practice_session *boolean* | Enable Practice Session
settings.hd_video *boolean* | Default to HD Video
settings.approval_type *integer* | <div class="enum">`0` Automatically Approve<br/>`1` Manually Approve<br/>`2` No Registration Required<br/></div>
settings.registration_type *integer* | Registration type. Used for recurring webinar with fixed time only.<div class="enum">`1` Attendees register once and can attend any of the occurrences<br/>`2` Attendees need to register for each occurrence to attend<br/>`3` Attendees register once and can choose one or more occurrences to attend<br/></div>
settings.audio *string* | Determine how participants can join the audio portion of the meeting<div class="enum">`both` Both Telephony and VoIP<br/>`telephony` Telephony only<br/>`voip` VoIP only<br/></div>
settings.auto_recording *string* | <div class="enum">`local` Record to local device<br/>`cloud` Record to cloud<br/>`none` No Recording<br/></div>
settings.enforce_login *boolean* | Only signed-in users can join this meeting
settings.enforce_login_domains *string* | Only signed-in users with specified domains can join meetings
settings.alternative_hosts *string* | Alternative hosts emails or IDs. Multiple values separated by comma.
settings.close_registration *boolean* | Close registration after event date
settings.show_share_button *boolean* | Show social share buttons on registration page
settings.allow_multiple_devices *boolean* | Allow attendees to join from multiple devices

