## Update a webinar

Update a webinar

> Definition

```shell
PATCH https://api.zoom.us/v2/webinars/{webinarId}
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/webinars/{webinarId} \
   -d '{
    "topic": "string",
    "type": "integer",
    "start_time": "string [date-time]",
    "duration": "integer",
    "timezone": "string",
    "password": "string",
    "agenda": "string",
    "recurrence": {
        "type": "integer",
        "repeat_interval": "integer",
        "weekly_days": "integer",
        "monthly_day": "integer",
        "monthly_week": "integer",
        "monthly_week_day": "integer",
        "end_times": "integer",
        "end_date_time": "string [date-time]"
    },
    "settings": {
        "host_video": "boolean",
        "panelists_video": "boolean",
        "practice_session": "boolean",
        "hd_video": "boolean",
        "approval_type": "integer",
        "registration_type": "integer",
        "audio": "string",
        "auto_recording": "string",
        "enforce_login": "boolean",
        "enforce_login_domains": "string",
        "alternative_hosts": "string",
        "close_registration": "boolean",
        "show_share_button": "boolean",
        "allow_multiple_devices": "boolean",
        "registrants_confirmation_email": "boolean"
    }
}'
```

> Example Response

```text
204 No Content
```

Path Arguments | &nbsp;
--- | ---
webinarId **required** | The webinar ID

Body Arguments | &nbsp;
--- | ---
topic *optional* | Webinar topic
type *optional*<div class="default">5</div> | Webinar Type<div class="enum">`5` Webinar<br/>`6` Recurring Webinar with no fixed time<br/>`9` Recurring Webinar with fixed time<br/></div>
start_time *optional* | Webinar start time, in the format "yyyy-MM-dd'T'HH:mm:ss'Z'", should be GMT time. In the format "yyyy-MM-dd'T'HH:mm:ss", should be local time, need to specify the time zone. Only used for scheduled webinar and recurring webinar with fixed time.
duration *optional* | Webinar duration (minutes). Used for scheduled webinar only
timezone *optional* | Timezone to format start_time. For example, "America/Los_Angeles". For scheduled meetings only. Please reference our [timezone](#timezones) list for supported timezones and their formats.
password *optional* | Webinar password. Password may only contain the following characters: [a-z A-Z 0-9 @ - _ *]. Max of 10 characters.
agenda *optional* | Webinar description
recurrence.type *optional* | Recurrence meeting type<div class="enum">`1` Daily<br/>`2` Weekly<br/>`3` Monthly<br/></div>
recurrence.repeat_interval *optional* | At which interval should the meeting repeat? For a daily meeting, max of 90 days. For a weekly meeting, max of 12 weeks. For a monthly meeting, max of 3 months.
recurrence.weekly_days *optional* | Days of the week the meeting should repeat, multiple values separated by comma<div class="enum">`1` Sunday<br/>`2` Monday<br/>`3` Tuesday<br/>`4` Wednesday<br/>`5` Thursday<br/>`6` Friday<br/>`7` Saturday<br/></div>
recurrence.monthly_day *optional* | Day of the month for the meeting to be scheduled. The value range is from 1 to 31.
recurrence.monthly_week *optional* | Week for which the meeting should recur each month,<div class="enum">`-1` Last week<br/>`1` First week<br/>`2` Second week<br/>`3` Third week<br/>`4` Fourth week<br/></div>
recurrence.monthly_week_day *optional* | Day for which the meeting should recur each month<div class="enum">`1` Sunday<br/>`2` Monday<br/>`3` Tuesday<br/>`4` Wednesday<br/>`5` Thursday<br/>`6` Friday<br/>`7` Saturday<br/></div>
recurrence.end_times *optional*<div class="default">1</div><div class="maximum">50</div> | Select how many times the meeting will occur before it is canceled. (Cannot be used with "end_date_time".)
recurrence.end_date_time *optional* | Select a date the meeting will occur before it is canceled.. Should be UTC time, such as 2017-11-25T12:00:00Z. (Cannot be used with "end_times".)
settings.host_video *optional* | Start video when host joins webinar
settings.panelists_video *optional* | Start video when panelists join webinar
settings.practice_session *optional*<div class="default">false</div> | Enable Practice Session
settings.hd_video *optional*<div class="default">false</div> | Default to HD Video
settings.approval_type *optional*<div class="default">2</div> | <div class="enum">`0` Automatically Approve<br/>`1` Manually Approve<br/>`2` No Registration Required<br/></div>
settings.registration_type *optional*<div class="default">1</div> | Registration type. Used for recurring webinar with fixed time only.<div class="enum">`1` Attendees register once and can attend any of the occurrences<br/>`2` Attendees need to register for each occurrence to attend<br/>`3` Attendees register once and can choose one or more occurrences to attend<br/></div>
settings.audio *optional*<div class="default">both</div> | Determine how participants can join the audio portion of the meeting<div class="enum">`both` Both Telephony and VoIP<br/>`telephony` Telephony only<br/>`voip` VoIP only<br/></div>
settings.auto_recording *optional*<div class="default">none</div> | <div class="enum">`local` Record to local device<br/>`cloud` Record to cloud<br/>`none` No Recording<br/></div>
settings.enforce_login *optional* | Only signed-in users can join this meeting
settings.enforce_login_domains *optional* | Only signed-in users with specified domains can join meetings
settings.alternative_hosts *optional* | Alternative hosts emails or IDs. Multiple values separated by comma.
settings.close_registration *optional* | Close registration after event date
settings.show_share_button *optional* | Show social share buttons on registration page
settings.allow_multiple_devices *optional* | Allow attendees to join from multiple devices
settings.registrants_confirmation_email *optional* | Send confirmation Email to Registrants

