## Update a webinar's status

Update a webinar's status

> Definition

```shell
PUT https://api.zoom.us/v2/webinars/{webinarId}/status
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/webinars/{webinarId}/status \
   -d '{
    "status": "string"
}'
```

> Example Response

```text
204 No Content
```

Path Arguments | &nbsp;
--- | ---
webinarId **required** | The webinar ID

Body Arguments | &nbsp;
--- | ---
status *optional* | <div class="enum">`end` end a webinar<br/></div>

