## Update webinar registrant's status

Update webinar registrant's status

> Definition

```shell
PUT https://api.zoom.us/v2/webinars/{webinarId}/registrants/status
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/webinars/{webinarId}/registrants/status \
   -d '{
      "action": "string",
      "registrants": [
        {
          "id": "string",
          "email": "string"
        },
        {
          "id": "string",
          "email": "string"
        }
      ]
}'
```

> Example Response

```text
204 No Content
```

Path Arguments | &nbsp;
--- | ---
webinarId **required** | The webinar ID

Query Arguments | &nbsp;
--- | ---
occurrence_id *optional* | The occurrence ID.

Body Arguments | &nbsp;
--- | ---
action **required** | <div class="enum">`approve` approve registrant<br/>`cancel` cancel registrant<br/>`denied` deny registrant<br/></div>
id *optional* | Webinar registrant ID.
email *optional* | Webinar registrant Email.

