## Update a webinar registrant's status

Update a webinar registrant's status

> Definition

```shell
PUT https://api.zoom.us/v2/webinars/{webinarId}/registrants/{registrantId}/status
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/webinars/{webinarId}/registrants/{registrantId}/status \
   -d '{
    "status": "string"
}'
```

> Example Response

```text
204 No Content
```

Path Arguments | &nbsp;
--- | ---
webinarId **required** | The webinar ID
registrantId **required** | The registrant ID

Body Arguments | &nbsp;
--- | ---
status *optional* | <div class="enum">`pending` set registrant status to pending<br/>`approved` set registrant status to approved<br/>`denied` set registrant status to denied<br/></div>

