## Update a webinar registrant's status

Update a webinar registrant's status

> Definition

```shell
PUT https://api.zoom.us/v2/webinars/{webinarId}/registrants/status
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/webinars/{webinarId}/registrants/status \
   -d '{
    "action": "string",
    "registrants": [
        {
            "id": "string",
            "email": "string"
        }
    ]
}'
```

> Example Response

```text
204 No Content
```

Path Arguments | &nbsp;
--- | ---
webinarId **required** | The webinar ID

Query Arguments | &nbsp;
--- | ---
occurrence_id *optional* | The meeting occurrence ID

Body Arguments | &nbsp;
--- | ---
action **required** | <div class="enum">`approve` Approve registrant<br/>`cancel` Cancel registrant<br/>`deny` Deny registrant<br/></div>
registrants *optional*<div class="maximum">30</div> | List of registrants

