## Retrieve sharing/recording details of meeting participant

Retrieve sharing/recording details of live or past meetings participant

> Definition

```shell
GET https://api.zoom.us/v2/metrics/meetings/{meetingId}/participants/{participantId}/sharing
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/metrics/meetings/{meetingId}/participants/{participantId}/sharing
```

> Example Response

```text
200 OK
```

```json
{
    "page_count": "integer",
    "page_size": "integer",
    "total_records": "integer",
    "next_page_token": "string",
    "participants": [
        {
            "id": "string",
            "user_id": "string",
            "user_name": "string",
            "details": [
                {
                    "content": "string",
                    "start_time": "string",
                    "end_time": "string"
                }
            ]
        }
    ]
}
```

Path Arguments | &nbsp;
--- | ---
meetingId **required** | The meeting ID or meeting UUID. If given meeting ID, will take the last meeting instance.

Query Arguments | &nbsp;
--- | ---
type *optional* | The meeting type<div class="enum">`past` past meeting<br/>`live` live meeting<br/></div>
page_size *optional* | Number of items returned per page. *Default: 30* *Max: 300*
next_page_token *optional* | Used to paginate through large result sets. A next page token will be returned whenever the set of available participants list exceeds 300. The expiration period is 15 minutes.

