## List meeting participants QOS

Retrieve list of live or past meetings participants quality of service

> Definition

```shell
GET https://api.zoom.us/v2/metrics/meetings/{meetingId}/participants/qos
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/metrics/meetings/{meetingId}/participants/qos
```

> Example Response

```text
200 OK
```

```json
{
    "page_count": "integer [int64]",
    "page_size": "integer",
    "total_records": "integer [int64]",
    "next_page_token": "string",
    "participants": [
        {
            "user_id": "string [uuid]",
            "user_name": "string",
            "device": "string",
            "ip_address": "string",
            "location": "string",
            "join_time": "string [date-time]",
            "leave_time": "string [date-time]",
            "pc_name": "string",
            "domain": "string",
            "mac_addr": "string",
            "harddisk_id": "string",
            "version": "string",
            "user_qos": {
                "date_time": "string [date-time]",
                "audio_input": {
                    "bitrate": "string",
                    "latency": "string",
                    "jitter": "string",
                    "avg_loss": "string",
                    "max_loss": "string"
                },
                "audio_output": {
                    "bitrate": "string",
                    "latency": "string",
                    "jitter": "string",
                    "avg_loss": "string",
                    "max_loss": "string"
                },
                "video_input": {
                    "bitrate": "string",
                    "latency": "string",
                    "jitter": "string",
                    "avg_loss": "string",
                    "max_loss": "string",
                    "resolution": "string",
                    "frame_rate": "string"
                },
                "video_output": {
                    "bitrate": "string",
                    "latency": "string",
                    "jitter": "string",
                    "avg_loss": "string",
                    "max_loss": "string",
                    "resolution": "string",
                    "frame_rate": "string"
                },
                "as_input": {
                    "bitrate": "string",
                    "latency": "string",
                    "jitter": "string",
                    "avg_loss": "string",
                    "max_loss": "string",
                    "resolution": "string",
                    "frame_rate": "string"
                },
                "as_output": {
                    "bitrate": "string",
                    "latency": "string",
                    "jitter": "string",
                    "avg_loss": "string",
                    "max_loss": "string",
                    "resolution": "string",
                    "frame_rate": "string"
                },
                "cpu_usage": {
                    "zoom_min_cpu_usage": "string",
                    "zoom_avg_cpu_usage": "string",
                    "zoom_max_cpu_usage": "string",
                    "system_max_cpu_usage": "string"
                }
            }
        }
    ]
}
```

Path Arguments | &nbsp;
--- | ---
meetingId **required** | The meeting ID or meeting UUID. If given meeting ID, will take the last meeting instance.

Query Arguments | &nbsp;
--- | ---
type *optional*<div class="default">live</div> | The meeting type<div class="enum">`past` past meeting<br/>`live` live meeting<br/></div>
page_size *optional*<div class="default">1</div><div class="maximum">10</div> | Number of items returned per page
next_page_token *optional* | Next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceed the current page size. The expiration period for this token is 15 minutes.

