## Retrieve Zoom Room

Retrieve zoom room on account

> Definition

```shell
GET https://api.zoom.us/v2/metrics/zoomrooms/{zoomroomId}
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/metrics/zoomrooms/{zoomroomId}?from=string&to=string
```

> Example Response

```text
200 OK
```

```json
{
    "id": "string",
    "room_name": "string",
    "calender_name": "string",
    "email": "string",
    "account_type": "string",
    "status": "string",
    "device_ip": "string",
    "camera": "string",
    "microphone": "string",
    "speaker": "string",
    "last_start_time": "string",
    "live_meeting": {
        "uuid": "string [uuid]",
        "id": "integer",
        "topic": "string",
        "host": "string",
        "email": "string",
        "user_type": "string",
        "start_time": "string [date-time]",
        "end_time": "string [date-time]",
        "duration": "string",
        "participants": "integer",
        "has_pstn": "boolean",
        "has_voip": "boolean",
        "has_3rd_party_audio": "boolean",
        "has_video": "boolean",
        "has_screen_share": "boolean",
        "has_recording": "boolean",
        "has_sip": "boolean"
    },
    "past_meetings": {
        "from": "string [date]",
        "to": "string [date]",
        "page_count": "integer",
        "page_size": "integer",
        "total_records": "integer",
        "next_page_token": "string",
        "meetings": [
            {
                "uuid": "string [uuid]",
                "id": "integer",
                "topic": "string",
                "host": "string",
                "email": "string",
                "user_type": "string",
                "start_time": "string [date-time]",
                "end_time": "string [date-time]",
                "duration": "string",
                "participants": "integer",
                "has_pstn": "boolean",
                "has_voip": "boolean",
                "has_3rd_party_audio": "boolean",
                "has_video": "boolean",
                "has_screen_share": "boolean",
                "has_recording": "boolean",
                "has_sip": "boolean"
            }
        ]
    }
}
```

Path Arguments | &nbsp;
--- | ---
zoomroomId **required** | The Zoom Room ID

Query Arguments | &nbsp;
--- | ---
from **required** | Start Date
to **required** | End Date
page_size *optional*<div class="default">30</div><div class="maximum">300</div> | The number of records returned within a single API call
page_number *optional*<div class="default">1</div> | Current page number of returned records

