## Retrieve webinar participants

Retrieve live or past webinar participants

> Definition

```shell
GET https://api.zoom.us/v2/metrics/webinars/{webinarId}/participants
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/metrics/webinars/{webinarId}/participants
```

> Example Response

```text
200 OK
```

```json
{
    "page_count": "integer",
    "page_size": "integer",
    "total_records": "integer",
    "next_page_token": "string",
    "participants": [
        {
            "id": "string [uuid]",
            "user_id": "string",
            "user_name": "string",
            "device": "string",
            "ip_address": "string",
            "location": "string",
            "network_type": "string",
            "microphone": "string",
            "speaker": "string",
            "data_center": "string",
            "connection_type": "string",
            "join_time": "string [date-time]",
            "leave_time": "string [date-time]",
            "share_application": "boolean",
            "share_desktop": "boolean",
            "share_whiteboard": "boolean",
            "recording": "boolean",
            "pc_name": "string",
            "domain": "string",
            "mac_addr": "string",
            "harddisk_id": "string",
            "version": "string"
        }
    ]
}
```

Path Arguments | &nbsp;
--- | ---
webinarId **required** | The webinar ID or webinar UUID. If given webinar ID, will take the last webinar instance.

Query Arguments | &nbsp;
--- | ---
type *optional*<div class="default">live</div> | The webinar type<div class="enum">`past` past webinar<br/>`live` live webinar<br/></div>
page_size *optional*<div class="default">30</div><div class="maximum">300</div> | The number of records returned within a single API call
next_page_token *optional* | Next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceed the current page size. The expiration period for this token is 15 minutes.

