## Retrieve sharing/recording details of meeting participant

Retrieve sharing/recording details of live or past meetings participant

> Definition

```shell
GET https://api.zoom.us/v2/metrics/meetings/{meetingId}/participants/{participantId}/sharing
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/metrics/meetings/{meetingId}/participants/{participantId}/sharing
```

> Example Response

```text
200 OK
```

```json
{
    "page_count": "integer",
    "page_number": "integer",
    "page_size": "integer",
    "total_records": "integer",
    "participants": [
        {
            "id": "string",
            "user_id": "string",
            "user_name": "string",
            "details": [
                {
                    "content": "string",
                    "start_time": "string",
                    "end_time": "string"
                }
            ]
        }
    ]
}
```

Path Arguments | &nbsp;
--- | ---
meetingId **required** | The meeting ID

Query Arguments | &nbsp;
--- | ---
type | The meeting type<div class="enum">`past` all the past meetings<br/>`live` all the live meetings<br/></div>
page_size | Number of items returned per page
page_number | Page number of results returned

