## Retrieve IM

Retrieve metrics of Zoom IM

> Definition

```shell
GET https://api.zoom.us/v2/metrics/im
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/metrics/im?from=string&to=string
```

> Example Response

```text
200 OK
```

```json
{
    "from": "string [date]",
    "to": "string [date]",
    "page_count": "integer",
    "page_size": "integer",
    "total_records": "integer",
    "next_page_token": "string",
    "users": [
        {
            "user_id": "string",
            "user_name": "string",
            "email": "string",
            "total_send": "integer",
            "total_receive": "integer",
            "group_send": "integer",
            "group_receive": "integer",
            "calls_send": "integer",
            "calls_receive": "integer",
            "files_send": "integer",
            "files_receive": "integer",
            "images_send": "integer",
            "images_receive": "integer",
            "voice_send": "integer",
            "voice_receive": "integer",
            "videos_send": "integer",
            "videos_receive": "integer",
            "emoji_send": "integer",
            "emoji_receive": "integer"
        }
    ]
}
```

Query Arguments | &nbsp;
--- | ---
from **required** | Start Date
to **required** | End Date
page_size *optional*<div class="default">30</div><div class="maximum">300</div> | The number of records returned within a single API call
next_page_token *optional* | Next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceed the current page size. The expiration period for this token is 15 minutes.

