## List webinars

List live webinars or past webinars for a specified period

> Definition

```shell
GET https://api.zoom.us/v2/metrics/webinars
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/metrics/webinars
```

> Example Response

```text
200 OK
```

```json
{
    "from": "string",
    "to": "string",
    "page_count": "integer",
    "page_size": "integer",
    "total_records": "integer",
    "next_page_token": "string",
    "webinars": [
        {
            "uuid": "string",
            "id": "integer",
            "topic": "string",
            "host": "string",
            "email": "string",
            "user_type": "string",
            "start_time": "string",
            "end_time": "string",
            "duration": "string",
            "participants": "integer",
            "has_pstn": "boolean",
            "has_voip": "boolean",
            "has_3rd_party_audio": "boolean",
            "has_video": "boolean",
            "has_screen_share": "boolean",
            "has_recording": "boolean",
            "has_sip": "boolean"
        }
    ]
}
```

Query Arguments | &nbsp;
--- | ---
type *optional* | The webinar type<div class="enum">`past` all the past webinars<br/>`live` all the live webinars<br/></div>
from **required** | Start Date
to **required** | End Date
page_size *optional* | Number of items returned per page. *Default: 30* *Max: 300*
next_page_token *optional* | Used to paginate through large result sets. A next page token will be returned whenever the set of available webinars list exceeds 300. The expiration period is 15 minutes.
