## List meetings

List live meetings or past meetings for a specified period

> Definition

```shell
GET https://api.zoom.us/v2/metrics/meetings
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/metrics/meetings?from=string&to=string
```

> Example Response

```text
200 OK
```

```json
{
    "from": "string [date]",
    "to": "string [date]",
    "page_count": "integer",
    "page_size": "integer",
    "total_records": "integer",
    "next_page_token": "string",
    "meetings": [
        {
            "uuid": "string [uuid]",
            "id": "integer",
            "topic": "string",
            "host": "string",
            "email": "string",
            "user_type": "string",
            "start_time": "string [date-time]",
            "end_time": "string [date-time]",
            "duration": "string",
            "participants": "integer",
            "has_pstn": "boolean",
            "has_voip": "boolean",
            "has_3rd_party_audio": "boolean",
            "has_video": "boolean",
            "has_screen_share": "boolean",
            "has_recording": "boolean",
            "has_sip": "boolean"
        }
    ]
}
```

Query Arguments | &nbsp;
--- | ---
type *optional*<div class="default">live</div> | The meeting type<div class="enum">`past` past meetings<br/>`pastOne` past one user meetings<br/>`live` live meetings<br/></div>
from **required** | Start Date
to **required** | End Date
page_size *optional*<div class="default">30</div><div class="maximum">300</div> | The number of records returned within a single API call
next_page_token *optional* | Next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceed the current page size. The expiration period for this token is 15 minutes.

