## Retrieve webinar participants

Retrieve live or past webinar participants

> Definition

```shell
GET https://api.zoom.us/v2/metrics/webinars/{webinarId}/participants
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/metrics/webinars/{webinarId}/participants
```

> Example Response

```text
200 OK
```

```json
{
    "page_count": "integer",
    "page_size": "integer",
    "total_records": "integer",
    "next_page_token": "string",
    "participants": [
        {
            "id": "string",
            "user_id": "string",
            "user_name": "string",
            "device": "string",
            "ip_address": "string",
            "location": "string",
            "network_type": "string",
            "join_time": "string",
            "leave_time": "string",
            "share_application": "boolean",
            "share_desktop": "boolean",
            "share_whiteboard": "boolean",
            "recording": "boolean",
            "pc_name": "string",
            "domain": "string",
            "mac_addr": "string",
            "harddisk_id": "string",
            "version": "string"
        }
    ]
}
```

Path Arguments | &nbsp;
--- | ---
webinarId **required** | The webinar ID

Query Arguments | &nbsp;
--- | ---
type *optional*<div class="default">live</div> | The webinar type<div class="enum">`past` past webinars<br/>`live` live webinars<br/></div>
page_size *optional*<div class="default">30</div><div class="maximum">300</div> | Number of items returned per page
page_number *optional*<div class="default">1</div> | Page number of results returned

