## Retrieve webinar detail

Retrieve live  or past webinars detail

> Definition

```shell
GET https://api.zoom.us/v2/metrics/webinars/{webinarId}
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/metrics/webinars/{webinarId}
```

> Example Response

```text
200 OK
```

```json
{
    "uuid": "string [uuid]",
    "id": "integer",
    "topic": "string",
    "host": "string",
    "email": "string",
    "user_type": "string",
    "start_time": "string [date-time]",
    "end_time": "string [date-time]",
    "duration": "string",
    "participants": "integer",
    "has_pstn": "boolean",
    "has_voip": "boolean",
    "has_3rd_party_audio": "boolean",
    "has_video": "boolean",
    "has_screen_share": "boolean",
    "has_recording": "boolean",
    "has_sip": "boolean"
}
```

Path Arguments | &nbsp;
--- | ---
webinarId **required** | The webinar ID or webinar UUID. If given webinar ID, will take the last webinar instance.

Query Arguments | &nbsp;
--- | ---
type *optional*<div class="default">live</div> | The webinar type<div class="enum">`past` past webinar<br/>`live` live webinar<br/></div>

