## Retrieve meeting participants

Retrieve live or past meetings participants

> Definition

```shell
GET https://api.zoom.us/v2/metrics/meetings/{meetingId}/participants
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/metrics/meetings/{meetingId}/participants
```

> Example Response

```text
200 OK
```

```json
{
    "page_count": "integer",
    "page_size": "integer",
    "total_records": "integer",
    "next_page_token": "string",
    "participants": [
        {
            "id": "string",
            "user_id": "string",
            "user_name": "string",
            "device": "string",
            "ip_address": "string",
            "location": "string",
            "network_type": "string",
            "join_time": "string",
            "leave_time": "string",
            "share_application": "boolean",
            "share_desktop": "boolean",
            "share_whiteboard": "boolean",
            "recording": "boolean",
            "pc_name": "string",
            "domain": "string",
            "mac_addr": "string",
            "harddisk_id": "string",
            "version": "string"
        }
    ]
}
```

Path Arguments | &nbsp;
--- | ---
meetingId **required** | The meeting ID or meeting UUID. If given meeting ID, will take the last meeting instance.

Query Arguments | &nbsp;
--- | ---
type *optional* | The meeting type<div class="enum">`past` past meeting<br/>`live` live meeting<br/></div>
page_size *optional* | Number of items returned per page. *Default: 30* *Max: 300*
next_page_token *optional* | Used to paginate through large result sets. A next page token will be returned whenever the set of available participants list exceeds 300. The expiration period is 15 minutes.

