## Subscribe plans for a sub account

Subscribe plans for a sub account of the master account <aside>Can only subscribe plans for the sub account which is a free account and paid by master account</aside>

> Definition

```shell
POST https://api.zoom.us/v2/accounts/{accountId}/plans
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/accounts/{accountId}/plans \
   -d '{
    "contact": {
        "first_name": "string",
        "last_name": "string",
        "email": "string",
        "phone_number": "string",
        "address": "string",
        "apt": "string",
        "city": "string",
        "state": "string",
        "zip": "string",
        "country": "string"
    },
    "plan_base": {
        "type": "string",
        "hosts": "integer"
    },
    "plan_zoom_rooms": {
        "type": "string",
        "hosts": "integer"
    },
    "plan_room_connector": {
        "type": "string",
        "hosts": "integer"
    },
    "plan_large_meeting": [
        {
            "type": "string",
            "hosts": "integer"
        }
    ],
    "plan_webinar": [
        {
            "type": "string",
            "hosts": "integer"
        }
    ],
    "plan_recording": "string",
    "plan_audio": {
        "type": "string",
        "tollfree_countries": "string",
        "premium_countries": "string",
        "callout_countries": "string",
        "ddi_numbers": "integer"
    }
}'
```

> Example Response

```text
201 Created
```

```json
{
    "plan_base": {
        "type": "string",
        "hosts": "integer"
    },
    "plan_zoom_rooms": {
        "type": "string",
        "hosts": "integer"
    },
    "plan_room_connector": {
        "type": "string",
        "hosts": "integer"
    },
    "plan_large_meeting": [
        {
            "type": "string",
            "hosts": "integer"
        }
    ],
    "plan_webinar": [
        {
            "type": "string",
            "hosts": "integer"
        }
    ],
    "plan_recording": "string",
    "plan_audio": {
        "type": "string",
        "tollfree_countries": "string",
        "premium_countries": "string",
        "callout_countries": "string",
        "ddi_numbers": "integer"
    }
}
```

Path Arguments | &nbsp;
--- | ---
accountId **required** | The account ID

Body Arguments | &nbsp;
--- | ---
contact.first_name **required** | Billing Contact's first name
contact.last_name **required** | Billing Contact's last name
contact.email **required** | Billing Contact's email address
contact.phone_number **required** | Billing Contact's phone number
contact.address **required** | Billing Contact's address
contact.apt *optional* | Billing Contact's apartment/suite
contact.city **required** | Billing Contact's city
contact.state **required** | Billing Contact's state
contact.zip **required** | Billing Contact's zip/postal code
contact.country **required** | Billing Contact's country
plan_base.type **required** | Account base <a href="#plans">plan type</a>
plan_base.hosts **required** | Account base plan number of hosts. For a Pro Plan, please select a value between 1 and 9. For a Business Plan, please select a value between 10 and 49. For a Education Plan, please select a value between 20 and 149. For a Free Trial Plan, please select a value between 1 and 9999.
plan_zoom_rooms.type *optional* | Account <a href="#plans">plan type</a>
plan_zoom_rooms.hosts *optional* | Account plan number of hosts
plan_room_connector.type *optional* | Account <a href="#plans">plan type</a>
plan_room_connector.hosts *optional* | Account plan number of hosts
plan_large_meeting *optional* | Additional Large Meeting Plans
plan_webinar *optional* | Additional Webinar Plans
plan_recording *optional* | Additional Cloud Recording Plan
plan_audio.type *optional* | Additional Audio Conferencing <a href="#plans">plan type</a>
plan_audio.tollfree_countries *optional* | Toll-free countries, multiple value separated by comma
plan_audio.premium_countries *optional* | Premium countries, multiple value separated by comma
plan_audio.callout_countries *optional* | Call-out countries, multiple value separated by comma
plan_audio.ddi_numbers *optional* | Dedicated Dial-In Numbers

