## Update an additional plan for sub account

Update an additional plan for sub account<aside>Can only update an Additional plan for the sub account which is a paid account and paid by master account</aside>

> Definition

```shell
PUT https://api.zoom.us/v2/accounts/{accountId}/plans/addons
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/accounts/{accountId}/plans/addons \
   -d '{
    "type": "string",
    "hosts": "integer"
}'
```

> Example Response

```text
204 No Content
```

Path Arguments | &nbsp;
--- | ---
accountId **required** | The account ID

Body Arguments | &nbsp;
--- | ---
type **required** | Account <a href="#plans">plan type</a>
hosts **required** | Account plan number of hosts

