## Update a base plan for a sub account

Update a base plan for a sub account <aside>Can only update a base plan for the sub account which is a paid account and paid by master account</aside>

> Definition

```shell
PUT https://api.zoom.us/v2/accounts/{accountId}/plans/base
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/accounts/{accountId}/plans/base \
   -d '{
    "type": "string",
    "hosts": "integer"
}'
```

> Example Response

```text
204 No Content
```

Path Arguments | &nbsp;
--- | ---
accountId **required** | The account ID

Body Arguments | &nbsp;
--- | ---
type **required** | Account base <a href="#plans">plan type</a>
hosts **required** | Account base plan number of hosts. For a Pro Plan, please select a value between 1 and 9. For a Business Plan, please select a value between 10 and 49. For a Education Plan, please select a value between 20 and 149. For a Free Trial Plan, please select a value between 1 and 9999.

