## Update a base plan for a sub account

Update a base plan for a sub account <aside>Can only update a base plan for the sub account which is a paid account and paid by master account</aside>

> Definition

```shell
PUT https://api.zoom.us/v2/accounts/{accountId}/plans/base
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/accounts/{accountId}/plans/base \
   -d '{
    "type": "string",
    "hosts": "integer"
}'
```

> Example Response

```text
201 Created
```

Path Arguments | &nbsp;
--- | ---
accountId **required** | The account ID

Body Arguments | &nbsp;
--- | ---
type **required** | Account <a href="#plans">plan type</a>
hosts **required** | Account plan number of hosts

