## Add a user's TSP account

Add a user's TSP account

> Definition

```shell
POST https://api.zoom.us/v2/users/{userId}/tsp
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/users/{userId}/tsp \
   -d '{
    "conference_code": "string",
    "leader_pin": "string",
    "dial_in_numbers": [
        {
            "code": "string",
            "number": "string",
            "type": "string"
        }
    ]
}'
```

> Example Response

```text
201 Created
```

```json
{
    "conference_code": "string",
    "leader_pin": "string",
    "dial_in_numbers": [
        {
            "code": "string",
            "number": "string",
            "type": "string"
        }
    ]
}
```

Path Arguments | &nbsp;
--- | ---
userId **required** | The user ID or email address

Body Arguments | &nbsp;
--- | ---
conference_code **required**<div class="maxLength">16</div> | Conference code, numeric value, length is less than 16.
leader_pin **required**<div class="maxLength">16</div> | Leader PIN, numeric value, length is less than 16.
dial_in_numbers **required** | List of Dial In Numbers
dial_in_numbers[0].code **required**<div class="maxLength">6</div> | Country Code
dial_in_numbers[0].number **required**<div class="maxLength">16</div> | Dial-in number, length is less than 16.
dial_in_numbers[0].type *optional* | Number type<div class="enum">`toll` Toll number<br/>`tollfree` Toll free number<br/></div>