## Add a user's TSP account

Add a user's TSP account

> Definition

```shell
POST https://api.zoom.us/v2/users/{userId}/tsp
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/users/{userId}/tsp \
   -d '{
    "conference_code": "string",
    "leader_pin": "string",
    "media_number": {
        "code": "string",
        "number": "string"
    },
    "dial_in_numbers": [
        {
            "code": "string",
            "number": "string"
        }
    ]
}'
```

> Example Response

```text
201 Created
```

```json
{
    "conference_code": "string",
    "leader_pin": "string",
    "media_number": {
        "code": "string",
        "number": "string"
    },
    "dial_in_numbers": [
        {
            "code": "string",
            "number": "string"
        }
    ]
}
```

Path Arguments | &nbsp;
--- | ---
userId **required** | The user ID or email address

Body Arguments | &nbsp;
--- | ---
conference_code **required**<div class="maxLength">16</div> | Conference code, numeric value, length is less than 16
leader_pin **required**<div class="maxLength">16</div> | Leader PIN, numeric value, length is less than 16
media_number.code **required**<div class="maxLength">6</div> | Country Code
media_number.number **required**<div class="maxLength">16</div> | Media number, length is less than 16.
dial_in_numbers **required** | List of Dial In Numbers

