## Retrieve past meeting participants

Retrieve ended meeting participants

> Definition

```shell
GET https://api.zoom.us/v2/past_meetings/{meetingUUID}/participants
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/past_meetings/{meetingUUID}/participants
```

> Example Response

```text
200 OK
```

```json
{
    "page_count": "integer",
    "page_size": "integer",
    "total_records": "integer",
    "next_page_token": "string",
    "participants": [
        {
            "id": "string [uuid]",
            "name": "string"
        }
    ]
}
```

Path Arguments | &nbsp;
--- | ---
meetingUUID **required** | The meeting UUID.

Query Arguments | &nbsp;
--- | ---
page_size *optional*<div class="default">30</div><div class="maximum">300</div> | The number of records returned within a single API call
next_page_token *optional* | Next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceed the current page size. The expiration period for this token is 15 minutes.

