## Update a meeting

Update a meeting's details

> Definition

```shell
PATCH https://api.zoom.us/v2/meetings/{meetingId}
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/meetings/{meetingId} \
   -d '{
    "topic": "string",
    "type": "integer",
    "start_time": "string [date-time]",
    "duration": "integer",
    "timezone": "string",
    "password": "string",
    "agenda": "string",
    "recurrence": {
        "type": "integer",
        "repeat_interval": "integer",
        "weekly_days": "integer",
        "monthly_day": "integer",
        "monthly_week": "integer",
        "monthly_week_day": "integer",
        "end_times": "integer",
        "end_date_time": "string [date-time]"
    },
    "settings": {
        "host_video": "boolean",
        "participant_video": "boolean",
        "cn_meeting": "boolean",
        "in_meeting": "boolean",
        "join_before_host": "boolean",
        "mute_upon_entry": "boolean",
        "watermark": "boolean",
        "use_pmi": "boolean",
        "approval_type": "integer",
        "registration_type": "integer",
        "audio": "string",
        "auto_recording": "string",
        "enforce_login": "boolean",
        "enforce_login_domains": "string",
        "alternative_hosts": "string",
        "registrants_confirmation_email": "boolean"
    }
}'
```

> Example Response

```text
204 No Content
```

Path Arguments | &nbsp;
--- | ---
meetingId **required** | The meeting ID

Body Arguments | &nbsp;
--- | ---
topic *optional* | Meeting topic
type *optional*<div class="default">2</div> | Meeting Type<div class="enum">`1` Instant Meeting<br/>`2` Scheduled Meeting<br/>`3` Recurring Meeting with no fixed time<br/>`8` Recurring Meeting with fixed time<br/></div>
start_time *optional* | Meeting start time. When using a format like "yyyy-MM-dd'T'HH:mm:ss'Z'", always use GMT time. When using a format like "yyyy-MM-dd'T'HH:mm:ss", you should use local time and you will need to specify the time zone. Only used for scheduled meetings and recurring meetings with fixed time.
duration *optional* | Meeting duration (minutes). Used for scheduled meetings only
timezone *optional* | Timezone to format start_time. For example, "America/Los_Angeles". For scheduled meetings only. Please reference our [timezone](#timezones) list for supported timezones and their formats.
password *optional* | Password to join the meeting. Password may only contain the following characters: [a-z A-Z 0-9 @ - _ *]. Max of 10 characters.
agenda *optional* | Meeting description
recurrence.type *optional* | Recurrence meeting type<div class="enum">`1` Daily<br/>`2` Weekly<br/>`3` Monthly<br/></div>
recurrence.repeat_interval *optional* | At which interval should the meeting repeat? For a daily meeting, max of 90 days. For a weekly meeting, max of 12 weeks. For a monthly meeting, max of 3 months.
recurrence.weekly_days *optional* | Days of the week the meeting should repeat, multiple values separated by comma<div class="enum">`1` Sunday<br/>`2` Monday<br/>`3` Tuesday<br/>`4` Wednesday<br/>`5` Thursday<br/>`6` Friday<br/>`7` Saturday<br/></div>
recurrence.monthly_day *optional* | Day of the month for the meeting to be scheduled. The value range is from 1 to 31.
recurrence.monthly_week *optional* | Week for which the meeting should recur each month,<div class="enum">`-1` Last week<br/>`1` First week<br/>`2` Second week<br/>`3` Third week<br/>`4` Fourth week<br/></div>
recurrence.monthly_week_day *optional* | Day for which the meeting should recur each month<div class="enum">`1` Sunday<br/>`2` Monday<br/>`3` Tuesday<br/>`4` Wednesday<br/>`5` Thursday<br/>`6` Friday<br/>`7` Saturday<br/></div>
recurrence.end_times *optional*<div class="default">1</div><div class="maximum">50</div> | Select how many times the meeting will occur before it is canceled. (Cannot be used with "end_date_time".)
recurrence.end_date_time *optional* | Select a date the meeting will occur before it is canceled.. Should be UTC time, such as 2017-11-25T12:00:00Z. (Cannot be used with "end_times".)
settings.host_video *optional* | Start video when host joins meeting
settings.participant_video *optional* | Start video when participants join meeting
settings.cn_meeting *optional*<div class="default">false</div> | Host meeting in China
settings.in_meeting *optional*<div class="default">false</div> | Host meeting in India
settings.join_before_host *optional*<div class="default">false</div> | Allow participants to join the meeting before the host starts the meeting. Only used for scheduled or recurring meetings.
settings.mute_upon_entry *optional*<div class="default">false</div> | Mute participants upon entry
settings.watermark *optional*<div class="default">false</div> | Add watermark when viewing shared screen
settings.use_pmi *optional*<div class="default">false</div> | Use Personal Meeting ID. Only used for scheduled meetings and recurring meetings with no fixed time.
settings.approval_type *optional*<div class="default">2</div> | <div class="enum">`0` Automatically Approve<br/>`1` Manually Approve<br/>`2` No Registration Required<br/></div>
settings.registration_type *optional*<div class="default">1</div> | Registration type. Used for recurring meeting with fixed time only.<div class="enum">`1` Attendees register once and can attend any of the occurrences<br/>`2` Attendees need to register for each occurrence to attend<br/>`3` Attendees register once and can choose one or more occurrences to attend<br/></div>
settings.audio *optional*<div class="default">both</div> | Determine how participants can join the audio portion of the meeting<div class="enum">`both` Both Telephony and VoIP<br/>`telephony` Telephony only<br/>`voip` VoIP only<br/></div>
settings.auto_recording *optional*<div class="default">none</div> | <div class="enum">`local` Record to local device<br/>`cloud` Record to cloud<br/>`none` No Recording<br/></div>
settings.enforce_login *optional* | Only signed-in users can join this meeting
settings.enforce_login_domains *optional* | Only signed-in users with specified domains can join meetings
settings.alternative_hosts *optional* | Alternative hosts emails or IDs. Multiple value separated by comma.
settings.registrants_confirmation_email *optional* | Send confirmation Email to Registrants

