## Update a meeting's status

Update a meeting's status

> Definition

```shell
PUT https://api.zoom.us/v2/meetings/{meetingId}/status
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/meetings/{meetingId}/status \
   -d '{
    "action": "string"
}'
```

> Example Response

```text
204 No Content
```

Path Arguments | &nbsp;
--- | ---
meetingId **required** | The meeting ID

Body Arguments | &nbsp;
--- | ---
action *optional* | <div class="enum">`end` end a meeting<br/></div>

