## Retrieve IM Chat messages

Retrieve IM Chat messages for a specified period <aside>This API only supports oauth2.</aside>

> Definition

```shell
GET https://api.zoom.us/v2/im/chat/sessions/{sessionId}
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/im/chat/sessions/{sessionId}?from=string&to=string
```

> Example Response

```text
200 OK
```

```json
{
    "session_id": "string",
    "from": "string [date]",
    "to": "string [date]",
    "page_size": "integer",
    "next_page_token": "string",
    "messages": [
        {
            "message": "string",
            "sender": "string",
            "date_time": "string [date-time]",
            "action": "string",
            "action_time": "string [date-time]"
        }
    ]
}
```

Path Arguments | &nbsp;
--- | ---
sessionId **required** | IM Chat Session ID

Query Arguments | &nbsp;
--- | ---
from **required** | Start Date
to **required** | End Date
page_size *optional*<div class="default">30</div><div class="maximum">300</div> | The number of records returned within a single API call
next_page_token *optional* | Next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceed the current page size. The expiration period for this token is 15 minutes.

