## Add group members

Add members to a group under your account

> Definition

```shell
POST https://api.zoom.us/v2/groups/{groupId}/members
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/groups/{groupId}/members \
   -d '{
    "members": [
        {
            "id": "string",
            "email": "string"
        }
    ]
}'
```

> Example Response

```text
201 Created
```

```json
{
    "ids": "string",
    "added_at": "string [date-time]"
}
```

Path Arguments | &nbsp;
--- | ---
groupId **required** | The group ID

Body Arguments | &nbsp;
--- | ---
members *optional*<div class="maximum">30</div> | List of Group members

