## Delete one meeting recording file

Delete one meeting recording file

> Definition

```shell
DELETE https://api.zoom.us/v2/meetings/{meetingId}/recordings/{recordingId}
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/meetings/{meetingId}/recordings/{recordingId} \
    -X DELETE
```

> Example Response

```text
204 No Content
```

Path Arguments | &nbsp;
--- | ---
meetingId **required** | The meeting ID or meeting UUID. If given meeting ID, will take the last meeting instance.
recordingId **required** | The recording ID

Query Arguments | &nbsp;
--- | ---
action *optional*<div class="default">trash</div> | The recording delete action<div class="enum">`trash` move recording to trash<br/>`delete` delete recording permanently<br/></div>

