## Recover a single recording

Recover a single recording

> Definition

```shell
PUT https://api.zoom.us/v2/meetings/{meetingId}/recordings/{recordingId}/status
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/meetings/{meetingId}/recordings/{recordingId}/status \
   -d '{
    "action": "string"
}'
```

> Example Response

```text
204 No Content
```

Path Arguments | &nbsp;
--- | ---
meetingId **required** | The meeting ID or meeting UUID. If given meeting ID, will take the last meeting instance.
recordingId **required** | The recording ID

Body Arguments | &nbsp;
--- | ---
action *optional* | <div class="enum">`recover` recover meeting recording<br/></div>

