## Recover a meeting's recordings

Recover a meeting's recordings

> Definition

```shell
PUT https://api.zoom.us/v2/meetings/{meetingId}/recordings/status
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/meetings/{meetingId}/recordings/status \
   -d '{
    "action": "string"
}'
```

> Example Response

```text
204 No Content
```

Path Arguments | &nbsp;
--- | ---
meetingId **required** | The meeting ID or meeting UUID. If given meeting ID, will take the last meeting instance.

Body Arguments | &nbsp;
--- | ---
action *optional* | <div class="enum">`recover` recover meeting recording<br/></div>

