## List sub accounts

List all the sub accounts under the master account

> Definition

```shell
GET https://api.zoom.us/v2/accounts
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/accounts
```

> Example Response

```text
200 OK
```

```json
{
    "page_count": "integer",
    "page_number": "integer",
    "page_size": "integer",
    "total_records": "integer",
    "accounts": [
        {
            "id": "string [uuid]",
            "account_name": "string",
            "owner_email": "string",
            "account_type": "string",
            "seats": "integer",
            "subscription_start_time": "string [date-time]",
            "subscription_end_time": "string [date-time]",
            "created_at": "string [date-time]"
        }
    ]
}
```

Query Arguments | &nbsp;
--- | ---
page_size *optional*<div class="default">30</div><div class="maximum">300</div> | The number of records returned within a single API call
page_number *optional*<div class="default">1</div> | Current page number of returned records

