# Accounts

## The Account object
The account object represents an account on zoom. The person who created the account, or who the account was created for, is referred to as the account owner. You can read more about the Zoom account structure <a href='https://developer.zoom.us/blog/a-brief-look-at-zoom-account-structures/' target='_blank'>here</a>.

```json
{
    "first_name": "string",
    "last_name": "string",
    "email": "string",
    "password": "string",
    "options": {
        "share_rc": "boolean",
        "room_connectors": "string",
        "share_mc": "boolean",
        "meeting_connectors": "string",
        "pay_mode": "string"
    }
}
```

Property | Description
--- | ---
first_name *string* | User's first name
last_name *string* | User's last name
email *string* | User's email address
password *string* | User's password
options.share_rc *boolean* | Enable Share Virtual Room Connector
options.room_connectors *string* | Virtual Room Connector, multiple value separated by comma
options.share_mc *boolean* | Enable Share Meeting Connector
options.meeting_connectors *string* | Meeting Connector, multiple values separated by comma
options.pay_mode *string* | Payee<div class="enum">`master` Master account holder pays<br/>`sub` Sub account holder pays<br/></div>

