## Update a sub account's options

Update a sub account's options under the master account

> Definition

```shell
PATCH https://api.zoom.us/v2/accounts/{accountId}/options
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/accounts/{accountId}/options \
   -d '{
    "share_rc": "boolean",
    "room_connectors": "string",
    "share_mc": "boolean",
    "meeting_connectors": "string",
    "pay_mode": "string"
}'
```

> Example Response

```text
204 No Content
```

Path Arguments | &nbsp;
--- | ---
accountId **required** | The account ID

Body Arguments | &nbsp;
--- | ---
share_rc *optional*<div class="default">false</div> | Enable Share Virtual Room Connector
room_connectors *optional* | Virtual Room Connector, multiple value separated by comma
share_mc *optional*<div class="default">false</div> | Enable Share Meeting Connector
meeting_connectors *optional* | Meeting Connector, multiple values separated by comma
pay_mode *optional*<div class="default">master</div> | Payee<div class="enum">`master` Master account holder pays<br/>`sub` Sub account holder pays<br/></div>

