## Update an account's options

Update a sub account's options under the master account

> Definition

```shell
PATCH https://api.zoom.us/v2/accounts/{accountId}/options
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/accounts/{accountId}/options \
   -d '{
    "share_rc": "boolean",
    "room_connectors": "string",
    "share_mc": "boolean",
    "meeting_conntectors": "string",
    "pay_mode": "string"
}'
```

> Example Response

```text
204 No Content
```

Path Arguments | &nbsp;
--- | ---
accountId **required** | The account ID

Body Arguments | &nbsp;
--- | ---
share_rc *optional* | Enable Share Virtual Room Connector.
room_connectors *optional* | Virtual Room Connector, multiple value separated by comma.
share_mc *optional* | Enable Share Meeting Connector.
meeting_conntectors *optional* | Meeting Connector, multiple value separated by comma.
pay_mode *optional*<div class="default">master</div> | User's password.<div class="enum">`master` Master Account holder pays<br/>`sub` Sub Account holders pays<br/></div>

