## Create a sub account

Create a sub account under the master account. <aside>Your account must be a master account and have this privilege to create sub account. Zoom only assigns this privilege to trusted partners. The created user will not receive a confirmation email.</aside>.

> Definition

```shell
POST https://api.zoom.us/v2/accounts
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/accounts \
   -d '{
    "first_name": "string",
    "last_name": "string",
    "email": "string",
    "password": "string",
    "options": {
        "share_rc": "boolean",
        "room_connectors": "string",
        "share_mc": "boolean",
        "meeting_connectors": "string",
        "pay_mode": "string"
    }
}'
```

> Example Response

```text
201 Created
```

```json
{
    "id": "string",
    "owner_id": "string",
    "owner_email": "string",
    "created_at": "string"
}
```

Body Arguments | &nbsp;
--- | ---
first_name **required** | User's first name
last_name **required** | User's last name
email **required** | User's email address
password **required** | User's password
options.share_rc *optional*<div class="default">false</div> | Enable Share Virtual Room Connector
options.room_connectors *optional* | Virtual Room Connector, multiple value separated by comma
options.share_mc *optional*<div class="default">false</div> | Enable Share Meeting Connector
options.meeting_connectors *optional* | Meeting Connector, multiple values separated by comma
options.pay_mode *optional*<div class="default">master</div> | Payee<div class="enum">`master` Master account holder pays<br/>`sub` Sub account holder pays<br/></div>

