# Devices

## The Device object
The H.323/SIP device object.

```json
{
    "name": "string",
    "protocol": "string",
    "ip": "string",
    "encryption": "string"
}
```

Property | Description
--- | ---
name *string* | Device name
protocol *string* | Device protocol<div class="enum">`H.323` H.323<br/>`SIP` SIP<br/></div>
ip *string* | Device Ip
encryption *string* | Device encryption<div class="enum">`auto` auto<br/>`yes` yes<br/>`no` no<br/></div>

