## Update a H.323/SIP Device

Update a H.323/SIP Device on your Zoom account

> Definition

```shell
PATCH https://api.zoom.us/v2/h323/devices/{deviceId}
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/h323/devices/{deviceId} \
   -d '{
    "name": "string",
    "protocol": "string",
    "ip": "string",
    "encryption": "string"
}'
```

> Example Response

```text
204 No Content
```

Path Arguments | &nbsp;
--- | ---
deviceId **required** | The device ID

Body Arguments | &nbsp;
--- | ---
name **required**<div class="maxLength">64</div> | Device name
protocol **required** | Device protocol<div class="enum">`H.323` H.323<br/>`SIP` SIP<br/></div>
ip **required** | Device Ip
encryption **required** | Device encryption<div class="enum">`auto` auto<br/>`yes` yes<br/>`no` no<br/></div>

