## Create a H.323/SIP Device

Create a H.323/SIP Device on your Zoom account

> Definition

```shell
POST https://api.zoom.us/v2/h323/devices
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/h323/devices \
   -d '{
    "name": "string",
    "protocol": "string",
    "ip": "string",
    "encryption": "string"
}'
```

> Example Response

```text
201 Created
```

```json
{
    "id": "string",
    "name": "string",
    "protocol": "string",
    "ip": "string",
    "encryption": "string"
}
```

Body Arguments | &nbsp;
--- | ---
name **required**<div class="maxLength">64</div> | Device name
protocol **required** | Device protocol<div class="enum">`H.323` H.323<br/>`SIP` SIP<br/></div>
ip **required** | Device Ip
encryption **required** | Device encryption<div class="enum">`auto` auto<br/>`yes` yes<br/>`no` no<br/></div>

