## Delete a user

Delete a user on your account,return the deleted user ID

> Definition

```shell
DELETE https://api.zoom.us/v2/users/{id}
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/users/{id} \
    -X DELETE
```

> Example Response

```text
204 No Content
```

Path Arguments | &nbsp;
--- | ---
id **required** | The user ID

Query Arguments | &nbsp;
--- | ---
action *optional* | Delete action type<div class="enum">`disassociate` Disassociate a user.<br/>`delete` Permanently delete a user. </div>

