## Delete a user

Delete a user on your account

> Definition

```shell
DELETE https://api.zoom.us/v2/users/{userId}
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/users/{userId} \
    -X DELETE
```

> Example Response

```text
204 No Content
```

Path Arguments | &nbsp;
--- | ---
userId **required** | The user ID or email address

Query Arguments | &nbsp;
--- | ---
action *optional*<div class="default">disassociate</div> | Delete action type<div class="enum">`disassociate` Disassociate a user<br/>`delete` Permanently delete a user<br/></div>
transfer_email *optional* | Transfer email
transfer_meeting *optional* | Transfer meeting
transfer_webinar *optional* | Transfer webinar
transfer_recording *optional* | Transfer recording

