## Retrieve a user's settings

Retrieve a user's settings

> Definition

```shell
GET https://api.zoom.us/v2/users/{userId}/settings
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/users/{userId}/settings
```

> Example Response

```text
200 OK
```

```json
{
    "scheduled_meeting": {
        "host_video": "boolean",
        "participants_video": "boolean",
        "audio_type": "string",
        "join_before_host": "boolean",
        "force_pmi_jbh_password": "boolean",
        "pstn_password_protected": "boolean"
    },
    "in_meeting": {
        "e2e_encryption": "boolean",
        "chat": "boolean",
        "private_chat": "boolean",
        "auto_saving_chat": "boolean",
        "entry_exit_chime": "string",
        "record_play_voice": "boolean",
        "file_transfer": "boolean",
        "feedback": "boolean",
        "co_host": "boolean",
        "polling": "boolean",
        "attendee_on_hold": "boolean",
        "annotation": "boolean",
        "remote_control": "boolean",
        "non_verbal_feedback": "boolean",
        "breakout_room": "boolean",
        "remote_support": "boolean",
        "closed_caption": "boolean",
        "group_hd": "boolean",
        "virtual_background": "boolean",
        "far_end_camera_control": "boolean",
        "share_dual_camera": "boolean",
        "attention_tracking": "boolean",
        "waiting_room": "boolean"
    },
    "email_notification": {
        "jbh_reminder": "boolean",
        "cancel_meeting_reminder": "boolean",
        "alternative_host_reminder": "boolean"
    },
    "recording": {
        "local_recording": "boolean",
        "cloud_recording": "boolean",
        "record_speaker_view": "boolean",
        "record_gallery_view": "boolean",
        "record_audio_file": "boolean",
        "save_chat_text": "boolean",
        "show_timestamp": "boolean",
        "recording_audio_transcript": "boolean",
        "auto_recording": "string",
        "auto_delete_cmr": "boolean",
        "auto_delete_cmr_days": "integer"
    },
    "telephony": {
        "third_party_audio": "boolean",
        "audio_conference_info": "string",
        "show_international_numbers_link": "boolean"
    },
    "feature": {
        "meeting_capacity": "integer",
        "large_meeting": "boolean",
        "large_meeting_capacity": "integer",
        "webinar": "boolean",
        "webinar_capacity": "integer",
        "cn_meeting": "boolean",
        "in_meeting": "boolean"
    }
}
```

Path Arguments | &nbsp;
--- | ---
userId **required** | The user ID or email address

Query Arguments | &nbsp;
--- | ---
login_type *optional* | <div class="enum">`0` Facebook<br/>`1` Google<br/>`99` API<br/>`100` Zoom<br/>`101` SSO<br/></div>

