## Retrieve a user's token

Retrieve a user's token

> Definition

```shell
GET https://api.zoom.us/v2/users/{userId}/token
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/users/{userId}/token
```

> Example Response

```text
200 OK
```

```json
{
    "token": "string"
}
```

Path Arguments | &nbsp;
--- | ---
userId **required** | The user ID or email address

Query Arguments | &nbsp;
--- | ---
type *optional* | User token type<div class="enum">`token` Used for starting meeting with client SDK.<br/>`zpk` Used for generating the start meeting url. (Deprecated)<br/>`zak` Used for generating the start meeting url. The expiration time is two hours. For API users, the expiration time is 90 days.<br/></div>

