## List Users

List users on your account

> Definition

```shell
GET https://api.zoom.us/v2/users
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/users
```

> Example Response

```text
200 OK
```

```json
{
    "page_count": "integer",
    "page_number": "integer",
    "page_size": "integer",
    "total_records": "integer",
    "users": [
        {
            "id": "string",
            "first_name": "string",
            "last_name": "string",
            "email": "string",
            "type": "integer",
            "pmi": "string",
            "timezone": "string",
            "dept": "string",
            "created_at": "string [date-time]",
            "last_login_time": "string [date-time]",
            "last_client_version": "string",
            "group_ids": [
                "string"
            ],
            "im_group_ids": [
                "string"
            ]
        }
    ]
}
```

Query Arguments | &nbsp;
--- | ---
status *optional*<div class="default">active</div> | User status<div class="enum">`active` users with active status<br/>`inactive` users with inactive status<br/>`pending` users with pending status<br/></div>
page_size *optional*<div class="default">30</div><div class="maximum">300</div> | The number of records returned within a single API call
page_number *optional*<div class="default">1</div> | Current page number of returned records

