# Users

## The User object
The user object represents a User on Zoom.

```json
{
    "email": "string",
    "type": "integer",
    "first_name": "string",
    "last_name": "string",
    "created_at": "string",
    "dept": "string",
    "last_client_version": "string",
    "last_login_time": "string",
    "pic_url": "string",
    "pmi": "string",
    "timezone": "string",
    "vanity_url": "string",
    "verified": "boolean",
    "cms_user_id": "string",
    "host_key": "string"
}
```

Property | Description
--- | ---
email *string* | User's email address.
type *integer* | User's type<div class="enum">`1` basic<br/>`2` pro<br/>`3` corp<br/></div>
first_name *string* | User's first name.
last_name *string* | User's last name.
created_at *string* | 
dept *string* | 
last_client_version *string* | 
last_login_time *string* | 
pic_url *string* | 
pmi *string* | 
timezone *string* | 
vanity_url *string* | 
verified *boolean* | 
cms_user_id *string* | CMS User Id
host_key *string* | Host Key, should be 6-digit number

