# Users

## The User object
The user object represents a User on Zoom

```json
{
    "first_name": "string",
    "last_name": "string",
    "email": "string",
    "type": "integer",
    "pmi": "string",
    "timezone": "string",
    "dept": "string",
    "created_at": "string [date-time]",
    "last_login_time": "string [date-time]",
    "last_client_version": "string"
}
```

Property | Description
--- | ---
first_name *string* | User's first name
last_name *string* | User's last name
email *string* | User's email address
type *integer* | User's type<div class="enum">`1` basic<br/>`2` pro<br/>`3` corp<br/></div>
pmi *string* | Personal Meeting ID
timezone *string* | Time Zone
dept *string* | Department
created_at *string* | User create time
last_login_time *string* | User last login time
last_client_version *string* | User last login client version

