## Update a user

Update a user on your account

> Definition

```shell
PATCH https://api.zoom.us/v2/users/{userId}
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/users/{userId} \
   -d '{
    "first_name": "string",
    "last_name": "string",
    "type": "integer",
    "pmi": "string",
    "timezone": "string [date-time]",
    "dept": "string",
    "vanity_name": "string",
    "host_key": "string",
    "cms_user_id": "string"
}'
```

> Example Response

```text
204 No Content
```

Path Arguments | &nbsp;
--- | ---
userId **required** | The user ID or email address

Body Arguments | &nbsp;
--- | ---
first_name *optional*<div class="maxLength">64</div> | User's first name. Cannot contain more than 5 Chinese words.
last_name *optional*<div class="maxLength">64</div> | User's last name. Cannot contain more than 5 Chinese words.
type *optional* | User's type<div class="enum">`1` basic<br/>`2` pro<br/>`3` corp<br/></div>
pmi *optional*<div class="maxLength">10</div> | Personal Meeting ID,length must be 10
timezone *optional* | The time zone id for user profile. For this parameter value please refer to the id value in [timezone](#timezones) list.
dept *optional* | Department for user profile, use for report
vanity_name *optional* | Personal meeting room name
host_key *optional*<div class="maxLength">6</div> | Host Key, should be 6-digit number
cms_user_id *optional* | Kaltura User Id

