## Update a user's settings

Update a user's settings

> Definition

```shell
PATCH https://api.zoom.us/v2/users/{userId}/settings
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/users/{userId}/settings \
   -d '{
    "scheduled_meeting": {
        "host_video": "boolean",
        "participants_video": "boolean",
        "audio_type": "string",
        "join_before_host": "boolean",
        "force_pmi_jbh_password": "boolean",
        "pstn_password_protected": "boolean"
    },
    "in_meeting": {
        "e2e_encryption": "boolean",
        "chat": "boolean",
        "private_chat": "boolean",
        "auto_saving_chat": "boolean",
        "entry_exit_chime": "string",
        "record_play_voice": "boolean",
        "file_transfer": "boolean",
        "feedback": "boolean",
        "co_host": "boolean",
        "polling": "boolean",
        "attendee_on_hold": "boolean",
        "annotation": "boolean",
        "remote_control": "boolean",
        "non_verbal_feedback": "boolean",
        "breakout_room": "boolean",
        "remote_support": "boolean",
        "closed_caption": "boolean",
        "group_hd": "boolean",
        "virtual_background": "boolean",
        "far_end_camera_control": "boolean",
        "share_dual_camera": "boolean",
        "attention_tracking": "boolean",
        "waiting_room": "boolean"
    },
    "email_notification": {
        "jbh_reminder": "boolean",
        "cancel_meeting_reminder": "boolean",
        "alternative_host_reminder": "boolean"
    },
    "recording": {
        "local_recording": "boolean",
        "cloud_recording": "boolean",
        "record_speaker_view": "boolean",
        "record_gallery_view": "boolean",
        "record_audio_file": "boolean",
        "save_chat_text": "boolean",
        "show_timestamp": "boolean",
        "recording_audio_transcript": "boolean",
        "auto_recording": "string",
        "auto_delete_cmr": "boolean",
        "auto_delete_cmr_days": "integer"
    },
    "telephony": {
        "third_party_audio": "boolean",
        "audio_conference_info": "string",
        "show_international_numbers_link": "boolean"
    },
    "feature": {
        "meeting_capacity": "integer",
        "large_meeting": "boolean",
        "large_meeting_capacity": "integer",
        "webinar": "boolean",
        "webinar_capacity": "integer"
    }
}'
```

> Example Response

```text
204 No Content
```

Path Arguments | &nbsp;
--- | ---
userId **required** | The user ID or email address

Body Arguments | &nbsp;
--- | ---
scheduled_meeting.host_video *optional* | Host video
scheduled_meeting.participants_video *optional* | Participants video
scheduled_meeting.audio_type *optional*<div class="default">voip</div> | Determine how participants can join the audio portion of the meeting<div class="enum">`both` Telephony and VoIP<br/>`telephony` Audio PSTN telephony only<br/>`voip` VoIP only<br/>`thirdParty` 3rd party audio conference<br/></div>
scheduled_meeting.join_before_host *optional* | Join before host
scheduled_meeting.force_pmi_jbh_password *optional* | Require a password for Personal Meetings if attendees can join before host
scheduled_meeting.pstn_password_protected *optional* | Generate and require password for participants joining by phone
in_meeting.e2e_encryption *optional* | End-to-end encryption
in_meeting.chat *optional*<div class="default">false</div> | Chat
in_meeting.private_chat *optional*<div class="default">false</div> | Private chat
in_meeting.auto_saving_chat *optional*<div class="default">false</div> | Auto saving chats
in_meeting.entry_exit_chime *optional*<div class="default">a''</div> | Play sound on join/leave<div class="enum">`host` when host joins/leaves<br/>`all` when any participant joins/leaves<br/>`none` no join/leave sound<br/></div>
in_meeting.record_play_voice *optional* | Record and play their own voice
in_meeting.file_transfer *optional*<div class="default">false</div> | File transfer
in_meeting.feedback *optional*<div class="default">false</div> | Feedback to Zoom
in_meeting.co_host *optional*<div class="default">false</div> | Co-host
in_meeting.polling *optional*<div class="default">false</div> | Polling
in_meeting.attendee_on_hold *optional*<div class="default">false</div> | Allow host to put attendee on hold
in_meeting.annotation *optional*<div class="default">false</div> | Annotation
in_meeting.remote_control *optional*<div class="default">false</div> | Remote control
in_meeting.non_verbal_feedback *optional*<div class="default">false</div> | Non-verbal feedback
in_meeting.breakout_room *optional*<div class="default">false</div> | Breakout room
in_meeting.remote_support *optional*<div class="default">false</div> | Remote support
in_meeting.closed_caption *optional*<div class="default">false</div> | Closed caption
in_meeting.group_hd *optional*<div class="default">false</div> | Group HD video
in_meeting.virtual_background *optional*<div class="default">false</div> | Virtual background
in_meeting.far_end_camera_control *optional*<div class="default">false</div> | Far end camera control
in_meeting.share_dual_camera *optional*<div class="default">false</div> | Share dual camera (Deprecated)
in_meeting.attention_tracking *optional*<div class="default">false</div> | Attention tracking
in_meeting.waiting_room *optional*<div class="default">false</div> | Waiting room
email_notification.jbh_reminder *optional*<div class="default">false</div> | When attendees join meeting before host
email_notification.cancel_meeting_reminder *optional*<div class="default">false</div> | When a meeting is cancelled
email_notification.alternative_host_reminder *optional*<div class="default">false</div> | When an alternative host is set or removed from a meeting
recording.local_recording *optional* | Local recording
recording.cloud_recording *optional*<div class="default">false</div> | Cloud recording
recording.record_speaker_view *optional*<div class="default">false</div> | Record the active speaker view
recording.record_gallery_view *optional*<div class="default">false</div> | Record the gallery view
recording.record_audio_file *optional*<div class="default">false</div> | Record an audio only file
recording.save_chat_text *optional*<div class="default">false</div> | Save chat text from the meeting
recording.show_timestamp *optional*<div class="default">false</div> | Show timestamp on video
recording.recording_audio_transcript *optional* | Audio transcript
recording.auto_recording *optional*<div class="default">local</div> | Automatic recording<div class="enum">`local` Record on local<br/>`cloud` Record on cloud<br/>`none` Disabled<br/></div>
recording.auto_delete_cmr *optional*<div class="default">false</div> | Auto delete cloud recordings
recording.auto_delete_cmr_days *optional*<div class="default">false</div><div class="minimum">1</div><div class="maximum">60</div> | A specified number of days of auto delete cloud recordings
telephony.third_party_audio *optional* | 3rd party audio conference
telephony.audio_conference_info *optional*<div class="maxLength">2048</div> | 3rd party audio conference info
telephony.show_international_numbers_link *optional* | Show international numbers link on the invitation email
feature.meeting_capacity *optional* | User’s meeting capacity
feature.large_meeting *optional* | Large meting feature
feature.large_meeting_capacity *optional* | Large meeting capacity, can be 100, 200, 300 or 500, depends on if having related large meeting capacity plan subscription or not
feature.webinar *optional* | Webinar feature
feature.webinar_capacity *optional* | Webinar capacity, can be 100, 500, 1000, 3000, 5000 or 10000, depends on if having related webinar capacity plan subscription or not

