## Update a user

Update a user on your account

> Definition

```shell
PATCH https://api.zoom.us/v2/users/{userId}
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/users/{userId} \
   -d '{
    "email": "string",
    "type": "integer",
    "first_name": "string",
    "last_name": "string",
    "created_at": "string",
    "dept": "string",
    "last_client_version": "string",
    "last_login_time": "string",
    "pic_url": "string",
    "pmi": "string",
    "timezone": "string",
    "vanity_url": "string",
    "verified": "boolean",
    "cms_user_id": "string",
    "host_key": "string"
}'
```

> Example Response

```text
204 No Content
```

Path Arguments | &nbsp;
--- | ---
userId **required** | The user ID or email address

Body Arguments | &nbsp;
--- | ---
email **required** | User's email address.
type **required** | User's type<div class="enum">`1` basic<br/>`2` pro<br/>`3` corp<br/></div>
first_name | User's first name.
last_name | User's last name.
created_at | 
dept | 
last_client_version | 
last_login_time | 
pic_url | 
pmi | 
timezone | 
vanity_url | 
verified | 
cms_user_id | CMS User Id
host_key | Host Key, should be 6-digit number

