## Add assistants

Add assistants to a user

> Definition

```shell
POST https://api.zoom.us/v2/users/{userId}/assistants
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/users/{userId}/assistants \
   -d '{
    "assistants": [
        {
            "id": "string",
            "email": "string"
        }
    ]
}'
```

> Example Response

```text
201 Created
```

```json
{
    "ids": "string",
    "add_at": "string [date-time]"
}
```

Path Arguments | &nbsp;
--- | ---
userId **required** | The user ID or email address

Body Arguments | &nbsp;
--- | ---
assistants *optional*<div class="maximum">30</div> | List of User's assistants

