## Update a user's status

Update a user's status

> Definition

```shell
PUT https://api.zoom.us/v2/users/{id}/status
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/users/{id}/status
'{
  "action": "deactivate"
}'
```

> Example Response

```text
204 No Content
```

Path Arguments | &nbsp;
--- | ---
id **required** | The user ID

Body Arguments | &nbsp;
--- | ---
action **required** | <div class="enum">`active` set users status to active<br/>`deactive` set users status to deactive<br/></div>

