## Update a user's status

Update a user's status

> Definition

```shell
PUT https://api.zoom.us/v2/users/{userId}/status
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/users/{userId}/status \
   -d '{
    "action": "string"
}'
```

> Example Response

```text
204 No Content
```

Path Arguments | &nbsp;
--- | ---
userId **required** | The user ID or email address

Body Arguments | &nbsp;
--- | ---
action **required** | The action type<div class="enum">`activate` set users status to active<br/>`deactivate` set users status to inactive<br/></div>

