## Retrieve telephone report

Retrieve telephone report for a specified period <aside>Toll Report option would be removed.</aside>.

> Definition

```shell
GET https://api.zoom.us/v2/report/telephone
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/report/telephone?from=string&to=string
```

> Example Response

```text
200 OK
```

```json
{
    "from": "string [date]",
    "to": "string [date]",
    "page_count": "integer",
    "page_number": "integer",
    "page_size": "integer",
    "total_records": "integer",
    "telephony_usage": [
        {
            "meeting_id": "integer",
            "phone_number": "string",
            "host_name": "string",
            "host_email": "string",
            "dept": "string",
            "start_time": "string [date-time]",
            "end_time": "string [date-time]",
            "duration": "integer",
            "total": "number"
        }
    ]
}
```

Query Arguments | &nbsp;
--- | ---
type *optional*<div class="default">1</div> | Audio type<div class="enum">`1` Toll-free Call-in & Call-out<br/></div>
from **required** | Start Date
to **required** | End Date
page_size *optional*<div class="default">30</div><div class="maximum">300</div> | The number of records returned within a single API call
page_number *optional*<div class="default">1</div> | Current page number of returned records

