## Retrieve hosts report

Retrieve active or inactive hosts report for a specified period

> Definition

```shell
GET https://api.zoom.us/v2/report/users
```

> Example Request

```shell
$ curl https://api.zoom.us/v2/report/users?from=string&to=string
```

> Example Response

```text
200 OK
```

```json
{
    "from": "string [date]",
    "to": "string [date]",
    "page_count": "integer",
    "page_number": "integer",
    "page_size": "integer",
    "total_records": "integer",
    "total_meetings": "integer",
    "total_participants": "integer",
    "total_meeting_minutes": "integer",
    "users": [
        {
            "id": "string [uuid]",
            "email": "string",
            "user_name": "string",
            "type": "integer",
            "dept": "string",
            "meetings": "integer",
            "participants": "integer",
            "meeting_minutes": "integer"
        }
    ]
}
```

Query Arguments | &nbsp;
--- | ---
type *optional* | Active hosts or inactive hosts<div class="enum">`active` Active hosts<br/>`inactive` Inactive hosts<br/></div>
from **required** | Start Date
to **required** | End Date
page_size *optional*<div class="default">30</div><div class="maximum">300</div> | The number of records returned within a single API call
page_number *optional*<div class="default">1</div> | Current page number of returned records

